@import 'colors';

.btn {
	background-color: $dusty-blue;
	border-radius: .25rem;
	color: $white;
	display: flex;
	justify-content: center;
	margin-bottom: .75rem;
	width: 10rem;
	height: 2.5rem;
}
.btn:hover {
	background-color: $dusty-blue-lt;
	color: $black;
}
.btn p {
	display: flex;
	align-self: center;
	font-size:.825rem;
}

/*.toggle {
	border: 1px solid yellow;
	background-color: blue;
	display: flex;
	justify-content: center;
	margin: -3rem 0 !important;
	width: 200px;
	height: 3rem;
	a {
		display: flex;
		align-self: center;
	}
}*/