/* NEUTRAL */
$black: #222;
$white: #fff;
$gray: #282828;
$dark-gray: #777;
$light-gray: #eee;

/* COOL */
$blue: #7694C0;
$periwinkle: #A0AACE;
$dusty-blue: #989DAC;
$dusty-blue-lt: #DCE1E9;
$dusty-blue-dk: #777D94;

/* WARM */
$dark-pink: #BD205D;
$dusty-pink: #C9A2A2;
$mauve: #64283D;