// NEUTRAL
$black: #222;
$white: #fff;
$dark-gray: #777;
$light-gray: #eee;

// COOL
$blue: #7694C0;
$periwinkle: #A0AACE;
$dusty-blue: #989DAC;
$dusty-blue-lt: #DCE1E9;
$dusty-blue-dk: #777D94;

// WARM
$dusty-pink: #C9A2A2;