@import 'colors';

.wrapper-sidenav {
	 background-color: #222;
	 margin-top: 8.5rem;
	 margin-left: .5rem;
	 padding: 0 0 1rem 0;
	 position: fixed;
	 width: 9rem;
	 height: 13.5rem;
	 z-index: 20;
}
.sidenav {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
	.sidenav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
		width: 9rem; 
	}
	.sidenav ul li {
		/*			border: 1px solid red;*/
		color: white;
		cursor: pointer;
		font-size: .825rem;
		padding: .5rem .625rem;
	}
	.sidenav ul li a {
		color: #fff;
	}
 	.sidenav ul li:hover {
		background-color: #C9A2A2;
	}
	.sidenav ul li:hover a {
		color: #222;
	}
	.sidenav .sidenav__navigation {
		background-color: #C9A2A2;
		padding-top: .325rem;
	}
 	.sidenav .sidenav__navigation a {
		color: #222;
	}
	.sidenav .sidenav__options {
		display: flex;
		flex-direction: column;
		width: 9rem;
	}
	 .sidenav .sidenav__language li {
 		padding-bottom: 1rem !important;
 	}

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
	 *[id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -180px; 
	  height: 180px; 
	  visibility: hidden; 
	}

 	 