@import 'colors';

.subnav--wrapper {
/*	border: 1px solid blue;*/
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: -3rem;*/
}
.subnav {
/*	border: 1px solid red;*/
/*	background-color: $blue;
	height: 3rem;
	min-width: 100%;
	position: absolute;
	top: 0;
	z-index: 5;*/

/*	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transition: transform .25s linear;
	-webkit-transition: transform .25s linear;*/

	a {

	}
	p {
		font-size: .825rem;
	}
}
.subnav__open {
/*	transform: translate3d(0, 3rem, 0);
	-webkit-transform: translate3d(0, 3rem, 0);
	transition: transform .25s linear;
	-webkit-transition: transform .25s linear;*/
}
.subnav--btn__open {
	p {
		transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transition: transform .25s linear !important;
		-webkit-transition: transform .25s linear !important;
	}
/*	transition-duration: .25s;
	transition-property: transform;*/
}
.subnav--btn {
/*	cursor: pointer;
	display: flex;
	align-self: center;
	justify-content: space-around;
	position: absolute;
	top: 0;
	width: 3rem;
	height: 2rem;
	z-index: 10;*/

/*	transition-duration: .25s;
	transition-property: transform;*/
/*
	transform: translate3d(0, 3rem, 0);
	-webkit-transform: translate3d(0, 3rem, 0);
	transition: transform .25s linear;
	-webkit-transition: transform .25s linear;*/

/*	p {
	transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
	transition: transform .25s linear;
	-webkit-transition: transform .25s linear;
	}*/
}
.subnav--options {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	height: 3rem;
}
.subnav--options__left, .subnav--options__right {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
}
.subnav--views {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
















