@import 'utilities';
@import 'colors';

/*.wrapper-subnav5 {
	display: block;
	margin-top: $topnav-h;
	position: fixed;
	width: 100%;
	z-index: 100;
}*/
.subnav {
	display: flex;
	align-items: top;
	justify-content: center;
	height: $subnav-h;
	width: 100%;
	margin-top: $topnav-h;
	position: fixed;
	z-index: 100;

	ul { 
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		li {
			background-color: hsla(145, 60%, 45%, .5);
			/*background-color: $black;*/
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1em;
			a {
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
			}
		}
		li:hover {
			background-color: $blue;
			a {
				color: $white;
			}
		}
		li:nth-child(1) {
			order: 1;
			max-width: 50%;
		}
		li:nth-child(2) {
			flex: 1 1 auto;
			order: 3;
		}	
		li:nth-child(3) {
			flex: 1 1 auto;
			order: 4;
		}
		li:nth-child(4) {
			flex: 1 1 auto;
			order: 5;
		}
		li:nth-child(5) {
			order: 2;
			max-width: 50%;
		}
		li:nth-child(6) {
			flex: 1 1 auto;
			order: 6;
		}	
		li:nth-child(7) {
			flex: 1 1 auto;
			order: 7;
		}
		li:nth-child(8) {
			flex: 1 1 auto;
			order: 8;
		}	
	}
	
}
.subnav__views--single, .subnav__views--double  {
	box-sizing: border-box;
	cursor: pointer;
	height: 40%;
	width: 50%;
}
.subnav__views--single {
	border-right: .25rem solid $white;
}
.subnav__views--double {
	border-left: .25rem solid $white;
}
.subnav__options--option {
	height: 60%;
}




















.toggle {
	background-color: $dusty-blue;
	border-radius: .125rem;
	border: 1px solid $dusty-blue-dk;
	box-shadow: inset 0 0 .25rem $light-gray;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	padding: .5rem .125rem;
	width: 20%;
	max-height: 2.75rem;
	a {
		background-color: inherit;
		border-radius: .125rem;
		display: flex;
		justify-content: center;
		flex-grow: 1;
/*		padding-bottom: .25rem;*/
		min-width: 50%;
	}
	.selected {
		background-color: $dusty-blue-lt;
		border: 1px solid $dusty-blue-dk;
		box-shadow: inset 0 0 .75rem $light-gray;
		padding: .75rem 1rem;
		p {
			color: $black;
		}
	}
	.not-selected {
		background-color: inherit;
		padding: .825rem 1rem;
	}
	.not-selected:hover {
		background-color: $dusty-blue-lt;
		border: 1px solid $dusty-blue-dk;
		box-shadow: inset 0 0 .75rem $light-gray;
		padding: .75rem 1rem;
		p {
			color: $black;
		}
	}
}
.is-inactive {
	background-color: $light-gray !important;
	pointer-events: none !important;
	a {
		color: $black !important;
	}
}

/* see index-scrolling.html */
/*.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
}*/


/*** Breakpoints ***/

/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.subnav5 {
		z-index: 10;
		position: fixed;
		top: 0;

		transform: translate3d(0, 101vh, 0);
		-webkit-transform: translate3d(0, 101vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;
	}
/*	.subnav--open {
		transform: translate3d(0, 93vh, 0);
		-webkit-transform: translate3d(0, 93vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;		
	}
	.subnav__btn {
		position: fixed;
		top: 0;
		z-index: 10;

		transform: translate3d(0, 93.5vh, 0);
		-webkit-transform: translate3d(0, 93.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;
	}
	.subnav__btn--open {
		transform: translate3d(0, 83.5vh, 0);
		-webkit-transform: translate3d(0, 83.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;	
	}*/
	.subnav5__options {
		top: 0;
	}
	.subnav5__btn__single, .subnav5__btn__double {
		display: none;
	}
}

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {

}

/* medium-large */
@media screen and (min-width: 1000px) and (max-width: 1199px) {

}

/* large  -  laptop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {

}

/* large  -  desktop */
/*@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}*/

/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {

}

/* xxl */
@media screen and (min-width: 2801px) {

}

















