@import 'colors';

.topnav a {
	color: $white;
}
.topnav a:hover {
	color: $blue;
}
.topnav a:active {
	color: $dark-pink;
}
.tara-intro {
	color: $black;
	padding-top: 4rem;
	text-align: center;
}
.tara-intro h1 {
	font-size: 5rem;
	font-style: italic;
	line-height: 6rem;
}
.tara-intro h2 {
	color: $black;
	font-size: 2rem;
	line-height: 4rem;
}
.tara-intro h3 {
	color: $dark-pink;
	font-size: 1.25rem;
	line-height: 3rem;
}
.tara-intro ul {
	li {
		line-height: 1.5rem;
	}
	a {
		color: $black;
	}
	a:hover {
		color: $blue;
	}
	a:active {
		color: $dark-pink;
	}
}

.music {
	display: none;
}

.section {
	line-height: 1.5rem;
}
section > div.discourse.section.width--100 {
	line-height: 1.75rem;
}
/*.subnav__options--option:nth-child(3) {
	background-color: red !important;
	display: none;
}
.subnav__options--option:nth-child(7) {
	background-color: red !important;
	display: none;
}*/
.orig {
	display: none;
}
.reg {
	color: $black;
}
.note-mark {
/*	display: none;*/
}
.margin-note {
/*	display: none;*/
position: absolute;
right: 1rem;
font-size: .825rem;
line-height: 1.25rem;
max-width: 12rem;
/*z-index: 5000;*/
}
.milestone {
	display: none;
}
.choice, .subst {
	background-color: $white;
	margin-left: 0;
}
.add:before {
	content: "";
}
.add:after {
	content: " ";
}
.del {
	display: none;
}
.pb {
	display: none;
}
.verse {
	margin-left: 0;
}
._motto--english h3.title {
/*	border: 1px solid purple;*/
}
/*#discoursePartial--e div.discourse {*/
._discourse--english div.discourse {
	display: flex;
	flex-direction: column;
	align-items: center;
/*	border: 1px solid pink;*/
}
/*#discoursePartial--e h3 { *//* discourse is a conflicting class with emblem template */
._discourse--english h3 { 
	display: block;
	height: auto;
	min-height: .5rem;
	max-height: 2rem;
	padding: 1rem 0;
	text-align: center;
	width: 100%;
/*	border: 1px solid green;*/
}
#discoursePartial--e .discourse .ab {
/*	border: 1px solid green;*/
	font-size: 1.25rem;
	line-height: 2rem;
	text-align: left;
	height: auto;
	padding: 3rem 5rem;
	min-width: 40%;
	max-width: 70%;
}
h3.title { /* motto */
	font-size: 1.825rem;
	line-height: 2.25rem;
}
.emblem-heading {
	font-size: 1rem;
}
.verse-epigram {
	font-size: 1.325rem;
	line-height: 2.5rem;
	padding-bottom: 2.5rem;
}