@import 'colors';
@import 'utilities';

main[data-id='1'], main[data-id='2'], main[data-id='3'] {
	.wrapper-sidenav {
		height: 0;
	}
	.sidenav__options {
		display: none;
	}
}
.emblem__left .margin-note, .emblem__right .margin-note {
	display: none;
}

.wrapper-sidenav--0 {
	height: 0;
}
.sidenav__options--none {
	display: none;
}

#openseadragon-wrapper--half #tools span{
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		padding: .5rem;
	}
}

.topnav a {
	color: $white;
}
.topnav a:hover {
	color: $blue;
}
.topnav a:active {
	color: $dark-pink;
}
.tara-intro {
	color: $black;
	padding-top: 4rem;
	text-align: center;
}
.tara-intro h1 {
	font-size: 5rem;
	font-style: italic;
	line-height: 6rem;
}
.tara-intro h2 {
	color: $black;
	font-size: 2rem;
	line-height: 4rem;
}
.tara-intro h3 {
	color: $dark-pink;
	font-size: 1.25rem;
	line-height: 3rem;
}
.tara-intro ul {
	li {
		line-height: 1.5rem;
	}
	a {
		color: $black;
	}
	a:hover {
		color: $blue;
	}
	a:active {
		color: $dark-pink;
	}
}
.frontispiece-wrapper {
	padding: 0 18%;
	min-height: 100vh;
}
#frontispiecePartial--e::before {
	height: 0 !important;
	margin-top: 0 !important;
/*see the following:	
[id]:before {
  display: block;
  content: " ";
  margin-top: -180px;
  height: 180px;
  visibility: hidden; 
}*/
}
#frontispiecePartial--e div{
	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 2.5rem
	}
}
.bio-wrapper {
	padding: 5rem 20%;
	min-height: 100vh;
}
#bioPartial--e::before {
	height: 0 !important;
	margin-top: 0 !important;
/*see the following:	
[id]:before {
  display: block;
  content: " ";
  margin-top: -180px;
  height: 180px;
  visibility: hidden; 
}*/
}
.preface-wrapper {
	padding: 5rem 20%;
	min-height: 100vh;
}
#prefacePartial--e {
	.title h3 {
		font-size: 2rem;
		line-height: 2.75rem;
	}
	.the-discourse {
		margin-top: 4rem;
		font-size: 1.25rem;
		line-height: 2.5rem;
		text-align: left;
	}
}


.music {
	display: none;
}

.section {
	line-height: 1.5rem;
}
section > div.discourse.section.width--100 {
	line-height: 1.75rem;
}
/*.subnav__options--option:nth-child(3) {
	background-color: red !important;
	display: none;
}
.subnav__options--option:nth-child(7) {
	background-color: red !important;
	display: none;
}*/
.orig {
	display: none;
}
.reg {
	background-color: none;
	color: $black;
}
.note-mark {
/*	display: none;*/
}
.margin-note {
/*	display: none;*/
position: absolute;
right: 1rem;
font-size: .825rem;
line-height: 1.25rem;
max-width: 12rem;
/*z-index: 5000;*/
}
.milestone {
	display: none;
}
.choice, .subst {
	background-color: $white;
	margin-left: 0;
}
.add:before {
	content: "";
}
.add:after {
	content: " ";
}
.del {
	display: none;
}
.pb {
	display: none;
}
.verse {
	margin-left: 0;
}
._motto--english h3.title {
/*	border: 1px solid purple;*/
}
/*#discoursePartial--e div.discourse {*/
._discourse--english div.discourse {
	display: flex;
	flex-direction: column;
	align-items: center;
/*	border: 1px solid pink;*/
}
/*#discoursePartial--e h3 { *//* discourse is a conflicting class with emblem template */
._discourse--english h3 { 
	display: block;
	height: auto;
	min-height: .5rem;
	max-height: 2rem;
	padding: 1rem 0;
	text-align: center;
	width: 100%;
/*	border: 1px solid green;*/
}
#discoursePartial--e .discourse .ab {
/*	border: 1px solid green;*/
	font-size: 1.25rem;
	line-height: 2rem;
	text-align: left;
	height: auto;
	padding: 0 20%;
	min-width: 40%;
	max-width: 70%;
}

.emblem__full .motto h3.title {
	font-size: 1.825rem;
	line-height: 2.25rem;
	padding: 0 12rem;
}
.emblem-heading {
	font-size: 1rem;
}
.verse-epigram {
	font-size: 1.325rem;
	line-height: 2.5rem;
	padding-bottom: 2.5rem;
}