@import 'utilities';
@import 'colors';

.topnav {
/*	background-color: hsla(70, 30%, 60%, .5);*/
	background-color: $black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: $topnav-h;
	width: 100%;
	line-height: 2rem;
	margin: 0;
	position: fixed;
	z-index: 100000;
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
		width: 100%;
		li {
			color: $white;
			font-size: 1.5rem;
			text-align: center;
			a img {
				margin-top: 5px;
				width: 45px;
			}
		}
	}
}
.toc-wrapper {
	border: 2px solid red;
	position: fixed;
/*	height: 100vh;*/
	width: 100%;
	height: 100vh;

	top: 0;
	left: 0;	
/*	overflow: hidden;*/
	z-index: 20000000;
/*	overflow: hidden;*/
overflow: auto;
/*	display: flex;
	justify-content: flex-start;*/
	display: none;
}
.toc {
	border: 2px solid green;
	padding: 2rem;
	background-color: $gray;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 180vh;
/*	overflow-y: auto;
	overflow-x: hidden;*/
	width: 30%;
/*	position: fixed;*/
/*	height: 100vh;*/
/*		overflow-y: auto !important;
		overflow-x: hidden;*/


}
.edition {
	border: 2px solid purple;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: auto;
/*height: auto;*/
	width: 100%;
/*	overflow: auto;*/

/*	border: 5px solid green;*/
	a {
		display: flex;
		align-self: center;
		justify-content: center;
/*		border: 1px solid pink;*/
		color: $white;
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 0 1rem;
		margin: 0 20%;
	}
	a:hover {
		color: $dusty-blue-lt;
	}
}
.move-in {
	left: 0;
}
.move-out {
	left: -50vh;
}


/*** Breakpoints ***/

/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.topnav p {
		font-size: .825rem;
	}
}

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {

}

/* medium-large */
@media screen and (min-width: 1000px) and (max-width: 1199px) {

}

/* large  -  laptop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {

}

/* large  -  desktop */
@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}

/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {

}

/* xxl */
@media screen and (min-width: 2801px) {

}



