@import 'colors';

.wrapper-topnav {
/*	position: fixed;*/
}
.topnav {
	background-color: hsla(70, 30%, 60%, .5);
/*	background-color: $black;*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.125rem;
	width: 100%;
	line-height: 2rem;
	margin: 0;
	position: fixed;
	z-index: 100;
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem;
		width: 100%;
		li {
			color: $white;
			font-size: 1.5rem;
			text-align: center;
			a img {
				margin-top: 5px;
				width: 45px;
			}
		}
	}
}



/*** Breakpoints ***/

/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.topnav p {
		font-size: .825rem;
	}
}

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {

}

/* medium-large */
@media screen and (min-width: 1000px) and (max-width: 1199px) {

}

/* large  -  laptop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {

}

/* large  -  desktop */
@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}

/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {

}

/* xxl */
@media screen and (min-width: 2801px) {

}



