.my-test {
	margin: 1rem;
	border: 2px solid purple;
}
.width--100 {
	width: 100%;
}
.is-active {
	background-color: $periwinkle !important;
	a {
		color: $black !important;
	}
}
.is-hidden {
	display: none !important;
}
.is-selected {
	border-bottom: 3px solid $blue;
}
.is-sticky {
	position: fixed;
}

$topnav-h: 3.125rem;
$subnav-h: 8rem;