@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NEUTRAL */
/* COOL */
/* WARM */
.container-fluid {
  margin: 0;
  padding: 0; }

.row {
  /*	border: 1px solid red !important;*/ }

/* NEUTRAL */
/* COOL */
/* WARM */
.btn {
  background-color: #989DAC;
  border-radius: .25rem;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .75rem;
  width: 10rem;
  height: 2.5rem; }

.btn:hover {
  background-color: #DCE1E9;
  color: #222; }

.btn p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: .825rem; }

/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-topnav {
  /*	position: fixed;*/ }

.topnav {
  background-color: rgba(173, 184, 122, 0.5);
  /*	background-color: $black;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 3.125rem;
  width: 100%;
  line-height: 2rem;
  margin: 0;
  position: fixed;
  z-index: 100; }
  .topnav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%; }
    .topnav ul li {
      color: #fff;
      font-size: 1.5rem;
      text-align: center; }
      .topnav ul li a img {
        margin-top: 5px;
        width: 45px; }

/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .topnav p {
    font-size: .825rem; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-subnav5 {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100; }

.subnav5 {
  /*	background-color: $white;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 8rem; }
  .subnav5 ul {
    /*border: 1px solid red;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .subnav5 ul li {
      background-color: rgba(46, 184, 103, 0.5);
      /*background-color: $black;*/
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1em; }
      .subnav5 ul li a {
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
    .subnav5 ul li:hover {
      background-color: #7694C0; }
      .subnav5 ul li:hover a {
        color: #fff; }
    .subnav5 ul li:nth-child(1) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      max-width: 50%; }
    .subnav5 ul li:nth-child(2) {
      /*			border: 2px solid purple;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    .subnav5 ul li:nth-child(3) {
      /*			border: 2px solid orange;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4; }
    .subnav5 ul li:nth-child(4) {
      /*			border: 2px solid red;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5; }
    .subnav5 ul li:nth-child(5) {
      /*			border: 2px solid green;*/
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      max-width: 50%; }
    .subnav5 ul li:nth-child(6) {
      /*			border: 2px solid pink;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6; }
    .subnav5 ul li:nth-child(7) {
      /*			border: 2px solid white;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 8;
      -webkit-order: 7;
      -ms-flex-order: 7;
      order: 7; }
    .subnav5 ul li:nth-child(8) {
      /*			border: 2px solid yellow;*/
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 9;
      -webkit-order: 8;
      -ms-flex-order: 8;
      order: 8; }

.subnav5__views--single, .subnav5__views--double {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  height: 40%;
  width: 50%; }

.subnav5__views--single {
  border-right: 0.25rem solid #fff; }

.subnav5__views--double {
  border-left: 0.25rem solid #fff; }

/*.subnav5__options {
	border: 1px solid red;
	background-color: $black;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	height: 3rem;
	position: sticky;
	top: 6rem;
	ul {
		width: 100%;
		a {
			color: $white;
			li {
				border-left: .25rem solid $white;
				border-right: .25rem solid $white;
				flex: 1 1 100%;
				align-self: center;
				align-items: center;
				justify-content: center;
				font-size: .825rem;
				text-decoration: none;
			}
		}
		a:hover {
			color: $black;
			li {
				background-color: $periwinkle;
			}
		}
	}
}*/
.subnav5__options--option {
  height: 60%; }

.toggle {
  background-color: #989DAC;
  border-radius: .125rem;
  border: 1px solid #777D94;
  -webkit-box-shadow: inset 0 0 0.25rem #eee;
  box-shadow: inset 0 0 0.25rem #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem .125rem;
  width: 20%;
  max-height: 2.75rem; }
  .toggle a {
    background-color: inherit;
    border-radius: .125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*		padding-bottom: .25rem;*/
    min-width: 50%; }
  .toggle .selected {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    -webkit-box-shadow: inset 0 0 0.75rem #eee;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .selected p {
      color: #222; }
  .toggle .not-selected {
    background-color: inherit;
    padding: .825rem 1rem; }
  .toggle .not-selected:hover {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    -webkit-box-shadow: inset 0 0 0.75rem #eee;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .not-selected:hover p {
      color: #222; }

.is-inactive {
  background-color: #eee !important;
  pointer-events: none !important; }
  .is-inactive a {
    color: #222 !important; }

/* see index-scrolling.html */
/*.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
}*/
/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subnav {
    z-index: 10;
    position: fixed;
    top: 0;
    transform: translate3d(0, 101vh, 0);
    -webkit-transform: translate3d(0, 101vh, 0);
    -webkit-transition: -webkit-transform .25s linear;
    transition: -webkit-transform .25s linear;
    -o-transition: transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear;
    -webkit-transition: transform .25s linear; }
  /*	.subnav--open {
		transform: translate3d(0, 93vh, 0);
		-webkit-transform: translate3d(0, 93vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;		
	}
	.subnav__btn {
		position: fixed;
		top: 0;
		z-index: 10;

		transform: translate3d(0, 93.5vh, 0);
		-webkit-transform: translate3d(0, 93.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;
	}
	.subnav__btn--open {
		transform: translate3d(0, 83.5vh, 0);
		-webkit-transform: translate3d(0, 83.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;	
	}*/
  .subnav__options {
    top: 0; }
  .subnav__btn__single, .subnav__btn__double {
    display: none; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/*@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}*/
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
.css-test {
  border: 2px solid green !important; }

body {
  background-color: pink;
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 16px; }
  body p {
    font-family: Garamond, serif; }

.wrapper-emblem {
  background-color: #eee;
  padding: 50px 0 .125rem 0; }

.emblem-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 8rem;
  position: relative;
  height: auto;
  width: 100%; }

.emblem__full {
  /*	border: 5px solid blue;*/
  grid-area: 1 / 1 / auto / span 2;
  position: relative; }

.emblem__left {
  border: 5px solid red;
  grid-area: 1 / 1 / auto / span 1;
  vertical-align: top;
  /* pfft text */ }

.emblem__right {
  border: 5px solid orange;
  grid-area: 1 / 2 / auto / span 1;
  vertical-align: top;
  /* pfft text */ }

.emblem {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  /* pfft text */ }

.half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.wrapper-section {
  background-color: #fff;
  margin: .5rem;
  padding: 1rem 0; }

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 14rem;
  text-align: center;
  line-height: 24px; }
  .section h1 {
    font-size: 2.5rem; }

.section--split-or-wrap {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(47vw, 1fr)); }

.facsimile-wrapper {
  background-color: green;
  height: 100vh;
  width: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  vertical-align: top;
  /* pfft text */ }

.emblem__left .facsimile-wrapper {
  left: 0; }

.facsimile {
  background-color: rgba(210, 111, 65, 0.7);
  height: 100vh;
  width: 100%; }

.image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 34rem; }
  .image .image__picture {
    /*		position: absolute; - breaks in safari*/ }
    .image .image__picture img {
      width: 31rem;
      height: 31rem; }
  .image .image__facets {
    position: absolute;
    left: 67%;
    z-index: 0; }
  .image .image__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 22rem; }

.music {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 40rem; }

.motto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 10rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  max-height: 20rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  /*	width: 100%;*/
  padding: 5rem 0 0 0; }
  .motto h1 {
    font-size: 2rem; }

.epigram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 6rem;
  max-height: 30rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  /*	width: 100%;*/
  padding: 4rem 0;
  text-align: center; }
  .epigram p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2.125rem;
    text-align: center;
    white-space: pre-line; }

.discourse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*	justify-content: space-between;*/
  min-height: 30rem;
  max-height: 5000rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  /*	width: 100%;*/
  padding-bottom: 6rem;
  line-height: 28px; }
  .discourse .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 5rem 0;
    text-align: left; }
  .discourse p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    text-indent: 2rem;
    max-width: 40rem; }

.switch-wrapper {
  /*	border: 1px solid green;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  width: 100%; }

.latin-german-switch {
  /*	border: 1px solid red;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.25rem;
  width: 8rem;
  margin-bottom: 1.5rem; }
  .latin-german-switch ul {
    /*		border: 1px solid blue;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
    .latin-german-switch ul li {
      /*			border: 1px solid green;*/
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: .75em;
      margin: 0 .25rem;
      width: 100%; }
      .latin-german-switch ul li a {
        color: #222;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
      .latin-german-switch ul li a:hover {
        color: #7694C0; }

/***     Breakpoints     ***/
/* large  -  desktop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .motto h1 {
    max-width: 36rem; }
  .epigram {
    padding: 4rem 3rem; }
    .epigram p {
      max-width: 35rem; }
  .discourse p {
    max-width: 30rem; } }

/* medium-large - laptop */
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .motto h1 {
    max-width: 35rem; }
  .epigram p {
    max-width: 26rem; }
  .discourse p {
    max-width: 26rem; } }

/* medium - small laptop */
@media screen and (min-width: 900px) and (max-width: 999px) {
  .epigram p {
    max-width: 25rem; }
  .discourse p {
    max-width: 22rem; } }

/* medium - tablet */
@media screen and (min-width: 768px) and (max-width: 899px) {
  .motto h1 {
    font-size: 1.625rem;
    line-height: 2.125rem; }
  .epigram p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.625rem;
    max-width: 21rem; }
  .discourse p {
    font-size: 1rem;
    max-width: 18rem; }
  /*	.discourse.single p {  this needs to be wider in single view, but not when double view is active 
		border: 1px solid red;
		max-width: 30rem;
	}*/ }

/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* mobile phones are too small for a side by side view */
  .subnav5 li:nth-child(1) {
    display: none !important; }
  .subnav5 li:nth-child(n+5) {
    display: none !important; }
  .discourse p {
    max-width: 30rem; } }

.width--100 {
  width: 100%; }

.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

/* NEUTRAL */
/* COOL */
/* WARM */
/* NEUTRAL */
/* COOL */
/* WARM */
/*
 * CSS for Transcription of English translation of Atalanta. Designed mostly for proofreading.
 * Almost all elements are styled, but often so that they can be proofread.
 *
 * HISTORY
 * EM initial styling 2017-03-31
 * EM work on improving styling for proofreading 2017-07-06
 * CB integrating EM styling into template 2018-01-17
 */
.epigram {
  text-align: center; }

/*
.verse{
    margin-left: 1.5in;
}

*/
h2 {
  color: #b5b5b5; }

h3.title {
  font-style: oblique; }

.pb {
  display: block;
  text-align: center; }

.pb:before {
  content: "––– Page: "; }

.pb:after {
  content: " –––"; }

.milestone {
  font-style: italic;
  color: grey; }

.milestone:before {
  content: " [§ "; }

.milestone:after {
  content: "] "; }

.choice {
  background-color: #eeeeee;
  margin-left: 2px; }

.reg {
  color: #009acd; }

/*  .reg:before {
      content: "|";
  }*/
.subst {
  background-color: #eeeeee;
  margin-left: 2px; }

.del {
  text-decoration: line-through; }

.add:before {
  content: "<";
  color: #8E8E38; }

.add:after {
  content: ">";
  color: #8E8E38; }

.unclear {
  color: green; }

.unclear:before {
  content: "[? "; }

.unclear:after {
  content: "]"; }

.supplied {
  display: none; }

.supplied:before {
  content: "<";
  color: #8E8E38; }

.supplied:after {
  content: ">";
  color: #8E8E38; }

span.superscript {
  vertical-align: super;
  font-size: smaller; }

span.underline {
  text-decoration: underline; }

.fw {
  font-style: italic;
  display: block; }

.margin-note {
  float: right;
  margin-left: 20px;
  outline: .5px solid #b5b5b5;
  top: auto;
  /* default */
  width: 175px;
  padding-left: 10px; }

.note-mark {
  color: #C67171;
  font-weight: bold;
  vertical-align: super; }

.help {
  color: red; }

/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-sidenav {
  background-color: #222;
  margin-top: 8.75rem;
  margin-left: .5rem;
  padding: 0 0 1rem 0;
  position: fixed;
  width: 9rem;
  height: 13.5rem;
  z-index: 20; }

.sidenav ul li {
  cursor: pointer;
  font-size: .825rem; }
  .sidenav ul li a {
    color: #fff; }

.sidenav .sidenav__navigation {
  background-color: #989DAC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 800;
  width: 9rem; }
  .sidenav .sidenav__navigation li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 1.75rem; }
    .sidenav .sidenav__navigation li :hover {
      background-color: #989DAC;
      color: #DCE1E9; }
    .sidenav .sidenav__navigation li a {
      color: #222;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav .sidenav__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .sidenav .sidenav__options li {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2rem;
    /*padding-bottom: .125rem;*/ }
    .sidenav .sidenav__options li :hover {
      background-color: #DCE1E9;
      color: #222; }
    .sidenav .sidenav__options li :active {
      background-color: #7694C0; }
    .sidenav .sidenav__options li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav--is-active {
  background-color: #777D94; }

ul.sidenav__options li.sidenav--is-active a:hover {
  background-color: #777D94;
  color: #fff; }

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -180px;
  height: 180px;
  visibility: hidden; }

/*html body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	border: 1px solid green;
}*/
/*.facsimile {
	width: 100%;
	position: fixed;
}*/
#openseadragon-wrapper {
  border: 1px solid red !important;
  float: right !important;
  height: 100vh;
  /*	width: 50% !important;*/
  width: 100vw; }

.facsimile-wrapper #openseadragon-wrapper {
  width: 50vw; }

a {
  text-decoration: none !important; }
