/*@import 'normalize';*/
/*@import 'setup';*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NEUTRAL */
/* COOL */
/* WARM */
.container-fluid {
  margin: 0;
  padding: 0; }

.row {
  /*	border: 1px solid red !important;*/ }

/*@import 'root';*/
/* NEUTRAL */
/* COOL */
/* WARM */
.btn {
  background-color: #989DAC;
  border-radius: .25rem;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
  width: 10rem;
  height: 2.5rem; }

.btn:hover {
  background-color: #DCE1E9;
  color: #222; }

.btn p {
  display: flex;
  align-self: center;
  font-size: .825rem; }

/*.toggle {
	border: 1px solid yellow;
	background-color: blue;
	display: flex;
	justify-content: center;
	margin: -3rem 0 !important;
	width: 200px;
	height: 3rem;
	a {
		display: flex;
		align-self: center;
	}
}*/
/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-topnav {
  /*	position: fixed;*/ }

.topnav {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  margin: 0;
  position: relative;
  z-index: 10; }

.topnav p {
  color: #fff;
  font-size: 1.5rem; }

/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .topnav p {
    font-size: .825rem; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/* extra-large */
/* xxl */
/*@import 'subnav';*/
.wrapper-subnav2 {
  position: relative;
  top: -.125rem;
  z-index: 10; }

.subnav2 {
  height: 3rem;
  min-width: 100%;
  position: absolute; }

.subnav2__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 3rem; }
  .subnav2__options li {
    background-color: #222;
    cursor: pointer;
    flex: 1 1 100%;
    padding: 1rem 2rem;
    text-align: center; }
    .subnav2__options li a {
      color: #fff; }
  .subnav2__options li:hover {
    background-color: #C9A2A2; }
    .subnav2__options li:hover a {
      color: #222; }

.subnav2__options li:nth-child(5) {
  background-color: #C9A2A2;
  border: 0.25rem solid #BD205D;
  order: 3;
  font-size: 1.25rem; }

.subnav2__options li:nth-child(1) {
  order: 1; }

.subnav2__options li:nth-child(2) {
  order: 2; }

.subnav2__options li:nth-child(3) {
  order: 4; }

.subnav2__options li:nth-child(4) {
  order: 5; }

.subnav2__options li:nth-child(6) {
  background-color: #C9A2A2;
  border: 0.25rem solid #BD205D;
  order: 6;
  font-size: 1rem; }

.subnav2__options li:nth-child(7) {
  order: 7; }

.subnav2__options li:nth-child(8) {
  order: 8; }

.subnav2__options li:nth-child(9) {
  order: 9; }

.subnav2__options li:nth-child(10) {
  order: 10; }

/* NEUTRAL */
/* COOL */
/* WARM */
body {
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 16px; }

.is-active {
  background-color: #C9A2A2 !important;
  color: #222 !important; }
  .is-active a {
    color: #222 !important; }

.is-disabled {
  display: none !important; }

.wrapper-emblem {
  background-color: #eee;
  padding: 0 0 .125rem 0; }

.wrapper-section {
  background-color: #fff;
  margin: .5rem;
  padding: 1rem 0; }

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 14rem;
  text-align: center; }
  .section h1 {
    font-size: 2.5rem; }

.section--double {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }

.motto {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 17rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  max-height: 30rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  text-align: center; }
  .motto h1 {
    font-size: 2rem; }

/*.motto--double__active h1{
	font-size: 1.75rem;
}*/
.image {
  display: flex;
  justify-content: center;
  min-height: 34rem;
  position: relative;
  /* needed for the z-index to apply */
  z-index: 3; }
  .image .image__picture {
    /*		position: absolute; - breaks in safari*/ }
    .image .image__picture img {
      width: 31rem;
      height: 31rem; }
  .image .image__facets {
    position: absolute;
    left: 67%;
    z-index: 0; }
  .image .image__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 22rem; }

.music {
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  /* needed for the z-index to apply */
  min-height: 25rem;
  z-index: 3; }

.epigram {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  max-height: 30rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  padding: 4rem 0;
  text-align: center; }
  .epigram p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2.125rem;
    text-align: center;
    white-space: pre-line; }

.epigram--double__active {
  /*	display: flex;
	align-items: center;
	justify-content: center;*/ }

.discourse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 30rem;
  max-height: 5000rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  padding-bottom: 6rem; }
  .discourse .text {
    flex-direction: column;
    margin: 5rem 0;
    padding: 0 5rem;
    text-align: left; }
  .discourse p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    text-indent: 2rem;
    max-width: 40rem; }

.wrapper-transcription {
  display: flex;
  flex-direction: row;
  align-items: baseline; }

.transcription__numbers {
  /*	border: 1px solid red;*/
  color: #777;
  font-size: 1.125rem;
  text-align: right;
  min-width: 3rem; }

.transcription__lines {
  /*	border: 1px solid red;*/
  padding-left: 1rem; }
  .transcription__lines p {
    text-align: left;
    text-indent: 0; }

.wrapper-vertical-divider {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.vertical-divider {
  background-color: #eee;
  height: 100vh;
  width: .5rem; }

/*.text-double {
	h1 {
	
	}
}*/
/***     Breakpoints     ***/
/* extra small */
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    margin: .5rem 0; }
  .motto {
    min-height: 5rem; }
    .motto h1 {
      font-size: 1.5rem;
      line-height: 1.625rem; }
  .image {
    display: flex;
    justify-content: space-between;
    min-height: 24rem; }
    .image .image__picture {
      position: relative; }
      .image .image__picture img {
        width: 18rem;
        height: 18rem; }
    .image .image__facets {
      display: none;
      /*			position: relative;
			left: 0;
			z-index: 0;*/ }
  .epigram p {
    margin: 0 1rem;
    font-size: .875rem;
    line-height: 1.75rem; }
  .discourse {
    padding-bottom: 4rem; }
    .discourse .text {
      margin: 0 1.5rem;
      padding: 3rem 0; }
    .discourse p {
      font-size: .875rem;
      line-height: 1.325rem;
      margin-bottom: 1rem;
      text-indent: 0; } }

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
  .motto {
    min-height: 12rem; }
    .motto h1 {
      font-size: 2rem; }
  .image {
    display: flex;
    justify-content: space-around; }
    .image .image__picture {
      position: relative; }
    .image .image__facets {
      position: relative;
      left: 0;
      z-index: 0; }
  .discourse .text {
    padding-left: 8rem;
    padding-right: 8rem; } }

/* medium-large */
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .motto {
    min-height: 12rem; }
    .motto h1 {
      font-size: 2rem; }
  .image {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem; }
    .image .image__picture {
      position: relative; }
    .image .image__facets {
      position: relative;
      left: 0;
      z-index: 0; }
  .discourse .text {
    padding-left: 14rem;
    padding-right: 14rem; } }

/* large  -  laptop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .motto {
    min-height: 12rem; }
    .motto h1 {
      font-size: 2rem; }
  .image {
    display: flex;
    justify-content: space-around;
    padding-left: 4rem;
    padding-right: 4rem; }
    .image .image__picture {
      position: relative; }
    .image .image__facets {
      position: relative;
      left: 0;
      z-index: 0; }
  /*	.discourse .text {
		padding-left: 10rem;
		padding-right: 10rem;
	}*/ }

/* large  -  desktop */
/*@media screen and (min-width: 1500px) and (max-width: 1999px) {

}*/
/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {
  .image {
    min-height: 40rem; }
    .image .image__picture img {
      width: 37rem;
      height: 37rem; }
    .image .image__facets {
      left: 65%; } }

/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-pdf {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4; }

.pdf__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282828;
  height: 100vh;
  width: 100%;
  z-index: 8; }

.pdf__image {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 2rem; }
  .pdf__image div {
    background-image: url("../img/6a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 73vh; }

.pdf--half .pdf__background {
  width: 50%; }

.pdf--half .pdf__image div {
  width: 100%; }

.pdf--half .pdf__controls__options {
  width: 85%; }

.pdf__controls {
  background-color: #282828;
  height: 4rem; }

.pdf__controls__options {
  width: 40%; }
  .pdf__controls__options ul {
    display: flex;
    justify-content: space-around; }
    .pdf__controls__options ul li {
      background-color: #fff;
      color: #222;
      cursor: pointer;
      padding: 1rem 3rem; }
      .pdf__controls__options ul li a {
        color: #222; }
    .pdf__controls__options ul li:hover {
      background-color: #C9A2A2; }

.pdf--single {
  justify-content: flex-start; }

.pdf--double {
  justify-content: flex-end; }

.wrapper-sidenav {
  background-color: #222;
  margin-top: 3rem;
  margin-left: .5rem;
  padding: 0 0 1rem 0;
  position: absolute;
  width: 9rem;
  height: 11rem;
  z-index: 20; }

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidenav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 9rem; }
    .sidenav ul a li {
      color: #fff;
      cursor: pointer;
      font-size: .825rem;
      padding: .5rem .625rem; }
    .sidenav ul a:hover {
      background-color: #C9A2A2; }
      .sidenav ul a:hover li {
        color: #222; }
  .sidenav .sidenav__navigation {
    background-color: #C9A2A2; }
    .sidenav .sidenav__navigation li:hover {
      background-color: #BD205D;
      /*			padding-top: .325rem;*/ }
      .sidenav .sidenav__navigation li:hover a {
        color: #fff; }
    .sidenav .sidenav__navigation a {
      color: #222; }
  .sidenav .sidenav__options {
    display: flex;
    flex-direction: column;
    width: 9rem; }
  .sidenav .sidenav__language li {
    padding-bottom: 1rem !important; }

/*@import 'emblem-double';*/
/*@import 'subnav-double';*/
/* https://www.abeautifulsite.net/a-clean-fade-in-effect-for-webpages */
html {
  background-color: pink; }

body {
  opacity: 1;
  transition: 1s opacity; }

body.fade-out {
  opacity: 0;
  transition: none; }

a {
  text-decoration: none !important; }
