/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NEUTRAL */
/* COOL */
/* WARM */
.container-fluid {
  margin: 0;
  padding: 0; }

.row {
  /*	border: 1px solid red !important;*/ }

/* NEUTRAL */
/* COOL */
/* WARM */
.btn {
  background-color: #989DAC;
  border-radius: .25rem;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: .75rem;
  width: 10rem;
  height: 2.5rem; }

.btn:hover {
  background-color: #DCE1E9;
  color: #222; }

.btn p {
  display: flex;
  align-self: center;
  font-size: .825rem; }

/*.toggle {
	border: 1px solid yellow;
	background-color: blue;
	display: flex;
	justify-content: center;
	margin: -3rem 0 !important;
	width: 200px;
	height: 3rem;
	a {
		display: flex;
		align-self: center;
	}
}*/
/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-topnav {
  /*	position: fixed;*/ }

.topnav {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  margin: 0;
  position: relative;
  z-index: 10; }

.topnav p {
  color: #fff;
  font-size: 1.5rem; }

/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .topnav p {
    font-size: .825rem; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
.wrapper-subnav5 {
  /*	border: 1px solid yellow;*/
  display: flex;
  /*** DOESN'T GET APPLIED IN SAFARI??? FIND OUT WHY ***/
  /*	position: relative;*/
  /*	top: 0;*/
  z-index: 5; }

.subnav5 {
  /*	border: 5px solid blue;*/
  background-color: #fff;
  position: absolute;
  /*	top: 0;*/
  width: 100%;
  /*	height: 3rem;*/
  height: 6rem;
  z-index: 10; }
  .subnav5 ul {
    /*		border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: 100%;*/
    width: 100%; }
    .subnav5 ul li {
      background-color: #222;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em; }
      .subnav5 ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
    .subnav5 ul li:hover {
      background-color: #7694C0; }
      .subnav5 ul li:hover a {
        color: #fff; }
    .subnav5 ul li:nth-child(1) {
      order: 1;
      max-width: 50%; }
    .subnav5 ul li:nth-child(2) {
      /*			border: 2px solid purple;*/
      flex: 1 1 auto;
      order: 3; }
    .subnav5 ul li:nth-child(3) {
      /*			border: 2px solid orange;*/
      flex: 1 1 auto;
      order: 4; }
    .subnav5 ul li:nth-child(4) {
      /*			border: 2px solid red;*/
      flex: 1 1 auto;
      order: 5; }
    .subnav5 ul li:nth-child(5) {
      /*			border: 2px solid green;*/
      order: 2;
      max-width: 50%; }
    .subnav5 ul li:nth-child(6) {
      /*			border: 2px solid pink;*/
      flex: 1 1 auto;
      order: 6; }
    .subnav5 ul li:nth-child(7) {
      /*			border: 2px solid white;*/
      flex: 1 1 auto;
      order: 7; }
    .subnav5 ul li:nth-child(8) {
      /*			border: 2px solid yellow;*/
      flex: 1 1 auto;
      order: 8; }

.subnav5__views--single, .subnav5__views--double {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 3rem; }

.subnav5__views--single {
  border-right: 0.25rem solid #fff; }

.subnav5__views--double {
  border-left: 0.25rem solid #fff; }

/*.subnav5__options {
	border: 1px solid red;
	background-color: $black;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	width: 100%;
	height: 3rem;
	position: sticky;
	top: 6rem;
	ul {
		width: 100%;
		a {
			color: $white;
			li {
				border-left: .25rem solid $white;
				border-right: .25rem solid $white;
				flex: 1 1 100%;
				align-self: center;
				align-items: center;
				justify-content: center;
				font-size: .825rem;
				text-decoration: none;
			}
		}
		a:hover {
			color: $black;
			li {
				background-color: $periwinkle;
			}
		}
	}
}*/
.subnav5__options__option {
  cursor: pointer; }

.toggle {
  background-color: #989DAC;
  border-radius: .125rem;
  border: 1px solid #777D94;
  box-shadow: inset 0 0 0.25rem #eee;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  padding: .5rem .125rem;
  width: 20%;
  max-height: 2.75rem; }
  .toggle a {
    background-color: inherit;
    border-radius: .125rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /*		padding-bottom: .25rem;*/
    min-width: 50%; }
  .toggle .selected {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .selected p {
      color: #222; }
  .toggle .not-selected {
    background-color: inherit;
    padding: .825rem 1rem; }
  .toggle .not-selected:hover {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .not-selected:hover p {
      color: #222; }

.is-inactive {
  background-color: #eee !important;
  pointer-events: none !important; }
  .is-inactive a {
    color: #222 !important; }

/* see index-scrolling.html */
/*.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
}*/
/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subnav {
    z-index: 10;
    position: fixed;
    top: 0;
    transform: translate3d(0, 101vh, 0);
    -webkit-transform: translate3d(0, 101vh, 0);
    transition: transform .25s linear;
    -webkit-transition: transform .25s linear; }
  /*	.subnav--open {
		transform: translate3d(0, 93vh, 0);
		-webkit-transform: translate3d(0, 93vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;		
	}
	.subnav__btn {
		position: fixed;
		top: 0;
		z-index: 10;

		transform: translate3d(0, 93.5vh, 0);
		-webkit-transform: translate3d(0, 93.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;
	}
	.subnav__btn--open {
		transform: translate3d(0, 83.5vh, 0);
		-webkit-transform: translate3d(0, 83.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;	
	}*/
  .subnav__options {
    top: 0; }
  .subnav__btn__single, .subnav__btn__double {
    display: none; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/*@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}*/
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
.css-test {
  border: 2px solid green !important; }

.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.emblem-wrapper {
  margin-top: 7rem;
  display: flex;
  justify-content: center; }

.emblem__full {
  width: 100%; }

.emblem__left {
  display: inline-block;
  vertical-align: top;
  /* pfft text */
  width: 49%;
  height: 20rem; }

.emblem__right {
  display: inline-block;
  vertical-align: top;
  /* pfft text */
  width: 49%;
  height: 20rem; }

.emblem {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  /* pfft text */ }

.half {
  display: flex; }

/*.compare {
	border: 1px solid red;
	padding: 4rem !important;
	p {
		text-align: left !important;
	}
}*/
.facsimile-wrapper {
  background-color: #D26F42;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 50%;
  vertical-align: top;
  /* pfft text */ }

.emblem__left .facsimile-wrapper {
  left: 0; }

.facsimile {
  background-color: #D26F42;
  height: 100vh; }

.motto {
  width: 100%; }

.epigram {
  width: 100%; }

.discourse {
  width: 100%; }

.switch-wrapper {
  /*	border: 1px solid green;*/
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%; }

.latin-german-switch {
  /*	border: 1px solid red;*/
  display: flex;
  align-self: flex-start;
  justify-content: center;
  height: 1.25rem;
  width: 8rem;
  margin-bottom: 1.5rem; }
  .latin-german-switch ul {
    /*		border: 1px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }
    .latin-german-switch ul li {
      /*			border: 1px solid green;*/
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .75em;
      margin: 0 .25rem;
      width: 100%; }
      .latin-german-switch ul li a {
        color: #222;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
      .latin-german-switch ul li a:hover {
        color: #7694C0; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

/* NEUTRAL */
/* COOL */
/* WARM */
body {
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 16px; }

.wrapper-emblem {
  background-color: #eee;
  /*	min-height: 80rem;*/
  padding: 0 0 .125rem 0; }

.wrapper-section {
  background-color: #fff;
  margin: .5rem;
  padding: 1rem 0; }

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 14rem;
  text-align: center; }
  .section h1 {
    font-size: 2.5rem; }

.motto {
  display: flex;
  align-items: baseline;
  justify-content: center;
  min-height: 10rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  max-height: 20rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  padding: 5rem 0 0 0; }
  .motto h1 {
    font-size: 2rem; }

.image {
  display: flex;
  justify-content: center;
  min-height: 34rem;
  /*	position: relative;  needed for the z-index to apply and hide the vertical divider in this section 
	z-index: 3;*/ }
  .image .image__picture {
    /*		position: absolute; - breaks in safari*/ }
    .image .image__picture img {
      width: 31rem;
      height: 31rem; }
  .image .image__facets {
    position: absolute;
    left: 67%;
    z-index: 0; }
  .image .image__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 22rem; }

.music {
  background-color: #fff;
  display: flex;
  justify-content: center;
  /*	position: relative;   needed for the z-index to apply and hide the vertical divider in this section */
  min-height: 25rem;
  /*	z-index: 3;*/ }

.epigram {
  display: flex;
  align-items: baseline;
  justify-content: center;
  min-height: 6rem;
  max-height: 30rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  padding: 4rem 0;
  text-align: center; }
  .epigram p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2.125rem;
    text-align: center;
    white-space: pre-line; }

.discourse {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  /*	justify-content: space-between;*/
  min-height: 30rem;
  max-height: 5000rem;
  /* this prevents the page from shifting vertically when selecting language options in the subnav */
  padding-bottom: 6rem; }
  .discourse .text {
    flex-direction: column;
    margin: 5rem 0;
    text-align: left; }
  .discourse p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    text-indent: 2rem;
    max-width: 40rem; }

/*.wrapper-transcription {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}*/
/*.transcription__numbers {
	color: $dark-gray;
	font-size: 1.125rem;
	text-align: right;
	min-width: 3rem;
}*/
/*.transcription__lines {
	padding-left: 1rem;
	p {
		text-align: left;
		text-indent: 0;
	}
}*/
.wrapper-vertical-divider {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.vertical-divider {
  background-color: #eee;
  height: 100vh;
  width: .5rem; }

/***     Breakpoints     ***/
/* large  -  laptop */
@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .motto h1 {
    max-width: 36rem; }
  .epigram {
    padding: 4rem 3rem; }
    .epigram p {
      max-width: 35rem; }
  .discourse p {
    max-width: 30rem; } }

/* medium-large */
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .motto h1 {
    max-width: 35rem; }
  .epigram p {
    max-width: 26rem; }
  .discourse p {
    max-width: 26rem; } }

/*@import 'pdf';*/
/*@import 'breakpoints';*/
/*@import 'testwrapper';*/
a {
  text-decoration: none !important; }
