<section class="image wrapper-section section">
	<div class="image__picture width--100"><img src="" alt="Illustration" /></div>
</section>

<script>
	var emblemDataNum = $('.emblem-page').data("id"); // get the data ID for the current emblem page
	var imageJSONFile = '../data/emblem-images.json'; // file path for the array of image URLs and alt text
	var imageJSON
	var imageBlock = "._image img";

/* https://github.com/jquery/api.jquery.com/issues/756 */
	// $.getJSON(imageJSONFile, function( json ) {
	// 	imageJSON = json[emblemDataNum]; // get the image object for the current emblem
	// 	$(imageBlock).attr("src", imageJSON["github-raw-url"]); // update the image src
	// 	$(imageBlock).attr("alt", imageJSON["alt-text"]); // update the image alt-text
	// });
	$.getJSON(imageJSONFile, function( json ) {
		imageJSON = json[emblemDataNum]; // get the image object for the current emblem
	})
		.fail(function() {
			console.log("_image.html FAILED to load emblem images");
		})
		.done(function() {
			$(imageBlock).attr("src", imageJSON["github-raw-url"]); // update the image src
			$(imageBlock).attr("alt", imageJSON["alt-text"]); // update the image alt-text
		});
</script>