<div class="wrapper-sidenav">
	<div class="sidenav">
		<ul class="sidenav__navigation">
			<li><a id="sidenav__prev" href="#">&#10094;</a></li>
			<li id="sidenav__titles">Emblem TEST</li>
			<li><a id="sidenav__next" href="#">&#10095;</a></li>
		</ul>
		<ul class="sidenav__options">
			<li><a href="#motto">Motto</a></li>
			<li><a href="#image">Image</a></li>
			<li><a href="#music">Music</a></li>
			<li><a href="#epigram">Epigram</a></li>
			<li><a href="#discourse">Discourse</a></li>
		</ul>
	</div>
</div>

<script>
	$(document).ready(function(){
		var dataID = $('.wrapper-emblem').data('id');
		var currentEmblemNum = dataID + 1;
		var prevEmblemNum = currentEmblemNum - 1;
		var nextEmblemNum = currentEmblemNum + 1;
		var prevBtn = $('#sidenav__prev');
		var nextBtn = $('#sidenav__next');
		var emblemNumTextArea = $('#sidenav__titles');
		
		if (dataID === 0) {
			$(prevBtn).addClass('is-hidden'); // do not display previous button on first emblem
			$(nextBtn).removeClass('is-hidden'); // display next button
			$(nextBtn).attr("href", "../pages/emblem" + nextEmblemNum + ".html"); // update the next button to link to the next emblem
			$(emblemNumTextArea).text("Emblem " + currentEmblemNum); // update the emblem title to reflect the current emblem number
		}
		else if (dataID === 4) { 
			$(nextBtn).addClass('is-hidden'); // do not display next button on last emblem
			$(prevBtn).removeClass('is-hidden'); // display previous button
			$(prevBtn).attr("href", "../pages/emblem" + prevEmblemNum + ".html"); // update the previous button to link to the previous emblem
			$(emblemNumTextArea).text("Emblem " + currentEmblemNum); // update the emblem title to reflect the current emblem number
		}
		else {
			$(prevBtn).removeClass('is-hidden'); // display previous button
			$(nextBtn).removeClass('is-hidden'); // display next button
			$(prevBtn).attr("href", "../pages/emblem" + prevEmblemNum + ".html"); // update the previous button to link to the previous emblem
			$(nextBtn).attr("href", "../pages/emblem" + nextEmblemNum + ".html"); // update the next button to link to the next emblem
			$(emblemNumTextArea).text("Emblem " + currentEmblemNum); // update the emblem title to reflect the current emblem number
		}
	})
</script>