<div class="wrapper-sidenav">
	<div class="sidenav">
		<ul class="sidenav__navigation">
			<li><a id="sidenav__prev" href="#">&#10094;</a></li>
			<li id="sidenav__titles">Emblem 6</li>
			<li><a id="sidenav__next" href="#">&#10095;</a></li>
		</ul>
		<ul class="sidenav__options">
			<li><a href="#motto">Motto</a></li>
			<li><a href="#image">Image</a></li>
			<li><a href="#music">Music</a></li>
			<li><a href="#epigram">Epigram</a></li>
			<li><a href="#discourse">Discourse</a></li>
		</ul>
	</div>
</div>

<script>
	$(document).ready(function(){
		var dataDiv = $('.wrapper-emblem');
		var dataNum = dataDiv.attr("data-id");
		var currentEmblem = $('.wrapper-emblem').data('id') + 1;
		var prevEmblem = currentEmblem - 1;
		var nextEmblem = currentEmblem + 1;
		console.log(dataNum);
		console.log($('.wrapper-emblem').data('id'));
		$('#sidenav__prev').attr("href", "../pages/emblem" + prevEmblem + ".html");
		$('#sidenav__next').attr("href", "../pages/emblem" + nextEmblem + ".html");
	})
</script>