<nav class="topnav">
	<ul>
		<li class="my-trigger"><a href="#" title="Table of Contents"><img src="../img/icons/toc.png" alt="table of contents icon" /></a></li>
		<li>Furnace + Fugue: Atalanta Fugiens</li>
		<li></li>
	</ul>
</nav>
<nav class='toc-wrapper'>
	<ul class="toc">
		<div class="edition">
				<li><a href="../pages/emblem1.html">Title Page</a></li>
				<li><a href="../pages/emblem1.html">Preface</a></li>
				<li><a href="../pages/emblem1.html">Frontmatter</a></li>
			<li><a href="../pages/emblem1.html">Emblem 1</a></li>
			<li><a href="../pages/emblem2.html">Emblem 2</a></li>
			<li><a href="../pages/emblem3.html">Emblem 3</a></li>
			<li><a href="../pages/emblem4.html">Emblem 4</a></li>
			<li><a href="../pages/emblem5.html">Emblem 5</a></li>
						<li><a href="../pages/emblem1.html">Emblem 6</a></li>
			<li><a href="../pages/emblem2.html">Emblem 7</a></li>
			<li><a href="../pages/emblem3.html">Emblem 8</a></li>
			<li><a href="../pages/emblem4.html">Emblem 9</a></li>
			<li><a href="../pages/emblem5.html">Emblem 10</a></li>
			<li><a href="../pages/emblem1.html">Emblem 11</a></li>
			<li><a href="../pages/emblem2.html">Emblem 12</a></li>
			<li><a href="../pages/emblem3.html">Emblem 13</a></li>
			<li><a href="../pages/emblem4.html">Emblem 14</a></li>
			<li><a href="../pages/emblem5.html">Emblem 15</a></li>
			<li><a href="../pages/emblem1.html">Emblem 16</a></li>
			<li><a href="../pages/emblem2.html">Emblem 17</a></li>
			<li><a href="../pages/emblem3.html">Emblem 18</a></li>
			<li><a href="../pages/emblem4.html">Emblem 19</a></li>
			<li><a href="../pages/emblem5.html">Emblem 20</a></li>
			<li><a href="../pages/emblem1.html">Emblem 21</a></li>
			<li><a href="../pages/emblem2.html">Emblem 22</a></li>
			<li><a href="../pages/emblem3.html">Emblem 23</a></li>
			<li><a href="../pages/emblem4.html">Emblem 24</a></li>
			<li><a href="../pages/emblem5.html">Emblem 25</a></li>
			<li><a href="../pages/emblem1.html">Emblem 26</a></li>
			<li><a href="../pages/emblem2.html">Emblem 27</a></li>
			<li><a href="../pages/emblem3.html">Emblem 28</a></li>
			<li><a href="../pages/emblem4.html">Emblem 29</a></li>
			<li><a href="../pages/emblem5.html">Emblem 30</a></li>
			<li><a href="../pages/emblem1.html">Emblem 31</a></li>
			<li><a href="../pages/emblem2.html">Emblem 32</a></li>
			<li><a href="../pages/emblem3.html">Emblem 33</a></li>
			<li><a href="../pages/emblem4.html">Emblem 34</a></li>
			<li><a href="../pages/emblem5.html">Emblem 35</a></li>
			<li><a href="../pages/emblem1.html">Emblem 36</a></li>
			<li><a href="../pages/emblem2.html">Emblem 37</a></li>
			<li><a href="../pages/emblem3.html">Emblem 38</a></li>
			<li><a href="../pages/emblem4.html">Emblem 39</a></li>
			<li><a href="../pages/emblem5.html">Emblem 40</a></li>
			<li><a href="../pages/emblem1.html">Emblem 41</a></li>
			<li><a href="../pages/emblem2.html">Emblem 42</a></li>
			<li><a href="../pages/emblem3.html">Emblem 43</a></li>
			<li><a href="../pages/emblem4.html">Emblem 44</a></li>
			<li><a href="../pages/emblem5.html">Emblem 45</a></li>
			<li><a href="../pages/emblem1.html">Emblem 46</a></li>
			<li><a href="../pages/emblem2.html">Emblem 47</a></li>
			<li><a href="../pages/emblem3.html">Emblem 48</a></li>
			<li><a href="../pages/emblem4.html">Emblem 49</a></li>
			<li><a href="../pages/emblem5.html">Emblem 50</a></li>
			<li><a href="../pages/emblem1.html">Backmatter</a></li>
		</div>
	</ul>
</nav>

<script type="text/javascript">
	$(document).ready(function(){
		$('.toc-wrapper').on('mouseenter', function(){
			$(this).css('background-color', 'red');
			$('body').css('overflow', 'hidden');
		});
		$('.toc-wrapper').on('mouseleave', function(){
			$(this).css('background-color', 'black');
			$('body').css('overflow', 'visible');
		});
		$('.my-trigger').click(function() {
			console.log("the menu is sliding in");
			$('.toc-wrapper').addClass('move-in');
			$('.toc-wrapper').removeClass('move-out');
		});
		$('.edition').click(function() {
			console.log("the menu is sliding out");
			$('.toc-wrapper').addClass('move-out');
			$('.toc-wrapper').removeClass('move-in');
		});
	})
</script>