<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e08</h2>
      <span class="pb">29</span>
                <div id="mottoPartial--e"><!-- addition -->
                    <div class="title">
                        <h3 class="title">
                            <span class="emblem-heading"><!-- addition -->
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 8. Of the Secrets of Nature.</span>
                        <br/>Take an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> and smite it with a fiery sword.</h3>
                    </div>
                </div>

                <div id="epigramPartial--e"><!-- addition -->
                    <div class="epigram">                
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 8.</h3>
      <div class="verse-epigram">
         <br/>Rest not till you have found that <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> rare,<br/>Descended from the <span class="choice">
            <span class="orig">loftyest</span>
            <span class="reg">loftiest</span>
         </span> bird <span class="choice">
            <span class="orig">oth'</span>
            <span class="reg">of the</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>:<br/>With fire and <span class="choice">
            <span class="orig">steele</span>
            <span class="reg">steel</span>
         </span> (<span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> otherwise) confound<br/>The Slimy white which <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> the <span class="choice">
            <span class="orig">yolke</span>
            <span class="reg">yolk</span>
         </span> surround;<br/>Though to the God of fire Mars <span class="choice">
            <span class="orig">ayd</span>
            <span class="reg">aid</span>
         </span> Shall give,<br/>The product will of both the victor live.</div>
                    </div>
                </div>

                <div id="discoursePartial--e"><!-- addition -->
      <span class="pb">30</span>
      <div class="discourse">
      <h3 class="discourse">Discourse 8.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e08-01</span>Many and <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> sorts of birds there are, which as they are indefinite in number, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>are they <span class="choice">
            <span class="orig">unknowne</span>
            <span class="reg">unknown</span>
         </span> to us by names: <span class="milestone">e08-02</span>Story tells us of a very great bird appearing at a <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> time of the year in a small Isle of the Sea called Ruc, because it can lift
                        <br/>up an Elephant with it into the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>. India and America <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span>
         <span class="choice">
            <span class="orig">Parrotts</span>
            <span class="reg">Parrots</span>
         </span> of va
                        -<br/>rious <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, Crows, and the like: <span class="milestone">e08-03</span>but it is not the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> intention to in
                        -<br/>quire after the eggs of these birds: The <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> yearly infest, and as it <span class="pc">-</span>
         <br/>were with a <span class="choice">
            <span class="orig">publicke</span>
            <span class="reg">public</span>
         </span>
         <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span> denounced prosecute the Eggs of Crocodiles with <span class="pc">-</span>
         <br/>weapons of iron; the Philosophers <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> their <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> with fire, not to mortify <span class="pc">-</span>
         <br/>and destroy it, but that it may receive life and growth; <span class="milestone">e08-04</span>for when a chicken is <span class="pc">-</span>
         <br/>from thence produced animated and living, it cannot be <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be the corruption
                        <br/>but generation of it: <span class="milestone">e08-05</span>it <span class="choice">
            <span class="orig">ceaseth</span>
            <span class="reg">ceases</span>
         </span> indeed to be an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> by the privation of the <span class="choice">
            <span class="orig">ovall</span>
            <span class="reg">oval</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>, and begins to be an <span class="choice">
            <span class="orig">animall</span>
            <span class="reg">animal</span>
         </span> with two feet and volatile by the introduction
                        <br/>of a more noble <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>: In an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> are the seeds of both male and female <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span> together under one cover or shell: <span class="milestone">e08-06</span>The <span class="choice">
            <span class="orig">yolke</span>
            <span class="reg">yolk</span>
         </span> constitutes the chicken, <span class="pc">-</span>
         <br/>and the <span class="choice">
            <span class="orig">radicall</span>
            <span class="reg">radical</span>
         </span> parts and <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span> thereof, the seed of the male being the <span class="pc">-</span>
         <br/>former, and <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> efficient: <span class="milestone">e08-07</span>The white <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> matter, or thread and incre
                        -<br/>ment to the rudiment as it were to the warp of the chicken: <span class="milestone">e08-08</span>
         <span class="choice">
            <span class="orig">Externall</span>
            <span class="reg">External</span>
         </span> heat
                        <br/>is the first mover, which <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> by a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> circulation of the Elements, toge
                        -<br/>ther with instinct and guidance of nature introduce a new <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> by <span class="pc">-</span>
         <br/>changing one thing into another: <span class="milestone">e08-09</span>for water turnes into <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> into fire, and
                        <br/>fire into earth, upon the conjunction of which, a <span class="choice">
            <span class="orig">specificke</span>
            <span class="reg">specific</span>
         </span>
         <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> being trans
                        -<br/>mitted by the <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>, an <span class="choice">
            <span class="orig">individuall</span>
            <span class="reg">individual</span>
         </span> is made of a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> kind of bird, namely
                        <br/>of that, whose <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> it was, and seed infused in it. <span class="milestone">e08-10</span>Is it indeed <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be smitten
                        <br/>with a fiery sword, whilst Vulcan officiating the duty of a midwife gives pas
                        -<br/>sage or <span class="choice">
            <span class="orig">egresse</span>
            <span class="reg">egress</span>
         </span> to the chicken by his axe, as to Pallas out of the <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span> of Ju
                        -<br/>piter: <span class="milestone">e08-11</span>This is that which Basill Valentine affirms, that Mercury was impri
                        -<br/>soned by Vulcan at the <span class="choice">
            <span class="orig">coḿand</span>
            <span class="reg">command</span>
         </span> of Mars, and not released, before <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">wholy</span>
            <span class="reg">wholly</span>
         </span>
         <span class="choice">
            <span class="orig">putrefyd</span>
            <span class="reg">putrified</span>
         </span> and dead: <span class="milestone">e08-12</span>but this death is to him the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span> of a new life, <span class="pc">-</span>
         <br/>as the corruption or death of an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> brings new generation and life to the <span class="pc">-</span>
         <br/>chicken, <span class="milestone">e08-13</span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> an Embryo being freed from that <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span> vegetable life (which
                        <br/>alone <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> enjoyed in his mothers <span class="choice">
            <span class="orig">wombe</span>
            <span class="reg">womb</span>
         </span>, another more perfect is obtained by
                        <br/>coming into the light of this world, as by nativity: <span class="milestone">e08-14</span>yea <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> being de
                        -<br/>prived of this present life, which <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> lead, another most perfect and <span class="choice">
            <span class="orig">æter
                        -<br/>nall</span>
            <span class="reg">eternal</span>
         </span> is at hand: Thus Lully <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> in many places call this fiery sword a <span class="pc">-</span>
         <br/>Sharp Spear; <span class="milestone">e08-15</span>because fire <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> as a Sharp Spear or sword perforate <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, <span class="pc">-</span>
         <br/>and make them porous and pervious, that water can penetrate to dissolve
                        <br/>and reduce them from <span class="choice">
            <span class="orig">hardnesse</span>
            <span class="reg">hardness</span>
         </span> to <span class="choice">
            <span class="orig">softnesse</span>
            <span class="reg">softness</span>
         </span> and tractability. <span class="milestone">e08-16</span>In the
                        <br/>
         <span class="choice">
            <span class="orig">Stomacke</span>
            <span class="reg">Stomach</span>
         </span> of a Cormorant, which is of all birds most voracious, are found
                        <br/>long and round <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span> alive, which are to it as the instrument of heat,
                        <br/>they forthwith invading, and as most sharp needles perforating, (as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <br/>have sometimes observed) and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> in a very short time consuming <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Eeles</span>
            <span class="reg">Eels</span>
         </span> and other fish taken by it, with a <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> operation of na
                        -<br/>ture: <span class="milestone">e08-17</span>as therefore heat <span class="choice">
            <span class="orig">pricketh</span>
            <span class="reg">pricks</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> a thing pricking sometimes <span class="choice">
            <span class="orig">supplys</span>
            <span class="reg">supplies</span>
         </span> the
                        
                        
                        
                        <span class="pb">31</span>
         <span class="fw">Discourse 8.</span>
         <br/>place of heat: upon which consideration that, wherewith the Philosophers <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>
         <span class="pc">-</span>
         <br/>ought to be pieced and smitten, may not undeservedly be called a fiery sword:
                        <br/>
         <span class="milestone">e08-18</span>but the Philosophers had rather have it understood of a temperate heat, where
                        -<br/>by the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> is kept <span class="choice">
            <span class="orig">warme</span>
            <span class="reg">warm</span>
         </span>, as Morforleus in Turba declares, <span class="milestone">e08-19</span>saying, wise men
                        <br/>ought to <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> away moisture first with a slow fire, as is <span class="choice">
            <span class="orig">Shewed</span>
            <span class="reg">Showed</span>
         </span> to us by an
                        <br/>example in the generation of a chicken, and where the fire is augmented, <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span> must be <span class="choice">
            <span class="orig">stopd</span>
            <span class="reg">stopped</span>
         </span> on all sides, that the body of the <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>, and the
                        <br/>fugitive Spirit thereof may not exhale. <span class="milestone">e08-20</span>But what birds was the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>? Mos
                        -<br/>cus in the same place; now I Say, <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>, that <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> instruments are <span class="pc">-</span>
         <br/>made, except of our white, starry, splendid powder, and of the white <span class="pc">-</span>
         <br/>stone, of which powder are made <span class="choice">
            <span class="orig">fitt</span>
            <span class="reg">fit</span>
         </span> instruments for the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>; yet they
                        <br/>have not named the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>, nor what birds the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> was<span class="pc">. . . . .</span>
      </div>
                       </div>
                </div>
   </body>
</html>
