<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e16</h2>
      <span class="pb">53</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 16. Of the Secrets of Nature.
                        <br/>One <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> wings, the other none.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 16.</h3>
      <div class="verse">
         <br/>The <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> prince of beasts in might and sway<br/>Fights without fear, and <span class="choice">
            <span class="orig">scornes</span>
            <span class="reg">scorns</span>
         </span> to <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> away:<br/>Give him a Spouse with wings of his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> race,<br/>To mount him with <span class="choice">
            <span class="orig">herselfe</span>
            <span class="reg">herself</span>
         </span> from place to place;<br/>But <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> immoved stands, and nulls her force,<br/>By <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> to demonstrate Natures course.</div>
      <span class="pb">54</span>
      <h3 class="discourse">Discourse 16.</h3>
      <div class="ab">
         <br/>It is a thing <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> by experience that a <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>
         <span class="choice">
            <span class="orig">excells</span>
            <span class="reg">excels</span>
         </span> other <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> not<span class="milestone">e03-01</span>
         <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much in <span class="choice">
            <span class="orig">bignesse</span>
            <span class="reg">bigness</span>
         </span> and strength of body, as generosity: if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be seen in <span class="pc">-</span>
         <br/>hunting, being <span class="choice">
            <span class="orig">ashamd</span>
            <span class="reg">ashamed</span>
         </span> to <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> away, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">releaseth</span>
            <span class="reg">releases</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> by degrees,
                        <br/>if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">oppressd</span>
            <span class="reg">oppressed</span>
         </span> by a multitude: being removed from the view of the <span class="pc">-</span>
         <br/>hunters, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> makes hast away, thinking it a <span class="choice">
            <span class="orig">dishonour</span>
            <span class="reg">dishonor</span>
         </span> to be <span class="choice">
            <span class="orig">excusd</span>
            <span class="reg">excused</span>
         </span> by ab
                        -<br/>sconding: <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> desires a wood in flight, which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">useth</span>
            <span class="reg">uses</span>
         </span>, when anything
                        <br/>pursues: his bones are solid and not at all empty, which are <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be
                        <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> hard, that being <span class="choice">
            <span class="orig">shakd</span>
            <span class="reg">shaked</span>
         </span> together they <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> fire as out of a Steel and <span class="pc">-</span>
         <br/>flint. <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> fears fire above all things. <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> seems to derive his substance
                        <br/>from the nature of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, for in force and heat <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">excells</span>
            <span class="reg">excels</span>
         </span> other <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>, as the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> the <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>: Besides <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is <span class="choice">
            <span class="orig">allways</span>
            <span class="reg">always</span>
         </span> beheld with
                        <br/>fiery and open eyes, as the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> beholds the earth with an open and <span class="pc">-</span>
         <br/>fiery eye: a <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> fighting for her whelps <span class="choice">
            <span class="orig">fixeth</span>
            <span class="reg">fixes</span>
         </span> her eyes upon the <span class="pc">-</span>
         <br/>ground, that <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> may not be <span class="choice">
            <span class="orig">afrayd</span>
            <span class="reg">afraid</span>
         </span> of the hunters Staffs and Spears. <span class="pc">-</span>
         <br/>where a <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> perceives the coition of a Leopard, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> takes revenge <span class="pc">-</span>
         <br/>upon the <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> for adultery, and inflicts severe <span class="choice">
            <span class="orig">punnishment</span>
            <span class="reg">punishment</span>
         </span>; <span class="pc">-</span>
         <br/>The <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> therefore <span class="choice">
            <span class="orig">washeth</span>
            <span class="reg">washes</span>
         </span> away the <span class="choice">
            <span class="orig">offence</span>
            <span class="reg">offense</span>
         </span> and scent in a river, <span class="pc">-</span>
         <br/>or being conscious of the <span class="choice">
            <span class="orig">trespasse</span>
            <span class="reg">trespass</span>
         </span>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> accompany the adulterer <span class="pc">-</span>
         <br/>flying for fear of the male: Which <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> nature of this beast the
                        <br/>Philosophers contemplating, have produced <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span>
         <span class="choice">
            <span class="orig">allegoryes</span>
            <span class="reg">allegories</span>
         </span> of the
                        <br/>
         <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>, as it were <span class="choice">
            <span class="orig">hieroglyphicall</span>
            <span class="reg">hieroglyphical</span>
         </span> writings testifying of their secret <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, observing the <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> to be a constant, <span class="choice">
            <span class="orig">firme</span>
            <span class="reg">firm</span>
         </span>
         <span class="choice">
            <span class="orig">animall</span>
            <span class="reg">animal</span>
         </span>, without <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">deceipt</span>
            <span class="reg">deceit</span>
         </span> and suspicion, they assimilated the better part of their <span class="choice">
            <span class="orig">Phi
                        -<br/>losophicall</span>
            <span class="reg">Philosophical</span>
         </span> composition to him: for as <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flies</span>
         </span> not, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> neither this: <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> with solid bones, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> this fixed and not to be overcome: and as <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> is not <span class="choice">
            <span class="orig">allways</span>
            <span class="reg">always</span>
         </span> innocent and free from adultery, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>is neither Luna nor Mercury without some blemish, but is <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span>
         <br/>by the ignorant sometimes to this, sometimes to that matter, where
                        -<br/>by an adulterous conjunction of things discrepant and different in
                        <br/>nature rather than true matrimony is established: for the products
                        <br/>of a Leopard and <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> have <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> specious and comely <span class="choice">
            <span class="orig">mains</span>
            <span class="reg">manes</span>
         </span>
         <span class="pc">-</span>
         <br/>about the <span class="choice">
            <span class="orig">necke</span>
            <span class="reg">neck</span>
         </span> and Shoulders; with which <span class="choice">
            <span class="orig">ensigne</span>
            <span class="reg">ensign</span>
         </span> those generated
                        <br/>by the <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> are alone adorned. The <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> must
                        <br/>therefore be <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span> to her proper mate or male, and a genuine <span class="pc">-</span>
         <br/>and generous whelp will from thence Spring, which may easily
                        <br/>be <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> by his paw. But the <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> must not be any or <span class="pc">-</span>
         <br/>what you please, but winged, which may be able to fight and
                        <br/>contest with the <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>, depending upon the <span class="choice">
            <span class="orig">Swiftnesse</span>
            <span class="reg">Swiftness</span>
         </span> of her <span class="pc">-</span>
         <br/>plumes, lest (to <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>) <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> Should be oppressed by his extraordi
                        -<br/>nary wrath, but to <span class="choice">
            <span class="orig">thinke</span>
            <span class="reg">think</span>
         </span> upon escape, if at any time <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> fall
                        <br/>into fury without cause, for <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> when <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> stops her flying <span class="pc">-</span>
         <span class="pb">55</span>
         <span class="fw">Discourse 16.</span>
         <br/>is incited with greater love towards her, <span class="choice">
            <span class="orig">freindship</span>
            <span class="reg">friendship</span>
         </span> being made after discord. <span class="pc">-</span>
         <br/>But you will say who ever saw a <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span> with wings, or what can the plumes
                        <br/>of a <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span>
         <span class="choice">
            <span class="orig">avayle</span>
            <span class="reg">avail</span>
         </span>? There is a deep valley near the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>
         <span class="choice">
            <span class="orig">Cythæron</span>
            <span class="reg">Cithaeron</span>
         </span>,
                        <br/>in which are seen none but flying <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span>, and at the top of the same <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> resorts a red <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> of that kind, which Hercules killed. The <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> therefore must be taken, and brought into the valley, and forthwith
                        <br/>coupled to the winged <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span>: <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> will easily suffer <span class="choice">
            <span class="orig">herselfe</span>
            <span class="reg">herself</span>
         </span> to
                        <br/>be overcome, as like by like: afterwards they must be both advanced
                        <br/>out of the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> valley to the top of the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>, and henceforth they
                        <br/>will never desert one another, but <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span>
         <span class="choice">
            <span class="orig">remaine</span>
            <span class="reg">remain</span>
         </span> together in inviolable
                        <br/>amity: The taking of <span class="choice">
            <span class="orig">Lyons</span>
            <span class="reg">Lions</span>
         </span>. I <span class="choice">
            <span class="orig">confesse</span>
            <span class="reg">confess</span>
         </span>, is not easy, but obnoxious to many <span class="pc">-</span>
         <br/>dangers, <span class="choice">
            <span class="orig">neverthelesse</span>
            <span class="reg">nevertheless</span>
         </span> it must be attempted: a <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> feeds not with the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Lionesse</span>
            <span class="reg">Lioness</span>
         </span>, but <span class="choice">
            <span class="orig">strayes</span>
            <span class="reg">strays</span>
         </span> apart, as story relates, therefore they are to be found and
                        <br/>hunted severally: But if the <span class="choice">
            <span class="orig">Lyons</span>
            <span class="reg">Lions</span>
         </span> whelps be <span class="choice">
            <span class="orig">obtaind</span>
            <span class="reg">obtained</span>
         </span> in their infancy, when
                        <br/>they first begin to <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span>, which is at two <span class="choice">
            <span class="orig">moneths</span>
            <span class="reg">months</span>
         </span> age, and be <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span>, as <span class="choice">
            <span class="orig">afore
                        -<br/>sayd</span>
            <span class="reg">said</span>
         </span>, being come to good growth and stature, the thing will be free from <span class="pc">-</span>
         <br/>any danger. Moreover <span class="underline">they breed in the Spring time, which must be well
                        <br/>observed: b</span>ut <span class="choice">
            <span class="orig">Lyons</span>
            <span class="reg">Lions</span>
         </span> after whelping using <span class="choice">
            <span class="orig">crosse</span>
            <span class="reg">cross</span>
         </span> and winding <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span>, to
                        <br/>
         <span class="choice">
            <span class="orig">prævent</span>
            <span class="reg">prevent</span>
         </span> the discovery of their <span class="choice">
            <span class="orig">denne</span>
            <span class="reg">den</span>
         </span>, therefore must they be sought and
                        <br/>their whelps taken away with very great diligence and care<span class="pc">. . . .</span>
      </div>
   </body>
</html>
