<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e10</h2>
      <span class="pb">35</span>
                <div id="mottoPartial--e"><!-- addition -->
                    <div class="title">
                        <h3 class="title">
                            <span class="emblem-heading"><!-- addition -->
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 10. Of the Secrets of Nature.</span>
                        <br/>Give fire to fire, Mercury to Mercury, and you have enough.
                    </h3>
                    </div>
                </div>

                <div id="epigramPartial--e"><!-- addition -->
                    <div class="epigram">           
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 10.</h3>
      <div class="verse-epigram">
         <br/>The worlds whole frame depends upon this <span class="choice">
            <span class="orig">chaine</span>
            <span class="reg">chain</span>
         </span>,<br/>Like to its like, as <span class="choice">
            <span class="orig">Shepheardesse</span>
            <span class="reg">Shepherdess</span>
         </span> to <span class="choice">
            <span class="orig">Swaine</span>
            <span class="reg">Swain</span>
         </span>:<br/>These are the bounds of art, proceed <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> higher,<br/>Hermes to Hermes <span class="choice">
            <span class="orig">joyne</span>
            <span class="reg">join</span>
         </span>, and fire to fire.<br/>Vulcan makes Hermes fly, but Cynchia must<br/>Bring him to tears, then <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> to her brothers lust.</div>
                    </div>
                </div>

<div id="discoursePartial--e"><!-- addition -->  
      <span class="pb">36</span>
                    <div class="discourse">
      <h3 class="discourse">Discourse 10.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e10-01</span>If this saying be literally, it <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>
         <span class="choice">
            <span class="orig">increaseth</span>
            <span class="reg">increases</span>
         </span> the quality of fire and Mer -<br/>cury, and <span class="choice">
            <span class="orig">introduceth</span>
            <span class="reg">introduces</span>
         </span>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> new quality in the subject: for every like being added
                        <br/>to its like makes a similar augmentation: <span class="milestone">e10-02</span>and therefore <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>
         <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span>
         <span class="pc">-</span>
         <br/>that contrary diseases are cured and taken away by contrary medicines,<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> see that fire is extinguished by water, but sustained by adding
                        <br/>fire: <span class="milestone">e10-03</span>The Poet is of the same opinion saying: Venus <span class="choice">
            <span class="orig">rageth</span>
            <span class="reg">rages</span>
         </span> in wine, fire in
                        <br/>fire: <span class="milestone">e10-04</span>but it may be answered, that fire and fire, Mercury and Mercury are
                        <br/>very different one from another: for there are many kinds of fires with the
                        <br/>Philosophers, many <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> of Mercury: <span class="milestone">e10-05</span>Moreover the same heat and cold<span class="pc">-</span>
         <br/>being distant <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> in place or situation, differs from another of its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span>
         <span class="pc">-</span>
         <br/>kind, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to attract to it that which is like to <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, that heat fixed in<span class="pc">-</span>
         <br/>any part is attracted and <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> forth by the same heat, and that the<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">joynts</span>
            <span class="reg">joints</span>
         </span> being <span class="choice">
            <span class="orig">stupefyd</span>
            <span class="reg">stupefied</span>
         </span> with the cold of winter, and <span class="choice">
            <span class="orig">allmost</span>
            <span class="reg">almost</span>
         </span> dead with cold
                        <br/>water, are restored if they be put into it, not by <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> heat <span class="choice">
            <span class="orig">iḿediately</span>
            <span class="reg">immediately</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">administred</span>
            <span class="reg">administered</span>
         </span>: <span class="milestone">e10-06</span>as indeed a greater light obscures the <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> greater heat the
                        <br/>
         <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>, and greater cold the <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>: <span class="choice">
            <span class="orig">neverthelesse</span>
            <span class="reg">nevertheless</span>
         </span> it is requisite for the <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>
         <br/>heat and cold to be <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>, than that which was before fixed or imprinted on the
                        <br/>parts or <span class="choice">
            <span class="orig">joynts</span>
            <span class="reg">joints</span>
         </span>, otherwise the same impression would be made, as before, and<span class="pc">-</span>
         <br/>the like would be much more increased, than <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> out, by the like: <span class="milestone">e10-07</span>for<span class="pc">-</span>
         <br/>the drawing out of cold by cold water, and of fiery heat by heat is <span class="choice">
            <span class="orig">agreable</span>
            <span class="reg">agreeable</span>
         </span> to
                        <br/>nature, because every sudden mutation into a contrary is dangerous to it, and<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> acceptable, but that which is by little and little, and as it were by degrees
                        <br/>is tolerable: <span class="milestone">e10-08</span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> say, there is one <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> fire, and is <span class="choice">
            <span class="orig">allready</span>
            <span class="reg">already</span>
         </span> infixed<span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">essentiall</span>
            <span class="reg">essential</span>
         </span> in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> subject, another <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>, which may
                        <br/>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> be understood of Mercury: <span class="milestone">e10-09</span>that is an <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> fire <span class="choice">
            <span class="orig">æquivocally</span>
            <span class="reg">equivocally</span>
         </span> because
                        <br/>of its fiery qualities, virtues, and operations, <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> univocally: <span class="choice">
            <span class="orig">Externall</span>
            <span class="reg">External</span>
         </span> fire
                        <br/>therefore must be given to the <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span>, and the like Mercury to Mercury,<span class="pc">-</span>
         <br/>that the intention of the art may be completed: To mollify or mature any<span class="pc">-</span>
         <br/>hard or crude thing by coction, <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> use fire and water: <span class="milestone">e10-10</span>for water dissolves<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hardnesse</span>
            <span class="reg">hardness</span>
         </span>, and penetrates into the compact parts, heat adding strength and<span class="pc">-</span>
         <br/>motion to it; as appears by example in the coction of Peas, which are of
                        <br/>themselves sound and hard, but <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> swell, are broken, and reduced to a<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">pulpe</span>
            <span class="reg">pulp</span>
         </span> by water, the heat of fire rarefying the water by ebullition, and
                        <br/>making it of a more <span class="choice">
            <span class="orig">thinne</span>
            <span class="reg">thin</span>
         </span> or <span class="choice">
            <span class="orig">allmost</span>
            <span class="reg">almost</span>
         </span> airy substance: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> the heat of
                        <br/>fire resolves the crude parts of fruit or flesh into water, and <span class="choice">
            <span class="orig">causeth</span>
            <span class="reg">causes</span>
         </span> them
                        <br/>to evaporate with it into <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>: <span class="milestone">e10-11</span>after the same manner fire and Mercury
                        <br/>here are fire and water, and the same, fire and Mercury are the mature
                        <br/>and crude parts, of which the crude are to be matured by coction, or the
                        <br/>mature purged from <span class="choice">
            <span class="orig">superfluityes</span>
            <span class="reg">superfluities</span>
         </span> by the ministery of fire and water:<span class="pc">-</span>
         <br/>
         <span class="milestone">e10-12</span>Now that these are two fires, and two <span class="choice">
            <span class="orig">Mercuryes</span>
            <span class="reg">Mercuries</span>
         </span> principally and solely ne
                        -<br/>cessary to the art, <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> will here <span class="choice">
            <span class="orig">breifely</span>
            <span class="reg">briefly</span>
         </span> demonstrate: <span class="milestone">e10-13</span>Empedocles deter
                        -<br/>mined two principles of all things, love, and variance, or <span class="choice">
            <span class="orig">freindship</span>
            <span class="reg">friendship</span>
         </span> and dis
                        
                        
                        <span class="pb">37</span>
         <span class="fw">Discourse 10.</span>-<br/>cord: that by variance corruptions were made, generations by love: such vari
                        -<br/>ance is manifestly beheld between fire and water, fire causing water to eva
                        -<br/>porate, if it can, water on the contrary extinguishing fire, if admitted to it:<span class="pc">-</span>
         <br/>
         <span class="milestone">e10-14</span>but for all that it is conspicuous that generations may be made of the same<span class="pc">-</span>
         <br/>with some <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span>
         <span class="choice">
            <span class="orig">freindship</span>
            <span class="reg">friendship</span>
         </span>; for by heat a new generation of <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> is made
                        <br/>of water, and by the same the induration of water into a stone, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>out of these two Elements as it were the first are made <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the other two,<span class="pc">-</span>
         <br/>and by consequence the production of all things: <span class="milestone">e10-15</span>Water was the matter<span class="pc">-</span>
         <br/>of heaven, and of all <span class="choice">
            <span class="orig">corporall</span>
            <span class="reg">corporal</span>
         </span> things: Fire, as the <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>, moves and in
                        -<br/>forms this matter; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> this water or Mercury <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> the matter, and fire<span class="pc">-</span>
         <br/>Sulphur, the <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>: <span class="milestone">e10-16</span>which two, that they may come to operation, and
                        <br/>move themselves mutually by solution, coagulation, alteration, tinction,
                        <br/>and perfection, <span class="underline">have need of <span class="choice">
               <span class="orig">externall</span>
               <span class="reg">external</span>
            </span> helps, as instruments, without<span class="pc">-</span>
            <br/>which <span class="choice">
               <span class="orig">noe</span>
               <span class="reg">no</span>
            </span> effect could follow: For as a</span> Smith effects nothing without<span class="pc">-</span>
         <br/>hammer and fire, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> neither the Philosopher without his instruments,<span class="pc">-</span>
         <br/>which are water and fire: <span class="milestone">e10-17</span>And this water is called by some the water of<span class="pc">-</span>
         <br/>clouds, as this fire occasioned fire: It is without doubt <span class="choice">
            <span class="orig">calld</span>
            <span class="reg">called</span>
         </span> the water of
                        <br/>clouds, because it is <span class="choice">
            <span class="orig">distilld</span>
            <span class="reg">distilled</span>
         </span>, as the dew of May, of most <span class="choice">
            <span class="orig">thinne</span>
            <span class="reg">thin</span>
         </span> parts: for<span class="pc">-</span>
         <br/>as the dew of the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>
         <span class="choice">
            <span class="orig">moneth</span>
            <span class="reg">month</span>
         </span> being included in an eggshell is affirmed to
                        <br/>
         <span class="choice">
            <span class="orig">rayse</span>
            <span class="reg">raise</span>
         </span> the <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>, or its continent, high by the heat of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <br/>this water of the clouds, or dew makes the Philosophers <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span> ascend, that
                        <br/>is, sublimes, exalts, and perfects it: <span class="milestone">e10-18</span>The same water is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> most Sharp<span class="pc">-</span>
         <br/>vinegar, which <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> made a body a mere Spirit: for as vinegar is of dif
                        -<br/>ferent <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span>, namely to penetrate to the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>, and astringe, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>this water dissolves and coagulates, but is not coagulated, because it is<span class="pc">-</span>
         <br/>not of a proper subject: <span class="milestone">e10-19</span>Now this water is had from the <span class="choice">
            <span class="orig">fountaine</span>
            <span class="reg">fountain</span>
         </span> of<span class="pc">-</span>
         <br/>Parnassus, which contrary to the nature of other fountains is at the top<span class="pc">-</span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>the. .</div>
         <br/>of a <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>, made by the <span class="choice">
            <span class="orig">hoofe</span>
            <span class="reg">hoof</span>
         </span> of the flying horse Pegasus.<span class="pc">-</span>
         <br/>
         <span class="milestone">e10-20</span>There must <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> be <span class="choice">
            <span class="orig">actuall</span>
            <span class="reg">actual</span>
         </span> fire, which notwithstanding must be go
                        -<br/>verned and <span class="choice">
            <span class="orig">qualifyed</span>
            <span class="reg">qualified</span>
         </span> by its degrees, as by bridles. <span class="milestone">e10-21</span>For as the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">proceding</span>
            <span class="reg">proceeding</span>
         </span> from Aries into Leo gradually <span class="choice">
            <span class="orig">increaseth</span>
            <span class="reg">increases</span>
         </span> heat to things<span class="pc">-</span>
         <br/>growing, by approaching <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> nearer, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> is it here necessary to be
                        <br/>done: for the Philosophers infant must be nourished by fire, as <span class="choice">
            <span class="orig">milke</span>
            <span class="reg">milk</span>
         </span>,
                        <br/>the more <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span>, the more <span class="choice">
            <span class="orig">fruitfull</span>
            <span class="reg">fruitful</span>
         </span>
         <span class="pc">. . . . . . . .</span>
      </div>      </div>      </div>
   </body>
</html>
