<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e38</h2>
      <span class="pb">119</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 38. Of the Secrets of Nature.
                        <br/>Rebis is, as Hermaphroditus, produced from the two moun
                        -<br/>tains of Mercury and Venus.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 38.</h3>
      <div class="verse">
         <br/>Rebis is by the Ancients calld a <span class="choice">
            <span class="orig">Twinne</span>
            <span class="reg">Twin</span>
         </span>,<br/>Containing male and female sex therein:<br/>For Hermes and Venus their Hermaphrodite<br/>Is in two mountains <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to have birthright.<br/>A double sex despite not, for a King<br/>Will from the <span class="choice">
            <span class="orig">selfe</span>
            <span class="reg">self</span>
         </span> same man and woman spring.</div>
      <span class="pb">120</span>
      <h3 class="discourse">Discourse 38.</h3>
      <div class="ab">
         <br/>Socrates being demanded what Country man <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was, answered a <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>Citizen of the world: by which his intention was to signify, that though
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> at Athens as to person, yet in mind <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> freely beheld <span class="pc">-</span>
         <br/>the whole world, as his Country, and the things therein contained, <span class="pc">-</span>
         <br/>the whole earth being a wise mans Country, where <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> lives well: <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> if any one <span class="choice">
            <span class="orig">aske</span>
            <span class="reg">ask</span>
         </span> the Philosophers what Countryman their <span class="pc">-</span>
         <br/>Hermaphrodite is, they answer, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> belongs to the world, or is in all <span class="pc">-</span>
         <br/>corners of the world, where the Elements can be found, as the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>
         <br/>of the wise, who <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> a country <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> with them: But <span class="choice">
            <span class="orig">seing</span>
            <span class="reg">seeing</span>
         </span> that
                        <br/>it happens not that any man is <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> twice or oftener, nor first enters
                        <br/>this light in <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> but in one place, as Socrates is owned to be an <span class="pc">-</span>
         <br/>Athenian, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> is Rebis reputed an inhabiter of two mountains, that is,
                        <br/>Mercury and Venus, from whence <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the name of Hermaphrodite <span class="pc">-</span>
         <br/>given him by both parents; a noble and large country is indeed <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="pc">-</span>
         <br/>small <span class="choice">
            <span class="orig">helpe</span>
            <span class="reg">help</span>
         </span> to <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> things excellently well, in which Citizens are <span class="choice">
            <span class="orig">præ
                        -<br/>ferrd</span>
            <span class="reg">preferred</span>
         </span> before <span class="choice">
            <span class="orig">forreigners</span>
            <span class="reg">foreigners</span>
         </span>, and promoted to <span class="choice">
            <span class="orig">publicke</span>
            <span class="reg">public</span>
         </span> offices, that they
                        <br/>may not <span class="choice">
            <span class="orig">lye</span>
            <span class="reg">lie</span>
         </span> in obscurity (as it happens in a <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> place, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>something of light come to them from the country) but <span class="choice">
            <span class="orig">Shew</span>
            <span class="reg">Show</span>
         </span> them
                        -<br/>selves rather with their <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> virtues, even in the small <span class="choice">
            <span class="orig">affaires</span>
            <span class="reg">affairs</span>
         </span> of
                        <br/>a house, and give light themselves to their <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> country: After this
                        <br/>manner these mountains <span class="choice">
            <span class="orig">unknowne</span>
            <span class="reg">unknown</span>
         </span> to many men <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> acquire fame
                        <br/>from the Hermaphrodite by reason of his illustrious actions, and name
                        <br/>famous throughout the whole world. For who though never <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>little versed in the Philosophers <span class="choice">
            <span class="orig">bookes</span>
            <span class="reg">books</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> not <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> Rebis? <span class="pc">-</span>
         <br/>Who <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> not seen or beheld <span class="choice">
            <span class="orig">Androgynus</span>
            <span class="reg">Androgynous</span>
         </span> with two heads? <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> verily
                        <br/>has been <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> to the <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span> themselves, and his fame <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> been <span class="pc">-</span>
         <br/>dispersed farther, than the fame even of King Alexander: Many <span class="pc">-</span>
         <br/>men <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">travell</span>
            <span class="reg">travel</span>
         </span> out of <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span>
         <span class="choice">
            <span class="orig">countryes</span>
            <span class="reg">countries</span>
         </span> to see and discourse some
                        <br/>learned man, or otherwise <span class="choice">
            <span class="orig">remarkeable</span>
            <span class="reg">remarkable</span>
         </span> for singular military in
                        -<br/>dustry, art or science, but many more will betake themselves to <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> Mountains of Rebis, provided they can <span class="choice">
            <span class="orig">learne</span>
            <span class="reg">learn</span>
         </span> where <span class="pc">-</span>
         <br/>they may be found: With how great study and care did Morienus <span class="pc">-</span>
         <br/>being departed from Rome <span class="choice">
            <span class="orig">seeke</span>
            <span class="reg">seek</span>
         </span> and at length find Adferus Alexan
                        -<br/>drinus, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> declares in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span>, and therefore was to be <span class="pc">-</span>
         <br/>esteemed more happy, and acceptable to God, in that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> had from a <span class="pc">-</span>
         <br/>living teacher, and not from <span class="choice">
            <span class="orig">dumbe</span>
            <span class="reg">dumb</span>
         </span> masters learnt, and beheld this
                        <br/>thing, that is, the native place of Rebis; <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> assiduity and <span class="pc">-</span>
         <br/>diligence ought they to use, who <span class="choice">
            <span class="orig">seeke</span>
            <span class="reg">seek</span>
         </span> the country of Rebis by <span class="pc">-</span>
         <br/>themselves, being informed by reason, and the documents of books:
                        <br/>But though some books may sometimes seem to be clear and conspi
                        
                        
                        
                        <span class="pb">121</span>
         <span class="fw">Discourse 38.</span>-<br/>cuous, yet they are <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">veild</span>
            <span class="reg">veiled</span>
         </span> and clouded with intricacy and ob
                        -<br/>scurity, that by reason thereof it is very difficult to make distinction:
                        <br/>Wherefore <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> must cautiously proceed with them, that they, which are
                        <br/>
         <span class="choice">
            <span class="orig">præpard</span>
            <span class="reg">prepared</span>
         </span> for remedy, may not be usd for <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span>: They are certainly <span class="pc">-</span>
         <br/>a vast ocean, in which expert mariners <span class="choice">
            <span class="orig">sayling</span>
            <span class="reg">sailing</span>
         </span> may by <span class="choice">
            <span class="orig">Astronomi
                        -<br/>call</span>
            <span class="reg">Astronomical</span>
         </span> instruments know the latitude, or elevation of the <span class="choice">
            <span class="orig">Æquator</span>
            <span class="reg">Equator</span>
         </span> above
                        <br/>the Horizon, the Magnet <span class="choice">
            <span class="orig">Shewing</span>
            <span class="reg">Showing</span>
         </span> the North pole, but by <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> means
                        <br/>the longitude, or how great an <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> of degrees they are distant <span class="pc">-</span>
         <br/>from the first Meridian, which is next to the fortunate Islands; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>that they are <span class="choice">
            <span class="orig">uncertaine</span>
            <span class="reg">uncertain</span>
         </span> in what place they may be between west <span class="pc">-</span>
         <br/>and east: What therefore is here to be done? That which the same <span class="pc">-</span>
         <br/>Mariners use to <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>, consult experience with reason, and thereby <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">learne</span>
            <span class="reg">learn</span>
         </span> how to determine a long voyage by particular signs, <span class="choice">
            <span class="orig">promon
                        -<br/>toryes</span>
            <span class="reg">promontories</span>
         </span>, Islands, and other things, that they may not for want of consi
                        -<br/>deration fall upon Sands and rocks: But here is <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> danger, if the
                        <br/>thing prosper not, but if <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>, greater <span class="choice">
            <span class="orig">gaine</span>
            <span class="reg">gain</span>
         </span>, than there, where goods <span class="pc">-</span>
         <br/>and life are lost in an <span class="choice">
            <span class="orig">houre</span>
            <span class="reg">hour</span>
         </span>: But the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> of the <span class="choice">
            <span class="orig">Philoso
                        -<br/>phicall</span>
            <span class="reg">Philosophical</span>
         </span> Mercury is not Nonacris, nor Atlas, where sometimes it is reported
                        <br/>to be brought forth, but Parnassus with two tops, in one of which <span class="pc">-</span>
         <br/>Hermes, in the other Venus resides: Here <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> is Apollo with the Mu
                        -<br/>ses, and Hippocrene, the <span class="choice">
            <span class="orig">fountaine</span>
            <span class="reg">fountain</span>
         </span> of Pegasus, with <span class="choice">
            <span class="orig">laurell</span>
            <span class="reg">laurel</span>
         </span>
         <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span>
         <br/>green: it is one <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> by name, but really two, as Hermaphro
                        -<br/>ditus is beheld with two heads, and two members in one body: But <span class="pc">-</span>
         <br/>what man of a thousand persists in ascending to the top of this <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>? Who dos not begin to <span class="choice">
            <span class="orig">hæsitate</span>
            <span class="reg">hesitate</span>
         </span> at the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> being <span class="pc">-</span>
         <br/>impeded by I know not what obstacles? Whoever attaines to the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> of it? for <div class="verse">
            <br/>Non levis ascensus, si quis petat ardua, sudor<br/>Plurimus hunc tollit, nocturnæ insomnis olivæ<br/>Immoritur, delet, quod mox laudaverat in se,<br/>Qui cupit æternæ donari frondis honore.</div>
         <br/>Wherefore it is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> strange thing, if <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> one of <span class="choice">
            <span class="orig">tenne</span>
            <span class="reg">ten</span>
         </span> thousand un
                        -<br/>dertake these Herculean <span class="choice">
            <span class="orig">labours</span>
            <span class="reg">labors</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to <span class="choice">
            <span class="orig">sett</span>
            <span class="reg">set</span>
         </span> foot on the top of the
                        <br/>
         <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>, and enjoy the <span class="choice">
            <span class="orig">immortall</span>
            <span class="reg">immortal</span>
         </span> reward of a <span class="choice">
            <span class="orig">laurell</span>
            <span class="reg">laurel</span>
         </span> garland,
                        <br/>which that all those that are upright, docible, and addicted to vir
                        -<br/>tue and learning may receive with joy, but the <span class="choice">
            <span class="orig">vaine</span>
            <span class="reg">vain</span>
         </span> and envi
                        -<br/>ous <span class="choice">
            <span class="orig">depriv'd</span>
            <span class="reg">deprived</span>
         </span> thereof, is much to be desired<span class="pc">. . . . . . .</span>
      </div>
   </body>
</html>
