<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e40</h2>
                <span class="pb">125</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 40. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        Of two waters make one, and that will be the water of Sanctity.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 40.</h3>
                    <div class="verse-epigram">
                        <br/>Two streaming fountains here you may behold,
                        <br/>One with <span class="choice"><span class="orig">hott </span><span class="reg">hot</span></span> water, but the other cold:
                        <br/>That's <span class="choice"><span class="orig">calld </span><span class="reg">called</span></span> the Boy's, but this the <span class="choice"><span class="orig">Virgins </span><span class="reg">Virgin's</span></span> Spring,
                        <br/><span class="choice"><span class="orig">Joyne </span><span class="reg">Join</span></span> them, that they may be one <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> thing:
                        <br/>This river will participate of both,
                        <br/>As Jove (<span class="choice"><span class="orig">Sirnamed </span><span class="reg">Surnamed</span></span>) Hammon's <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span> <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span>.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">126</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 40.</h3>
                    <div class="ab"> 
                        The miracles of waters are <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many and <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> great, as scarce to be <span class="milestone">e03-01</span> 
                        comprehended in a large volume, concerning which <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span> authors 
                        have here and there treated: But above all the two <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> waters are celebrated with that name, because they <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> as it were not <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> <span class="choice"><span class="orig">æmulate </span><span class="reg">emulate</span></span>, but <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> exceed the virtues and <span class="choice"><span class="orig">propertyes </span><span class="reg">properties</span></span> of all the rest. 
                        The rivers Sybaris, Axus of Macedonia, and Melas of <span class="choice"><span class="orig">Bœotia </span><span class="reg">Boeotia</span></span> make 
                        Cattle <span class="choice"><span class="orig">blacke </span><span class="reg">black</span></span>, if they <span class="choice"><span class="orig">drinke </span><span class="reg">drink</span></span> thereof; but the rivers Crathis, Clitummus
                        of Mevania, and Cephisus make <span class="choice"><span class="orig">blacke </span><span class="reg">black</span></span> Cattle white. The waters of 
                        Sinuessa in the country of Campania takes away <span class="choice"><span class="orig">barrennesse </span><span class="reg">barrenness</span></span> from 
                        both sexes. The river Afrodisius makes women barren: Cabura a <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span> of Mesopotamia <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> water of a sweet smell; The water of Anyger in Peloponnesus stinks very much: The <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span> of Jupiter Hammon is cold in the day time, <span class="choice"><span class="orig">hott </span><span class="reg">hot</span></span> by night, and morning and evening 
                        <span class="choice"><span class="orig">luke=warme </span><span class="reg">luke=warm</span></span> by <span class="choice"><span class="orig">turnes </span><span class="reg">turns</span></span>. <span class="choice"><span class="orig">Wee </span><span class="reg">We</span></span> need not insist upon others, all things even
                        contrary one to the other are <span class="choice"><span class="orig">performd </span><span class="reg">performed</span></span> by the Philosophers waters. Of
                        which <span class="choice"><span class="orig">Sayth </span><span class="reg">Says</span></span> Lully in his <span class="choice"><span class="orig">booke </span><span class="reg">book</span></span> of the Quintessence, distin: 3. of inceration; And <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> there is a twofold consideration in the art, that is, of
                        the single nature of one <span class="choice"><span class="orig">metall </span><span class="reg">metal</span></span> to make two contrary liquors in the 
                        composition; one, which <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> a fixing, congealing, and <span class="choice"><span class="orig">hardning </span><span class="reg">hardening</span></span> virtue, and the other, which is volatile, unfixed, and soft. But that second liquor is hardened, fixed, and congealed by the first: from both 
                        which liquors results one stone congealed, fixed, and hardened, which
                        <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> the virtue of congealing not a thing congealed, to harden a thing
                        <span class="choice"><span class="orig">mollifyed </span><span class="reg">mollified</span></span>, and to mollify a hard thing: From which it is evident, 
                        what those two waters are, and why to be reduced into one water: 
                        For the Stone is called water, because fusible, and on the contrary,
                        water stone, because frangible: But these waters are <span class="choice"><span class="orig">drawne </span><span class="reg">drawn</span></span> out of 
                        different places, sometimes in a long tract, as may be seen at Rome 
           s             about Aqua Virginis, and other <span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span> fountains, and then they 
                        must be mixed by conflux, that one may be made of two. For if
                        one be of a <span class="choice"><span class="orig">hott </span><span class="reg">hot</span></span> and the other of a cold virtue, being mixed together
                        they will acquire <span class="choice"><span class="orig">mixd </span><span class="reg">mixed</span></span> virtues, and after a <span class="choice"><span class="orig">wonderfull </span><span class="reg">wonderful</span></span> manner regulate one the other: From hence are most excellent <span class="choice"><span class="orig">medicinall </span><span class="reg">medicinal</span></span> and
                        bath waters to be produced, which will profligate all sorts of diseases 
                        and <span class="choice"><span class="orig">maladyes </span><span class="reg">maladies</span></span>, and restore a man to <span class="choice"><span class="orig">firme </span><span class="reg">firm</span></span> health. Nature <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span> indeed by her occult artifice of composition confound and mix many 
                        waters in the <span class="choice"><span class="orig">bowells </span><span class="reg">bowels</span></span> of the earth with <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span> virtues of <span class="choice"><span class="orig">Mynes </span><span class="reg">Mines</span></span>, which
                        are wholesome and <span class="choice"><span class="orig">coḿodious </span><span class="reg">commodious</span></span> to many <span class="choice"><span class="orig">sicke </span><span class="reg">sick</span></span> and <span class="choice"><span class="orig">infirme </span><span class="reg">infirm</span></span> persons, but
                        if art be added with due regiment, all evacuations being <span class="choice"><span class="orig">præmised </span><span class="reg">premised</span></span> and
                        other things to be <span class="choice"><span class="orig">prætermitted </span><span class="reg">pretermitted</span></span>, and mix those things that are to be 
                        mixed together, that composition will be <span class="choice"><span class="orig">farre </span><span class="reg">far</span></span> more <span class="choice"><span class="orig">effectuall </span><span class="reg">effectual</span></span>: 
                        Which, though it seem <span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span>, is notwithstanding merely <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span>,
                        because of things different it is made one simple homogeneous matter,
                        
                        
                        
                        <span class="pb">127</span>
                        which can never be effected by art: A mixtion and confusion is indeed caused by art, without the <span class="choice"><span class="orig">helpe </span><span class="reg">help</span></span> of nature <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> true and <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> union, 
                        which is made by nature alone: There is an <span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span> mixtion of various 
                        simples in Triacle, which is <span class="choice"><span class="orig">performd </span><span class="reg">performed</span></span> by contrition and fermentation, 
                        but <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> man will (except inconsiderately) <span class="choice"><span class="orig">affirme </span><span class="reg">affirm</span></span> it to be a <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> 
                        composition, much <span class="choice"><span class="orig">lesse </span><span class="reg">less</span></span> a homogeneous medicament: As to the <span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span>
                        mixtion of substances it is manifest, that they <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> not enter one 
                        into the other in the least parts, though they cannot <span class="choice"><span class="orig">againe </span><span class="reg">again</span></span> be divided
                        and separated one from the other by the industry of man. But as to
                        the mixtion of all <span class="choice"><span class="orig">qualityes </span><span class="reg">qualities</span></span> <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> must enquire, whether the first Triacles of all Simples may be reduced not one Quintessence, <span class="del"><span class="unclear">three words</span></span>
                        or yet in their powders or substances be, as before, as accidents in a subject,
                        or <span class="choice"><span class="orig">colour </span><span class="reg">color</span></span> in a wall; and then what is to be <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> of the second, third, and
                        fourth <span class="choice"><span class="orig">qualityes </span><span class="reg">qualities</span></span>? Probable it is that all the <span class="choice"><span class="orig">qualityes </span><span class="reg">qualities</span></span> are yet <span class="choice"><span class="orig">inhærent </span><span class="reg">inherent</span></span>
                        in their <span class="choice"><span class="orig">owne </span><span class="reg">own</span></span> subjects, and not compounded together by a true <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> mixtion; otherwise, if the <span class="choice"><span class="orig">qualityes </span><span class="reg">qualities</span></span> should relinquish their <span class="choice"><span class="orig">bodyes </span><span class="reg">bodies</span></span>, there would be four Quintessences in every <span class="superscript">2</span>composition <span class="superscript">1</span><span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span>, according to the number of the order of the <span class="choice"><span class="orig">qualityes </span><span class="reg">qualities</span></span>, first, 
                        second etc. without their <span class="choice"><span class="orig">bodyes </span><span class="reg">bodies</span></span>, and separable; which they say
                        is not <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> with the coagulum of a hare, which being in flux 
                        by the tenuity of the blood stops and as it were coagulates it, 
                        but in the coagulation and concretion <span class="choice"><span class="orig">cutts </span><span class="reg">cuts</span></span> and resolves the same;
                        soe the operations of vinegar, lead, and many other things are contrary according to the different use of them, because nature <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> 
                        soe wonderfully mixed them: <span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span>
                        water different and contrary virtues, because nature <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> by the 
                        <span class="choice"><span class="orig">helpe </span><span class="reg">help</span></span> of art mixed it with things contrary into one indivisible 
                        substance, which is nothing <span class="choice"><span class="orig">els </span><span class="reg">else</span></span> but a Quintessence, in respect of 
                        other things to be mixed with it <span class="pc">. . . . . . . .</span>
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>