<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e45</h2>
      <span class="pb">140</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 45. Of the Secrets of Nature.
                        <br/>The <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> is perfected by Sol and his shade.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 45.</h3>
      <div class="verse">
         <br/>The <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> dense can penetrate,<br/>And <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the adverse parts a shade create:<br/>Which, though it be of all things least <span class="choice">
            <span class="orig">sett</span>
            <span class="reg">set</span>
         </span> by,<br/>Is much conducing to Astronomy;<br/>But more to <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> Sophi are the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> and shade,<br/>Because they perfect the auriferous trade.</div>
      <span class="pb">141</span>
      <h3 class="discourse">Discourse 45.</h3>
      <div class="ab">
         <br/>As in a round or <span class="choice">
            <span class="orig">Sphericall</span>
            <span class="reg">Spherical</span>
         </span> Palace, a fire kindled in one place illustrates<span class="milestone">e03-01</span>
         <br/>the parts above and below round about all the walls, except those, where
                        <br/>a table or the like standing in the <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> may by its objection and inter
                        -<br/>position impede, and <span class="choice">
            <span class="orig">admitt</span>
            <span class="reg">admit</span>
         </span> a <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> shadow; <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> being <span class="pc">-</span>
         <br/>placed in that great Palace or carved theater of the heaven <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> by its <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">rayes</span>
            <span class="reg">rays</span>
         </span> illuminate every concavity of heaven, the <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>
         <span class="choice">
            <span class="orig">containd</span>
            <span class="reg">contained</span>
         </span> therein
                        <br/>which are diaphanous and receptive of light, that is, all <span class="choice">
            <span class="orig">starrs</span>
            <span class="reg">stars</span>
         </span> whatsoever
                        <br/>both <span class="choice">
            <span class="orig">erraticke</span>
            <span class="reg">erratic</span>
         </span> and fixed, except where the density of the earth in the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> may prohibit: For there a <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> and <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> shadow, which is called
                        <br/>night, continues <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> long, till it be driven away by the <span class="choice">
            <span class="orig">præsence</span>
            <span class="reg">presence</span>
         </span> of <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, and light established and made conspicuous in stead thereof:
                        <br/>A shadow therefore and night is the privation or absence (as day on the <span class="pc">-</span>
         <br/>contrary is the irradiation and circumfusion) of the Solar light. A shadow
                        <br/>is that which cannot endure the aspect of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, and therefore <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">avoyds</span>
            <span class="reg">avoids</span>
         </span> and absconds <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> sometimes in this sometimes in that part of
                        <br/>the earth, as the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> is in opposition. The <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> and shadow never
                        <br/>saw themselves together, though, if nature would <span class="choice">
            <span class="orig">admitt</span>
            <span class="reg">admit</span>
         </span>, they might in
                        <br/>every moment, but the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> considering her as an enemy to <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span>,
                        <br/>
         <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> pursues her flying, and can never take her weary,<span class="underline"> as Buchanan <span class="note-mark">*</span>
            <div class="margin-note">
               <span class="note-mark">*</span>Buchanan?</div>
            <br/>in his <span class="choice">
               <span class="orig">booke</span>
               <span class="reg">book</span>
            </span> of Spheres in</span>geniously <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> declared: For imitation and <span class="pc">-</span>
         <br/>example of that great <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, and shadow thereof, the Philosophers have
                        <br/>observed that their <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>, cloudy, and flying Shadow:
                        <br/>Hereupon <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> Hermes, My <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>! take from the ray its shadow, that is,
                        <br/>see that you bring your <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> round about the primum mobile, of <span class="pc">-</span>
         <br/>which Vulcan is made overseer, that even that part of your Earth, which
                        <br/>is now covered with a shady night, may <span class="choice">
            <span class="orig">obtaine</span>
            <span class="reg">obtain</span>
         </span> the clear light of the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>: for if the whole Firmament of the heaven with all things con
                        -<br/>tained were not every <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> day, that is, in twenty four <span class="choice">
            <span class="orig">houres</span>
            <span class="reg">hours</span>
         </span>
         <span class="choice">
            <span class="orig">alltogether</span>
            <span class="reg">altogether</span>
         </span>
         <br/>circumvolved by the first motion, but the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> moved by its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span>
         <br/>(<span class="choice">
            <span class="orig">calld</span>
            <span class="reg">called</span>
         </span> the second and <span class="choice">
            <span class="orig">annuall</span>
            <span class="reg">annual</span>
         </span>) motion, it would happen that they, which
                        <br/>are Antipodes below us, would for the Space of <span class="choice">
            <span class="orig">allmost</span>
            <span class="reg">almost</span>
         </span> six <span class="choice">
            <span class="orig">moneths</span>
            <span class="reg">months</span>
         </span> have
                        <br/>a night, and <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> a day, and afterwards on the contrary they a day and <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> a night; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that the whole year would consist of one night and <span class="pc">-</span>
         <br/>day, as now these courses are by experience and reason confirmed to be <span class="pc">-</span>
         <br/>most true under both the Poles: But it <span class="choice">
            <span class="orig">seemd</span>
            <span class="reg">seemed</span>
         </span>
         <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> otherwise to divine provi
                        -<br/>dence, which therefore <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> ordained two motions of the Planets, the first
                        <br/>and second, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> distributed the year into many <span class="choice">
            <span class="orig">dayes</span>
            <span class="reg">days</span>
         </span>: Now that sha
                        -<br/>dow and <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> together make day and night, which the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> by
                        <br/>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> alone could not effect, whose property it is to illuminate all opposite
                        <br/>places and <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, but not make a shadow, except accidentally by his absence:
                        <br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> with its shadow make a day, that
                        <br/>is, light and night or <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span>, namely Latona or Magnesia, whose <span class="pc">-</span>
         <br/>Shadow Democritus <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span>, as appears in the third <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of his <span class="pc">-</span>
         <span class="pb">142</span>
         <span class="fw">Discourse 45.</span>
         <br/>Golden table at the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span>, must be extinguished and consumed by a fiery
                        <br/>medicine. The utility of shadows in <span class="choice">
            <span class="orig">Astronomicall</span>
            <span class="reg">Astronomical</span>
         </span> affairs is <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great, that <span class="pc">-</span>
         <br/>without them that Science can scarce be perfected; Chymists <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> ascribe
                        <br/>it to their shadows, that their art comes to perfection; for what is this <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="pc">-</span>
         <br/>without a shadow? As a clapper without a bell: That indeed makes the first
                        <br/>motion to a sound, but this gives the sound; that is the quill, this the instru
                        -<br/>ment; that the tongue, this the great mouth: A shadow is a most contemptible
                        <br/>thing, not next to a Being, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the Philosophers shadow is a thing <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> blacker than <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>, as they <span class="choice">
            <span class="orig">terme</span>
            <span class="reg">term</span>
         </span> it, or of <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> esteem than weeds, <span class="pc">-</span>
         <br/>not in respect of <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, but the opinion of men and plenty; What more <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">coḿodious</span>
            <span class="reg">commodious</span>
         </span> than fire, what more <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span> than water, what more amiable <span class="pc">-</span>
         <br/>than earth, which <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> flowers and all amiable things, what more plea
                        -<br/>sant than <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, which being <span class="choice">
            <span class="orig">restraind</span>
            <span class="reg">restrained</span>
         </span> and obstructed, all things cease to be
                        <br/>pleasant? Yet <span class="choice">
            <span class="orig">neverthelesse</span>
            <span class="reg">nevertheless</span>
         </span>, because they are <span class="choice">
            <span class="orig">exposd</span>
            <span class="reg">exposed</span>
         </span> to mens uses in their
                        <br/>large Spheres, they are esteemed most vile, by a <span class="choice">
            <span class="orig">præposterous</span>
            <span class="reg">preposterous</span>
         </span> imagination: <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> is both the common and <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> shadow undervalued; They <span class="pc">-</span>
         <br/>that live long in subterranean shadows, if brought suddenly to the clear <span class="pc">-</span>
         <br/>light of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">loose</span>
            <span class="reg">lose</span>
         </span> their eye<span class="pc">-</span>sight; <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> they that reside and
                        <br/>operate in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> shadow alone, and <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not <span class="choice">
            <span class="orig">joyne</span>
            <span class="reg">join</span>
         </span> the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> with it, are deprived of <span class="choice">
            <span class="orig">judgement</span>
            <span class="reg">judgment</span>
         </span> and the sight of the mind, and
                        <br/>frustrated of the effect: The <span class="choice">
            <span class="orig">cælestiall</span>
            <span class="reg">celestial</span>
         </span>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> being elevated upon the <span class="pc">-</span>
         <br/>South there is greater heat and <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> shadow; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> here heat being in
                        -<br/>creased the shadow is diminished, and on the contrary; <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span> must there
                        -<br/>fore begin the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> being from the <span class="choice">
            <span class="orig">meridionall</span>
            <span class="reg">meridional</span>
         </span> side bending <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> to the top of our head, in <span class="choice">
            <span class="orig">Capricorne</span>
            <span class="reg">Capricorn</span>
         </span>; and the first operation will <span class="pc">-</span>
         <br/>be even finished at Aries, then begins the womens <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, even to Leo; <span class="pc">-</span>
         <br/>and afterwards <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span> proceeds from <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span>, till the year take the <span class="choice">
            <span class="orig">tayle</span>
            <span class="reg">tail</span>
         </span>
         <br/>with the head, as a Snake, that is to say, is completed<span class="pc">. . . . . . .</span>
      </div>
   </body>
</html>
