<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e20</h2>
      <span class="pb">65</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 20. Of the Secrets of Nature.
                        <br/>Nature <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span> nature how to subdue fire.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 20.</h3>
      <div class="verse">
         <br/>Fire that insulting dragon is <span class="choice">
            <span class="orig">præpard</span>
            <span class="reg">prepared</span>
         </span>
         <br/>To scorch the virgins beauty Sans regard:<br/>
         <span class="subst">
            <span class="del">
               <span class="unclear">degree black</span>
            </span>
            <span class="add">
               <span class="choice">
                  <span class="orig">Distresed</span>
                  <span class="reg">Distressed</span>
               </span> for help <span class="choice">
                  <span class="orig">shee</span>
                  <span class="reg">she</span>
               </span>
            </span>
         </span>
         <span class="choice">
            <span class="orig">spyes</span>
            <span class="reg">spies</span>
         </span> a man of <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">Equippd</span>
            <span class="reg">Equipped</span>
         </span> all cap a pe, as such men are,<br/>who, <span class="choice">
            <span class="orig">Sheilding</span>
            <span class="reg">Shielding</span>
         </span> her from <span class="choice">
            <span class="orig">harme</span>
            <span class="reg">harm</span>
         </span>, assaults the flames,<br/>And by this <span class="choice">
            <span class="orig">præsident</span>
            <span class="reg">president</span>
         </span> her fear <span class="choice">
            <span class="orig">reclaimes</span>
            <span class="reg">reclaims</span>
         </span>.</div>
      <span class="pb">66</span>
      <h3 class="discourse">Discourse 20.</h3>
      <div class="ab">
         <br/>The common token and <span class="choice">
            <span class="orig">symboll</span>
            <span class="reg">symbol</span>
         </span>, by which the Philosophers know one another,<span class="milestone">e03-01</span>
         <br/>is, that nature is guided, taught, governed, subdued and overcome by nature, as
                        <br/>a young <span class="choice">
            <span class="orig">Schollar</span>
            <span class="reg">Scholar</span>
         </span> by a <span class="choice">
            <span class="orig">Mistresse</span>
            <span class="reg">Mistress</span>
         </span>, a waiting <span class="choice">
            <span class="orig">mayd</span>
            <span class="reg">maid</span>
         </span> by her Lady, a subject by a
                        <br/>Queen, yea a daughter by the mother, and kinswoman by kinswoman: how <span class="pc">-</span>
         <br/>true it is, appears by <span class="choice">
            <span class="orig">dayly</span>
            <span class="reg">daily</span>
         </span> experience, in the education of youth amongst <span class="pc">-</span>
         <br/>men, and other actions, as literary discipline or institution, government, and
                        <br/>the like. Pliny writes of the <span class="choice">
            <span class="orig">Nightingalls</span>
            <span class="reg">Nightingale</span>
         </span>, that one <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span>, attends, observes, <span class="pc">-</span>
         <br/>imitates, overcomes another in singing, or being overcome <span class="choice">
            <span class="orig">greives</span>
            <span class="reg">grieves</span>
         </span>, and that <span class="pc">-</span>
         <br/>sometimes being outdone and vanquished in the conflict, the throat being broken,
                        <br/>it <span class="choice">
            <span class="orig">perisheth</span>
            <span class="reg">perishes</span>
         </span>, and in the <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> of singing falls <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> dead: <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span> see <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> how
                        <br/>all sorts of birds <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> begin to <span class="choice">
            <span class="orig">accustome</span>
            <span class="reg">accustom</span>
         </span> and instruct their young being yet
                        <br/>unfeathered and tender for flying, that not <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> nature, but <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> art or <span class="pc">-</span>
         <br/>use <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> begotten in them the habit of flying, though nature alone gave <span class="pc">-</span>
         <br/>power and organs to exercise that action, without which neither institution
                        <br/>or art can find foundation or place: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> colts are taught to <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> by the <span class="pc">-</span>
         <br/>mare, whelps to <span class="choice">
            <span class="orig">barke</span>
            <span class="reg">bark</span>
         </span> by the bitch, and young foxes to craft by the
                        <br/>dam, nor is there any animated and sensitive nature or species of na
                        -<br/>ture found, which guides, instructs, and governs not another nature, as its
                        <br/>minor, or suffers <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> to be overcome by another, as a Parent: <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="pc">-</span>
         <br/>not perceive such discipline in vegetables, yet notwithstanding the use is
                        <br/>observed in them, and that mens hands are of much efficacy: for whilst <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">corne</span>
            <span class="reg">corn</span>
         </span> is in the blade, it may be cleansed from incommodious thistles and
                        <br/>tares, whilst a tree is yet a twig it may be bent, and made to grow as <span class="pc">-</span>
         <br/>you please: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> in <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span> and <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> subjects one nature keeps,
                        <br/>
         <span class="choice">
            <span class="orig">præserves</span>
            <span class="reg">preserves</span>
         </span>, and defends another nature in fire, as is <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> to founders and
                        <br/>testers, but especially to the masters of <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> things: Iron is very <span class="choice">
            <span class="orig">helpfull</span>
            <span class="reg">helpful</span>
         </span>
         <br/>and as a midwife to Silver and gold being yet very tender and <span class="choice">
            <span class="orig">Spirituall</span>
            <span class="reg">Spiritual</span>
         </span>,
                        <br/>as they call it, <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> in its <span class="choice">
            <span class="orig">mynes</span>
            <span class="reg">mines</span>
         </span> with Cadmia, <span class="choice">
            <span class="orig">Arsenicke</span>
            <span class="reg">Arsenic</span>
         </span>, or Antimony
                        <br/>the <span class="choice">
            <span class="orig">cheife</span>
            <span class="reg">chief</span>
         </span>, if it be cast into <span class="choice">
            <span class="orig">mynes</span>
            <span class="reg">mines</span>
         </span> to be <span class="choice">
            <span class="orig">burnd</span>
            <span class="reg">burned</span>
         </span> in a fire of furnaces: <span class="pc">-</span>
         <br/>after the same manner iron <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, if it be intended to be changed into
                        <br/>
         <span class="choice">
            <span class="orig">Steele</span>
            <span class="reg">Steel</span>
         </span>, is saved from burning by white stones found at the Sea <span class="choice">
            <span class="orig">Shoares</span>
            <span class="reg">Shores</span>
         </span>;
                        <br/>Some <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> cast the powders of <span class="choice">
            <span class="orig">crystall</span>
            <span class="reg">crystal</span>
         </span>
         <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>, or the gall of <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span> upon
                        <br/>
         <span class="choice">
            <span class="orig">metallicke</span>
            <span class="reg">metallic</span>
         </span> powders which are to be dissolved, that they may not pe
                        -<br/>rish by over much fire: Instead of this gall of <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span> the Philosophers
                        <br/>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> use their Eudica, which Morienus <span class="choice">
            <span class="orig">sas</span>
            <span class="reg">says</span>
         </span> is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the gall of <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>, <span class="pc">-</span>
         <br/>and to be had in <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>
         <span class="choice">
            <span class="orig">vessells</span>
            <span class="reg">vessels</span>
         </span>: for the heat of fire consumes the body
                        <br/>with hasty burning: but Eudica <span class="choice">
            <span class="orig">applyed</span>
            <span class="reg">applied</span>
         </span> will free <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> changed into
                        <br/>earth from any burning: For <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, when now they <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not <span class="choice">
            <span class="orig">retaine</span>
            <span class="reg">retain</span>
         </span>
         <span class="pc">-</span>
         <br/>their <span class="choice">
            <span class="orig">soules</span>
            <span class="reg">souls</span>
         </span>, are soon burned: Eudica (the <span class="choice">
            <span class="orig">fæx</span>
            <span class="reg">feces</span>
         </span> of <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>) is indeed very
                        <br/>
         <span class="choice">
            <span class="orig">agreable</span>
            <span class="reg">agreeable</span>
         </span> to all <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, for it <span class="choice">
            <span class="orig">vivifyes</span>
            <span class="reg">vivifies</span>
         </span> and <span class="choice">
            <span class="orig">præpares</span>
            <span class="reg">prepares</span>
         </span> them, and defends
                        <br/>them from all burning: These are the sayings of Morienus the Roman:
                        <br/>This therefore is the nature, which <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span> another nature to resist <span class="pc">-</span>
         <br/>fire, and be <span class="choice">
            <span class="orig">enured</span>
            <span class="reg">inured</span>
         </span> to it, which is the <span class="choice">
            <span class="orig">Mistresse</span>
            <span class="reg">Mistress</span>
         </span> instructing the <span class="pc">-</span>
         <span class="pb">67</span>
         <span class="fw">Discourse 20.</span>
         <br/>young <span class="choice">
            <span class="orig">Schollar</span>
            <span class="reg">Scholar</span>
         </span>, and if you consider well, which is the Queen governing <span class="pc">-</span>
         <br/>the subject, and which is the daughter nobilitating and dignifying the mother;
                        <br/>This is that red servant, which is <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> in matrimony with his odoriferous
                        <br/>mother, and of her begets a progeny <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> more noble than the parents <span class="pc">-</span>
         <br/>thereof: This is Pyrrhus the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Achilles, and the young man with
                        <br/>red <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span>, golden vestment, <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> eyes, white feet: This is the knight <span class="pc">-</span>
         <br/>with a collar or <span class="choice">
            <span class="orig">chaine</span>
            <span class="reg">chain</span>
         </span> armed with sword and buckler against the Dra
                        -<br/>gon, to rescue out of his <span class="choice">
            <span class="orig">jawes</span>
            <span class="reg">jaws</span>
         </span> the pure and unviolated virgin Albifica, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">sirnamed</span>
            <span class="reg">surnamed</span>
         </span> Beja, or Blanca: This is the monster<span class="pc">-</span>killing Hercules, who <span class="pc">-</span>
         <br/>delivered from the monster Hesione the daughter of Laomedon being <span class="pc">-</span>
         <br/>exposed to a <span class="choice">
            <span class="orig">terible</span>
            <span class="reg">terrible</span>
         </span> and <span class="choice">
            <span class="orig">cruell</span>
            <span class="reg">cruel</span>
         </span> Whale: This is that Perseus, who de
                        -<br/>fended (released, and <span class="choice">
            <span class="orig">marryed</span>
            <span class="reg">married</span>
         </span>) Andromeda, the daughter of Cassiope
                        <br/>and Cepheus King of <span class="choice">
            <span class="orig">Æthiopia</span>
            <span class="reg">Ethiopia</span>
         </span>, from the Sea monster, <span class="choice">
            <span class="orig">Shewing</span>
            <span class="reg">Showing</span>
         </span> the <span class="pc">-</span>
         <br/>head of Medusa: This is <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that may be compared with those ancient Ro
                        -<br/>mans the <span class="choice">
            <span class="orig">præservers</span>
            <span class="reg">preservers</span>
         </span> and refiners of the people, Marcus Curtius, Lucius Scæ
                        -<br/>vola, Horatius Cocles, Manlius Capitolinus, and the like, to rescue the
                        <br/>
         <span class="choice">
            <span class="orig">Citty</span>
            <span class="reg">City</span>
         </span>, as it were the mother, from dangers: For this is the way and <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>
         <br/>of nature tending to the perfection of any <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, to bring one thing out
                        <br/>of another, a thing more perfect out of a thing imperfect, and reduce
                        <br/>power into action, but not perfect all things in a moment, but one thing
                        <br/>after another: Nor this alone, but <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span> constitutes <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> her deputy in the
                        <br/>first place, to which <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> leaves the power of life and death, that is, of
                        <br/>forming other things, as for example, in the generation of man <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">useth</span>
            <span class="reg">uses</span>
         </span> a long <span class="choice">
            <span class="orig">processe</span>
            <span class="reg">processes</span>
         </span>, as of <span class="choice">
            <span class="orig">tenne</span>
            <span class="reg">ten</span>
         </span>
         <span class="choice">
            <span class="orig">moneths</span>
            <span class="reg">months</span>
         </span>, where first attending to the
                        <br/>opinion of Aristotle, <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> fabricates the heart, as the vicar, deputy, or
                        <br/>
         <span class="choice">
            <span class="orig">principall</span>
            <span class="reg">principal</span>
         </span>
         <span class="choice">
            <span class="orig">bowell</span>
            <span class="reg">bowel</span>
         </span>, and then the heart delineates, <span class="choice">
            <span class="orig">formes</span>
            <span class="reg">forms</span>
         </span>, and perfects
                        <br/>the other parts necessary to nutrition, the life, senses, and generative
                        <br/>power, and <span class="choice">
            <span class="orig">coḿunicates</span>
            <span class="reg">communicates</span>
         </span> to them life and <span class="choice">
            <span class="orig">vivificke</span>
            <span class="reg">vivific</span>
         </span> spirits by Systole <span class="pc">-</span>
         <br/>and diastole, or dilatation and compression of the <span class="choice">
            <span class="orig">arteryes</span>
            <span class="reg">arteries</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> long <span class="pc">-</span>
         <br/>as it is not impeded by diseases and violence: And thus one nature <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span> another, which you must observe and follow for an example
                        <br/>of the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, as a thing most clear and evident<span class="pc">. . .</span>
      </div>
   </body>
</html>
