<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e09</h2>
      <span class="pb">32</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 9. Of the Secrets of Nature.
                        <br/>Shut up the tree with the old man in the house of dew, and eating
                        <br/>of the fruit thereof <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will become young.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 9.</h3>
      <div class="verse">
         <br/>The Sophi have a tree with golden fruit,<br/>And an old Senior of <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> mean repute;<br/>For which you must provide a house of <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>
         <br/>Replete with dew, therein some time to <span class="choice">
            <span class="orig">passe</span>
            <span class="reg">pass</span>
         </span>:<br/>That <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>, solacing nature with that fare,<br/>May Shake <span class="choice">
            <span class="orig">of</span>
            <span class="reg">off</span>
         </span> age, and be as young men are.</div>
      <span class="pb">33</span>
      <h3 class="discourse">Discourse 9.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e09-01</span>All things whatsoever <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> grow in length, breadth, and depth, that is, are <br/>propagated, nourished, and augmented to maturity, the same things <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">all
                        -<br/>so</span>
            <span class="reg">also</span>
         </span> decrease, that is, are diminished in <span class="choice">
            <span class="orig">facultyes</span>
            <span class="reg">faculties</span>
         </span>, <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>, and are wholly demo
                        -<br/>lished, as is manifestly evident in all vegetables and <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>: <span class="milestone">e09-02</span>wherefore man
                        <br/>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> having arrived at full growth <span class="choice">
            <span class="orig">admitts</span>
            <span class="reg">admits</span>
         </span> of decrement, that is, old age, whereby
                        <br/>his strength is gradually diminished even till the approach of death: now the
                        <br/>cause of old age is the same as is of a <span class="choice">
            <span class="orig">lampe</span>
            <span class="reg">lamp</span>
         </span> decaying, and shining obscurely
                        <br/>the <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span> being <span class="choice">
            <span class="orig">allmost</span>
            <span class="reg">almost</span>
         </span> consumed: <span class="milestone">e09-03</span>For as there are three things in a <span class="choice">
            <span class="orig">lampe</span>
            <span class="reg">lamp</span>
         </span>, the <span class="pc">-</span>
         <br/>match, <span class="choice">
            <span class="orig">fattnesse</span>
            <span class="reg">fatness</span>
         </span>, and flame, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> in man the <span class="choice">
            <span class="orig">vitall</span>
            <span class="reg">vital</span>
         </span> parts, <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span>, and ligaments
                        <br/>are the match, <span class="choice">
            <span class="orig">fattnesse</span>
            <span class="reg">fatness</span>
         </span> the <span class="choice">
            <span class="orig">radicall</span>
            <span class="reg">radical</span>
         </span> moisture, flame the <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> heat; <span class="milestone">e09-04</span>all
                        <br/>the difference is that the flame of a <span class="choice">
            <span class="orig">lampe</span>
            <span class="reg">lamp</span>
         </span> shines, the <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> heat not at all,
                        <br/>it not being fire, but <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> heat, and that <span class="choice">
            <span class="orig">fattnesse</span>
            <span class="reg">fatness</span>
         </span> is <span class="choice">
            <span class="orig">oyley</span>
            <span class="reg">oily</span>
         </span>, the <span class="choice">
            <span class="orig">radicall</span>
            <span class="reg">radical</span>
         </span> mois
                        -<br/>ture viscous, as being of a <span class="choice">
            <span class="orig">seminall</span>
            <span class="reg">seminal</span>
         </span> principle: <span class="milestone">e09-05</span>As <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a <span class="choice">
            <span class="orig">lampe</span>
            <span class="reg">lamp</span>
         </span> is extinguished
                        <br/>through want of <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> man by old age, without any other disease, falls
                        <br/>into a marasme, and aged consumption, and lastly death: <span class="milestone">e09-06</span>They relate <span class="pc">-</span>
         <br/>of the Eagle, that in old age being <span class="choice">
            <span class="orig">hindred</span>
            <span class="reg">hindered</span>
         </span> by a crooked <span class="choice">
            <span class="orig">beake</span>
            <span class="reg">beak</span>
         </span> it would
                        <br/>be famished to death, if it were not restord by nature as it were to <span class="pc">-</span>
         <br/>youth by casting the <span class="choice">
            <span class="orig">beake</span>
            <span class="reg">beak</span>
         </span>: <span class="milestone">e09-07</span>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> Harts seem to grow young <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> by
                        <br/>throwing of their <span class="choice">
            <span class="orig">hornes</span>
            <span class="reg">horns</span>
         </span>, serpents their <span class="choice">
            <span class="orig">skinns</span>
            <span class="reg">skins</span>
         </span>, and crabs their shells; <span class="pc">-</span>
         <br/>not indeed really, because the consumed <span class="choice">
            <span class="orig">radicall</span>
            <span class="reg">radical</span>
         </span> moisture is not restored
                        <br/>to them, but as to appearance: <span class="milestone">e09-08</span>that which can make a man grow young
                        <br/>
         <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> is nothing, but death <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, and the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span> of <span class="choice">
            <span class="orig">æternall</span>
            <span class="reg">eternal</span>
         </span> life
                        <br/>ensuing: as to <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>
         <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>, and the <span class="choice">
            <span class="orig">restauration</span>
            <span class="reg">restoration</span>
         </span> of strength in <span class="pc">-</span>
         <br/>some measure, together with the taking away of wrinkles and gray <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">haires</span>
            <span class="reg">hairs</span>
         </span>, some there are that say a remedy may be found, which Lully
                        <br/>affirms of the Quintessence, Arnold of <span class="choice">
            <span class="orig">præpared</span>
            <span class="reg">prepared</span>
         </span> gold: <span class="milestone">e09-09</span>But here <span class="pc">-</span>
         <br/>the Philosophers say, that an old man, to become young, must be <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">shutt</span>
            <span class="reg">shut</span>
         </span> up with a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> tree in a house of dew, and then <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will
                        <br/>eat of the fruit of the tree, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> recover youth: It is scarce <span class="choice">
            <span class="orig">be
                        -<br/>leivd</span>
            <span class="reg">believed</span>
         </span> by the vulgar that such trees are now in the nature of things:
                        <br/>
         <span class="milestone">e09-10</span>Of Myrobalans, the fruit of a tree, <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span> write wonders, as if <span class="pc">-</span>
         <br/>they could <span class="choice">
            <span class="orig">performe</span>
            <span class="reg">perform</span>
         </span> such a thing, take away gray <span class="choice">
            <span class="orig">haires</span>
            <span class="reg">hairs</span>
         </span>, purify the
                        <br/>blood, and prolong life: <span class="milestone">e09-11</span>but these things are doubted by many men,
                        <br/>
         <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> they are <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to effect it by accident, as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> other things, which
                        <br/>purge the <span class="choice">
            <span class="orig">masse</span>
            <span class="reg">mass</span>
         </span> of blood from <span class="choice">
            <span class="orig">fæces</span>
            <span class="reg">feces</span>
         </span>
         <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> with it, and dye gray <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span>
         <br/>with <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, with which Myrobalans are reported to <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> the
                        <br/>
         <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span> a<span class="underline">nd ball of</span> the eyes. <span class="milestone">e09-12</span>Marsilius Ficinus in his booke of <span class="choice">
            <span class="orig">præser
                        -<br/>ving</span>
            <span class="reg">preserving</span>
         </span> the life of students, writes, that in order to <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span> to long life
                        <br/>it is <span class="choice">
            <span class="orig">coḿodious</span>
            <span class="reg">commodious</span>
         </span> for a man <span class="choice">
            <span class="orig">dayly</span>
            <span class="reg">daily</span>
         </span> to <span class="choice">
            <span class="orig">sucke</span>
            <span class="reg">suck</span>
         </span> the <span class="choice">
            <span class="orig">milke</span>
            <span class="reg">milk</span>
         </span> of some <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span> and young woman, instead of which others <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">coḿend</span>
            <span class="reg">commend</span>
         </span>
         <br/>the eating of vipers flesh: <span class="milestone">e09-13</span>but indeed these means are themselves
                        
                        
                        
                        <span class="pb">34</span>
         <span class="fw">Discourse 9.</span>
         <br/>more rigid than old age, and scarce to be used by one of a thousand, <span class="pc">-</span>
         <br/>though they Should not be without <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> effect: It is written by Para
                        -<br/>celsus in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of long life, that a <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span> man may attract to <span class="choice">
            <span class="orig">him
                        -<br/>selfe</span>
            <span class="reg">himself</span>
         </span> the health of another by imagination alone, as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> an old man
                        <br/>youth, but<span class="underline"> this Author seems in this</span> to <span class="underline">use his imagination <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span>, not
                        <br/>experience:</span>
         <span class="milestone">e09-14</span>It is thing <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> of the Psylli who have two balls of the
                        <br/>eye, and of witches, that they bewitch children and cattle by aspect alone,
                        <br/>from whence that of <span class="choice">
            <span class="orig">Virgill</span>
            <span class="reg">Virgil</span>
         </span>: Nescio quis teneros oculus mihi fascinet agnos:
                        <br/>
         <span class="milestone">e09-15</span>but these things are done without contact, whereby the tree restores the <span class="pc">-</span>
         <br/>old man to youth: for this tree <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> sweet fruit, ripe and red, which <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>easily <span class="choice">
            <span class="orig">turne</span>
            <span class="reg">turn</span>
         </span> into pure blood, being of easy digestion and excellent nutri
                        -<br/>ment, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to leave nothing superfluous or <span class="choice">
            <span class="orig">fæculent</span>
            <span class="reg">feculent</span>
         </span> in the body: <span class="milestone">e09-16</span>but <span class="pc">-</span>
         <br/>the old man abounds with white <span class="choice">
            <span class="orig">phlegme</span>
            <span class="reg">phlegm</span>
         </span>, and is of a white <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> and <span class="pc">-</span>
         <br/>hairy, which humor, <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, and <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span> are changed by eating these <span class="pc">-</span>
         <br/>fruits, and become red, as those are of young men. <span class="milestone">e09-17</span>For this reason say the
                        <br/>Philosophers, the Stone is first old, that is white, then young, that is, red, because
                        <br/>this is the <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> of youth, as that of old age: <span class="milestone">e09-18</span>It is added, that the old man <span class="pc">-</span>
         <br/>ought to be <span class="choice">
            <span class="orig">Shutt</span>
            <span class="reg">Shut</span>
         </span> up with the tree, not in the open <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, but in a house, not
                        <br/>dry, but moist with dew. <span class="milestone">e09-19</span>It is accounted a miracle for trees to Spring or vegetate
                        <br/>in a close place, but if it be moist, there is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> doubt of their long duration:
                        <br/>for the nutriment of a tree is moisture, and airy earth, that is, <span class="choice">
            <span class="orig">fatt</span>
            <span class="reg">fat</span>
         </span>, which
                        <br/>can ascend into the <span class="choice">
            <span class="orig">trunke</span>
            <span class="reg">trunk</span>
         </span> and <span class="choice">
            <span class="orig">boughes</span>
            <span class="reg">boughs</span>
         </span>, and there produce leaves, flowers,
                        <br/>and fruit, <span class="milestone">e09-20</span>in which <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> all the Elements <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">concurre</span>
            <span class="reg">concur</span>
         </span>, fire <span class="pc">-</span>
         <br/>giving the first motion, as the efficient, <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> tenuity and penetrability, water
                        <br/>lubricity, earth coagulation: for <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> returns into water, and water into <span class="pc">-</span>
         <br/>earth, if any of their superfluity ascend: <span class="milestone">e09-21</span>By fire I <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> the <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span>
         <br/>heat, which being propagated with the seed <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> by the power of the <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>
         <br/>as it were a Smith fabricate and <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> fruit like to those things from whence
                        <br/>the seed <span class="choice">
            <span class="orig">ariseth</span>
            <span class="reg">arises</span>
         </span>: <span class="milestone">e09-22</span>But a dewy evaporation is not <span class="add">
            <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span>
         </span> good and expedient to moisten
                        <br/>the tree, that it may more easily <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> fruit, but <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the old man, that by
                        <br/>those fruits <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> may become young <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>, that is to say, the dewy evapo
                        -<br/>ration mollifying, filling up, and restoring his wrinkled and dry <span class="choice">
            <span class="orig">Skinne</span>
            <span class="reg">Skin</span>
         </span>
         <br/>with temperate heat and moisture: <span class="milestone">e09-23</span>for <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> advisedly and with
                        <br/>great utility <span class="choice">
            <span class="orig">enjoyne</span>
            <span class="reg">enjoin</span>
         </span> and <span class="choice">
            <span class="orig">præscribe</span>
            <span class="reg">prescribe</span>
         </span>
         <span class="choice">
            <span class="orig">warme</span>
            <span class="reg">warm</span>
         </span> baths in the marasme and <span class="pc">-</span>
         <br/>aged consumption: <span class="milestone">e09-24</span>
         <span class="underline">but if</span> the thing be well considered that tree is the <span class="pc">-</span>
         <br/>daughter of the old man, which as Daphne is transmuted into a vegetable
                        <br/>of the like sort, and therefore the old man <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> not without reason expect
                        <br/>youth from it, which caused it to be effected<span class="pc">. . . . . . .</span>
      </div>
   </body>
</html>
