<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e47</h2>
      <span class="pb">146</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 47. Of the Secrets of Nature.
                        <br/>A <span class="choice">
            <span class="orig">Wolfe</span>
            <span class="reg">Wolf</span>
         </span> coming from the East, and a <span class="choice">
            <span class="orig">Dogge</span>
            <span class="reg">Dog</span>
         </span> from the West <span class="choice">
            <span class="orig">werry'd</span>
            <span class="reg">werried</span>
         </span>
         <br/>one another.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 47.</h3>
      <div class="verse">
         <br/>From <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> East a <span class="choice">
            <span class="orig">Wolfe</span>
            <span class="reg">Wolf</span>
         </span>, from <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> West a <span class="choice">
            <span class="orig">Dogge</span>
            <span class="reg">Dog</span>
         </span> appears,<br/>Which raging fall together by the ears,<br/>Choler inciting they each other tear,<br/>And gaping seem as if they rabid were:<br/>These are two stones, which you may <span class="choice">
            <span class="orig">soone</span>
            <span class="reg">soon</span>
         </span> acquire,<br/>For all men may <span class="choice">
            <span class="orig">obtaine</span>
            <span class="reg">obtain</span>
         </span> them at desire.</div>
      <span class="pb">147</span>
      <h3 class="discourse">Discourse 47.</h3>
      <div class="ab">
         <br/>The Philosophers have in many places made mention of two stones given to us<span class="milestone">e03-01</span>
         <br/>gratis, as <span class="choice">
            <span class="orig">Isaack</span>
            <span class="reg">Isaac</span>
         </span>, Arnold, and others, amongst <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> Avicenne <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> they <span class="choice">
            <span class="orig">lye</span>
            <span class="reg">lie</span>
         </span> in <span class="pc">-</span>
         <br/>dung neglected and rejected by the vulgar, which, if they be <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> together, are
                        <br/>able to complete the Magistery: Some men <span class="choice">
            <span class="orig">extoll</span>
            <span class="reg">extol</span>
         </span> the <span class="choice">
            <span class="orig">occidentall</span>
            <span class="reg">occidental</span>
         </span> Mercury, which
                        <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">præferrd</span>
            <span class="reg">preferred</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> before gold, and overcome it: But the Author of the ad
                        -<br/>vice of the <span class="choice">
            <span class="orig">wedlocke</span>
            <span class="reg">wedlock</span>
         </span> of Sol and Luna out of the epistle of Aristotle <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span>
         <span class="pc">-</span>
         <br/>best of all describe the two stones, where <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>: That there are two <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">principall</span>
            <span class="reg">principal</span>
         </span> stones of this art, the white and the red of <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> nature: at
                        <br/>the setting of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> the white begins to appear upon the surface of the
                        <br/>waters, hiding <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> till midnight, and afterwards declines to the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>: But
                        <br/>the red operates contrariwise, it beginning to ascend upon the waters at the
                        <br/>rising of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> till <span class="choice">
            <span class="orig">noone</span>
            <span class="reg">noon</span>
         </span>, and then descends to the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>. These <span class="pc">-</span>
         <br/>Stones therefore are the <span class="choice">
            <span class="orig">aforesayd</span>
            <span class="reg">aforesaid</span>
         </span> Eagles sent by Jupiter from Delphi; <span class="pc">-</span>
         <br/>These <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> are the <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span> and <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> coming from different or opposite parts <span class="pc">-</span>
         <br/>of the earth, which <span class="choice">
            <span class="orig">bitt</span>
            <span class="reg">bit</span>
         </span> and <span class="choice">
            <span class="orig">werry'd</span>
            <span class="reg">werried</span>
         </span> one the other, and both became mad, as <span class="pc">-</span>
         <br/>Rhasis in his epistle declares: These stones are the most true Bezoar, <span class="pc">-</span>
         <br/>whereof the east <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span> send the best, <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> from the <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span> of <span class="pc">-</span>
         <br/>wild beasts, the West <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span>
         <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> another but of <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> efficacy, had
                        <br/>at Peruana out of <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> made tame; <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> the East <span class="choice">
            <span class="orig">affoards</span>
            <span class="reg">affords</span>
         </span> a <span class="pc">-</span>
         <br/>most fierce <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span>, the west a <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> familiar to men, that is, Sulphur
                        <br/>comes from the East, Mercury from the Western tract, whereof this is
                        <br/>gentle and tractable, that <span class="choice">
            <span class="orig">cholericke</span>
            <span class="reg">choleric</span>
         </span> and angry; which two, when
                        <br/>first the find one another, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> fall together by the ears: and <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> being of notable <span class="choice">
            <span class="orig">bignesse</span>
            <span class="reg">bigness</span>
         </span> obtains the first victory, <span class="pc">-</span>
         <br/>prostrating the <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span>, and bringing him to deaths <span class="choice">
            <span class="orig">doore</span>
            <span class="reg">door</span>
         </span>: But the
                        <br/>
         <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span> recovering strength afterwards <span class="choice">
            <span class="orig">overthrowes</span>
            <span class="reg">overthrows</span>
         </span> the <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span>, and be
                        -<br/>ing cast <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> never leaves him till <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be utterly <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> and dead; <span class="pc">-</span>
         <br/>In the <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> time receiving from the <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> wounds nor <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">mortall</span>
            <span class="reg">mortal</span>
         </span>, than <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> gave him, till they werry one another to death: As <span class="pc">-</span>
         <br/>touching the <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span>
         <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> Rosinus to Euthicia: That <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is a <span class="choice">
            <span class="orig">fortifyd</span>
            <span class="reg">fortified</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">souldier</span>
            <span class="reg">soldier</span>
         </span> the <span class="choice">
            <span class="orig">conquerour</span>
            <span class="reg">conqueror</span>
         </span> of two, of much <span class="choice">
            <span class="orig">esteeme</span>
            <span class="reg">esteem</span>
         </span> and most intense
                        <br/>strength, perforating <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> when <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> meets with them, and is white
                        <br/>in apparition, red by experiment, and is the man which <span class="choice">
            <span class="orig">tooke</span>
            <span class="reg">took</span>
         </span> Luna
                        <br/>to wife, <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> some men suppose to be gold of a most <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span>
         <span class="choice">
            <span class="orig">con
                        -<br/>nexion</span>
            <span class="reg">connection</span>
         </span> and composition, whose congealed part is never dissolved, nor
                        <br/>footsteps or impressions defaced, which God <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> freely bestowed <span class="pc">-</span>
         <br/>upon the pious and elect Philosophers: You must know, that nature <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> gotten an <span class="choice">
            <span class="orig">æquall</span>
            <span class="reg">equal</span>
         </span> as an enemy. These are his words. And a little after
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>: That Sulphur is most strong, and fighting against fire <span class="pc">-</span>
         <br/>which it <span class="choice">
            <span class="orig">containes</span>
            <span class="reg">contains</span>
         </span> and is contained: for a most <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span>
         <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> proceeds
                        <br/>from them being <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> together, and that Sulphur, which is naturally
                        <br/>volatile, can never afterwards <span class="choice">
            <span class="orig">flye</span>
            <span class="reg">fly</span>
         </span> away, because the <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="pc">--</span>
         <span class="pb">148</span>
         <span class="fw">Discourse 47.</span>
         <br/>perforated it, in like manner the tincture of the <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> both perforated
                        <br/>and is mixed with the body, and the body <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> contained the <span class="choice">
            <span class="orig">soule</span>
            <span class="reg">soul</span>
         </span>, and
                        <br/>restrained the <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> part from flying. And then to one demanding which
                        <br/>of the stones was strongest, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers: That stone which is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> stone
                        <br/>is stronger than the other enemy: but the red is stronger than that <span class="pc">-</span>
         <br/>which strengthened its companions by its fortitude. The <span class="choice">
            <span class="orig">Orientall</span>
            <span class="reg">Oriental</span>
         </span>
         <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span> is
                        <br/>therefore stronger than the <span class="choice">
            <span class="orig">Occidentall</span>
            <span class="reg">Occidental</span>
         </span>
         <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span>, though <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">obtaine</span>
            <span class="reg">obtain</span>
         </span> not the
                        <br/>victory effectually, but <span class="choice">
            <span class="orig">perisheth</span>
            <span class="reg">perishes</span>
         </span> together with the enemy: but the tinging
                        <br/>
         <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span> is <span class="choice">
            <span class="orig">producd</span>
            <span class="reg">produced</span>
         </span> from both: The <span class="choice">
            <span class="orig">differente</span>
            <span class="reg">different</span>
         </span> between a <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span> and <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> is
                        <br/>small, a <span class="choice">
            <span class="orig">Mastive</span>
            <span class="reg">Mastiff</span>
         </span> or great <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> representing the <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> and shape of a
                        <br/>
         <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to <span class="choice">
            <span class="orig">seeme</span>
            <span class="reg">seem</span>
         </span> a <span class="choice">
            <span class="orig">wolfe</span>
            <span class="reg">wolf</span>
         </span> originally, but made tame by long progene
                        -<br/>ration: After the same manner Sulphur and Mercury <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> little differ one
                        <br/>from the other, because that proceeds from this, or this from that: Mercury
                        <br/>did indeed <span class="choice">
            <span class="orig">begett</span>
            <span class="reg">beget</span>
         </span> Sulphur, but Sulphur purged Mercury and made it <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>:
                        <br/>Concerning these the same Rosinus, the <span class="choice">
            <span class="orig">quæstion</span>
            <span class="reg">question</span>
         </span> being asked, from <span class="pc">--</span>
         <br/>whence comes its <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>? answers, from the most intense <span class="choice">
            <span class="orig">bitternesse</span>
            <span class="reg">bitterness</span>
         </span> of it:
                        <br/>and <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>. From whence comes its <span class="choice">
            <span class="orig">bitternesse</span>
            <span class="reg">bitterness</span>
         </span> and intension? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers
                        <br/>from the impurity of its <span class="choice">
            <span class="orig">metall</span>
            <span class="reg">metal</span>
         </span>: And <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>: Is its red <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> never su
                        -<br/>pereminent? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers, Yes: And <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>: Is it <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> never hotter than <span class="pc">-</span>
         <br/>fire? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers; Fire in respect of it is as water in respect of fire: And
                        <br/>
         <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>: Is it not stronger than fire? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers, not. And <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>: Why <span class="pc">-</span>
         <br/>therefore <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> you <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span> it to be stronger than fire? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers, because
                        <br/>fires meeting together <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> one destroy the other. It is therefore manifest <span class="pc">-</span>
         <br/>that one becomes the food and aliment of the other, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much as one
                        <br/>
         <span class="choice">
            <span class="orig">decreaseth</span>
            <span class="reg">decreases</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much the other <span class="choice">
            <span class="orig">increaseth</span>
            <span class="reg">increases</span>
         </span>, till that which <span class="choice">
            <span class="orig">increaseth</span>
            <span class="reg">increases</span>
         </span>
         <span class="choice">
            <span class="orig">præ
                        -<br/>vayles</span>
            <span class="reg">prevails</span>
         </span>, and the Dragon <span class="choice">
            <span class="orig">devoures</span>
            <span class="reg">devours</span>
         </span> the serpent: In great fights it often times
                        <br/>happens, that they that <span class="choice">
            <span class="orig">undergoe</span>
            <span class="reg">undergo</span>
         </span> the greater slaughter <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">winne</span>
            <span class="reg">win</span>
         </span> the
                        <br/>
         <span class="choice">
            <span class="orig">feild</span>
            <span class="reg">field</span>
         </span> and victory; <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> though the <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> lay prostrate, yet was not <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">alltogether</span>
            <span class="reg">altogether</span>
         </span> overcome, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> holding his enemy <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> fast, that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> could not
                        <br/>live without him, nor <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span> without the other<span class="pc">. . . . . . .</span>
      </div>
   </body>
</html>
