<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e26</h2>
      <span class="pb">83</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 26. Of the Secrets of Nature.
                        <br/>The tree of life is the fruit of <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span>
         <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 26.</h3>
      <div class="verse">
         <br/>To greater <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> man cannot <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span>,<br/>Than health with wealth to acquire, if not in <span class="choice">
            <span class="orig">vaine</span>
            <span class="reg">vain</span>
         </span>:<br/>
         <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> in her right hand length of <span class="choice">
            <span class="orig">dayes</span>
            <span class="reg">days</span>
         </span> extends,<br/>Her left vast heaps of treasure comprehends;<br/>To him that shall espouse her as a wife<br/>
         <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> (as the tree) will <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> the fruit of life.</div>
      <span class="pb">84</span>
      <h3 class="discourse">Discourse 26.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e26-01</span>Tully <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> excellently described the <span class="choice">
            <span class="orig">essentiall</span>
            <span class="reg">essential</span>
         </span> difference of man, whereby <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>differs from all other <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>, after this manner: As a bird is intended by nature
                        <br/>for flying, a horse for <span class="subst">
            <span class="del">reasoning</span>
            <span class="add">running</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> man for reasoning: <span class="milestone">e26-02</span>For as <span class="choice">
            <span class="orig">Lyons</span>
            <span class="reg">Lions</span>
         </span>, bears, <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">Tygers</span>
            <span class="reg">Tigers</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> exercise and delight themselves in <span class="choice">
            <span class="orig">fiercenesse</span>
            <span class="reg">fierceness</span>
         </span>, Elephants and
                        <br/>bulls in strength of body, Eagles, Falcons, and other <span class="choice">
            <span class="orig">hawkes</span>
            <span class="reg">hawks</span>
         </span> in the prey of birds,
                        <br/>and <span class="choice">
            <span class="orig">swiftnesse</span>
            <span class="reg">swiftness</span>
         </span> of wings; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> man <span class="choice">
            <span class="orig">excells</span>
            <span class="reg">excels</span>
         </span> those and all others in reason, <span class="pc">-</span>
         <br/>discourse of mind and understanding: <span class="milestone">e26-03</span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that there is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">fiercenesse</span>
            <span class="reg">fierceness</span>
         </span>, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">corporall</span>
            <span class="reg">corporal</span>
         </span> strength, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> celerity, or such like things in beasts <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great, as not
                        <br/>to be mitigated, subdued, and prevented by reason alone: For reason is not
                        <br/>a thing <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span>, or <span class="choice">
            <span class="orig">proceding</span>
            <span class="reg">proceeding</span>
         </span> from the earth, but as the Poet <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>, a par
                        -<br/>ticle of divine breath, sent from heaven into the body of man: <span class="milestone">e26-04</span>but it is some
                        -<br/>times called memory, sometimes the <span class="choice">
            <span class="orig">intellectuall</span>
            <span class="reg">intellectual</span>
         </span> virtue, to which if use or <span class="pc">-</span>
         <br/>experience be added, <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> Springs from thence, which is most <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span>
         <span class="pc">-</span>
         <br/>to man: For use is reported to be as the father, and reason or memory as the
                        <br/>mother of <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> generous an offspring: From whence that <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> saying: Use <span class="pc">-</span>
         <br/>begat <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span>, and my mother memory brought <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> forth: <span class="milestone">e26-05</span>but the <span class="choice">
            <span class="orig">quæstion</span>
            <span class="reg">question</span>
         </span> is,
                        <br/>what is true <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, and most worthy of mans inquisition, there being infi
                        -<br/>nite opinions concerning it, every man interpreting it according to his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> ima
                        -<br/>gination? <span class="milestone">e26-06</span>It may be answered, that <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> in <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span> things (<span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> to be
                        <br/>excepted in divine things relating to the <span class="choice">
            <span class="orig">wellfare</span>
            <span class="reg">welfare</span>
         </span> of the <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>) consists not
                        <br/>in <span class="choice">
            <span class="orig">sophisticall</span>
            <span class="reg">sophistical</span>
         </span> arguments, not in <span class="choice">
            <span class="orig">rhetoricall</span>
            <span class="reg">rhetorical</span>
         </span> and garnished discoures, not <span class="pc">-</span>
         <br/>in the <span class="choice">
            <span class="orig">poeticall</span>
            <span class="reg">poetical</span>
         </span> sounds of verses, not in the <span class="choice">
            <span class="orig">criticall</span>
            <span class="reg">critical</span>
         </span>
         <span class="choice">
            <span class="orig">subtiltyes</span>
            <span class="reg">subtleties</span>
         </span> of <span class="choice">
            <span class="orig">Graḿari
                        -<br/>ans</span>
            <span class="reg">Grammarians</span>
         </span>, not in <span class="choice">
            <span class="orig">willfullnesse</span>
            <span class="reg">willfullness</span>
         </span> and obstinacy, in <span class="choice">
            <span class="orig">deceipts</span>
            <span class="reg">deceits</span>
         </span> and <span class="choice">
            <span class="orig">perjuryes</span>
            <span class="reg">perjuries</span>
         </span>, in <span class="choice">
            <span class="orig">æquivo
                        -<br/>cations</span>
            <span class="reg">equivocations</span>
         </span> and <span class="choice">
            <span class="orig">lyes</span>
            <span class="reg">lies</span>
         </span>, in oppression and sweat of the poor, the craft of heaping up
                        <br/>wealth and riches, nor in any thing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but the true knowledge of Chymistry,
                        <br/>together with practice, most <span class="choice">
            <span class="orig">coḿodious</span>
            <span class="reg">commodious</span>
         </span> to mankind: <span class="milestone">e26-07</span>This is <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> surpassing
                        <br/>all things, which on the right hand goes to the East, on the left to the west, <span class="pc">-</span>
         <br/>and comprehends the whole earth: <span class="milestone">e26-08</span>
         <span class="choice">
            <span class="orig">Salomon</span>
            <span class="reg">Solomon</span>
         </span> in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of <span class="choice">
            <span class="orig">Wisedome</span>
            <span class="reg">Wisdom</span>
         </span>
         <span class="choice">
            <span class="orig">reasoneth</span>
            <span class="reg">reasons</span>
         </span>
         <br/>distinctly of <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, saying Chapt. 8. v. 9.18. They that are acquainted with <span class="choice">
            <span class="orig">wise<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>Sir. c. 4.13.</div>-<br/>dome</span>
            <span class="reg">wisdom</span>
         </span> have <span class="choice">
            <span class="orig">æternall</span>
            <span class="reg">eternal</span>
         </span> perseverance, and they that are her <span class="choice">
            <span class="orig">freinds</span>
            <span class="reg">friends</span>
         </span>
         <span class="choice">
            <span class="orig">syncere</span>
            <span class="reg">sincere</span>
         </span> pleasure,<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis: c. 8.16.</div>
         <br/>and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that diligently <span class="choice">
            <span class="orig">enquireth</span>
            <span class="reg">enquires</span>
         </span> after her, Shall receive much joy, for there is<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Sir. c. 4.20.</div>
         <br/>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">unpleasantnesse</span>
            <span class="reg">unpleasantness</span>
         </span> in her conversation, but mirth and joy, <span class="milestone">e26-09</span>and though wine
                        <br/>and <span class="choice">
            <span class="orig">musicke</span>
            <span class="reg">music</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">chear</span>
            <span class="reg">cheer</span>
         </span> the heart of man, yet <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> is more pleasant <span class="pc">-</span>
         <br/>than them: for <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> is a tree of life to them that lay hold on her, and blessed are<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis:.c. 10.10.</div>
         <br/>they that <span class="choice">
            <span class="orig">retaine</span>
            <span class="reg">retain</span>
         </span> her: Lactantius calls her the aliment of the <span class="choice">
            <span class="orig">soule</span>
            <span class="reg">soul</span>
         </span>: <span class="milestone">e26-10</span>The wise<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Prov.c. 3.18.<br/>Lac. b. 3.13.</div>
         <br/>Shall inherit glory, and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that esteems <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> Shall be exalted and <span class="choice">
            <span class="orig">honoured</span>
            <span class="reg">honored</span>
         </span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Prov. 3.35.</div>
         <br/>by her: for <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>
         <span class="choice">
            <span class="orig">advanceth</span>
            <span class="reg">advances</span>
         </span> her children, and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that firmly adheres to her <span class="pc">-</span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Sir. 1.24.</div>
         <br/>Shall be promoted to <span class="choice">
            <span class="orig">honour</span>
            <span class="reg">honor</span>
         </span>: <span class="milestone">e26-11</span>An <span class="choice">
            <span class="orig">immortall</span>
            <span class="reg">immortal</span>
         </span> name <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> proceeds from her age after<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Sir. 4. 12.14.</div>
         <br/>age: <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> is more <span class="choice">
            <span class="orig">powerfull</span>
            <span class="reg">powerful</span>
         </span> than all things, and comforts a wise man more, than<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis:. 6.21.<br/>Wis:. 8.13.</div>
         <br/>ten mighty Princes that are in the <span class="choice">
            <span class="orig">citty</span>
            <span class="reg">city</span>
         </span>: <span class="milestone">e26-12</span>To this <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> of the world may<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis:. 10.12.</div>
         <br/>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> be <span class="choice">
            <span class="orig">applyed</span>
            <span class="reg">applied</span>
         </span> that which is spoken by the Prophet Baruch: <span class="choice">
            <span class="orig">Learne</span>
            <span class="reg">Learn</span>
         </span> true <span class="choice">
            <span class="orig">wise<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>Eccle. 7.20.</div>-<br/>dome</span>
            <span class="reg">wisdom</span>
         </span>, and you will find who <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is that gives long life, wealth, joy, and <span class="pc">-</span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Bar. 5.14.</div>
         <br/>peace. <span class="milestone">e26-13</span>And in the 9th Chapter v. 17. of <span class="choice">
            <span class="orig">Wisedome</span>
            <span class="reg">Wisdom</span>
         </span> it is affirmed that <span class="choice">
            <span class="orig">Wisedome</span>
            <span class="reg">Wisdom</span>
         </span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis:. 8.5.18.</div>
         <span class="pb">85</span>
         <span class="fw">Discourse 26.</span>
         <br/>is secret advice in the knowledge of God: <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>
         <span class="choice">
            <span class="orig">conferrs</span>
            <span class="reg">confers</span>
         </span> all things, and infinite<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Wis:. 7.11.</div>
         <br/>riches are <span class="choice">
            <span class="orig">produc'd</span>
            <span class="reg">produced</span>
         </span> from the <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span> of the hands: yea all good things proceed from
                        <br/>her, and great riches and wealth are in her hands, and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that <span class="choice">
            <span class="orig">converseth</span>
            <span class="reg">converes</span>
         </span> with<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Sir.1.v.25.</div>
         <br/>her is <span class="choice">
            <span class="orig">raysed</span>
            <span class="reg">raised</span>
         </span> to <span class="choice">
            <span class="orig">honour</span>
            <span class="reg">honor</span>
         </span> by her: <span class="milestone">e26-14</span>and Sirach Chapt 1.v.25. In the treasures of <span class="choice">
            <span class="orig">wise
                        -<br/>dome</span>
            <span class="reg">wisdom</span>
         </span> is understanding and holy knowledge, and <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> calls it the discipline of
                        <br/>sense, or doctrine of the understanding: <span class="milestone">e26-15</span>Concerning this <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Morienus the Phi
                        -<br/>losopher: This knowledge is that which <span class="choice">
            <span class="orig">drawes</span>
            <span class="reg">draws</span>
         </span> its owner from the misery of this
                        <br/>world, and brings him to the knowledge of good things to come: <span class="milestone">e26-16</span>And that it
                        <br/>is the gift of God <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span>
         <span class="choice">
            <span class="orig">affirmes</span>
            <span class="reg">affirms</span>
         </span> in these words: God <span class="choice">
            <span class="orig">conferrs</span>
            <span class="reg">confers</span>
         </span> this <span class="pc">-</span>
         <br/>divine and pure knowledge upon his <span class="choice">
            <span class="orig">faythfull</span>
            <span class="reg">faithful</span>
         </span> servants, that is to say, those <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> determined from the primitive nature of things to <span class="choice">
            <span class="orig">conferre</span>
            <span class="reg">confer</span>
         </span> it <span class="pc">-</span>
         <br/>upon through his <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> generosity: <span class="milestone">e26-17</span>And a little after: For this can be
                        <br/>nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span> but the <span class="choice">
            <span class="orig">guift</span>
            <span class="reg">gift</span>
         </span> of the most high God, who <span class="choice">
            <span class="orig">coḿitts</span>
            <span class="reg">commits</span>
         </span> and reveals it
                        <br/>as <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">pleaseth</span>
            <span class="reg">pleases</span>
         </span>, and <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> to which of his <span class="choice">
            <span class="orig">faythfull</span>
            <span class="reg">faithful</span>
         </span> servants <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">pleaseth</span>
            <span class="reg">pleases</span>
         </span>, <span class="pc">-</span>
         <br/>they therefore ought to be humble and <span class="choice">
            <span class="orig">alltogether</span>
            <span class="reg">altogether</span>
         </span> subject in all things <span class="pc">-</span>
         <br/>to the omnipotent God: <span class="milestone">e26-18</span>And after: It is convenient <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> for you, O King, to <span class="pc">-</span>
         <br/>know that this Magistery is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span> but the most high and great Gods
                        <br/>arcanum and secret of secrets, for this secret <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">coḿitted</span>
            <span class="reg">committed</span>
         </span> to his Prophets,
                        <br/>whose <span class="choice">
            <span class="orig">soules</span>
            <span class="reg">souls</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> placed in his Paradise: <span class="milestone">e26-19</span>It is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> called the tree of
                        <br/>life, not that is <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">æternall</span>
            <span class="reg">eternal</span>
         </span> life in it, but <span class="choice">
            <span class="orig">shews</span>
            <span class="reg">shows</span>
         </span> as it were the way to it,
                        <br/>and bears fruit wholesome for this life, which it cannot be without, such
                        <br/>as are health, the good things of fortune and mind: for without these a <span class="pc">-</span>
         <br/>man even living is dead, and not much unlike to a brute, though out
                        -<br/>wardly <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> represent him that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> ought to be, and is not in his better <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">parte</span>
            <span class="reg">part</span>
         </span>
         <span class="pc">. . . . . . . . . . . . .</span>
      </div>
   </body>
</html>
