<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e22</h2>
      <span class="pb">71</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 22. Of the Secrets of Nature.
                        <br/>Having acquired white lead <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> of women, that is, <span class="choice">
            <span class="orig">Boyle</span>
            <span class="reg">Boil</span>
         </span>
      </h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 22.</h3>
      <div class="verse">
         <br/>If much with little pains you would effect,<br/>The livid Spots of Saturn's face correct,<br/>And make as white as Snow: when this is done,<br/>A woman may the rest <span class="choice">
            <span class="orig">performe</span>
            <span class="reg">perform</span>
         </span> alone;<br/>Coct then, as <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span>, placing her <span class="choice">
            <span class="orig">potts</span>
            <span class="reg">pots</span>
         </span> on fire,<br/>But <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> water must be such as things require.</div>
      <span class="pb">72</span>
      <h3 class="discourse">Discourse 22.</h3>
      <div class="ab">
         <br/>As <span class="choice">
            <span class="orig">Mercuriall</span>
            <span class="reg">Mercurial</span>
         </span> Statues are <span class="choice">
            <span class="orig">coḿonly</span>
            <span class="reg">commonly</span>
         </span> placed in roads where three <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> meet, to<span class="milestone">e03-01</span>-<br/>gether with a title and inscription, to guide <span class="choice">
            <span class="orig">doubtfull</span>
            <span class="reg">doubtful</span>
         </span> travellers into the right
                        <br/>way, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> are <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> acute sentences inferred in many of their books
                        <br/>and <span class="choice">
            <span class="orig">volums</span>
            <span class="reg">volumes</span>
         </span> of the Philosophers, here and there <span class="choice">
            <span class="orig">allegoricall</span>
            <span class="reg">allegorical</span>
         </span> and dubious, that
                        <br/>the investigator of truth may thereby be admonished, and led as it were by
                        <br/>the hand into the right path: of these this <span class="choice">
            <span class="orig">emblematicall</span>
            <span class="reg">emblematical</span>
         </span> inscription is one,
                        <br/>whereof this is accounted the meaning, that lead must be made of the <span class="choice">
            <span class="orig">Phi
                        -<br/>losophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>, and <span class="choice">
            <span class="orig">tinne</span>
            <span class="reg">tin</span>
         </span> of lead, which by Geber is called white lead,
                        <br/>who <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>, which way <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> may by washing with Mercury be
                        <br/>converted into Jupiter; wherefore this index, though the speech of Battus,
                        <br/>must be credited, if at any time <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> discover the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> oxen, <span class="pc">-</span>
         <br/>what place they frequent, saying, they were in the mountains, and were <span class="pc">-</span>
         <br/>under those mountains: for many men, as Arnold in Novum lumen Chapt. 1.
                        <br/>
         <span class="choice">
            <span class="orig">affirmes</span>
            <span class="reg">affirms</span>
         </span>, <span class="choice">
            <span class="orig">wandring</span>
            <span class="reg">wandering</span>
         </span> in the mountains <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not know these <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>: but they
                        <br/>are sold openly at a very small price: In the Summer <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> Snow is some
                        -<br/>times observed on the highest <span class="choice">
            <span class="orig">mountaines</span>
            <span class="reg">mountains</span>
         </span>, and clouds most <span class="choice">
            <span class="orig">coḿonly</span>
            <span class="reg">commonly</span>
         </span>, by <span class="pc">-</span>
         <br/>which as by a <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> and water lead being <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> is washed, and turned in
                        -<br/>to <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span>: but their <span class="choice">
            <span class="orig">crystalls</span>
            <span class="reg">crystals</span>
         </span> are found congealed and hardened by ice
                        <br/>in the lowest <span class="choice">
            <span class="orig">vallyes</span>
            <span class="reg">valleys</span>
         </span> and <span class="choice">
            <span class="orig">mynes</span>
            <span class="reg">mines</span>
         </span>, together with Lapis Specularis, and <span class="choice">
            <span class="orig">Talke</span>
            <span class="reg">Talc</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">coḿended</span>
            <span class="reg">commended</span>
         </span> for making the face white and <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span>, if an <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span> be made <span class="pc">-</span>
         <br/>thereof: But <span class="choice">
            <span class="orig">cheifely</span>
            <span class="reg">chiefly</span>
         </span> clear and running Mercury, which being well <span class="choice">
            <span class="orig">præpared</span>
            <span class="reg">prepared</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">rectifyes</span>
            <span class="reg">rectifies</span>
         </span> the blemishes of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, and <span class="choice">
            <span class="orig">advanceth</span>
            <span class="reg">advances</span>
         </span> him into the throne of
                        <br/>Jupiter: but they ought not to be meant vulgar <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> and Jupiter, be
                        -<br/>cause vulgar <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span> enter not into the <span class="choice">
            <span class="orig">Physicall</span>
            <span class="reg">Physical</span>
         </span>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, but as they are purged
                        <br/>and made <span class="choice">
            <span class="orig">Physicall</span>
            <span class="reg">Physical</span>
         </span> by long <span class="choice">
            <span class="orig">præparation</span>
            <span class="reg">preparation</span>
         </span>: <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> is the father of all the <span class="pc">-</span>
         <br/>gentiles, or rather golden things, and the first gate of secrets: With this, <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span>
         <br/>Rhasis in his Epistle, are the gates of Sciences opened: His <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> Jupiter <span class="pc">-</span>
         <br/>Succeeds him, who <span class="choice">
            <span class="orig">expells</span>
            <span class="reg">expels</span>
         </span> his father out of his <span class="choice">
            <span class="orig">kingdome</span>
            <span class="reg">kingdom</span>
         </span>, and <span class="choice">
            <span class="orig">dismembred</span>
            <span class="reg">dismembered</span>
         </span> him,
                        <br/>that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> might not beget more <span class="choice">
            <span class="orig">Sonns</span>
            <span class="reg">Sons</span>
         </span>; but Venus the most <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span> of wo
                        -<br/>men sprung from his testicles being cast into the Sea: From Jupiter, who is
                        <br/>
         <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> lead <span class="choice">
            <span class="orig">præpared</span>
            <span class="reg">prepared</span>
         </span>, are produced the other Planets, as Mars from Juno, Mer
                        -<br/>cury from <span class="choice">
            <span class="orig">Maja</span>
            <span class="reg">Maia</span>
         </span>, the daughter of Atlas as <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> of Mauritania, <span class="pc">-</span>
         <br/>Luna and Sol from Latona: which four are brought into the world by coc
                        -<br/>tion alone or womens <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>: but by coction, maturation and the dispersion
                        <br/>of the more crude parts is <span class="choice">
            <span class="orig">signifyd</span>
            <span class="reg">signified</span>
         </span>, which is <span class="choice">
            <span class="orig">performd</span>
            <span class="reg">performed</span>
         </span> by Vulcan in <span class="choice">
            <span class="orig">Philo
                        -<br/>sophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">vessells</span>
            <span class="reg">vessels</span>
         </span>: for its is not to be <span class="choice">
            <span class="orig">supposd</span>
            <span class="reg">supposed</span>
         </span>, that it is vulgar coction, as to <span class="pc">-</span>
         <br/>the way of operating, but it agrees with it as to the end: For as a woman ma
                        -<br/>tures fish in water, that is, softens, <span class="choice">
            <span class="orig">boyles</span>
            <span class="reg">boils</span>
         </span> and <span class="choice">
            <span class="orig">seeths</span>
            <span class="reg">sees</span>
         </span> them, all the superfluous mois
                        -<br/>ture being resolved from them into water and <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> the Philosopher handles
                        <br/>his subject, macerating, melting, dissolving, coagulating and fixing it in a pecu
                        -<br/>liar water, which is stronger than the sharpest vinegar, in the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span> of Her
                        -<br/>mes, the <span class="choice">
            <span class="orig">joynts</span>
            <span class="reg">joints</span>
         </span> of which are most exquisitely close, as is requisite, that the wa
                        -<br/>ter may not exhale, and that, which is in the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>, be burned: This is <span class="pc">-</span>
         <span class="pb">73</span>
         <span class="fw">Discourse 22.</span>
         <br/>that <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span> above the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>, and the Philosophers <span class="choice">
            <span class="orig">pott</span>
            <span class="reg">pot</span>
         </span>, the Laconian bath,
                        <br/>in which the old man sweats: Some there are, who <span class="choice">
            <span class="orig">boyle</span>
            <span class="reg">boil</span>
         </span> fish, Lobsters, Crabs,
                        <br/>or green Peas in a double, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> things are in the upper <span class="choice">
            <span class="orig">pott</span>
            <span class="reg">pot</span>
         </span>, and
                        <br/>water <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> in the lower, and the <span class="choice">
            <span class="orig">potts</span>
            <span class="reg">pots</span>
         </span> are placed one above the other with
                        <br/>
         <span class="choice">
            <span class="orig">orbes</span>
            <span class="reg">orbs</span>
         </span>, that the <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> may not <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span> forth: by which means the <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> of <span class="pc">-</span>
         <br/>the water ascending <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> penetrates and matures the things contained, <span class="pc">-</span>
         <br/>and makes them much more tender and soft, than if they had <span class="choice">
            <span class="orig">boyled</span>
            <span class="reg">boiled</span>
         </span> in <span class="pc">-</span>
         <br/>water: This is the most laudable way of the Philosophers, whereby they
                        <br/>mollify that which is hard, dissolve that which is compact, and rarefy that
                        <br/>which is <span class="choice">
            <span class="orig">thicke</span>
            <span class="reg">thick</span>
         </span>: For the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> or insensible <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> is that which matures, <span class="pc">-</span>
         <br/>cocts, and perfects fruits in trees, not crude and cold water, as such: The <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> that which <span class="choice">
            <span class="orig">tingeth</span>
            <span class="reg">tinges</span>
         </span> and <span class="choice">
            <span class="orig">coloureth</span>
            <span class="reg">colors</span>
         </span> the golden apples in the Or
                        -<br/>chards of the Hesperides: For, if it <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> well considered, the ebullition of
                        <br/>water, whereby raw flesh is cocted till it be <span class="choice">
            <span class="orig">fitt</span>
            <span class="reg">fit</span>
         </span> to eat, is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but a ra
                        -<br/>refaction and transmutation of the water into an airy <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span>, the bubbles
                        <br/>being <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>
         <span class="choice">
            <span class="orig">containd</span>
            <span class="reg">contained</span>
         </span> within the water, which <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> easily vanish away, the
                        <br/>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> betaking <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> from the water to its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> Sphere, and the water <span class="pc">-</span>
         <br/>settling to its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> center<span class="pc">. . . . . . . . . .</span>
      </div>
   </body>
</html>
