<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
<!--       <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/> -->
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e01</h2>
      <div id="mottoPartial--e">
      <span class="pb">8</span>
         <h3 class="title">
            <br/>
            <!-- <p class="emblem-intro"> -->the first <span class="choice">
               <span class="orig">Embleme</span>
               <span class="reg">Emblem</span>
            </span>. Of the Secrets of Nature.<!-- </p> -->
            <br/>
<!--                <p class="emblem-intro__motto"> -->
                  <span class="del">The </span>Wind <span class="choice">
                     <span class="orig">carryed</span>
                     <span class="reg">carried</span>
                  </span>
                  </span> him in his belly <span class="pc">- - - -</span>
              <!--  </p> -->
         </h3>
      </div>
      <div id="epigramPartial--e">
         <h3 class="epigram">the first <span class="choice">
               <span class="orig">Epigramme</span>
               <span class="reg">Epigram</span>
            </span>.</h3>
         <div class="verse">
            <br/>If Boreas once expand his windy <span class="choice">
               <span class="orig">wombe</span>
               <span class="reg">womb</span>
            </span>,<br/>That <span class="choice">
               <span class="orig">th'</span>
               <span class="reg">the</span>
            </span> Infant in the world alive may come,<br/>His <span class="choice">
               <span class="orig">prowesse</span>
               <span class="reg">prowess</span>
            </span> will the Heroes all <span class="choice">
               <span class="orig">outdoe</span>
               <span class="reg">outdo</span>
            </span>
            <br/>In art, in hand, in mind, and body too.<br/>
            <span class="choice">
               <span class="orig">Thinke</span>
               <span class="reg">Think</span>
            </span> him <span class="choice">
               <span class="orig">noe</span>
               <span class="reg">no</span>
            </span> Cæso, nor abortive brood,<br/>Nor yet Agrippa, for his <span class="choice">
               <span class="orig">starre</span>
               <span class="reg">star</span>
            </span> was good.</div>
      </div>
      <div id="discoursePartial--e">
         <span class="pb">9</span>
            <h3 class="discourse">Discourse i.</h3>
            <span class="note-mark">*</span>
            <div class="margin-note">
               <span class="note-mark">*</span>D Powell 1821</div>
            <div class="ab">
               <br/>
               <span class="milestone">e01-01</span>Hermes the most industrious inquisitor into every <span class="choice">
                  <span class="orig">naturall</span>
                  <span class="reg">natural</span>
               </span> secret doth<br/>in his Smaragdine table elegantly, though concisely, describe the <span class="choice">
                  <span class="orig">naturalle</span>
                  <span class="reg">natural</span>
               </span>
               <span class="pc">-</span>
               <br/>
               <span class="choice">
                  <span class="orig">worke</span>
                  <span class="reg">work</span>
               </span>, where amongst other things <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> sayth: the wind <span class="choice">
                  <span class="orig">carrys</span>
                  <span class="reg">carries</span>
               </span> him in his <span class="pc">-</span>
               <br/>belly: as if <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> should say, <span class="choice">
                  <span class="orig">H<span class="underline">ee</span>
                  </span>
                  <span class="reg">H<span class="underline">e</span>
                  </span>
               </span>, who<span class="underline">se father</span> is <span class="underline">Sol,</span> and mo<span class="underline">ther</span> L<span class="underline">una</span>, <span class="pc">-</span>
               <br/>must, bef<span class="underline">ore <span class="choice">
                     <span class="orig">hee</span>
                     <span class="reg">he</span>
                  </span>
               </span> ca<span class="underline">n be</span> brou<span class="underline">ght</span> to li<span class="underline">ght,</span> be <span class="choice">
                  <span class="orig">c<span class="underline">arryed</span>
                  </span>
                  <span class="reg">c<span class="underline">arried</span>
                  </span>
               </span> by wi<span class="underline">ndy</span> fu<span class="underline">mes,</span>
               <span class="underline">even</span>
               <br/>a<span class="underline">s a</span> bird is <span class="underline">caryed<span class="choice">
                     <span class="orig"/>
                     <span class="reg">carried</span>
                  </span> by</span> the <span class="underline">
                  <span class="choice">
                     <span class="orig">aire</span>
                     <span class="reg">air</span>
                  </span>, w</span>hen it <span class="choice">
                  <span class="orig">flyes</span>
                  <span class="reg">flies</span>
               </span>: <span class="milestone">e01-02</span>
               <span class="underline">
                  <span class="underline">now</span>
                  <span class="underline">from</span> fu<span class="underline">mes</span> or w<span class="underline">inds</span>
               </span>, (which
                              <br/>are nothing <span class="choice">
                  <span class="orig">els</span>
                  <span class="reg">else</span>
               </span> but <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span> moved) <span class="underline">coagulated is produced water</span>, <span class="underline">from which mixed</span>
               <br/>
               <span class="underline">with earth </span>
               <span class="choice">
                  <span class="orig">doe</span>
                  <span class="reg">do</span>
               </span> pr<span class="underline">oceed all <span class="choice">
                     <span class="orig">mineralls</span>
                     <span class="reg">minerals</span>
                  </span> and <span class="choice">
                     <span class="orig">metalls</span>
                     <span class="reg">metals</span>
                  </span>
               </span>: <span class="milestone">e01-03</span>Yea these very things are
                              <br/>determined to consist and be <span class="choice">
                  <span class="orig">imediately</span>
                  <span class="reg">immediately</span>
               </span> coagulated of fumes: whether <span class="pc">-</span>
               <br/>therefore it be ascribed to water or fume, the thing is the same, because
                              <br/>they are both the matter of wind: <span class="milestone">e01-04</span>the same may be <span class="choice">
                  <span class="orig">sayd</span>
                  <span class="reg">said</span>
               </span> of <span class="choice">
                  <span class="orig">mineralls</span>
                  <span class="reg">minerals</span>
               </span>
               <span class="pc">-</span>
               <br/>and <span class="choice">
                  <span class="orig">metalls</span>
                  <span class="reg">metals</span>
               </span>, though more remotely: now the question is; <span class="underline">who</span>
               <span class="underline">
                  <span class="choice">
                     <span class="orig">hee</span>
                     <span class="reg">he</span>
                  </span> is</span>, that <span class="pc">-</span>
               <br/>ought to be <span class="choice">
                  <span class="orig">carryd</span>
                  <span class="reg">carried</span>
               </span> by wind? <span class="milestone">e01-05</span>I answer, Chymically, it is <span class="underline">Sulphur</span>, <span class="underline">which i</span>s <span class="pc">-</span>
               <br/>
               <span class="underline">
                  <span class="choice">
                     <span class="orig">carryd</span>
                     <span class="reg">carried</span>
                  </span> in Argent vive</span>, as Lully in his <span class="choice">
                  <span class="orig">booke</span>
                  <span class="reg">book</span>
               </span>, Chapt 32 attests, and <span class="choice">
                  <span class="orig">alle</span>
                  <span class="reg">all</span>
               </span> the <span class="pc">-</span>
               <span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>Lully there. <br/>The wind <span class="choice">
                     <span class="orig">carryes</span>
                     <span class="reg">carries</span>
                  </span>
                  <br/>him in his belly, that <br/>is, Sulphur is <span class="choice">
                     <span class="orig">carryd</span>
                     <span class="reg">carried</span>
                  </span>
                  <br/>in <span class="help">[need to insert chymical symbol somehow]</span>. and Chap. 47. <br/>The Stone is fire <span class="pc">-</span>
                  <br/>
                  <span class="choice">
                     <span class="orig">carryd</span>
                     <span class="reg">carried</span>
                  </span> in the belly <span class="pc">-</span>
                  <br/>of aire<span class="pc">. . . . .</span>
               </div>
               <br/>rest; physically, it is an infant, which ought in a little time to be <span class="choice">
                  <span class="orig">borne</span>
                  <span class="reg">born</span>
               </span> into
                              <br/>the world: I say <span class="choice">
                  <span class="orig">allso</span>
                  <span class="reg">also</span>
               </span> Arithmetically, that it is the root of a Cube; Musically,
                              <br/>that it is the Disdiapason; Geometrically, that it is a punctum the <span class="choice">
                  <span class="orig">begining</span>
                  <span class="reg">beginning</span>
               </span>
               <br/>of a running line; Astronomically, the center of the planets, <span class="choice">
                  <span class="orig">Saturne</span>
                  <span class="reg">Saturn</span>
               </span>,
                              <br/>Jupiter, and Mars: <span class="milestone">e01-06</span>though these be different subjects, yet if they be <span class="pc">-</span>
               <br/>well <span class="choice">
                  <span class="orig">compard</span>
                  <span class="reg">compared</span>
               </span> together, they will easily demonstrate the offspring of wind,
                              <br/>which must be left to every mans industry more or <span class="choice">
                  <span class="orig">lesse</span>
                  <span class="reg">less</span>
               </span>. <span class="milestone">e01-07</span>But I indigitate
                              <br/>the matter more plainly thus: ev<span class="underline">ery Mercury is compounded of fumes,</span>
               <span class="pc">-</span>
               <br/>
               <span class="underline">that is</span>, o<span class="underline">f water elevating earth with it into an airy rarit</span>y, <span class="underline">and of earth</span>
               <br/>
               <span class="underline">forcing <span class="choice">
                     <span class="orig">aire</span>
                     <span class="reg">air</span>
                  </span> to</span>
               <span class="underline">
                  <span class="choice">
                     <span class="orig">returne</span>
                     <span class="reg">return</span>
                  </span> into a <span class="choice">
                     <span class="orig">watry</span>
                     <span class="reg">watery</span>
                  </span> earth</span> or <span class="underline">earthy water:</span>
               <span class="milestone">e01-08</span>for <span class="underline">the Ele</span>-<br/>
               <span class="underline">ments being <span class="choice">
                     <span class="orig">alltogether</span>
                     <span class="reg">altogether</span>
                  </span> in it,</span> and mixed, and subdued and re<span class="underline">duced together</span>
               <br/>
               <span class="underline">into a viscous nature,</span> th<span class="underline">ey <span class="choice">
                     <span class="orig">doe</span>
                     <span class="reg">do</span>
                  </span> not easily recede one from the other</span>, <span class="superscript">1</span>but
                              <br/>
               <span class="superscript">3</span>either <span class="superscript">5</span>the <span class="superscript">6</span>volatile <span class="superscript">2</span>
               <span class="choice">
                  <span class="orig">doe</span>
                  <span class="reg">do</span>
               </span>
               <span class="superscript">4</span>follow <span class="superscript">7</span>above, <span class="superscript">8</span>or <span class="choice">
                  <span class="orig">remayne</span>
                  <span class="reg">remain</span>
               </span> below with the fixed, the
                              <br/>first whereof is evident in <span class="choice">
                  <span class="orig">coḿon</span>
                  <span class="reg">common</span>
               </span> Mercury, the other in the <span class="choice">
                  <span class="orig">Philosophicall</span>
                  <span class="reg">Philosophical</span>
               </span>
               <br/>and fixed <span class="choice">
                  <span class="orig">metalls</span>
                  <span class="reg">metals</span>
               </span>: in these the fixed Elements <span class="choice">
                  <span class="orig">doe</span>
                  <span class="reg">do</span>
               </span>
               <span class="choice">
                  <span class="orig">prædominate</span>
                  <span class="reg">predominate</span>
               </span>
               <span class="add">over</span> the volatile,
                              <br/>in <span class="underline">
                  <span class="superscript">^</span>that</span> the volatile oversway the fixed: <span class="milestone">e01-09</span>nor indeed is it without reason, that <span class="pc">-</span>
               <br/>Mercury is <span class="choice">
                  <span class="orig">calld</span>
                  <span class="reg">called</span>
               </span> and reputed the messenger, interpreter, and as it were the
                              <br/>running intermediate minister of the other Gods, with wings fitted to his
                              <br/>head and feet: for <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> is windy, and <span class="choice">
                  <span class="orig">flyes</span>
                  <span class="reg">flies</span>
               </span> through the <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span> as wind <span class="choice">
                  <span class="orig">itselfe</span>
                  <span class="reg">itself</span>
               </span>,
                              <br/>as is <span class="choice">
                  <span class="orig">coḿonly</span>
                  <span class="reg">commonly</span>
               </span> and really confirmed to the damage of many men; <span class="milestone">e01-10</span>but car
                              -<br/>rying a white wand girt with two Serpents <span class="choice">
                  <span class="orig">crossewise</span>
                  <span class="reg">crosswise</span>
               </span>, which can draw <span class="choice">
                  <span class="orig">soules</span>
                  <span class="reg">souls</span>
               </span>
               <br/>out of <span class="choice">
                  <span class="orig">bodyes</span>
                  <span class="reg">bodies</span>
               </span>, and bring them <span class="choice">
                  <span class="orig">backe</span>
                  <span class="reg">back</span>
               </span>
               <span class="choice">
                  <span class="orig">againe</span>
                  <span class="reg">again</span>
               </span>, and <span class="choice">
                  <span class="orig">doe</span>
                  <span class="reg">do</span>
               </span> many such contrary
                              <br/>things, <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> exquisitely <span class="choice">
                  <span class="orig">repræsents</span>
                  <span class="reg">represents</span>
               </span> the <span class="choice">
                  <span class="orig">Philosophicall</span>
                  <span class="reg">Philosophical</span>
               </span> Mercury. <span class="milestone">e01-11</span>Mercury there
                              -<br/>fore is wind, which takes Sulphur or Dionysius, or, if you had rather, Æscu
                              <span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>because Volatile</div>-<br/>lapius, being yet an <span class="underline">imperfect</span> Embryo, out of the mothers belly, or even out
                              <br/>of the ashes of the mothers body burned, and <span class="choice">
                  <span class="orig">carryes</span>
                  <span class="reg">carries</span>
               </span> it thither, where it <span class="pc">-</span>
               <span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>
                  <span class="unclear">degested and fix'd</span>
               </div>
               <br/>may <span class="underline">be matured</span>; <span class="milestone">e01-12</span>and the Embryo is Sulphur, which is infused into <span class="pc">-</span>
               <br/>the belly of Boreas by the <span class="choice">
                  <span class="orig">cælestiall</span>
                  <span class="reg">celestial</span>
               </span>
               <span class="choice">
                  <span class="orig">Sunne</span>
                  <span class="reg">Sun</span>
               </span>, that <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> may bring it <span class="pc">-</span>
               <span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>
                  <span class="unclear">ttuchitt padign <span class="help">[symbol included]</span>
                  </span>
               </div>
               <br/>forth being matured, who in the <span class="choice">
                  <span class="orig">compleat</span>
                  <span class="reg">complete</span>
               </span> time of his <span class="choice">
                  <span class="orig">cariage</span>
                  <span class="reg">carriage</span>
               </span>
               <span class="choice">
                  <span class="orig">produceth</span>
                  <span class="reg">produces</span>
               </span>
               <span class="pc">-</span>
               <br/>twins, one with w<span class="underline">hite <span class="choice">
                     <span class="orig">haire</span>
                     <span class="reg">hair</span>
                  </span>
               </span>, called Calais, the other with <span class="underline">red</span>, named<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>x a</div>
               <br/>Zethe: <span class="milestone">e01-13</span>these <span class="choice">
                  <span class="orig">Sonns</span>
                  <span class="reg">Sons</span>
               </span> of Boreas were (as Orpheus the <span class="choice">
                  <span class="orig">Chymicall</span>
                  <span class="reg">Chymical</span>
               </span> poet writes)
                              
                              
                              <span class="pb">10</span>
               <span class="fw">Discourse <span class="choice">
                     <span class="orig">
                        <span class="underline">i</span>
                     </span>
                     <span class="reg">I</span>
                  </span>.</span>
               <br/>with Jason among the Argonauts to carry away the golden fleece from Col
                              -<br/>chos: and P<span class="underline">hineus</span> the blind Prophet, infested by the <span class="underline">
                  <span class="choice">
                     <span class="orig">Harpyes</span>
                     <span class="reg">Harpies</span>
                  </span>
               </span>, could not be<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>
                  <span class="unclear">Black </span>
               </div>
               <br/>freed, but by the <span class="choice">
                  <span class="orig">sayd</span>
                  <span class="reg">said</span>
               </span>
               <span class="choice">
                  <span class="orig">Sonns</span>
                  <span class="reg">sons</span>
               </span> of Boreas, for which <span class="choice">
                  <span class="orig">benefitt</span>
                  <span class="reg">benefit</span>
               </span> obtained from <span class="pc">-</span>
               <br/>them, <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span>, being <span class="choice">
                  <span class="orig">gratefull</span>
                  <span class="reg">grateful</span>
               </span>, declared the whole manner of the way to the
                              <br/>Argonauts: <span class="milestone">e01-14</span>But t<span class="underline">he <span class="choice">
                     <span class="orig">Harpyes</span>
                     <span class="reg">Harpies</span>
                  </span> are</span>
               <span class="choice">
                  <span class="orig">noe</span>
                  <span class="reg">no</span>
               </span> other, than cor<span class="underline">rupting Sulphu</span>r, w<span class="underline">hich</span>
               <br/>
               <span class="underline">is driven away by the <span class="choice">
                     <span class="orig">Sonns</span>
                     <span class="reg">sons</span>
                  </span> of Boreas</span>, having <span class="choice">
                  <span class="orig">attaind</span>
                  <span class="reg">attained</span>
               </span> to full age, and of a
                              <br/>thing imperfect or molested with noxious birds is made perfect, not sub
                              -<br/>ject to that <span class="choice">
                  <span class="orig">evill</span>
                  <span class="reg">evil</span>
               </span>, which then <span class="choice">
                  <span class="orig">shews</span>
                  <span class="reg">shows</span>
               </span> to Jason the <span class="choice">
                  <span class="orig">Physitian</span>
                  <span class="reg">Physician</span>
               </span> the way to
                              <br/>
               <span class="choice">
                  <span class="orig">obtaine</span>
                  <span class="reg">obtain</span>
               </span> the golden fleece. <span class="milestone">e01-15</span>These winds our countryman Basill amongst
                              <br/>others <span class="choice">
                  <span class="orig">allso</span>
                  <span class="reg">also</span>
               </span> takes notice of, and plainly <span class="choice">
                  <span class="orig">sayth</span>
                  <span class="reg">says</span>
               </span>: <span class="subst">
                  <span class="del">
                     <span class="unclear">The</span>
                  </span>
                  <span class="add">
                     <span class="underline">A double</span>
                  </span>
               </span>
               <span class="underline">wind</span> ought to <span class="subst">
                  <span class="del">come</span>
                  <span class="add">arise</span>
               </span>;<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>
                  <span class="unclear">absurdly described</span>
               </div>
               <br/>
               <span class="del">that</span>called Vulturnus, and <span class="subst">
                  <span class="del">after that one</span>
                  <span class="add">; then a single wind</span>
               </span>, ca<span class="underline">lled Notu</span>s, which <span class="subst">
                  <span class="del">must</span>
                  <span class="add">will</span>
               </span>blow<span class="note-mark">*</span>
               <div class="margin-note">
                  <span class="note-mark">*</span>Naaman comes <br/>from the north</div>
               <br/>from the East and South impetuously, whose motion ceasing, <span class="choice">
                  <span class="orig">soe</span>
                  <span class="reg">so</span>
               </span> as wa
                              -<br/>ter to be made of <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span>, you <span class="subst">
                  <span class="del">may</span>
                  <span class="add">will</span>
               </span>confidently <span class="choice">
                  <span class="orig">beleive</span>
                  <span class="reg">believe</span>
               </span>, th<span class="underline">at a <span class="choice">
                     <span class="orig">corporall</span>
                     <span class="reg">corporal</span>
                  </span>
               </span>
               <span class="pc">-</span>
               <br/>
               <span class="underline">thing will be made of a <span class="choice">
                     <span class="orig">spirituall</span>
                     <span class="reg">spiritual</span>
                  </span>
               </span>. <span class="milestone">e01-16</span>And Ripley gate 8. <span class="choice">
                  <span class="orig">sayth</span>
                  <span class="reg">says</span>
               </span>, that <span class="pc">-</span>
               <br/>our Infant ought to be <span class="choice">
                  <span class="orig">borne</span>
                  <span class="reg">born</span>
               </span>
               <span class="choice">
                  <span class="orig">againe</span>
                  <span class="reg">again</span>
               </span> in <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span>, that is, in the belly of
                              <br/>wind: <span class="milestone">e01-17</span>
               <span class="choice">
                  <span class="orig">Sayth</span>
                  <span class="reg">Says</span>
               </span> Scala Philosophorum, degree 6. after the same sense thus:
                              <br/>You must know that the <span class="choice">
                  <span class="orig">Sonne</span>
                  <span class="reg">Son</span>
               </span> of the wise is <span class="choice">
                  <span class="orig">borne</span>
                  <span class="reg">born</span>
               </span> in the <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span>: <span class="milestone">e01-18</span>and
                              <br/>degree 8: Airy Spirits ascending together into the <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span>
               <span class="choice">
                  <span class="orig">doe</span>
                  <span class="reg">do</span>
               </span> love <span class="subst">
                  <span class="del">them</span>
                  <span class="add">one</span>
               </span>
               <br/>
               <span class="subst">
                  <span class="del">selves</span>
                  <span class="add">another</span>
               </span>, as Hermes <span class="choice">
                  <span class="orig">sayth</span>
                  <span class="reg">says</span>
               </span>, the wind <span class="choice">
                  <span class="orig">carryd</span>
                  <span class="reg">carried</span>
               </span> him in its belly: because <span class="pc">-</span>
               <br/>the generation of our <span class="choice">
                  <span class="orig">Sonne</span>
                  <span class="reg">Son</span>
               </span> is made in the <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span>, and being <span class="choice">
                  <span class="orig">borne</span>
                  <span class="reg">born</span>
               </span>
               <span class="pc">-</span>
               <br/>in the <span class="choice">
                  <span class="orig">aire</span>
                  <span class="reg">air</span>
               </span> is <span class="choice">
                  <span class="orig">borne</span>
                  <span class="reg">born</span>
               </span> wisely: for <span class="choice">
                  <span class="orig">hee</span>
                  <span class="reg">he</span>
               </span> ascends from earth to heaven, and
                              <br/>
               <span class="choice">
                  <span class="orig">againe</span>
                  <span class="reg">again</span>
               </span> descends to earth acquiring both the <span class="choice">
                  <span class="orig">superiour</span>
                  <span class="reg">superior</span>
               </span> and <span class="choice">
                  <span class="orig">inferiour</span>
                  <span class="reg">inferior</span>
               </span>
               <br/>virtue.<span class="pc">- - - - - - - - - - - - -</span>
            </div>
      </div>
   </body>
</html>
