<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e32</h2>
      <span class="pb">i0i</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 32. Of the Secrets of Nature.
                        <br/>As <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>
         <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span> under water, and is hardened by the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>,
                        <br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> is the Stone.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 32.</h3>
      <div class="verse">
         <br/>In the Sicilian waves a Sea<span class="pc">-</span>plant <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span>,<br/>Shooting forth many moist and <span class="choice">
            <span class="orig">plyant</span>
            <span class="reg">pliant</span>
         </span> boughs:<br/>
         <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span> it is by name; whose nature's such,<br/>That, if exposed to <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, it alters much,<br/>
         <span class="del">And</span> A blood red <span class="choice">
            <span class="orig">rocke</span>
            <span class="reg">rock</span>
         </span> becoming: which alone<br/>Exactly <span class="choice">
            <span class="orig">repræsents</span>
            <span class="reg">represents</span>
         </span> the <span class="choice">
            <span class="orig">Sophicke</span>
            <span class="reg">Sophic</span>
         </span> stone.</div>
      <span class="pb">102</span>
      <h3 class="discourse">Discourse 32.</h3>
      <div class="ab">
         <br/>The Philosophers call their Stone vegetable, because it vegetates, <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span>, <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>is <span class="choice">
            <span class="orig">increasd</span>
            <span class="reg">increased</span>
         </span> and <span class="choice">
            <span class="orig">multiplyd</span>
            <span class="reg">multiplied</span>
         </span> as a plant: which indeed to the ignorant seems
                        <br/>strange and contrary to truth; it being manifest that stones <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> neither
                        <br/>vegetate, nor grow after this manner, nor any thing at all relate to <span class="pc">-</span>
         <br/>liquable <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span>: but they are deceived in their judgment: for that which
                        <br/>is <span class="choice">
            <span class="orig">unknowne</span>
            <span class="reg">unknown</span>
         </span> to them they suppose is not in rerum natura, measuring
                        <br/>the immensity of the universe by their capacity: For who could ever
                        <br/>have <span class="choice">
            <span class="orig">beleived</span>
            <span class="reg">believed</span>
         </span> that a stone should grow under water, or a plant there ge
                        -<br/>nerated become a stone, if experience together with the credible <span class="choice">
            <span class="orig">testimo
                        -<br/>nyes</span>
            <span class="reg">testimonies</span>
         </span> of writes had not <span class="choice">
            <span class="orig">confirmd</span>
            <span class="reg">confirmed</span>
         </span> it? where is that <span class="choice">
            <span class="orig">petrefying</span>
            <span class="reg">petrifying</span>
         </span>, where <span class="pc">-</span>
         <br/>that tinging virtue, which <span class="choice">
            <span class="orig">hardeneth</span>
            <span class="reg">hardens</span>
         </span> and <span class="choice">
            <span class="orig">tingeth</span>
            <span class="reg">tinges</span>
         </span>
         <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>, whether in the
                        <br/>water, or in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, or in the earth? <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> may reasonably <span class="choice">
            <span class="orig">beleive</span>
            <span class="reg">believe</span>
         </span> it
                        <br/>to be, as they <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span>, a soft and <span class="underline">flexible</span> plant, whilst it is under wa
                        -<br/>ter, yet of a very <span class="choice">
            <span class="orig">terrestriall</span>
            <span class="reg">terrestrial</span>
         </span> nature, which, when it is cut <span class="choice">
            <span class="orig">of</span>
            <span class="reg">off</span>
         </span> and exposed
                        <br/>to the cold winds, becomes hard, and acquires a stony frangibility, the
                        <br/>
         <span class="choice">
            <span class="orig">watry</span>
            <span class="reg">watery</span>
         </span> parts abounding being <span class="choice">
            <span class="orig">dryed</span>
            <span class="reg">dried</span>
         </span> up by the cold and dry <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> (for these
                        <br/>North winds blowing <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> introduce siccity) and the <span class="choice">
            <span class="orig">terrestriall</span>
            <span class="reg">terrestrial</span>
         </span> body <span class="pc">-</span>
         <br/>remaining congealed with cold and siccity <span class="choice">
            <span class="orig">by<span class="add">ing</span>
            </span>
            <span class="reg">being</span>
         </span> the <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span> of the earth:
                        <br/>for constriction <span class="choice">
            <span class="orig">appertaines</span>
            <span class="reg">appertains</span>
         </span> to the earth alone, not to the water, nor <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>,
                        <br/>as to the proper and genuine virtues of either. Besides the sea in other
                        <br/>places <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> three <span class="choice">
            <span class="orig">medicinall</span>
            <span class="reg">medicinal</span>
         </span> stones deduced partly from the vegetable
                        <br/>kind, partly from the <span class="choice">
            <span class="orig">animall</span>
            <span class="reg">animal</span>
         </span>, or rather partly from the secrets of na
                        -<br/>ture; as Pearls, <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span>, and <span class="choice">
            <span class="orig">Ambar<span class="pc">-</span>grise</span>
            <span class="reg">Ambergris</span>
         </span>: the production of Pearls, <span class="pc">-</span>
         <br/>and the way of taking them have been <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> to us, but not of the
                        <br/>rest: <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span> is found and gathered on the Sea coasts of Sudavia, on the
                        <br/>
         <span class="choice">
            <span class="orig">shoars</span>
            <span class="reg">shores</span>
         </span>, after a most vehement South or westerly wind, which without
                        <br/>doubt <span class="choice">
            <span class="orig">boyles</span>
            <span class="reg">boils</span>
         </span> out of the veins of the earth into the Sea, or is <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span>
         <span class="pc">-</span>
         <br/>out by the water, and driven by the waves to the <span class="choice">
            <span class="orig">shoars</span>
            <span class="reg">shores</span>
         </span>: For <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <span class="pc">-</span>
         <br/>have seen some veins of iron and Silver swimming with the <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span>,
                        <br/>which could not be done but in the earth. But as to <span class="add">the</span>
         <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flies</span>
         </span>, <span class="choice">
            <span class="orig">gnatts</span>
            <span class="reg">gnats</span>
         </span>,<span class="pc">-</span>
         <br/>Spiders, <span class="choice">
            <span class="orig">Butterflyes</span>
            <span class="reg">Butterflies</span>
         </span>, <span class="choice">
            <span class="orig">froggs</span>
            <span class="reg">frogs</span>
         </span>, Serpents which are seen in some <span class="choice">
            <span class="orig">peices</span>
            <span class="reg">pieces</span>
         </span> (as
                        <br/>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have had 120 beads turned out of <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span>, which did every one
                        <br/>
         <span class="choice">
            <span class="orig">containe</span>
            <span class="reg">contain</span>
         </span> some <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flies</span>
         </span>, <span class="choice">
            <span class="orig">gnatts</span>
            <span class="reg">gnats</span>
         </span>, Spiders, <span class="choice">
            <span class="orig">butterflyes</span>
            <span class="reg">butterflies</span>
         </span>, and one particle nine,
                        <br/>not without a singular miracle of nature) that happens by the influ
                        -<br/>ence and imagination of the heaven; as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> demon
                        -<br/>strated. That <span class="choice">
            <span class="orig">Ambar<span class="pc">-</span>grise</span>
            <span class="reg">Ambergris</span>
         </span> is found after the same manner on the
                        <br/>
         <span class="choice">
            <span class="orig">Shoars</span>
            <span class="reg">Shores</span>
         </span> of the east and west <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span>, cannot be <span class="choice">
            <span class="orig">denyd</span>
            <span class="reg">denied</span>
         </span>, and though <span class="pc">-</span>
         <br/>some declare it to be the juice or <span class="choice">
            <span class="orig">gumme</span>
            <span class="reg">gum</span>
         </span> of trees, as the <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">aforesayd</span>
            <span class="reg">aforesaid</span>
         </span>, yet they that conceive it to proceed out of veins of the <span class="pc">-</span>
         <br/>earth <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> judge more probably: For <span class="choice">
            <span class="orig">fruitfull</span>
            <span class="reg">fruitful</span>
         </span> trees of <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span> have
                        <br/>been in <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> place seen, which notwithstanding, if there be, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="pc">-</span>
         <br/>most certainly grow out of the water in the open <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>: <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span>
         <span class="pc">-</span>
         <span class="pb">103</span>
         <span class="fw">Discourse 32.</span>
         <br/>therefore ascribe both sorts of <span class="choice">
            <span class="orig">Ambar</span>
            <span class="reg">Amber</span>
         </span> to subterranean veins or stones, as
                        <br/>Pearls to Zoophytes (that is, a <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> nature between <span class="choice">
            <span class="orig">animall</span>
            <span class="reg">animal</span>
         </span> and plant) <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span> to vegetables. The Philosophers stone is indeed like to these stones
                        <br/>and especially to <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>: for as <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>
         <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span> in water, and <span class="choice">
            <span class="orig">drawes</span>
            <span class="reg">draws</span>
         </span> nutriment
                        <br/>from the earth; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> stone growes in <span class="choice">
            <span class="orig">Mercuriall</span>
            <span class="reg">Mercurial</span>
         </span>
         <span class="pc">-</span>
         <br/>water, and from it receives whatsoever is earthy, for the augmentation of <span class="choice">
            <span class="orig">it
                        -<br/>selfe</span>
            <span class="reg">itself</span>
         </span>, the superfluous moisture expiring. A red <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> fixed in <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>
         <br/>by coagulation, which modern authors call the tincture of <span class="choice">
            <span class="orig">Coralls</span>
            <span class="reg">Corals</span>
         </span>, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> other
                        -<br/>wise than as in the <span class="choice">
            <span class="orig">Physicall</span>
            <span class="reg">Physical</span>
         </span> stone, which becomes red in the last coagu
                        -<br/>lation of it, and appears like the reddest <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>, which is the tincture: <span class="pc">-</span>
         <br/>but as <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span> becomes hard by cold and siccity, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that by heat and sicci
                        -<br/>ty, which being augmented it likewise dissolves, contrary to the nature of
                        <br/>other stones, which <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> indeed dissolve, but <span class="choice">
            <span class="orig">turne</span>
            <span class="reg">turn</span>
         </span> into <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>, which thing
                        <br/>is <span class="choice">
            <span class="orig">noewise</span>
            <span class="reg">nowise</span>
         </span>
         <span class="choice">
            <span class="orig">agreable</span>
            <span class="reg">agreeable</span>
         </span> to this: And as <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span> is <span class="choice">
            <span class="orig">præpared</span>
            <span class="reg">prepared</span>
         </span> into <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> medi
                        -<br/>cines of great virtue, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>
         <span class="choice">
            <span class="orig">transferrd</span>
            <span class="reg">transferred</span>
         </span>
         <span class="pc">-</span>
         <br/>the virtues of all herbs into <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that is alone is able to <span class="choice">
            <span class="orig">performe</span>
            <span class="reg">perform</span>
         </span>
         <br/>as much as all the medicines of all vegetables: For the <span class="choice">
            <span class="orig">cælestiall</span>
            <span class="reg">celestial</span>
         </span>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>,
                        <br/>which <span class="choice">
            <span class="orig">infuseth</span>
            <span class="reg">infuses</span>
         </span>
         <span class="choice">
            <span class="orig">medicinall</span>
            <span class="reg">medicinal</span>
         </span> virtue and efficacy into vegetables, contributes
                        <br/>to this its <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> and <span class="choice">
            <span class="orig">terrestriall</span>
            <span class="reg">terrestrial</span>
         </span> deputy more, than to all others: This is <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> vegetable, <span class="choice">
            <span class="orig">animall</span>
            <span class="reg">animal</span>
         </span>, and <span class="choice">
            <span class="orig">minerall</span>
            <span class="reg">mineral</span>
         </span>
         <span class="choice">
            <span class="orig">Corall</span>
            <span class="reg">Coral</span>
         </span>, which <span class="choice">
            <span class="orig">lyes</span>
            <span class="reg">lies</span>
         </span>
         <br/>occult in the vast ocean, and is not <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span>, except it be exposed to the
                        <br/>eyes and put into the hands of the ignorant: But it must be cut <span class="choice">
            <span class="orig">of</span>
            <span class="reg">off</span>
         </span> in
                        <br/>the water with very great caution, lest it <span class="choice">
            <span class="orig">loose</span>
            <span class="reg">lose</span>
         </span> its juice and blood, and
                        <br/>nothing <span class="choice">
            <span class="orig">remayne</span>
            <span class="reg">remain</span>
         </span> but a <span class="choice">
            <span class="orig">terrestriall</span>
            <span class="reg">terrestrial</span>
         </span> chaos without its true <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>: For
                        <br/>herein consists all the difficulty of taking <span class="choice">
            <span class="orig">corall</span>
            <span class="reg">coral</span>
         </span>, besides which there is <span class="pc">-</span>
         <br/>scarce any: The superfluous moisture. I <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span>, which kills the stone,
                        <br/>
         <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> it be separated, which suffers not the <span class="choice">
            <span class="orig">coralline</span>
            <span class="reg">coraline</span>
         </span>
         <span class="choice">
            <span class="orig">rednesse</span>
            <span class="reg">redness</span>
         </span> to <span class="pc">-</span>
         <br/>appear, which <span class="choice">
            <span class="orig">admitts</span>
            <span class="reg">admits</span>
         </span> not coagulation, whilst it is therein<span class="pc">. . . . .</span>
      </div>
   </body>
</html>
