<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e11</h2>
      <span class="pb">38</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 11. Of the Secrets of Nature.
                        <br/>Whiten Latona and tear your books.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 11.</h3>
      <div class="verse">
         <br/>Ancestors (of truth <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> doubt) to us relate<br/>Latona's <span class="choice">
            <span class="orig">twinns</span>
            <span class="reg">twins</span>
         </span>
         <span class="choice">
            <span class="orig">producd</span>
            <span class="reg">produced</span>
         </span> from Jove the great.<br/>Some say <span class="choice">
            <span class="orig">Shee's</span>
            <span class="reg">She's</span>
         </span> Sol with fair fair Diana <span class="choice">
            <span class="orig">mixt</span>
            <span class="reg">mixed</span>
         </span>,<br/>Having a face most white, some <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> betwixt:<br/>Study my dear! to wash these spots away,<br/>Then <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> those books which led your thoughts astray.</div>
      <span class="pb">39</span>
      <h3 class="discourse">Discourse 11.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e11-01</span>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> great is the diversity of Authors in writing, that the explorators of <span class="pc">-</span>
         <br/>truth <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allmost</span>
            <span class="reg">almost</span>
         </span>
         <span class="choice">
            <span class="orig">despaire</span>
            <span class="reg">despair</span>
         </span> of finding the end of art: <span class="milestone">e11-02</span>for <span class="choice">
            <span class="orig">Allegoricall</span>
            <span class="reg">Allegorical</span>
         </span> speeches
                        <br/>being of themselves difficult to be understood, and the causes of many errors,
                        <br/>especially then, if the same words be <span class="choice">
            <span class="orig">applyd</span>
            <span class="reg">applied</span>
         </span> to different things, and diffe
                        -<br/>rent words to the same things: <span class="milestone">e11-03</span>out of which if a man would extricate <span class="choice">
            <span class="orig">him
                        -<br/>selfe</span>
            <span class="reg">himself</span>
         </span>, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must either be of a divine genius, to perceive the truth invol
                        -<br/>ved in <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span>, or of <span class="choice">
            <span class="orig">endlesse</span>
            <span class="reg">endless</span>
         </span> pains and charge in proving what
                        <br/>is true, what not: <span class="milestone">e11-04</span>But the Philosophers say one is not sufficient  without the <span class="pc">-</span>
         <br/>other, an acute genius without <span class="choice">
            <span class="orig">hand<span class="pc">-</span>labour</span>
            <span class="reg">hand<span class="pc"/>labor</span>
         </span>, or this without that, as neither
                        <br/>the theory without the practice, and contrarywise: <span class="milestone">e11-05</span>for <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> man is of <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>discreet an understanding as to <span class="choice">
            <span class="orig">avoyd</span>
            <span class="reg">avoid</span>
         </span> a hundred thousand circumvagations,
                        <br/>errors, <span class="choice">
            <span class="orig">falsityes</span>
            <span class="reg">falsities</span>
         </span> as to the word, digressions, and <span class="choice">
            <span class="orig">ambiguityes</span>
            <span class="reg">ambiguities</span>
         </span>, and persist in the
                        <br/>true path of nature: wherefore say the Philosophers, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> not as
                        <br/>yet erred, <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> not yet begun, and that errors are the informers of those <span class="pc">-</span>
         <br/>things which ought to be done or not. <span class="milestone">e11-06</span>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> the same <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> inculcate, that a <span class="pc">-</span>
         <br/>man may spend his whole life, though <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> Should live a thousand years, in
                        <br/>distilling and redistilling, before <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> can <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span> to truth by experimentation
                        <br/>alone: <span class="milestone">e11-07</span>That little benefit can be had without study and reading of au
                        -<br/>thors, the Corrector of fools <span class="choice">
            <span class="orig">signifyes</span>
            <span class="reg">signifies</span>
         </span>, saying: Study <span class="choice">
            <span class="orig">removeth</span>
            <span class="reg">removes</span>
         </span> ignorance, <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">reduceth</span>
            <span class="reg">reduces</span>
         </span> a mans genius to true understanding, and the knowledge of
                        <br/>every thing: It is therefore principally necessary to acquire the knowledge of
                        <br/>this delectable <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> by study, and to sharpen the <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span> by <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="pc">-</span>
         <br/>sayings, the knowledge of truth being <span class="choice">
            <span class="orig">centred</span>
            <span class="reg">centered</span>
         </span> in them: <span class="milestone">e11-08</span>If therefore opera
                        -<br/>tors despise not study, they will sweetly relish the fruit from thence <span class="choice">
            <span class="orig">pro
                        -<br/>ceding</span>
            <span class="reg">proceeding</span>
         </span>: <span class="milestone">e11-09</span>but they that <span class="choice">
            <span class="orig">abhorre</span>
            <span class="reg">abhor</span>
         </span> study, and yet are willing to operate, let them
                        <br/>see whether that art be the imitation of nature <span class="choice">
            <span class="orig">herselfe</span>
            <span class="reg">herself</span>
         </span>, which the art of
                        <br/>her desires to amend: because it is impossible for it to <span class="choice">
            <span class="orig">præpare</span>
            <span class="reg">prepare</span>
         </span> the Philoso
                        -<br/>phers secrets to a perfect end: <span class="milestone">e11-10</span>Of these men say the Sophi, that they <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> to
                        <br/>practice as an <span class="choice">
            <span class="orig">asse</span>
            <span class="reg">ass</span>
         </span> to hay, not knowing what to lay his nose to, <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> far
                        <br/>as the outward senses <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> without understanding lead him to food by sight
                        <br/>and <span class="choice">
            <span class="orig">tast</span>
            <span class="reg">taste</span>
         </span>: these are his words. <span class="milestone">e11-11</span>But lest a man should macerate <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> with
                        <br/>overmuch study, which is an inexhaustible sea and of immense profundity
                        <br/>and <span class="choice">
            <span class="orig">endeavour</span>
            <span class="reg">endeavor</span>
         </span> (though in <span class="choice">
            <span class="orig">vaine</span>
            <span class="reg">vain</span>
         </span>) to bring every letter, agreeing <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> with ma
                        -<br/>ny other things, into act, in the <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> time consuming or diminishing his
                        <br/>strength, time, reputation, wealth and riches, the Philosophers <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> use this
                        <br/>
         <span class="choice">
            <span class="orig">Emblematicall</span>
            <span class="reg">Emblematical</span>
         </span> speech, that Latona must be whitened, and those books
                        <br/>
         <span class="choice">
            <span class="orig">torne</span>
            <span class="reg">torn</span>
         </span>, lest their hearts be broken, <span class="underline">for there are many books <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> obscurely</span>
         <span class="pc">-</span>
         <br/>written, <span class="underline">as to be understood by their <span class="choice">
               <span class="orig">owne</span>
               <span class="reg">own</span>
            </span> Authors <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span>:</span>
         <span class="milestone">e11-12</span>not a few left out<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>!!</div>
         <br/>of envy to seduce others, or rather to retard them, that they may not <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span>
         <br/>to their end without difficulty, or to obscure those things written before by <span class="pc">-</span>
         <br/>themselves: <span class="milestone">e11-13</span>But what is the meaning of whitening Latona? this is the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> this the <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span> to inquire: Clangor buccinæ affirms Latona to be an
                        
                        
                        
                        <span class="pb">40</span>
         <span class="fw">Discourse 11.</span>
         <br/>imperfect body compounded of Sol and Luna. <span class="milestone">e11-14</span>The most ancient Poets and
                        <br/>writers <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span> Latona to be the mother of Sol and Luna, or Apollo and <span class="pc">-</span>
         <br/>Diana, others the <span class="choice">
            <span class="orig">Nurce</span>
            <span class="reg">Nurse</span>
         </span>; and that Diana was first <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> (for Luna and <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span> first appears) and did then <span class="choice">
            <span class="orig">performe</span>
            <span class="reg">perform</span>
         </span> the office of a midwife <span class="pc">-</span>
         <br/>the same day in bringing forth her brother Apollo. <span class="milestone">e11-15</span>Latona was indeed one
                        <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>!</div>
         <br/>of the <span class="underline">twelve</span> divine <span class="choice">
            <span class="orig">Hieroglyphicks</span>
            <span class="reg">Hieroglyphics</span>
         </span> of the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>, by <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> these <span class="pc">-</span>
         <br/>and other <span class="choice">
            <span class="orig">Allegoryes</span>
            <span class="reg">Allegories</span>
         </span> were propagated amongst other nations, very few of <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>
         <span class="choice">
            <span class="orig">Preists</span>
            <span class="reg">Priests</span>
         </span>, and those <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> understanding the true meaning <span class="pc">-</span>
         <br/>and sense of them, all the rest referring them to other subjects, which were <span class="pc">-</span>
         <br/>not in the nature of things, namely various Gods, Goddesses, and the like: <span class="pc">-</span>
         <br/>
         <span class="milestone">e11-16</span>Hereupon Latona had there the most sumptuous temple next to Vulcan, cove
                        -<br/>red and adorned with gold, as <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> that was the Mother of the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <br/>Apollo and Diana: <span class="milestone">e11-17</span>but this Latona is <span class="choice">
            <span class="orig">browne</span>
            <span class="reg">brown</span>
         </span> and blackish, and <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> many
                        <br/>moles and blemishes in her face, which must be taken away by art, namely
                        <br/>by dealbation: <span class="milestone">e11-18</span>Some <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> make dealbations of Ceruse, Mercury Sublimate,
                        <br/>
         <span class="choice">
            <span class="orig">Talke</span>
            <span class="reg">Talc</span>
         </span>, reduced into <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span>, and the like, with which they incrust, cover, and
                        <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> whiten the outside of the <span class="choice">
            <span class="orig">Skinne</span>
            <span class="reg">Skin</span>
         </span>; but these whitening incrustations
                        <br/>fall <span class="choice">
            <span class="orig">of</span>
            <span class="reg">off</span>
         </span> with every wind or liquor, because they <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not penetrate to the more
                        <br/>inward parts: <span class="milestone">e11-19</span>But the Philosophers care not for such colorations, which are <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">usd</span>
            <span class="reg">used</span>
         </span> more to deceive the eyes, than to tinge the <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> substance of the
                        <br/>body: For they would have the face of Latona whitened thoroughly, and
                        <br/>the <span class="choice">
            <span class="orig">Skinne</span>
            <span class="reg">Skin</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> altered, that is, <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span>, and not superficially: <span class="milestone">e11-20</span>a <span class="choice">
            <span class="orig">Quæstion</span>
            <span class="reg">Question</span>
         </span>
         <br/>might be asked how it can be? I answer, Latona must be first sought out
                        <br/>and <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span>, which though <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> be taken out of a vile place, must not
                        -<br/>withstanding be sublimed to a more worthy, but if <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> be taken out
                        <br/>of a more worthy place, <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> must be <span class="choice">
            <span class="orig">throwne</span>
            <span class="reg">thrown</span>
         </span> into a place more vile, <span class="pc">-</span>
         <br/>namely into dung: for there will <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> become truely white, and be <span class="pc">-</span>
         <br/>made white lead, which being had, there is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> need to doubt of <span class="choice">
            <span class="orig">suc
                        -<br/>cesse</span>
            <span class="reg">success</span>
         </span>, or red lead, which is the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span> and end of the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>
         <span class="pc">. . .</span>
      </div>
   </body>
</html>
