<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
<!--       <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/> -->
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e03</h2>
      <div id="mottoPartial--e">
         <span class="pb">14</span>
         <h3 class="title">
            <br/>
            <span class="choice">
               <span class="orig">Embleme</span>
               <span class="reg">Emblem</span>
            </span> 3. Of the Secrets of Nature.
                     <br/>
                     <span id="motto-e">
            <span class="choice">
               <span class="orig">Goe</span>
               <span class="reg">Go</span>
            </span> to the woman washing <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span>, and <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> you after the same manner.</span></h3>
      </div>
      <div id="epigramPartial--e">
         <h3 class="epigram">
            <span class="choice">
               <span class="orig">Epigramme</span>
               <span class="reg">Epigram</span>
            </span> 3.</h3>
         <div class="verse">
            <br/>If you delight to dive in things abstruse,<br/>Be vigilant, observe what may conduce:<br/>
            <span class="choice">
               <span class="orig">Doe</span>
               <span class="reg">Do</span>
            </span> you not see, how women wash and <span class="choice">
               <span class="orig">boyle</span>
               <span class="reg">boil</span>
            </span>
            <br/>Their <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span> in waters <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span>, if they <span class="choice">
               <span class="orig">gett</span>
               <span class="reg">get</span>
            </span>
            <span class="choice">
               <span class="orig">soyle</span>
               <span class="reg">soil</span>
            </span>?<br/>Pursue their steps, you cannot <span class="choice">
               <span class="orig">goe</span>
               <span class="reg">go</span>
            </span> astray,<br/>For water washeth any filth away.</div>
      </div>
      <div id="discoursePartial--e">
         <span class="pb">15</span>
         <h3 class="discourse">Discourse 3.</h3>
         <div class="ab">
            <br/>
            <span class="milestone">e03-01</span>If <span class="subst">
               <span class="del">some <span class="choice">
                     <span class="orig">certaine</span>
                     <span class="reg">certain</span>
                  </span>
               </span>
               <span class="add">any</span>
            </span>
            <span class="choice">
               <span class="orig">impurityes</span>
               <span class="reg">impurities</span>
            </span> happen to <span class="choice">
               <span class="orig">linnen</span>
               <span class="reg">linen</span>
            </span>
            <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span>, whereby they are spot
                     -<br/>ted and <span class="choice">
               <span class="orig">blacke</span>
               <span class="reg">black</span>
            </span>, as with earthy recrements, they are <span class="choice">
               <span class="orig">washd</span>
               <span class="reg">washed</span>
            </span> away by the next <span class="pc">-</span>
            <br/>Element, namely water, and the <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span> exposed to the <span class="choice">
               <span class="orig">aire</span>
               <span class="reg">air</span>
            </span>, that the moisture <span class="pc">-</span>
            <br/>together with the <span class="choice">
               <span class="orig">fæces</span>
               <span class="reg">feces</span>
            </span> may be <span class="choice">
               <span class="orig">drawne</span>
               <span class="reg">drawn</span>
            </span> out by the heat of the <span class="choice">
               <span class="orig">Sunne</span>
               <span class="reg">Sun</span>
            </span>, as by <span class="pc">-</span>
            <br/>fire, the fourth Element, if this be often done the <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span>, which before were
                     <br/>
            <span class="choice">
               <span class="orig">foule</span>
               <span class="reg">foul</span>
            </span> and <span class="choice">
               <span class="orig">uncleane</span>
               <span class="reg">unclean</span>
            </span>, <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> become pure, and <span class="subst">
               <span class="del">purged</span>
               <span class="add">free</span>
            </span> from Spots: <span class="milestone">e03-02</span>This is the art of
                     <br/>women, which they learned from Nature <span class="choice">
               <span class="orig">herselfe</span>
               <span class="reg">herself</span>
            </span>:<span class="milestone">e03-02</span> for <span class="choice">
               <span class="orig">wee</span>
               <span class="reg">we</span>
            </span> see, that if the bones of
                     <br/>
            <span class="choice">
               <span class="orig">animalls</span>
               <span class="reg">animals</span>
            </span>, which at first are <span class="choice">
               <span class="orig">blacke</span>
               <span class="reg">black</span>
            </span> and filthy, be exposed to the <span class="choice">
               <span class="orig">aire</span>
               <span class="reg">air</span>
            </span>, and often
                     <br/>
            <span class="choice">
               <span class="orig">washd</span>
               <span class="reg">washed</span>
            </span> with <span class="choice">
               <span class="orig">raine</span>
               <span class="reg">rain</span>
            </span>, and <span class="choice">
               <span class="orig">dryed</span>
               <span class="reg">dried</span>
            </span>
            <span class="choice">
               <span class="orig">agayne</span>
               <span class="reg">again</span>
            </span> by the heat of the <span class="choice">
               <span class="orig">Sunne</span>
               <span class="reg">Sun</span>
            </span> often coming upon
                     <br/>them, they will, as <span class="choice">
               <span class="orig">Isaacke</span>
               <span class="reg">Isaac</span>
            </span> notes, <span class="milestone">e03-03</span>be reduced to perfect <span class="choice">
               <span class="orig">whitenesse</span>
               <span class="reg">whiteness</span>
            </span>: The same <span class="pc">-</span>
            <br/>
            <span class="choice">
               <span class="orig">allso</span>
               <span class="reg">also</span>
            </span> were <span class="choice">
               <span class="orig">observd</span>
               <span class="reg">observed</span>
            </span> in the <span class="choice">
               <span class="orig">Philosophicall</span>
               <span class="reg">Philosophical</span>
            </span> subject, whatsoever <span class="choice">
               <span class="orig">crudityes</span>
               <span class="reg">crudities</span>
            </span> and <span class="choice">
               <span class="orig">fæ
                     -<br/>ces</span>
               <span class="reg">feces</span>
            </span> appear, they are purged and taken away by <span class="del">their</span> waters poured on, and the
                     <br/>body <span class="del">is</span> brought to great clarity and perfection. <span class="milestone">e03-04</span>For all <span class="choice">
               <span class="orig">Chymicall</span>
               <span class="reg">Chymical</span>
            </span> operations,
                     <br/>as Calcination, Sublimation, Solution, Distillation, Descension, Coagulation, Fixa
                     -<br/>tion, and the rest, are perfected by ablution alone: <span class="milestone">e03-05</span>For <span class="choice">
               <span class="orig">hee</span>
               <span class="reg">he</span>
            </span> that <span class="choice">
               <span class="orig">washeth</span>
               <span class="reg">washes</span>
            </span> an <span class="pc">-</span>
            <br/>impure thing with water, performs the same thing, as is accomplished by <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span>
            <span class="pc">-</span>
            <br/>many forms of operating: <span class="milestone">e03-06</span>For, as the Philosophers Rosary <span class="choice">
               <span class="orig">sayth</span>
               <span class="reg">says</span>
            </span>
            <span class="choice">
               <span class="orig">linnen</span>
               <span class="reg">linen</span>
            </span> of
                     <br/>prince Duenech being defiled by sweat, must be washed by fire, and burned <span class="pc">-</span>
            <br/>by water: <span class="milestone">e03-07</span>by which fire and water seem to have given one another <span class="choice">
               <span class="orig">mutuall</span>
               <span class="reg">mutual</span>
            </span>
            <span class="choice">
               <span class="orig">qua
                     -<br/>lityes</span>
               <span class="reg">qualities</span>
            </span>, or that the <span class="choice">
               <span class="orig">Philosophicall</span>
               <span class="reg">Philosophical</span>
            </span> fire is not of the same kind with <span class="choice">
               <span class="orig">coḿon</span>
               <span class="reg">common</span>
            </span> fire, and
                     <br/>the same must be <span class="choice">
               <span class="orig">supposd</span>
               <span class="reg">supposed</span>
            </span> of the water. <span class="milestone">e03-08</span>As for Calx vive, and ignis Græcus <span class="choice">
               <span class="orig">wee</span>
               <span class="reg">we</span>
            </span>
            <br/>know that they are kindled by water, and <span class="choice">
               <span class="orig">noe</span>
               <span class="reg">no</span>
            </span> wise extinguished, contrary to <span class="pc">-</span>
            <br/>the nature of other things that are subject to take fire: <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> they <span class="choice">
               <span class="orig">affirme</span>
               <span class="reg">affirm</span>
            </span> that
                     <br/>Camphore being kindled before burnes in water: <span class="milestone">e03-09</span>and the Stone <span class="choice">
               <span class="orig">calld</span>
               <span class="reg">called</span>
            </span> Gagates (as
                     <br/>Ansell de Bood attests) being kindled is more easily extinguished by <span class="choice">
               <span class="orig">oyle</span>
               <span class="reg">oil</span>
            </span>
            <span class="pc">-</span>
            <br/>than <span class="del">by</span> water: for <span class="choice">
               <span class="orig">Oyle</span>
               <span class="reg">Oil</span>
            </span> is <span class="subst">
               <span class="del">
                  <span class="unclear">not</span>
               </span>
               <span class="add">mixed</span>
            </span> with it, and suffocates the fired body:
                     <br/>
            <span class="milestone">e03-10</span>water not being able to mix <span class="choice">
               <span class="orig">itselfe</span>
               <span class="reg">itself</span>
            </span> with <span class="choice">
               <span class="orig">fattnesse</span>
               <span class="reg">fatness</span>
            </span>, gives place to the body <span class="pc">-</span>
            <br/>being fired, <span class="choice">
               <span class="orig">unlesse</span>
               <span class="reg">unless</span>
            </span> it <span class="choice">
               <span class="orig">alltogether</span>
               <span class="reg">altogether</span>
            </span> cover and <span class="choice">
               <span class="orig">overwhelme</span>
               <span class="reg">overwhelm</span>
            </span> it: but that can
                     -<br/>not easily be done, because it is a stone, and swims upon the top of the <span class="pc">-</span>
            <br/>water, as all <span class="choice">
               <span class="orig">oyle</span>
               <span class="reg">oil</span>
            </span>: <span class="choice">
               <span class="orig">Soe</span>
               <span class="reg">So</span>
            </span> Naphta, Petroleum, and the like being kindled <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span>
            <br/>not much fear water. <span class="milestone">e03-11</span>Some write of the Subterranean coals in the dominion
                     <br/>of Liege, that being kindled in the earth, they cannot be extinguished by
                     <br/>water, but <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span> by throwing and heaping the dust of the earth upon them:
                     <br/>as Cor: <span class="milestone">e03-12</span>Tacitus declares of the like kind of fire, which cannot be quenched
                     <br/>by water, but <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span> by clubs, and garments taken <span class="choice">
               <span class="orig">of</span>
               <span class="reg">off</span>
            </span> from the body: <span class="milestone">e03-13</span>there
                     <br/>is therefore a great diversity of <span class="superscript">1</span>fires, <span class="superscript">8</span>and <span class="superscript">9</span>
            <span class="choice">
               <span class="orig">noe</span>
               <span class="reg">no</span>
            </span>
            <span class="superscript">10</span>
            <span class="choice">
               <span class="orig">lesse</span>
               <span class="reg">less</span>
            </span>
            <span class="superscript">11</span>of <span class="superscript">12</span>liquors, <span class="superscript">2</span>
            <span class="add">both</span>
            <span class="superscript">3</span>in <span class="superscript">4</span>exciting <span class="pc">-</span>
            <br/>
            <span class="superscript">5</span>and <span class="superscript">6</span>in <span class="superscript">7</span>extinguishing, <span class="superscript">13</span>because <span class="choice">
               <span class="orig">milke</span>
               <span class="reg">milk</span>
            </span>, vinegar, Spirit of wine, Aqua fortis,
                     <br/>aqua Regia, and <span class="choice">
               <span class="orig">coḿon</span>
               <span class="reg">common</span>
            </span> water <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> differ much one from another, as to com
                     -<br/>parison with fire: <span class="milestone">e03-14</span>nor this <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span>, but <span class="choice">
               <span class="orig">allso</span>
               <span class="reg">also</span>
            </span> the matter <span class="choice">
               <span class="orig">itselfe</span>
               <span class="reg">itself</span>
            </span>
            <span class="choice">
               <span class="orig">doth</span>
               <span class="reg">does</span>
            </span> some
                     -<br/>times <span class="choice">
               <span class="orig">sustaine</span>
               <span class="reg">sustain</span>
            </span> fire, as those fine Byssinian <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span>, formerly used and
                     <br/>esteemed by rich men, which were <span class="choice">
               <span class="orig">washd</span>
               <span class="reg">washed</span>
            </span>, or reduced to former <span class="choice">
               <span class="orig">cleanesse</span>
               <span class="reg">cleanness</span>
            </span>,
                     <br/>by fire, not by water, the <span class="choice">
               <span class="orig">fæces</span>
               <span class="reg">feces</span>
            </span> being burned away: <span class="milestone">e03-15</span>Whatsoever some men
                     <br/>vainly <span class="choice">
               <span class="orig">talke</span>
               <span class="reg">talk</span>
            </span> of the <span class="choice">
               <span class="orig">haires</span>
               <span class="reg">hairs</span>
            </span> of the reptile Salamander, as if incombustible
                  
                     
                     <span class="pb">16</span>
            <span class="fw">Discourse 3.</span>
            <br/>Elychnia <span class="add">or <span class="choice">
                  <span class="orig">lamp-wiecks</span>
                  <span class="reg">lamp-wicks</span>
               </span>
            </span> may be made thereof, is not to be regarded: Some there be who of a
                     <br/>truth <span class="choice">
               <span class="orig">affirme</span>
               <span class="reg">affirm</span>
            </span> that in times past a texture was <span class="choice">
               <span class="orig">præpared</span>
               <span class="reg">prepared</span>
            </span>
            <span class="milestone">e03-16</span>of <span class="choice">
               <span class="orig">Talke</span>
               <span class="reg">Talc</span>
            </span>, plumous Alum,
                     <br/>and such other matters, which was frequently purged by fire, but that the art <span class="pc">-</span>
            <br/>was lost and extinct with the artist (a woman of Antwerp) through envy, and that
                     <br/>the same temperament could not be found afterwards: <span class="choice">
               <span class="orig">Wee</span>
               <span class="reg">We</span>
            </span>
            <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> not here <span class="choice">
               <span class="orig">speake</span>
               <span class="reg">speak</span>
            </span> of
                     <br/>combustible matters: The <span class="choice">
               <span class="orig">Philosophicall</span>
               <span class="reg">
                  <span class="milestone">e03-17</span>Philosophical</span>
            </span> Subject must be considered according
                     <br/>to all these differences, if at any time it be <span class="choice">
               <span class="orig">præpared</span>
               <span class="reg">prepared</span>
            </span>: for fire, water, and matter
                     <br/>
            <span class="choice">
               <span class="orig">itselfe</span>
               <span class="reg">itself</span>
            </span> is here not <span class="choice">
               <span class="orig">coḿon</span>
               <span class="reg">common</span>
            </span>: for the Philosophers fire is water, and water fire: <span class="pc">-</span>
            <br/>
            <span class="milestone">e03-18</span>their water <span class="choice">
               <span class="orig">doth</span>
               <span class="reg">does</span>
            </span> at once both wash and calcine, <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span>
            <span class="choice">
               <span class="orig">allso</span>
               <span class="reg">also</span>
            </span> their fire: and the <span class="pc">-</span>
            <br/>
            <span class="choice">
               <span class="orig">cloaths</span>
               <span class="reg">clothes</span>
            </span> which are to be <span class="choice">
               <span class="orig">washd</span>
               <span class="reg">washed</span>
            </span> have the nature of the byssinean textures, or
                     <br/>
            <span class="choice">
               <span class="orig">præpared</span>
               <span class="reg">prepared</span>
            </span>
            <span class="choice">
               <span class="orig">Talke</span>
               <span class="reg">Talc</span>
            </span>, the temperament of which, and art of <span class="choice">
               <span class="orig">præparation</span>
               <span class="reg">preparation</span>
            </span> is <span class="choice">
               <span class="orig">allso</span>
               <span class="reg">also</span>
            </span>
            <span class="pc">-</span>
            <br/>not obvious to all men: <span class="milestone">e03-19</span>
            <span class="underline">To wash them, they make a Lixivium, or Lye, not <span class="pc">-</span>
               <br/>with the ashes, or Salt of Oaks,</span> bu<span class="underline">t <span class="choice">
                  <span class="orig">metallicke</span>
                  <span class="reg">metallic</span>
               </span>, which is more durable than <span class="pc">-</span>
               <br/>the other, nor with <span class="choice">
                  <span class="orig">coḿon</span>
                  <span class="reg">common</span>
               </span> water,</span>
            <span class="underline">but that, which <span class="choice">
                  <span class="orig">hath</span>
                  <span class="reg">has</span>
               </span> been <span class="choice">
                  <span class="orig">congeled</span>
                  <span class="reg">congealed</span>
               </span> into <span class="pc">-</span>
               <br/>Ice and Snow under the <span class="choice">
                  <span class="orig">signe</span>
                  <span class="reg">sign</span>
               </span> Aquary, as that which is of thinner parts, than
                     <br/>standing waters of ditches or Marshes, and therefore can better penetrate into
                     <br/>the more <span class="choice">
                  <span class="orig">internall</span>
                  <span class="reg">internal</span>
               </span> parts of the <span class="choice">
                  <span class="orig">blacke</span>
                  <span class="reg">black</span>
               </span> and unclean <span class="choice">
                  <span class="orig">Philosophicall</span>
                  <span class="reg">Philsophical</span>
               </span> body, in <span class="pc">-</span>
               <br/>order to the washing and purging thereof</span>
            <span class="pc">. . . . . . .</span>
         </div>
      </div>
   </body>
</html>
