<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e25</h2>
      <span class="pb">80</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 25. Of the Secrets of Nature.
                        <br/>The Dragon <span class="choice">
            <span class="orig">dyes</span>
            <span class="reg">dies</span>
         </span> not, except <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> by his brother and Sister,
                        <br/>which are Sol and Luna.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 25.</h3>
      <div class="verse">
         <br/>To kill the dragon will much art require,<br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> sure as never after to respire:<br/>Brother and Sister <span class="choice">
            <span class="orig">joyntly</span>
            <span class="reg">jointly</span>
         </span> must invade<br/>His life, <span class="choice">
            <span class="orig">'cause</span>
            <span class="reg">because</span>
         </span> nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span> can him degrade;<br/>Luna his sister is, who Orion Slew,<br/>His brother <span class="choice">
            <span class="orig">Phœbus</span>
            <span class="reg">Phoebus</span>
         </span> Python overthrew.</div>
      <span class="pb">81</span>
      <h3 class="discourse">Discourse 25.</h3>
      <div class="ab">
         <br/>In acquiring the golden fleece the Dragon was first of all to be killed, because<span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>the <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span> being attempted by many men, they were overcome by the Dragon <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">destroyd</span>
            <span class="reg">destroyed</span>
         </span> with deadly <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span>: the reason was, because they were not sufficiently
                        <br/>armed against the dragons <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span>, nor instructed, by what <span class="choice">
            <span class="orig">entrigue</span>
            <span class="reg">intrigue</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="pc">-</span>
         <br/>might be <span class="choice">
            <span class="orig">slayne</span>
            <span class="reg">slain</span>
         </span>: but Jason (the <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>) neglected <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> manner of <span class="choice">
            <span class="orig">reme
                        -<br/>dyes</span>
            <span class="reg">remedies</span>
         </span>, whereof <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> received <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> from Medea (the advice of the mind) and <span class="pc">-</span>
         <br/>amongst those the images of Sol and Luna, which using <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">successefully</span>
            <span class="reg">successfully</span>
         </span>
         <span class="choice">
            <span class="orig">ob
                        -<br/>taind</span>
            <span class="reg">obtained</span>
         </span> the victory with the reward, that is, the Golden Fleece. The Dragon there
                        -<br/>fore was <span class="choice">
            <span class="orig">slayne</span>
            <span class="reg">slain</span>
         </span> by Sol and Luna, or the images of them, which the Philosophers
                        <br/>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> in many places inculcate: for an Author of the Rosary amongst others <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> it
                        <br/>thus: Hermes; The Dragon <span class="choice">
            <span class="orig">dyes</span>
            <span class="reg">dies</span>
         </span> not, except <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> by his brother and Sister,
                        <br/>not by one alone but by both together, to <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>, by Sol and Luna. The Philoso
                        -<br/>phers Mercury never <span class="choice">
            <span class="orig">dyes</span>
            <span class="reg">dies</span>
         </span>, except <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> by his Sister, that is, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must be
                        <br/>
         <span class="choice">
            <span class="orig">congeald</span>
            <span class="reg">congealed</span>
         </span> by Luna or Sol. Note, that the Dragon is Argent vive extracted from <span class="choice">
            <span class="orig">bo
                        -<br/>dyes</span>
            <span class="reg">bodies</span>
         </span>, having in it body, <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>, and Spirit, whereupon <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>: The Dragon <span class="choice">
            <span class="orig">dyes</span>
            <span class="reg">dies</span>
         </span>
         <span class="pc">-</span>
         <br/>not, except by his brother and Sister, that is, Sol and Luna, that is, Sulphur ex
                        -<br/>tracted, containing in it the nature of <span class="choice">
            <span class="orig">moistnesse</span>
            <span class="reg">moistness</span>
         </span> and <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> according to Luna,
                        <br/>by those the dragon <span class="choice">
            <span class="orig">dyes</span>
            <span class="reg">dies</span>
         </span>, that is, Argent vive extracted from the same <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> at <span class="pc">-</span>
         <br/>first, which is the Philosophers Aqua permanens, which is made after putre
                        -<br/>faction, and after separation of the Elements, and that water is by another <span class="pc">-</span>
         <br/>name called Aqua fætida: these are his words: with <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> all the rest <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="pc">-</span>
         <br/>agree, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that there is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> need to <span class="choice">
            <span class="orig">alleadge</span>
            <span class="reg">alleged</span>
         </span> the authority of every one: the
                        <br/>Epyreans <span class="choice">
            <span class="orig">worshipped</span>
            <span class="reg">worshiped</span>
         </span> the Dragon in the temple of Apollo in <span class="choice">
            <span class="orig">coḿemoration</span>
            <span class="reg">commemoration</span>
         </span> of <span class="pc">-</span>
         <br/>Python being <span class="choice">
            <span class="orig">slayne</span>
            <span class="reg">slain</span>
         </span>: <span class="choice">
            <span class="orig">Warre</span>
            <span class="reg">War</span>
         </span> and hatred is genuine to the dragon with the Ele
                        -<br/>phant, whose eyes and throat <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> strikes at, till the Elephant falling on the <span class="pc">-</span>
         <br/>ground kills the dragon with <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> by the weight of his body, by which means
                        <br/>dragons blood is imported into our <span class="choice">
            <span class="orig">countryes</span>
            <span class="reg">countries</span>
         </span>: The Dragon <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> eyes of the va
                        -<br/>luation of <span class="choice">
            <span class="orig">gemms</span>
            <span class="reg">gems</span>
         </span>: his sight is very acute and clear, and therefore <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is much
                        <br/>used for the keeping of treasures, as the apples of the Hesperides, and the gol
                        -<br/>den fleece at Colchos <span class="choice">
            <span class="orig">aforesayd</span>
            <span class="reg">aforesaid</span>
         </span>: The Ancients <span class="choice">
            <span class="orig">ascribed</span>
            <span class="reg">ascribed</span>
         </span> a dragon to <span class="choice">
            <span class="orig">Æsculapius</span>
            <span class="reg">Asculapius</span>
         </span>
         <br/>as a <span class="choice">
            <span class="orig">Hieroglyphicke</span>
            <span class="reg">Hieroglypics</span>
         </span>: But the Chymists <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> appropriate dragons to their opera
                        -<br/>tions, not indeed really, but allegorically: for a dragon, whether <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">fixd</span>
            <span class="reg">fixed</span>
         </span>
         <span class="pc">-</span>
         <br/>or volatile, <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> denotes Mercury: for this reason Mercury is to be seen with
                        <br/>two serpents twisted about his wand (the Dragon being a great Serpent) and <span class="choice">
            <span class="orig">Sa
                        -<br/>turne</span>
            <span class="reg">Saturn</span>
         </span> with one, which <span class="choice">
            <span class="orig">devoures</span>
            <span class="reg">devours</span>
         </span> his <span class="choice">
            <span class="orig">tayle</span>
            <span class="reg">tail</span>
         </span>, as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> Janus: A Serpent is conse
                        -<br/>crated to <span class="choice">
            <span class="orig">Æsculapius</span>
            <span class="reg">Asculapius</span>
         </span> the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Apollo, the <span class="choice">
            <span class="orig">inventer</span>
            <span class="reg">inventor</span>
         </span> of medicine (<span class="choice">
            <span class="orig">Philo
                        -<br/>sophicall</span>
            <span class="reg">Philosophical</span>
         </span> medicine) in which <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is reported to be brought from Epi
                        -<br/>daurus to Rome, and there <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span>
         <span class="choice">
            <span class="orig">worshipped</span>
            <span class="reg">worshiped</span>
         </span> for the cessation of the <span class="pc">-</span>
         <br/>pestilence caused by him, as was supposed: But the Philosophers dragon is
                        <br/>
         <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> most vigilant and lively, nor easily to be wounded, both by rea
                        -<br/>son of the <span class="choice">
            <span class="orig">thicknesse</span>
            <span class="reg">thickness</span>
         </span> of his <span class="choice">
            <span class="orig">skinne</span>
            <span class="reg">skin</span>
         </span>, and the <span class="choice">
            <span class="orig">sharpnesse</span>
            <span class="reg">sharpness</span>
         </span> of his teeth <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span>, wherewith <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is armed: For though <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> dragons are <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>
         <br/>to be <span class="choice">
            <span class="orig">voyd</span>
            <span class="reg">void</span>
         </span> of <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span>, yet this is not without it, venting it upon any one
                        
                        <span class="pb">82</span>
         <span class="fw">Discourse 25.</span>
         <br/>in his way, if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be not warily managed: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> can therefore be rarely over
                        -<br/>come by force, except the craft of his consanguine relations be <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> added: For
                        <br/>the Poet <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>
         <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span>, It is a safe and <span class="choice">
            <span class="orig">usuall</span>
            <span class="reg">usual</span>
         </span> way to deceive by the name <span class="pc">-</span>
         <br/>of a <span class="choice">
            <span class="orig">freind</span>
            <span class="reg">friend</span>
         </span>, yet though it be a safe and <span class="choice">
            <span class="orig">usuall</span>
            <span class="reg">usual</span>
         </span> way, it is a crime, which is <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span>, and in other businesses, not here. <span class="choice">
            <span class="orig">Juglers</span>
            <span class="reg">Jugglers</span>
         </span> and Mountebanks are <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to <span class="pc">-</span>
         <br/>kill and <span class="choice">
            <span class="orig">expell</span>
            <span class="reg">expel</span>
         </span>
         <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span> out of children by the powder of such other <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span>, that
                        <br/>is, brethren by brothers and Sisters, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> here the dragon must be killed by the
                        <br/>brother and Sister together, that is, by Sol and Luna: from whence it appears
                        <br/>that the dragon is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> one of the <span class="choice">
            <span class="orig">Planetts</span>
            <span class="reg">Planets</span>
         </span>, to <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>, Mercury extracted from
                        <br/>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, as <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> been <span class="choice">
            <span class="orig">allready</span>
            <span class="reg">already</span>
         </span> manifested by the Rosary: Some of the <span class="choice">
            <span class="orig">Græ
                        -<br/>cians</span>
            <span class="reg">Grecians</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span>, that, in the <span class="choice">
            <span class="orig">reigne</span>
            <span class="reg">reign</span>
         </span> of <span class="choice">
            <span class="orig">Herodes</span>
            <span class="reg">Herod</span>
         </span> King of <span class="choice">
            <span class="orig">Judæa</span>
            <span class="reg">Judea</span>
         </span>, a dragon <span class="pc">-</span>
         <br/>fell in love with a <span class="choice">
            <span class="orig">mariageable</span>
            <span class="reg">marriageable</span>
         </span> and <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span>
         <span class="choice">
            <span class="orig">mayd</span>
            <span class="reg">maid</span>
         </span>, and lay with her in bed,
                        <br/>and that Tiberius the <span class="choice">
            <span class="orig">Emperour</span>
            <span class="reg">Emperor</span>
         </span> delighted in another, which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">coḿonly</span>
            <span class="reg">commonly</span>
         </span>
         <br/>fed with his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> hand: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> dragon, if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="pc">-</span>
         <br/>rightly handled, leaves his <span class="choice">
            <span class="orig">fiercenesse</span>
            <span class="reg">fierceness</span>
         </span>, and becomes a <span class="choice">
            <span class="orig">freind</span>
            <span class="reg">friend</span>
         </span> to man, though
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be <span class="choice">
            <span class="orig">malitious</span>
            <span class="reg">malicious</span>
         </span>, if otherwise. Xanthus the historian is a <span class="choice">
            <span class="orig">wittnesse</span>
            <span class="reg">witness</span>
         </span> with <span class="pc">-</span>
         <br/>Pliny, that the young of a dragon being <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> was restored by the parent
                        <br/>to life with the <span class="choice">
            <span class="orig">herbe</span>
            <span class="reg">herb</span>
         </span>, which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> calls Balin: which notwithstanding I as
                        -<br/>cribe to a <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> allegory, rather than true history, for life is <span class="choice">
            <span class="orig">re
                        -<br/>stord</span>
            <span class="reg">restored</span>
         </span> to a dead dragon, and death to a living by course in <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span> processes <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>:
                        <br/>But some man may enquire, where and how the dragon must be taken? <span class="pc">-</span>
         <br/>The Philosophers answer by a verse most concisely,
                        Dant Rebis montes, dracones, terraq, fontes:<br/>But you may see Tacitus of the way of taking him, with what care and
                        <br/>industry many men <span class="choice">
            <span class="orig">watchd</span>
            <span class="reg">watched</span>
         </span> to take a mighty dragon <span class="choice">
            <span class="orig">observd</span>
            <span class="reg">observed</span>
         </span> in Africa,
                        <br/>and bring him to the <span class="choice">
            <span class="orig">Emperour</span>
            <span class="reg">Emperor</span>
         </span> Tiberius, namely the dragons accusto
                        -<br/>med way amongst stones being enclosed and by degrees straightened, <span class="pc">-</span>
         <br/>where <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was <span class="choice">
            <span class="orig">stopd</span>
            <span class="reg">stopped</span>
         </span> by <span class="choice">
            <span class="orig">netts</span>
            <span class="reg">nets</span>
         </span> and cords, and at length made tame by clubs <span class="pc">-</span>
         <br/>and stripes, and as a <span class="choice">
            <span class="orig">burthen</span>
            <span class="reg">burden</span>
         </span> of many carts brought to a ship, in which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>was <span class="choice">
            <span class="orig">carryed</span>
            <span class="reg">carried</span>
         </span> to Rome<span class="pc">. . . . . . . . . . .</span>
      </div>
   </body>
</html>
