<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e41</h2>
                <span class="pb">128</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 41. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        Adonis is <span class="choice"><span class="orig">killd </span><span class="reg">killed</span></span> by a Boar, to <span class="choice"><span class="orig">whome </span><span class="reg">whom</span></span> Venus hasting tinged the
                        Roses with her blood.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 4i.</h3>
                    <div class="verse-epigram">
                        <br/>Myrrha, conspiring with her Sire, gave breath
                        <br/>To <span class="choice"><span class="orig">th' </span><span class="reg">the</span></span> fair Adonis, <span class="choice"><span class="orig">tushd </span><span class="reg">tushed</span></span> by a Boar to death:
                        <br/>Fond Venus <span class="choice"><span class="orig">runns </span><span class="reg">runs</span></span>, with <span class="choice"><span class="orig">thorne </span><span class="reg">thorn</span></span> in foot, which bled,
                        <br/>And therewith <span class="choice"><span class="orig">tingd </span><span class="reg">tinged</span></span> the lilly Roses red;
                        <br/>The <span class="choice"><span class="orig">Goddesse </span><span class="reg">Goddess</span></span> weeps, the Syrians can't <span class="choice"><span class="orig">refraine </span><span class="reg">refrain</span></span>,
                        <br/><span class="choice"><span class="orig">Hee's </span><span class="reg">He's</span></span> <span class="choice"><span class="orig">layd </span><span class="reg">laid</span></span> amongst the <span class="choice"><span class="orig">lettice </span><span class="reg">lettuce</span></span> being <span class="choice"><span class="orig">Slayne </span><span class="reg">Slain</span></span>
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">129</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 4i.</h3>
                    <div class="ab"> 
                        How improperly some of the Mythologists resolve the Allegory of <span class="milestone">e03-01</span> 
                        Adonis, and ascribe him sometimes to the <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>, the <span class="choice"><span class="orig">Boare </span><span class="reg">Boar</span></span>, by which
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was <span class="choice"><span class="orig">slayne </span><span class="reg">slain</span></span>, to a hard winter, sometimes to the seed of wheat, 
                        which is six <span class="choice"><span class="orig">moneths </span><span class="reg">months</span></span> with Proserpina under the earth, and as many
                        above the earth with Venus, is <span class="choice"><span class="orig">elswhere </span><span class="reg">elsewhere</span></span> sufficiently explained and
                        refuted by us. Here <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> with the consent of all men declare the
                        <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span> to be meant by Adonis: From whence the Versicle:
                        
                            <div class="verse-discourse">
                                <br/>Omnia sunt idem, Dionysus, Sol, et Adonis:</div>
                            And Orpheus:<span class="pc">------</span><div class="verse-discourse"><br/>Qui vario lætaris nomine Adoni,
                                <br/>Germinum et idem author, pariter puer atꝗ puella.
                            </div>
                        
                        All which are by <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> means to be understood of the <span class="choice"><span class="orig">cælestiall </span><span class="reg">celestial</span></span>, but 
                        <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>; for this <span class="choice"><span class="orig">expresseth </span><span class="reg">expresses</span></span> both sexes, that not: <span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> they attribute the very same thing to Dionysus, and the <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>, 
                        as to Adonis, and on the contrary, as <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> to Osiris. Adonis is <span class="choice"><span class="orig">killd </span><span class="reg">killed</span></span> by a
                        <span class="choice"><span class="orig">Boare </span><span class="reg">Boar</span></span>, that is, by Acetum acerrimum, or the solutive water, which <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span>
                        terrible teeth like a boar, with which <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">tusheth </span><span class="reg">tushes</span></span> Adonis; because the 
                        <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> Sol is <span class="choice"><span class="orig">mortalls </span><span class="reg">mortals</span></span> wounded by that boar, loosened in the
                        members and <span class="choice"><span class="orig">cutt </span><span class="reg">cut</span></span> <span class="choice"><span class="orig">of </span><span class="reg">off</span></span>; But Venus <span class="choice"><span class="orig">endeavours </span><span class="reg">endeavors</span></span> to <span class="choice"><span class="orig">helpe </span><span class="reg">help</span></span> her Paramour, 
                        who being dead, <span class="choice"><span class="orig">shee </span><span class="reg">she</span></span> <span class="choice"><span class="orig">layd </span><span class="reg">laid</span></span> him amongst <span class="choice"><span class="orig">Lettices </span><span class="reg">Lettuces</span></span>, and <span class="choice"><span class="orig">watchd </span><span class="reg">watched</span></span> him. After
                        the same manner is Osiris <span class="choice"><span class="orig">killd </span><span class="reg">killed</span></span> by Typhon, and cut into <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span> <span class="choice"><span class="orig">peices </span><span class="reg">pieces</span></span>,
                        which Isis, the wife of Osiris, gathered up, and being <span class="choice"><span class="orig">joynd </span><span class="reg">joined</span></span> together <span class="choice"><span class="orig">buryed </span><span class="reg">buried</span></span>. The same mourning, which followed the death of Osiris every 
                        year in <span class="choice"><span class="orig">Ægypt </span><span class="reg">Egypt</span></span>, was <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> celebrated after the death of Adonis in Syria
                        and the bordering kingdoms; where for some <span class="choice"><span class="orig">dayes </span><span class="reg">days</span></span> weeping and wailing
                        being heard, afterwards were signs of joy given, and dancing, as if <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>,
                        that was dead, now lived anew being conveyed to heaven: From whence
                        arose the vanity of their religion or heathenish superstition, which 
                        grew to an excessive height, the <span class="choice"><span class="orig">Devill </span><span class="reg">Devil</span></span> giving occasion, and procuring
                        false miracles. Adonis was (as they <span class="choice"><span class="orig">feigne </span><span class="reg">feign</span></span>) <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> of Cinyre King of
                        Cyprus, and Myrrha his daughter, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to be <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> in <span class="choice"><span class="orig">incæst </span><span class="reg">incest</span></span> (if
                        history be considered) wicked, if an allegory, not <span class="choice"><span class="orig">unlawfull </span><span class="reg">unlawful</span></span>, but principally necessary: For if the mother and <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span>, or the father and 
                        daughter be not <span class="choice"><span class="orig">joynd </span><span class="reg">joined</span></span> together, and an offspring produced from thence,
                        nothing is perfected in this art. For here, the nearer the man and
                        wife are one to the other in blood, in the first degree of consanguinity, or second, the more <span class="choice"><span class="orig">fruitfull </span><span class="reg">fruitful</span></span> they are, and on the contrary, the more remote, the more <span class="choice"><span class="orig">unfruitfull </span><span class="reg">unfruitful</span></span>, which is not tolerable
                        in the matrimony of men. For this cause <span class="choice"><span class="orig">Œdypus </span><span class="reg">Oedipus</span></span> <span class="choice"><span class="orig">marryd </span><span class="reg">married</span></span> his <span class="choice"><span class="orig">owne </span><span class="reg">own</span></span>
                        mother, Jupiter his Sister, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> Osiris, <span class="choice"><span class="orig">Saturne </span><span class="reg">Saturn</span></span>, Sol, the red
                        servant, Gabritius; Sol (in a Metaphor of Belinus in the Rosary) 
                        
                        
                        
                        <span class="pb">130</span>
                        speaks thus of Adonis, that is, of <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span>: Know yee, that my father Sol
                        <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> given <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span> power above all power, and <span class="choice"><span class="orig">cloathed </span><span class="reg">clothed</span></span> <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span> with the garment of glory: And a little after: For I am his <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> and more
                        like my father, etc. I divest my servants of their power and nature, 
                        and <span class="choice"><span class="orig">cloath </span><span class="reg">cloth</span></span> them with my <span class="choice"><span class="orig">beautifull </span><span class="reg">beautiful</span></span> <span class="choice"><span class="orig">splendour </span><span class="reg">splendor</span></span> and light (which my
                        father gave <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>) in all their works: For I am excellent, who <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> exalt
                        and <span class="choice"><span class="orig">depresse </span><span class="reg">depress</span></span> all things, and none of my servants is above <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>, but one, 
                        who is permitted to be repugnant and contrary to <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>: And <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">destroyes </span><span class="reg">destroys</span></span>
                        <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>, yet <span class="choice"><span class="orig">destroyes </span><span class="reg">destroys</span></span> not my nature: And <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is <span class="choice"><span class="orig">Saturne </span><span class="reg">Saturn</span></span>, who separates all
                        my parts: Afterwards I <span class="choice"><span class="orig">goe </span><span class="reg">go</span></span> to my mother, who gathers together all my 
                        divided and separated members: I illuminate all those things that 
                        <span class="choice"><span class="orig">appertaine </span><span class="reg">appertain</span></span> to <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>, and cause light to appear openly in the way from
                        my father <span class="choice"><span class="orig">Saturne </span><span class="reg">Saturn</span></span>, as <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> from my mother, who is an enemy to <span class="choice"><span class="orig">mee </span><span class="reg">me</span></span>.
                        The words hitherto spoken are <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> clear, as to <span class="choice"><span class="orig">discusse </span><span class="reg">discuss</span></span> <span class="choice"><span class="orig">darkenesse </span><span class="reg">darkness</span></span> from
                        the eyes of the mind even to him that is but meanly conversant in 
                        the reading of authors, and discover the light of the <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>, which is
                        abundantly perspicuous in the <span class="choice"><span class="orig">cohærencyes </span><span class="reg">coherencies</span></span> insinuated of things and persons: For those things which are true, though shaded under the <span class="choice"><span class="orig">veyle </span><span class="reg">veil</span></span>
                        of an allegory, <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> consent in <span class="choice"><span class="orig">wonderfull </span><span class="reg">wonderful</span></span> harmony one with another, 
                        but those things which are false are repugnant, and inconsistent with
                        themselves, and others <span class="pc">. . . . . . . . .</span>
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>