<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e12</h2>
      <span class="pb">41</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 12. Of the Secrets of Nature.
                        <br/>The Stone, which <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> vomited up, being devoured instead
                        <br/>of his <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> jupiter, is placed in Helicon as a monument to men.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 12.</h3>
      <div class="verse">
         <br/>Know would you why the Poets <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> recount<br/>The fame of Helicon, the Muses mount?<br/>That <span class="choice">
            <span class="orig">monumentall</span>
            <span class="reg">monumental</span>
         </span> stone is <span class="choice">
            <span class="orig">plac'd</span>
            <span class="reg">placed</span>
         </span> thereon,<br/>Which <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>
         <span class="choice">
            <span class="orig">gorg'd</span>
            <span class="reg">gorged</span>
         </span> instead of Jove his <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>.<br/>Be wise, the sense agrees not with the Sound,<br/>For Saturn's Stone in Chymistry is found.</div>
      <span class="pb">42</span>
      <h3 class="discourse">Discourse 12.</h3>
      <div class="ab">
         <br/>The Allegory of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> find to be taken <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span>
         <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span>: for the Astro<span class="milestone">e03-01</span>-<br/>nomers repute him the highest of the <span class="choice">
            <span class="orig">Planetts</span>
            <span class="reg">Planets</span>
         </span> in order; the young students
                        <br/>of Chymistry the meanest of <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span>, namely lead: The heathen Poets: <span class="choice">
            <span class="orig">con
                        -<br/>ceivd</span>
            <span class="reg">conceived</span>
         </span> him to be the father of Jupiter, <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Cælum; the Mythologists time.
                        <br/>But though all these may seem to have thought aright in their sense, yet <span class="pc">-</span>
         <br/>they will not declare those things which are <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> spoken of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, <span class="pc">-</span>
         <br/>why <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> devoured and vomited up his <span class="choice">
            <span class="orig">sonns</span>
            <span class="reg">sons</span>
         </span>, and a stone instead of Jupiter,
                        <br/>why <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is the discoverer of truth, why appearing with a <span class="choice">
            <span class="orig">sieth</span>
            <span class="reg">scythe</span>
         </span>, a serpent, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, morosity, and distorted feet? Herein the last <span class="choice">
            <span class="orig">thinke</span>
            <span class="reg">think</span>
         </span> themselves to
                        <br/>interpret best, saying, that time <span class="choice">
            <span class="orig">reveales</span>
            <span class="reg">reveals</span>
         </span> and manifests truth, slides away as a Ser
                        -<br/>pent, cuts all things <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> with death as by a <span class="choice">
            <span class="orig">sieth</span>
            <span class="reg">scythe</span>
         </span>, <span class="choice">
            <span class="orig">devoures</span>
            <span class="reg">devours</span>
         </span> its children, that is,
                        <br/>all those things which it <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> generated, digests hard stones, or cannot consume
                        <br/>them, and therefore <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> as it were vomit them up <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>: These things <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> indeed
                        <br/>agree in part, but are not consonant to the truth of the thing, and all circum
                        -<br/>stances. But the exercises Philosophers <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> say, that <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> is first in their
                        <br/>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, which if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be really <span class="choice">
            <span class="orig">præsent</span>
            <span class="reg">present</span>
         </span>, they cannot <span class="choice">
            <span class="orig">erre</span>
            <span class="reg">err</span>
         </span>, truth is discovered in
                        <br/>
         <span class="choice">
            <span class="orig">darknesse</span>
            <span class="reg">darkness</span>
         </span>; but there is nothing besides <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>: wherefore they say in <span class="pc">-</span>
         <br/>Turba Philosophorum, whatsoever <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> comes after <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> is laudable:
                        <br/>and when you see your matter <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>, <span class="choice">
            <span class="orig">rejoyce</span>
            <span class="reg">rejoice</span>
         </span>, because it is the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span> of <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>: And, when it is first <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>, <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> say it is the key of the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, <span class="pc">-</span>
         <br/>because it is not effected without <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, as the Rosary <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> it, with Arnold,
                        <br/>and the Speculum: when you are operating, <span class="choice">
            <span class="orig">endeavour</span>
            <span class="reg">endeavor</span>
         </span> to <span class="choice">
            <span class="orig">obtaine</span>
            <span class="reg">obtain</span>
         </span> first a <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>
         <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, and then will you be <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> that you putrefy, and proceed
                        <br/>the right way. And a little after: that <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> is called earth, which is made
                        <br/>by light decoction <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> often repeated, till <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> be most eminent: For <span class="pc">-</span>
         <br/>this reason say the same, that <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>
         <span class="choice">
            <span class="orig">possesseth</span>
            <span class="reg">possesses</span>
         </span> the earth, Mercury water, <span class="pc">-</span>
         <br/>Jupiter <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, Sol fire. <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> therefore is <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, the discoverer of truth,
                        <br/>who <span class="choice">
            <span class="orig">followes</span>
            <span class="reg">follows</span>
         </span> a stone instead of Jupiter. For <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, that is, a <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> cloud
                        <br/>covers the stone as first, that is cannot be seen: Therefore <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Morienes <span class="pc">-</span>
         <br/>every body without a <span class="choice">
            <span class="orig">soule</span>
            <span class="reg">soul</span>
         </span> is <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> and obscure: And Hermes: Take his head <span class="pc">-</span>
         <br/>dissolve it with the Sharpest vinegar, or the urine of children, till it be made <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span>: This being performed <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> lives in putrefaction, and the <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> clouds which
                        <br/>were upon him, and in his body, before <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">dyed</span>
            <span class="reg">died</span>
         </span>, are returned. This stone is <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> disgorged by <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, when it becomes white, and then is it <span class="choice">
            <span class="orig">sett</span>
            <span class="reg">set</span>
         </span> upon <span class="pc">-</span>
         <br/>the top of Helicon for a monument to men, as Hesiod writes: for <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span> is
                        <br/>really comprehended under <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, which is <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> out of its <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span>, that
                        <br/>is, out of the <span class="choice">
            <span class="orig">stomacke</span>
            <span class="reg">stomach</span>
         </span> of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>. therefore <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Democritus; putrify <span class="choice">
            <span class="orig">Tinne</span>
            <span class="reg">Tin</span>
         </span>
         <br/>with a peculiar ablution, draw its <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> and obscurity from it, and the
                        <br/>
         <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span> of it will appear. And in Turba it is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>: <span class="choice">
            <span class="orig">Joyne</span>
            <span class="reg">Join</span>
         </span> the dry with
                        <br/>the moist, that is, the <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> earth with its water, and coct, till it be whitened.
                        <br/>This Arnold in Novum lumen chapt. 4. excellently declares, saying; That <span class="pc">-</span>
         <br/>moisture therefore which caused <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> in decoction, <span class="choice">
            <span class="orig">Shews</span>
            <span class="reg">Shows</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> to be <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">dryed</span>
            <span class="reg">dried</span>
         </span>, when the white <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> begins to appear. And a little after: And <span class="pc">-</span>
         <br/>my Master <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span>, that that brunity ascended, because the <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span>
         <span class="pb">43</span>
         <span class="fw">Discourse 12.</span>
         <br/>was <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> out of the belly of its <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, as is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> in Turba: For when <span class="pc">-</span>
         <br/>you see it <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> know that the <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span> of it is hidden in the <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span> of the
                        <br/>
         <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> first appearing. As the Same <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> is called <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <br/>Lead: Thereupon <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Agadimon in Turba: Coct your <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>, till the <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> come forth,
                        <br/>which they call money, and mix the matters of your art, and you will find <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>
         <span class="pc">-</span>
         <br/>presently, which is the Philosophers lead, of which they have treated much in their <span class="pc">-</span>
         <br/>books: Hitherto relates the saying of Emiganus, that the Splendor of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> ascending
                        <br/>into the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> appears <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> otherwise than darkened. And of Plato in the Rosary; The
                        <br/>first way of governing <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> is to putrefy and put it upon Sol: by which it is evident <span class="pc">-</span>
         <br/>that the sense of the Philosophers, speaking of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, is <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> different from the
                        <br/>
         <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> acceptation. This <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> generates Jupiter, that is, an obscure <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span>, Jupiter
                        <br/>of Latona Diana, that is perfect <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span>, and Apollo, that is, <span class="choice">
            <span class="orig">rednesse</span>
            <span class="reg">redness</span>
         </span>; and this is
                        <br/>the successive mutation of all perfect <span class="choice">
            <span class="orig">colours</span>
            <span class="reg">colors</span>
         </span>: This Stone cast out by <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> is
                        <br/>reported to be placed at the top of the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> as a monument to men, which
                        <br/>is a thing most true<span class="pc">. . . . . . . . . . . .</span>
      </div>
   </body>
</html>
