<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e06</h2>
      <span class="pb">23</span>
      
                <div id="mottoPartial--e"><!-- addition -->
                    <div class="title">
                        <h3 class="title">
                            <span class="emblem-heading"><!-- addition -->
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 6. Of the Secrets of Nature.
      </span>
                 <br/>
         <span class="choice">
            <span class="orig">Sowe</span>
            <span class="reg">Sow</span>
         </span> your gold in the white foliated earth.
         </h3>
     </div>
 </div>

<div id="epigramPartial--e"><!-- addition -->
  <div class="epigram">
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 6.</h3>
      <div class="verse-epigram">
         <br/>
         <span class="choice">
            <span class="orig">Rusticks</span>
            <span class="reg">Rustics</span>
         </span> their seed to <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> fertile earth <span class="choice">
            <span class="orig">committ</span>
            <span class="reg">commit</span>
         </span>,<br/>When with their harrows they have made it <span class="choice">
            <span class="orig">fitt</span>
            <span class="reg">fit</span>
         </span>:<br/>The Sophi thus their golden seed <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">sowe</span>
            <span class="reg">sow</span>
         </span>
         <br/>In foliated earth as white as Snow:<br/>This method well observe, and <span class="choice">
            <span class="orig">you'le</span>
            <span class="reg">you'll</span>
         </span> behold,<br/>As in a <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>, by wheat, your budding gold.</div>
                    </div>
                </div>

                <div id="discoursePartial--e"><!-- addition -->
      <span class="pb">24</span>
                    <div class="discourse">
      <h3 class="discourse">Discourse 6.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e06-01</span>A City <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Plato subsists not by <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> and <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>, but by <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> and
                  <br/>husbandman, that is, men of <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span> functions, but <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> mentions the Husbandman
                  <br/>and <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> first, because their works are very conspicuous in the imitation, <span class="pc">-</span>
         <br/>emendation, and perfection of nature: <span class="milestone">e06-02</span>for they both take a <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> subject,
                  <br/>in which they according to art add some <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> things necessary being wanting,
                  <br/>or <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> remove those things which are superfluous: <span class="milestone">e06-03</span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that the art of both may
                  <br/>(as medicine by Hippocrates) be defined by the addition of defect, and subtract
                  -<br/>tion of superfluity: <span class="milestone">e06-04</span>for what <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> the Husbandman more than add ploughing, ridging
                  <br/>furrowing, harrowing, dunging or manuring, sowing, etc. to land left by nature, that
                  <br/>is, commit the increase and good <span class="choice">
            <span class="orig">successe</span>
            <span class="reg">success</span>
         </span> to nature, which <span class="choice">
            <span class="orig">administreth</span>
            <span class="reg">administers</span>
         </span> the heat
                  <br/>of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, and <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span>, and <span class="choice">
            <span class="orig">multiplyes</span>
            <span class="reg">multiplies</span>
         </span> the seeds by them, and promotes them to
                  <br/>standing <span class="choice">
            <span class="orig">corne</span>
            <span class="reg">corn</span>
         </span> soon after to be reaped: <span class="milestone">e06-05</span>in the <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> time whilst the <span class="choice">
            <span class="orig">herbe</span>
            <span class="reg">herb</span>
         </span> is <span class="pc">-</span>
         <br/>Springing the husbandman weeds out thistles and all impediments, gathers <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">corne</span>
            <span class="reg">corn</span>
         </span> being ripe, takes away things superfluous from it being reaped, namely
                  <br/>straw, <span class="choice">
            <span class="orig">chaffe</span>
            <span class="reg">chaff</span>
         </span>, and such other things: <span class="milestone">e06-06</span>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> (as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a Chymist in
                  <br/>a different respect) <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span> how to <span class="choice">
            <span class="orig">præserve</span>
            <span class="reg">preserve</span>
         </span>
         <span class="choice">
            <span class="orig">præsent</span>
            <span class="reg">present</span>
         </span> health to mans body, being
                  <br/>wanting to recover it by <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span>
         <span class="choice">
            <span class="orig">remedyes</span>
            <span class="reg">remedies</span>
         </span>, takes away the <span class="choice">
            <span class="orig">morbificke</span>
            <span class="reg">morbific</span>
         </span> cause,
                  <br/>cures the disease, <span class="choice">
            <span class="orig">asswageth</span>
            <span class="reg">assuages</span>
         </span> symptoms, abates superfluous blood by opening
                  <br/>a <span class="choice">
            <span class="orig">veyne</span>
            <span class="reg">vein</span>
         </span>, being wanting restores it by <span class="choice">
            <span class="orig">apointing</span>
            <span class="reg">appointing</span>
         </span> good order of <span class="choice">
            <span class="orig">dyet</span>
            <span class="reg">diet</span>
         </span>, evacua
                  -<br/>ates noxious humors by purgation, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> imitates, <span class="choice">
            <span class="orig">supplyes</span>
            <span class="reg">supplies</span>
         </span>, and amends
                  <br/>nature a thousand ways by the works of the understanding and art; which
                  <br/>being notorious, <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span> things are rather to be considered by us: <span class="milestone">e06-07</span>for <span class="choice">
            <span class="orig">Chy
                  -<br/>mistry</span>
            <span class="reg">Chemistry</span>
         </span>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> first declare the operations of agriculture by its secret bounds <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> of operating: <span class="milestone">e06-08</span>Husbandmen have land, wherein to sow seed, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <br/>the Chymists: They have dung wherewith to manure their ground, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> these, without which nothing could be done, nor any successe expected:
                  <br/>They have seed, the multiplication of which they desire: <span class="milestone">e06-09</span>
         <span class="underline">if Chymists</span>
         <span class="pc">-</span>
         <br/>
         <span class="underline">had not the like</span>, they would (as Lully <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>) imitate the painter, that <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">endeavoures</span>
            <span class="reg">endeavors</span>
         </span> to <span class="choice">
            <span class="orig">expresse</span>
            <span class="reg">express</span>
         </span> the face of a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> man, <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> had never
                  <br/>seen, nor the image of him: <span class="milestone">e06-10</span>Husbandmen expect <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span>, and heat of the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> the Chymists <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span> administe<span class="underline">r heat convenient to</span>
         <br/>
         <span class="underline">their <span class="choice">
               <span class="orig">worke</span>
               <span class="reg">work</span>
            </span>
         </span>, <span class="underline">and <span class="choice">
               <span class="orig">raine</span>
               <span class="reg">rain</span>
            </span>
         </span>: I need say <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> more: <span class="milestone">e06-11</span>
         <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>X Chymistry is exactly parallell to agriculture, and its deputy,
                  <br/>which in all things <span class="choice">
               <span class="orig">expresseth</span>
               <span class="reg">expresses</span>
            </span> its offices, but under a most absolute alle
                  -<br/>gory<span class="pc">------------</span>
         </div>
         <span class="milestone">e06-12</span>From hence the Ancients pro
                  -<br/>duces Ceres, Triptolemus, Osiris, Dionysus, the golden Gods, as relating to <span class="choice">
            <span class="orig">Chy
                  -<br/>mistry</span>
            <span class="reg">Chemistry</span>
         </span>, teaching as it were men how to cast the seeds of fruits into their <span class="pc">-</span>
         <br/>earth, <span class="choice">
            <span class="orig">shewing</span>
            <span class="reg">showing</span>
         </span> tillage, with the propagation of vines, and use of wine, <span class="pc">-</span>
         <br/>all which things the ignorant have interpreted to <span class="choice">
            <span class="orig">rusticall</span>
            <span class="reg">rustical</span>
         </span> operations, but
                  <br/>erroneously: <span class="milestone">e06-13</span>for those things, which are absconded from the vulgar, and <span class="pc">-</span>
         <br/>declares to the Learned under these veils of agriculture, are most abstruse <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">mysteryes</span>
            <span class="reg">mysteries</span>
         </span> of nature: <span class="milestone">e06-14</span>To this end say the Philosophers that their gold must <span class="pc">-</span>
         <br/>be sowed upon white foliated earth, as if they meant that the Sowing of <span class="choice">
            <span class="orig">corne</span>
            <span class="reg">corn</span>
         </span>
         <br/>Should be observed and imitated for example, <span class="underline">which the author of the trea
                  <span class="note-mark">*</span>
            <div class="margin-note">
               <span class="note-mark">*</span>?</div>-<br/>tise of <span class="choice">
               <span class="orig">corne</span>
               <span class="reg">corn</span>
            </span>
         </span>
         <span class="underline">and</span> Jo<span class="underline">doc. Greverus have most excellently performed in their</span>
         <span class="pc">-</span>
         <br/>descriptions, for they have both most elegantly <span class="choice">
            <span class="orig">accomodated</span>
            <span class="reg">accommodated</span>
         </span> every operation of
                  <br/>agriculture in the producing of <span class="choice">
            <span class="orig">corne</span>
            <span class="reg">corn</span>
         </span> to the semination of gold, or generation of
                  
       
                  <span class="pb">25</span>
         <span class="fw">Discourse 6.</span>
         <br/>the tincture: <span class="milestone">e06-15</span>White earth, because sandy, <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> little fruit to the countrymen, by
                  <br/>
         <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> that which is <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> and <span class="choice">
            <span class="orig">fatt</span>
            <span class="reg">fat</span>
         </span> is more desired, <span class="milestone">e06-16</span>but the white principally
                  <br/>
         <span class="choice">
            <span class="orig">conduceth</span>
            <span class="reg">conduces</span>
         </span> to the Philosophers, if it be foliated, that is well præpared, because <span class="pc">-</span>
         <br/>they know how to enrich it with their dung, the other not at all: Now sowing is
                  <br/>the propagation of the world, whereby that, which cannot long endure in an
                  <br/>
         <span class="choice">
            <span class="orig">individuall</span>
            <span class="reg">individual</span>
         </span>, is caused to persist in the Species: <span class="milestone">e06-17</span>This is in man, <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>, and
                  <br/>plants, in these hermaphroditically, in them under two distinct sexes: but in
                  <br/>
         <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span>
         <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> otherwise: for i<span class="underline">n them a line is made of the flux of a point, a</span>
         <span class="pc">-</span>
         <br/>
         <span class="underline">superficies of the flux of a line,</span> a <span class="underline">body of the flux of a superficies:</span>
         <span class="milestone">e06-18</span>But <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span> produced that point before the line, superficies, and body, because <span class="pc">-</span>
         <br/>it is the principle of them all: <span class="milestone">e06-19</span>Nature added the flux a long time after, that is, <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">cælestiall</span>
            <span class="reg">celestial</span>
         </span>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> did in the earth generate a <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>, <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> Mercury <span class="choice">
            <span class="orig">coḿitted</span>
            <span class="reg">committed</span>
         </span>
         <br/>to Vulcan and Chiron to be educated, that is, to <span class="choice">
            <span class="orig">manuall</span>
            <span class="reg">manual</span>
         </span> artifice, to be instructed,
                  <br/>even as they write of Achilles, who was held and hardened in fire by his mother
                  <br/>Thetys: <span class="milestone">e06-20</span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>, amongst other things, learned <span class="choice">
            <span class="orig">Musicke</span>
            <span class="reg">Music</span>
         </span>, and the art of playing on the <span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>For this reason <span class="choice">
               <span class="orig">sayth</span>
               <span class="reg">says</span>
            </span>
            <br/>Ovid. Phyllirides <span class="pc">-</span>
            <br/>made the youth <span class="pc">-</span>
            <br/>Achilles an excellent <br/>Harper<span class="pc">. . . .</span>
         </div>
         <br/>Harp from Chiron: <span class="milestone">e06-21</span>but Achilles being <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> other than the <span class="choice">
            <span class="orig">Philosphicall</span>
            <span class="reg">Philosophical</span>
         </span> subject (
                  <br/>whose <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> was was Pyrrhus with red <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span>, without which two Troy could not be <span class="pc">-</span>
         <br/>taken and subdued, as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have abundantly demonstrated in our <span class="choice">
            <span class="orig">Hieroglyphicks</span>
            <span class="reg">Hieroglyphics</span>
         </span>
         <span class="pc">-</span>
         <br/>booke 6.) therefore <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> not without reason touch (though cursorily) upon <span class="choice">
            <span class="orig">Musicke</span>
            <span class="reg">Music</span>
         </span>
         <br/>in this our <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, where <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> describe Achilles, and his <span class="choice">
            <span class="orig">heroicke</span>
            <span class="reg">heroic</span>
         </span> virtues and en
                  -<br/>terprises: <span class="milestone">e06-22</span>For if <span class="choice">
            <span class="orig">Musicke</span>
            <span class="reg">Music</span>
         </span> adorned <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great a <span class="choice">
            <span class="orig">Heroe</span>
            <span class="reg">Hero</span>
         </span>, why may it not <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <br/>make this our <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> more complete and acceptable: <span class="milestone">e06-23</span>For the <span class="choice">
            <span class="orig">Angells</span>
            <span class="reg">Angels</span>
         </span> sing (as the
                  <br/>sacred scriptures attest<span class="supplied">)</span>, the heavens sing, as Pythagoras <span class="choice">
            <span class="orig">affirmes</span>
            <span class="reg">affirms</span>
         </span>, and, as the <span class="pc">-</span>
         <br/>Psalmist <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>, declare the glory of God, the Muses and Apollo sing, as <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Poetts</span>
            <span class="reg">Poets</span>
         </span>, men even infants sing, birds sing, Sheep and geese sing in <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">musicall</span>
            <span class="reg">musical</span>
         </span> instruments, if therefore <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> sing, there is reason for it<span class="pc">. . .</span>
      </div>
                    </div>
                </div>
   </body>
</html>
