<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e34</h2>
      <span class="pb">107</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 34. Of the Secrets of Nature.
                        <br/>
         <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> is conceived in baths, and <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and being made
                        <br/>red walks upon the waters.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 34.</h3>
      <div class="verse">
         <br/>Sol is in baths <span class="choice">
            <span class="orig">conceiv'd</span>
            <span class="reg">conceived</span>
         </span>, <span class="choice">
            <span class="orig">produc'd</span>
            <span class="reg">produced</span>
         </span>
         <span class="choice">
            <span class="orig">ith'</span>
            <span class="reg">in the</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>,<br/>And growing red treads water without fear:<br/>
         <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span>, the Philosophers Supreme delight,<br/>Is on the tops of mountains tinged white;<br/>This <span class="choice">
            <span class="orig">guift</span>
            <span class="reg">gift</span>
         </span> of God<span class="choice">
            <span class="orig">'s</span>
            <span class="reg"> is</span>
         </span> a Stone, and yet not <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>,<br/>
         <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> happy is that shall <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span> thereto.</div>
      <span class="pb">108</span>
      <h3 class="discourse">Discourse 34.</h3>
      <div class="ab">
         <br/>The opinion or flattery of men attributes <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> births to some <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>persons above others, but certainly fabulous, as to Alexander the great,
                        <br/>begotten not by Philip King of Macedonia, but Jupiter Hammon; to <span class="pc">-</span>
         <br/>Romulus and Remus, by Mars; to Plato, <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> of the virgin Perictione
                        <br/>violated by the image of Apollo: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the Heathen would demonstrate
                        <br/>themselves to proceed from the Gods, as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> Thessalus the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Hippo
                        -<br/>crates the <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> amongst other things <span class="choice">
            <span class="orig">endeavour</span>
            <span class="reg">endeavor</span>
         </span> to <span class="choice">
            <span class="orig">perswade</span>
            <span class="reg">persuade</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> to descend from Apollo at Athens: but <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> cannot easily <span class="choice">
            <span class="orig">beleive</span>
            <span class="reg">believe</span>
         </span>
         <br/>them, who know, that they were neither men nor Gods, to <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> they
                        <br/>
         <span class="choice">
            <span class="orig">referre</span>
            <span class="reg">refer</span>
         </span> the <span class="choice">
            <span class="orig">originall</span>
            <span class="reg">original</span>
         </span> of their lineage: And if the Heroes were amongst
                        <br/>men as divine, <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> conceive all those magnificent actions boasted in <span class="pc">-</span>
         <br/>the world, through the adulation of Subjects, disciples, or others, were things
                        <br/>
         <span class="choice">
            <span class="orig">faigned</span>
            <span class="reg">feigned</span>
         </span> of them, and insinuated into the opinion of the vulgar by <span class="pc">-</span>
         <br/>forged writings: The thing is different, that the Philosophers ascribe an <span class="choice">
            <span class="orig">unusu
                        -<br/>all</span>
            <span class="reg">unsual</span>
         </span> conception and nativity to their <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>; for <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> something peculiar <span class="pc">-</span>
         <br/>above all other things <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> in the world, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> being <span class="choice">
            <span class="orig">conceivd</span>
            <span class="reg">conceived</span>
         </span> in baths, and
                        <br/>
         <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>. <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span> know that women being barren through overmuch
                        <br/>
         <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and siccity may be much helped by <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> baths, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to be made
                        <br/>able and <span class="choice">
            <span class="orig">fitt</span>
            <span class="reg">fit</span>
         </span> for conception, but that it should be done in baths is a thing
                        <br/>unheard of: that seems to <span class="choice">
            <span class="orig">appertaine</span>
            <span class="reg">appertain</span>
         </span> to him alone, by reason of the <span class="choice">
            <span class="orig">won
                        -<br/>derfull</span>
            <span class="reg">wonderful</span>
         </span> power of nature <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> different from other things. they <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> say,
                        <br/>that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must be <span class="choice">
            <span class="orig">conceivd</span>
            <span class="reg">conceived</span>
         </span> in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> of the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>, and <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> in the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>: which opinion is more conspicuous: For the waters of baths, if <span class="pc">-</span>
         <br/>there be any, will not be at the top, nor in the <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span>, but in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> of
                        <br/>the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>, and in the <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span> are airy <span class="choice">
            <span class="orig">vapours</span>
            <span class="reg">vapors</span>
         </span>: where therefore con
                        -<br/>ception is made, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> ascends into the <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>, and his birth appears in a
                        <br/>white <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>: <span class="choice">
            <span class="orig">Blacknesse</span>
            <span class="reg">Blackness</span>
         </span> rules in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>, concerning which <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> the
                        <br/>Rosary; Conception is, when the earth is dissolved into a <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span>
         <span class="choice">
            <span class="orig">pouder</span>
            <span class="reg">powder</span>
         </span>, and
                        <br/>begins to <span class="choice">
            <span class="orig">retaine</span>
            <span class="reg">retain</span>
         </span> somewhat of the Mercury; for then the male acts upon
                        <br/>the female, that is, Azoth upon the earth. And a little after: Conception <span class="pc">-</span>
         <br/>and desponsation is made in putrefaction in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> of the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>,
                        <br/>and the generation of things generated will be made in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, to <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>,
                        <br/>in the head of the <span class="choice">
            <span class="orig">vessell</span>
            <span class="reg">vessel</span>
         </span>, that is, the <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>: And conception in
                        <br/>baths is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span> but putrefaction in dung: for <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the same Rosary
                        <br/>
         <span class="choice">
            <span class="orig">continueth</span>
            <span class="reg">continues</span>
         </span>: The body <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> nothing, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> it be <span class="choice">
            <span class="orig">putrefyd</span>
            <span class="reg">putrified</span>
         </span>, and it cannot
                        <br/>be <span class="choice">
            <span class="orig">putrefyd</span>
            <span class="reg">putrefied</span>
         </span>, except with Mercury: And <span class="choice">
            <span class="orig">soone</span>
            <span class="reg">soon</span>
         </span> after: Putrefaction must
                        <br/>be effected with a most gentle heat of <span class="choice">
            <span class="orig">warme</span>
            <span class="reg">warm</span>
         </span> and moist dung, and by
                        <br/>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> other thing, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that nothing ascend, because if any thing should
                        <br/>ascend, there would be a separation of the parts, which ought not to be,
                        <br/>till the male and female be perfectly <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> together, and one re
                        -<br/>ceive the other, the <span class="choice">
            <span class="orig">signe</span>
            <span class="reg">sign</span>
         </span> of which perfect solution is <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span> in <span class="pc">-</span>
         <br/>the superficies. His birth is white, which is consummated at the top
                        
                        
                        
                        <span class="pb">109</span>
         <span class="fw">Discourse 34.</span>
         <br/>of mountains, that is, in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> or <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>; which is by Rosinus to
                        <br/>Euthicia thus explained: The wise man <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>. Take things out of their
                        <br/>
         <span class="choice">
            <span class="orig">mynes</span>
            <span class="reg">mines</span>
         </span>, and exalt them to higher places, and send them from the top
                        <br/>of their mountains, and reduce them to their roots: And afterwards: But
                        <br/>by mountains <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">signifyd</span>
            <span class="reg">signified</span>
         </span> Cucurbits, and by the tops of mountains
                        <br/>
         <span class="choice">
            <span class="orig">Alembicks</span>
            <span class="reg">Alembic</span>
         </span>: and to send is according to similitude to receive the water
                        <br/>of them by an <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span> in a Receiver: and to reduce to the roots, is to
                        <br/>that, from which they proceed: and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> named Cucurbits mountains,
                        <br/>because Sol and Luna are found in mountains: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> in the moun
                        -<br/>tains, which are Cucurbits, are their Sol and Luna generated: These
                        <br/>are his words: Afterwards <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> becomes red, and begins to <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span> upon the
                        <br/>waters, that is, upon <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span> melted by fire, which stand in the <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>
         <br/>of a <span class="choice">
            <span class="orig">mercuriall</span>
            <span class="reg">mercurial</span>
         </span> water: For <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is the lord of waters, upon which
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">exerciseth</span>
            <span class="reg">exercises</span>
         </span> authority, as Neptune, and is the king of the Sea,
                        <br/>and the possessor of mountains. Of Xerxes King of Persia they <span class="pc">-</span>
         <br/>report, that being upon an expedition into Greece, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> sent an <span class="pc">-</span>
         <br/>embassy to the Sea, and to the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> Athos, that they would
                        <br/>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> him <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> wrong, that by the force of waves, this of fire, other
                        -<br/>wise that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> would take revenge upon them both: But the tale <span class="pc">-</span>
         <br/>was told to them that were <span class="choice">
            <span class="orig">deafe</span>
            <span class="reg">deaf</span>
         </span>, and the Sea drowned some of his
                        <br/>ships, and Athos <span class="choice">
            <span class="orig">destroyd</span>
            <span class="reg">destroyed</span>
         </span> not a few by fire. Hereupon the King be
                        -<br/>ing angry, did, as lord fo the Sea and mountains, <span class="choice">
            <span class="orig">coḿand</span>
            <span class="reg">command</span>
         </span> a <span class="choice">
            <span class="orig">cer
                        -<br/>taine</span>
            <span class="reg">certain</span>
         </span> number of stripes to be inflicted upon the first, and a great
                        <br/>part of the <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> cast into the sea: but these things <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>demonstrate the <span class="choice">
            <span class="orig">rashnesse</span>
            <span class="reg">rashness</span>
         </span> rather than the prudence of <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great a
                        <br/>king: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span>, of <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <span class="choice">
            <span class="orig">speake</span>
            <span class="reg">speak</span>
         </span>, <span class="choice">
            <span class="orig">purgeth</span>
            <span class="reg">purges</span>
         </span> all waters from obstacles; <span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">impurityes</span>
            <span class="reg">impurities</span>
         </span>, not by edict, but fact, and freely <span class="choice">
            <span class="orig">passeth</span>
            <span class="reg">passes</span>
         </span> through them,
                        <br/>which <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> (which is more) <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">congealeth</span>
            <span class="reg">congeals</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as by their <span class="choice">
            <span class="orig">hardnesse</span>
            <span class="reg">hardness</span>
         </span> to
                        <br/>bear his chariots, in which ships <span class="choice">
            <span class="orig">sayld</span>
            <span class="reg">sailed</span>
         </span> before: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> makes mountains
                        <br/>
         <span class="choice">
            <span class="orig">æquall</span>
            <span class="reg">equal</span>
         </span> with <span class="choice">
            <span class="orig">vallyes</span>
            <span class="reg">valleys</span>
         </span>, and fears not the flames of fire, and therefore
                        <br/>goes freely wheresoever <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> please, from the pillars of Hercules in
                        <br/>the farthest parts of India, to the pillars of Dionysius<span class="pc">. . . .</span>
      </div>
   </body>
</html>
