<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e44</h2>
      <span class="pb">137</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 44. Of the Secrets of Nature.
                        <br/>Typhon kills <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> by <span class="choice">
            <span class="orig">deceipt</span>
            <span class="reg">deceit</span>
         </span>, and <span class="choice">
            <span class="orig">disperseth</span>
            <span class="reg">disperses</span>
         </span> the parts of his body on
                        <br/>all sides, but the famous Isis gathered them together.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 44.</h3>
      <div class="verse">
         <br/>Adonis Syria, Greece, <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">Dionyse</span>
            <span class="reg">Dionysus</span>
         </span>,<br/>
         <span class="choice">
            <span class="orig">Ægypt</span>
            <span class="reg">Egypt</span>
         </span>, <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span>, all the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">o'th</span>
            <span class="reg">of the</span>
         </span> wise:<br/>Isis, <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> into <span class="choice">
            <span class="orig">peices</span>
            <span class="reg">pieces</span>
         </span>
         <span class="choice">
            <span class="orig">cutt</span>
            <span class="reg">cut</span>
         </span>
         <br/>By <span class="choice">
            <span class="orig">cruell</span>
            <span class="reg">cruel</span>
         </span> Typhon, all together <span class="choice">
            <span class="orig">putt</span>
            <span class="reg">put</span>
         </span>:<br/>But the productive part is lost <span class="choice">
            <span class="orig">i'th</span>
            <span class="reg">in the</span>
         </span> Sea,<br/>For Sulphur Sulphur's father's fled away.</div>
      <span class="pb">138</span>
      <h3 class="discourse">Discourse 44.</h3>
      <div class="ab">
         <br/>The allegory of <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> (namely in the first<span class="milestone">e03-01</span>
         <br/>
         <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of <span class="choice">
            <span class="orig">Hieroglyphicks</span>
            <span class="reg">Hieroglyphics</span>
         </span>) reduced to its true <span class="choice">
            <span class="orig">originall</span>
            <span class="reg">original</span>
         </span>, which is
                        <br/>
         <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span>, and fully <span class="choice">
            <span class="orig">explaind</span>
            <span class="reg">explained</span>
         </span> it: Wherefore here to repeat the
                        <br/>same things (though the same things ought to be spoken of the <span class="pc">-</span>
         <br/>same things) <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> judge superfluous: but <span class="choice">
            <span class="orig">neverthelesse</span>
            <span class="reg">nevertheless</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> will
                        <br/>here <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> a <span class="choice">
            <span class="orig">parallell</span>
            <span class="reg">parallel</span>
         </span> discourse, which will <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> be and <span class="choice">
            <span class="orig">re
                        -<br/>maine</span>
            <span class="reg">remain</span>
         </span> within the prisons of that ancient <span class="choice">
            <span class="orig">Chymy</span>
            <span class="reg">Chemia</span>
         </span>, which is solely
                        <br/>decanted and decipered by the <span class="choice">
            <span class="orig">Poetts</span>
            <span class="reg">Poets</span>
         </span>: Will you <span class="choice">
            <span class="orig">perswade</span>
            <span class="reg">persuade</span>
         </span>
         <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span>
         <span class="pc">-</span>
         <br/>that <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> was a God, or King of the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>? I will not <span class="choice">
            <span class="orig">be
                        -<br/>leive</span>
            <span class="reg">believe</span>
         </span>, though you <span class="choice">
            <span class="orig">perswade</span>
            <span class="reg">persuade</span>
         </span>
         <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> to <span class="choice">
            <span class="orig">beleive</span>
            <span class="reg">believe</span>
         </span>; For <span class="choice">
            <span class="orig">doggs</span>
            <span class="reg">dogs</span>
         </span> (as it is in <span class="pc">-</span>
         <br/>the Proverb) smell <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> otherwise, <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> otherwise Swine: I <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>plainly deny him to be a God, and you will ascent to <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span>, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span>
         <br/>you be a heathen, or of an opinion contradictory to right reason:
                        <br/>And that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> King, is demonstrated by all the circum
                        -<br/>stances which are <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> considered: The <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is, but <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>, the name of which being in many authors often at
                        -<br/>tributed to it, the vulgar, who know <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> other light but that of the <span class="pc">-</span>
         <br/>world, have interpreted for it. The Philosophers <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> denomi
                        -<br/>nation from the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> of the world, because it contains the <span class="choice">
            <span class="orig">propertyes</span>
            <span class="reg">properties</span>
         </span>
         <br/>of nature descending from that <span class="choice">
            <span class="orig">cælestiall</span>
            <span class="reg">celestial</span>
         </span>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, or <span class="choice">
            <span class="orig">agreable</span>
            <span class="reg">agreeable</span>
         </span> to it: <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span>
         <br/>therefore, Dionysus, Bacchus, Jupiter, Mars, Adonis, <span class="choice">
            <span class="orig">Œdipus</span>
            <span class="reg">Oedipus</span>
         </span>, Perseus, Achil
                        -<br/>les, Triptolemus, Pelops, Hippomenes, and Pollux are the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>: but <span class="pc">-</span>
         <br/>Isis, Juno, Venus, the mother of <span class="choice">
            <span class="orig">Œdipus</span>
            <span class="reg">Oedipus</span>
         </span>, Danaë, Deidamia, Atalanta,
                        <br/>Helena, the <span class="choice">
            <span class="orig">Moone</span>
            <span class="reg">Moon</span>
         </span>; as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> Latona, Semele, Europa, Leda, Antiope <span class="pc">-</span>
         <br/>Thalia. And these are the parts of the compound, which before ope
                        -<br/>ration is called Stone, and by the name of every <span class="choice">
            <span class="orig">metall</span>
            <span class="reg">metal</span>
         </span>, Magnesia: <span class="pc">-</span>
         <br/>After operation, Orcus, Pyrrhus, Apollo, <span class="choice">
            <span class="orig">Æsculapius</span>
            <span class="reg">Aesculapius</span>
         </span>. The adjuncts are <span class="pc">-</span>
         <br/>Typhon, Python, the Boar: The Artists are Hercules, <span class="choice">
            <span class="orig">Ulissess</span>
            <span class="reg">Ulysses</span>
         </span>, Jason, <span class="pc">-</span>
         <br/>Theseus, Pyrithous: The <span class="choice">
            <span class="orig">labours</span>
            <span class="reg">labors</span>
         </span> and <span class="choice">
            <span class="orig">perills</span>
            <span class="reg">perils</span>
         </span>, which were undergone by
                        <br/>these artists, are innumerable: The <span class="choice">
            <span class="orig">labours</span>
            <span class="reg">labors</span>
         </span> of Hercules, the <span class="choice">
            <span class="orig">errours</span>
            <span class="reg">errors</span>
         </span> of
                        <br/>Ulysses, the <span class="choice">
            <span class="orig">perills</span>
            <span class="reg">perils</span>
         </span> of Jason, the attempts of Theseus, and the remora's of
                        <br/>Pyrithous may be seen: This is the great volume of matter and doc
                        -<br/>trine, through which in every page Vulcan, Mercury, and <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> backwards and forwards, the first, as the father and cause of all,
                        <br/>without which nothing is effected, the second, as the matter and <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>,
                        <br/>the third, as the efficient. Sol takes his sister Luna to wife: Jupiter Juno,
                        <br/>as <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span> Rhea, and <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> Isis: Dionysus is <span class="choice">
            <span class="orig">rippd</span>
            <span class="reg">ripped</span>
         </span> out of his mother Se
                        -<br/>mele being burnt by the lightening of Jove to be matured in the <span class="pc">-</span>
         <br/>thigh of Jupiter his father, <span class="choice">
            <span class="orig">Æsculapius</span>
            <span class="reg">Aesculapius</span>
         </span> out of Coronis his Mother: Dio
                        -<br/>nysus coming to maturity <span class="choice">
            <span class="orig">shews</span>
            <span class="reg">shows</span>
         </span> men a new way of drinking wine, un
                        -<br/>dertaking an expedition even to the <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span>; <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> and Triptolemus,
                        <br/>the sowing and use of fruit, <span class="choice">
            <span class="orig">Æsculapius</span>
            <span class="reg">Aesculapius</span>
         </span>, the administration of Me
                        
                        
                        
                        <span class="pb">139</span>
         <span class="fw">Discourse 44.</span>-<br/>dicine: Dionysus <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">calld</span>
            <span class="reg">called</span>
         </span> by the Greeks, is Bacchus with the Romans, <span class="pc">-</span>
         <br/>with the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>
         <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span>, with the Syrians Adonis. <span class="choice">
            <span class="orig">Œdipus</span>
            <span class="reg">Oedipus</span>
         </span>
         <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span> his father
                        <br/>and <span class="choice">
            <span class="orig">marryd</span>
            <span class="reg">married</span>
         </span> his mother; Perseus slew his Grand<span class="pc">-</span>father, Typhon his bro
                        -<br/>ther <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span>, a Boar Adonis, Ceres the <span class="choice">
            <span class="orig">nurce</span>
            <span class="reg">nurse</span>
         </span> of Triptolemus his father
                        <br/>Eleusius; Hippomenes <span class="subst">
            <span class="del">obtained</span>
            <span class="add">overcame</span>
         </span> Atalanta by a golden apple. Tantalus
                        <br/>the father of Pelops obtained Hippodamia by the dispute of a <span class="choice">
            <span class="orig">Chariott</span>
            <span class="reg">Chariot</span>
         </span>.
                        <br/>
         <span class="choice">
            <span class="orig">Osyris</span>
            <span class="reg">Osiris</span>
         </span> was <span class="choice">
            <span class="orig">cutt</span>
            <span class="reg">cut</span>
         </span> in <span class="choice">
            <span class="orig">peices</span>
            <span class="reg">pieces</span>
         </span>, and <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span> together <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> by Isis his mother,
                        <br/>sister, and wife. The child Pelops was <span class="choice">
            <span class="orig">boyld</span>
            <span class="reg">boiled</span>
         </span> and <span class="choice">
            <span class="orig">dressd</span>
            <span class="reg">dressed</span>
         </span>, and his shoulder
                        <br/>eaten by Ceres, and <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>
         <span class="choice">
            <span class="orig">restord</span>
            <span class="reg">restored</span>
         </span> to life, an ivory shoulder being added:
                        <br/>Achilles and Triptolemus were put under coals of fire by night, and in
                        <br/>the day time nourished with <span class="choice">
            <span class="orig">milke</span>
            <span class="reg">milk</span>
         </span>, <span class="subst">
            <span class="del">Achilles</span>
            <span class="add">
               <span class="unclear">Triptolemus</span>
            </span>
         </span> by Ceres his <span class="choice">
            <span class="orig">Nurce</span>
            <span class="reg">Nurse</span>
         </span>, <span class="subst">
            <span class="del">Tripto
                        -<br/>lemus</span>
            <span class="add">Achilles</span>
         </span> by his mother Thetis: Achilles and Helena were the causes of the
                        <br/>
         <span class="choice">
            <span class="orig">Trojane</span>
            <span class="reg">Trojan</span>
         </span>
         <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span>, <span class="superscript">1</span>Achilles, <span class="superscript">5</span>as <span class="superscript">6</span>impulsive, <span class="superscript">4</span>Helena, <span class="superscript">2</span>as <span class="superscript">3</span>efficient; Helena was
                        <br/>
         <span class="choice">
            <span class="orig">hatchd</span>
            <span class="reg">hatched</span>
         </span> of an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>, and at the <span class="choice">
            <span class="orig">nuptialls</span>
            <span class="reg">nuptials</span>
         </span> of Peleus and Thetis, from whom
                        <br/>Achilles descended, the apple of Eris, the first cause of the rape of <span class="pc">-</span>
         <br/>Helena, was <span class="choice">
            <span class="orig">throwne</span>
            <span class="reg">thrown</span>
         </span> about. Pollux was with the Argonauts, who (if they
                        <br/>lived) are <span class="choice">
            <span class="orig">præsupposed</span>
            <span class="reg">presupposed</span>
         </span> to have lived near fifty years before the <span class="choice">
            <span class="orig">be
                        -<br/>gining</span>
            <span class="reg">beginning</span>
         </span> of the <span class="choice">
            <span class="orig">Trojane</span>
            <span class="reg">Trojan</span>
         </span>
         <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span>, and Helena with Pollux came both
                        <br/>out of one <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>; Helena therefore was an old woman when she was
                        <br/>
         <span class="choice">
            <span class="orig">ravishd</span>
            <span class="reg">ravished</span>
         </span> by Paris: Medea was <span class="choice">
            <span class="orig">marryd</span>
            <span class="reg">married</span>
         </span> to Achilles in the Elysian <span class="choice">
            <span class="orig">feilds</span>
            <span class="reg">fields</span>
         </span>,
                        <br/>then an old <span class="choice">
            <span class="orig">toothlesse</span>
            <span class="reg">toothless</span>
         </span> woman: <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> perhaps <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> restored youth to
                        <br/>
         <span class="choice">
            <span class="orig">herselfe</span>
            <span class="reg">herself</span>
         </span>, as <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> did to <span class="choice">
            <span class="orig">Æson</span>
            <span class="reg">Aeson</span>
         </span>, the father of Jason, and as Ceres to Pe
                        -<br/>lops, for which reason <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to become twice young: Perseus <span class="choice">
            <span class="orig">re
                        -<br/>ceivd</span>
            <span class="reg">received</span>
         </span> a flying horse from Pallas, and in recompence brought her
                        <br/>the head of Medusa, to <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> Mercury gave a <span class="choice">
            <span class="orig">Semitar</span>
            <span class="reg">Scimitar</span>
         </span>, and
                        <br/>other Gods other weapons; Ceres gave Triptolemus a chariot <span class="pc">-</span>
         <br/>with flying Dragons: When Pallas was <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> of Jupiters <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span>,
                        <br/>as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> when Sol lay with Venus it rained gold at Rhodes; <span class="pc">-</span>
         <br/>And Jupiter in the <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> of a golden shower had coition with
                        <br/>Danaë, as a <span class="choice">
            <span class="orig">Swanne</span>
            <span class="reg">Swan</span>
         </span> compressed Leda, as a <span class="choice">
            <span class="orig">Cuckow</span>
            <span class="reg">Cuckoo</span>
         </span> his Sister <span class="pc">-</span>
         <br/>Juno, as a Bull Europa, as a <span class="choice">
            <span class="orig">Satyre</span>
            <span class="reg">Satyr</span>
         </span> Antiope, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> there
                        <br/>is <span class="choice">
            <span class="orig">cohærence</span>
            <span class="reg">coherence</span>
         </span> in all<span class="pc">. . . . . . . . . .</span>
      </div>
   </body>
</html>
