<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e33</h2>
      <span class="pb">104</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 33. of the Secrets of Nature.
                        <br/>The Hermaphrodite lying like a dead man in <span class="choice">
            <span class="orig">darknesse</span>
            <span class="reg">darkness</span>
         </span>, wants fire.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 33.</h3>
      <div class="verse">
         <br/>See here the cold and dry Hermaphrodite,<br/>Appears as <span class="choice">
            <span class="orig">dismall</span>
            <span class="reg">dismal</span>
         </span> as a ghost by night:<br/>Fire is the thing <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> wants, if that you give,<br/>His Spirits feeling warmth will <span class="choice">
            <span class="orig">soone</span>
            <span class="reg">soon</span>
         </span> revive.<br/>The Stone's whole virtue in God Vulcan <span class="choice">
            <span class="orig">lyes</span>
            <span class="reg">lies</span>
         </span>,<br/>Sulphurs in Sol, in Luna <span class="choice">
            <span class="orig">Mercurye's</span>
            <span class="reg">Mercury's</span>
         </span>.</div>
      <span class="pb">105</span>
      <h3 class="discourse">Discourse 33.</h3>
      <div class="ab">
         <br/>It is one of the secrets of Nature, that in the cold winter <span class="choice">
            <span class="orig">Froggs</span>
            <span class="reg">Frogs</span>
         </span> and <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>Horse<span class="pc">-</span>leeches <span class="choice">
            <span class="orig">lye</span>
            <span class="reg">lie</span>
         </span> as it were dead under water, and in the Spring new <span class="pc">-</span>
         <br/>heat of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> operating recover sense and motion, or <span class="choice">
            <span class="orig">performe</span>
            <span class="reg">perform</span>
         </span>
         <span class="pc">-</span>
         <br/>the actions of a <span class="choice">
            <span class="orig">sensitiue</span>
            <span class="reg">sensitive</span>
         </span> life: But if they be found in the waters <span class="pc">-</span>
         <br/>in the winter time, and brought into the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> or a <span class="choice">
            <span class="orig">warme</span>
            <span class="reg">warm</span>
         </span> house, they
                        <br/>presently begin to move themselves, as in the Summer: From whence
                        <br/>it appears, that they want nothing but <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> heat, to excite the
                        <br/>
         <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span>
         <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> heat, and bring it to action: After the same man
                        -<br/>ner <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> the Philosophers <span class="choice">
            <span class="orig">speake</span>
            <span class="reg">speak</span>
         </span> of their Hermaphrodite, who, if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>appears dead lying in <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span>, requires the heat of fire: Now <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="pc">-</span>
         <br/>is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to <span class="choice">
            <span class="orig">lye</span>
            <span class="reg">lie</span>
         </span> in <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span>, being left in a <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> and most cold win
                        -<br/>ters night, that is, remaining in <span class="choice">
            <span class="orig">blacknesse</span>
            <span class="reg">blackness</span>
         </span>, which is a <span class="choice">
            <span class="orig">signe</span>
            <span class="reg">sign</span>
         </span> of <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span>,
                        <br/>from which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> ought to be brought to <span class="choice">
            <span class="orig">whitenesse</span>
            <span class="reg">whiteness</span>
         </span> by a greater intension
                        <br/>of fire, and by yet a greater, to <span class="choice">
            <span class="orig">rednesse</span>
            <span class="reg">redness</span>
         </span>: For, as Bodillus in Turba <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>,
                        <br/>nothing is generated without heat, and a bath of vehement heat <span class="choice">
            <span class="orig">causeth</span>
            <span class="reg">causes</span>
         </span>
         <span class="pc">-</span>
         <br/>a body to perish, if it be cold it drives it away, but if it be temperate, it
                        <br/>becomes <span class="choice">
            <span class="orig">agreable</span>
            <span class="reg">agreeable</span>
         </span> and pleasant to the body. Bonellus in the same <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>,
                        <br/>All things that live <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> (God <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> pleasing) <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>: that nature there
                        -<br/>fore, which is <span class="choice">
            <span class="orig">depriv'd</span>
            <span class="reg">deprived</span>
         </span> of moisture, being <span class="choice">
            <span class="orig">exposd</span>
            <span class="reg">exposed</span>
         </span> by night, seems like
                        <br/>a dead man, and then that nature requires fire, till the body and Spi
                        -<br/>rit of it be turned into earth, and then it becomes dust like to a dead
                        <br/>man in his <span class="choice">
            <span class="orig">tombe</span>
            <span class="reg">tomb</span>
         </span>: these things being accomplished God restores a Spirit
                        <br/>and <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span> to it, and all infirmity being taken away our nature is com
                        -<br/>forted and amended: It is therefore requisite to <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> that matter without
                        <br/>fear etc. Fire therefore, which <span class="choice">
            <span class="orig">destroyes</span>
            <span class="reg">destroys</span>
         </span> all other things, <span class="choice">
            <span class="orig">repaires</span>
            <span class="reg">repairs</span>
         </span> this, that
                        <br/>which <span class="choice">
            <span class="orig">yeilds</span>
            <span class="reg">yields</span>
         </span> death to others gives life to this. One <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>
         <span class="choice">
            <span class="orig">Phœnix</span>
            <span class="reg">Phoenix</span>
         </span> there is,
                        <br/>which is restored by fire, which is renewed by flames, and revives out of
                        <br/>ashes, and this being <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> to the Philosophers <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> is burnt and
                        <br/>restored to life, whatsoever other men <span class="choice">
            <span class="orig">dreame</span>
            <span class="reg">dream</span>
         </span> of a bird, I know not <span class="pc">-</span>
         <br/>what, that <span class="choice">
            <span class="orig">flyeth</span>
            <span class="reg">flies</span>
         </span>, residing <span class="choice">
            <span class="orig">noewhere</span>
            <span class="reg">nowhere</span>
         </span>, nor seen, but as a fable. The
                        <br/>Hermaphrodite, of which the Philosophers <span class="choice">
            <span class="orig">speake</span>
            <span class="reg">speak</span>
         </span>, is of a <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> na
                        -<br/>ture, male and female, whereof one <span class="choice">
            <span class="orig">passeth</span>
            <span class="reg">passes</span>
         </span> into another by the <span class="pc">-</span>
         <br/>operation of heat, for the female is converted into a male, which <span class="pc">-</span>
         <br/>ought not to seem <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> strange in the Philosophers <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, it being <span class="pc">-</span>
         <br/>found, if <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> may <span class="choice">
            <span class="orig">beleive</span>
            <span class="reg">believe</span>
         </span>
         <span class="choice">
            <span class="orig">historyes</span>
            <span class="reg">histories</span>
         </span>, that many men have <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">changd</span>
            <span class="reg">changed</span>
         </span> their sex: The <span class="choice">
            <span class="orig">Poetts</span>
            <span class="reg">Poets</span>
         </span> make mention of Ceneus, Iphis, and
                        <br/>Tiresias, as Pontanus in the <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>.
                        <div class="verse">
            <br/>Pœniteat generis tamen et se Cenea malint,<br/>Aut in fœmineam penitùs transire figuram: And Ausonius:<br/>Mœret in antiquam Ceneus revocata figuram.</div>
         <br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> in the Consulship of Licinius Crassus, and Caius Cassius Longinus
                        
                        
                        
                        <span class="pb">106</span>
         <span class="fw">Discourse 33.</span>
         <br/>at Cassinum a boy was made of a Virgin: And Licinius Mutianus in Pli
                        -<br/>ny relates, that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> had seen one Aristontes at Argos, called <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> by the <span class="pc">-</span>
         <br/>name of Aristusa, who was <span class="choice">
            <span class="orig">marryd</span>
            <span class="reg">married</span>
         </span>, and <span class="choice">
            <span class="orig">soone</span>
            <span class="reg">soon</span>
         </span> after discovered a beard <span class="pc">-</span>
         <br/>and virility, and <span class="choice">
            <span class="orig">marryd</span>
            <span class="reg">married</span>
         </span> a wife: Pliny <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span>
         <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> that in Africa
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> saw Lucius Cossicius a Citizen of Tisdritane <span class="choice">
            <span class="orig">chang'd</span>
            <span class="reg">changed</span>
         </span> into a woman
                        <br/>on the day of <span class="choice">
            <span class="orig">mariage</span>
            <span class="reg">marriage</span>
         </span>: <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> it is that these things are true, and <span class="pc">-</span>
         <br/>might be proved by many other examples, if need were: but the <span class="choice">
            <span class="orig">geni
                        -<br/>tall</span>
            <span class="reg">genital</span>
         </span> or virile parts are thrust out of the body by the <span class="choice">
            <span class="orig">encrease</span>
            <span class="reg">increase</span>
         </span> of heat:
                        <br/>For a woman being much colder than a man, and having inwardly <span class="pc">-</span>
         <br/>those things absconded, which a man <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> outwardly, as <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>
         <span class="pc">-</span>
         <br/>say, hereupon Nature being dubious, whether <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> Should generate a <span class="pc">-</span>
         <br/>man or a woman, <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">expressd</span>
            <span class="reg">expressed</span>
         </span> a woman outwardly, though inwardly <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span>
         <span class="choice">
            <span class="orig">conceivd</span>
            <span class="reg">conceived</span>
         </span> a man: for which reason heat and motion increasing <span class="pc">-</span>
         <br/>through age the hidden parts broke forth, and <span class="choice">
            <span class="orig">shewd</span>
            <span class="reg">showed</span>
         </span> themselves visibly
                        <br/>to all men: After the same manner with the Philosophers the woman is
                        <br/>
         <span class="choice">
            <span class="orig">turnd</span>
            <span class="reg">turned</span>
         </span> into a man heat being increased, that is, the Hermaphrodite <span class="choice">
            <span class="orig">loo
                        -<br/>seth</span>
            <span class="reg">looses</span>
         </span> the female sex, and becomes a man stout and grave, having <span class="pc">-</span>
         <br/>nothing in him of effeminacy or levity. <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> some time since <span class="pc">-</span>
         <br/>saw a noble youth an Hermaphrodite changed or rather promoted (by
                        <br/>the industry of the <span class="choice">
            <span class="orig">Chirurgicall</span>
            <span class="reg">Surgical</span>
         </span> art <span class="choice">
            <span class="orig">performd</span>
            <span class="reg">performed</span>
         </span> by that most famous
                        <br/>
         <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> Caspius Tagliacotius of Bononia) into a perfect man, fit (as
                        <br/>was desired) for the generating of an offspring, a new hole being made
                        <br/>through the yard, which was wanting there, and the lower as appertai
                        -<br/>ning to the woman being <span class="choice">
            <span class="orig">stopd</span>
            <span class="reg">stopped</span>
         </span> up. The Philosophers are not without
                        <br/>all these <span class="choice">
            <span class="orig">manuall</span>
            <span class="reg">manual</span>
         </span> operations: for when the <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and <span class="choice">
            <span class="orig">moistnesse</span>
            <span class="reg">moistness</span>
         </span> of <span class="pc">-</span>
         <br/>Luna appears, that they call the woman, when the heat and siccity of
                        <br/>Sol, the man; <span class="add">when</span> all those four <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span> together, <span class="del">being</span> their Rebis or Her
                        -<br/>maphrodite; And thus conversion of the woman may easily be made,
                        <br/>that is, the mutation of <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and <span class="choice">
            <span class="orig">moistnesse</span>
            <span class="reg">moistness</span>
         </span>, into the man, which is
                        <br/>done by the sole heat of fire, as <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> been <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>; for heat sequesters, <span class="pc">-</span>
         <br/>and separates the <span class="choice">
            <span class="orig">superfluityes</span>
            <span class="reg">superfluities</span>
         </span> of moistures, and will establish the <span class="pc">-</span>
         <br/>idea of <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> subject, which is the tincture<span class="pc">. .</span>
      </div>
   </body>
</html>
