<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e49</h2>
                <span class="pb">152</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 49. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        The <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> infant is, as Orion, the <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> of three fathers.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 49.</h3>
                    <div class="verse-epigram">
                        <br/>Vulcan with Hermes and Apollo did
                        <br/>Their seed inject into an oxes hide,
                        <br/>Whence produced was the great Orion:
                        <br/>Three fathers <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> the <span class="choice"><span class="orig">Sophicke </span><span class="reg">Sophic</span></span> <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span>;
                        <br/>The <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span> is first, Vulcan the next is <span class="choice"><span class="orig">stil'd </span><span class="reg">stiled</span></span>
                        <br/>The artist is third father of this Child.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">153</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 49.</h3>
                    <div class="ab"> 
                        Those women, which prostitute themselves to variety of men, <span class="milestone">e03-01</span><span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> <span class="choice"><span class="orig">seldome </span><span class="reg">seldom</span></span> conceive lively children through the confusion of <span class="choice"><span class="orig">divers </span><span class="reg">diverse</span></span> seeds: 
                        for nature in the generation of man and the most part of <span class="choice"><span class="orig">animalls </span><span class="reg">animals</span></span> <span class="choice"><span class="orig">admitts </span><span class="reg">admits</span></span> <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> <span class="choice"><span class="orig">superfœtation </span><span class="reg">superfetation</span></span>, except perhaps very rarely: and therefore 
                        every offspring is produced from one <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> father and mother, whether
                        it be one or more, as is <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> manifest by <span class="choice"><span class="orig">historyes </span><span class="reg">histories</span></span> and the event of 
                        some supposing otherwise; in the first place of Margarett the wife of
                        Herman <span class="choice"><span class="orig">Earle </span><span class="reg">Earl</span></span> of Henneberge, who, in the year 1276, brought forth
                        three hundred and sixty five children, which were all baptized, 
                        and the males called by the name of John, and the females Elizabeth, their grave being dead is yet to be seen in the Church of Lausdune, one mile distant from the Hague towards the Sea in Holland,
                        together with the brazen bason, in which they were baptized, and an
                        inscription of the story: The cause <span class="choice"><span class="orig">alleadgd </span><span class="reg">alleged</span></span> was, that the <span class="choice"><span class="orig">Countesse </span><span class="reg">Countess</span></span>,
                        <span class="choice"><span class="orig">seing </span><span class="reg">seeing</span></span> a poor woman carry two children <span class="choice"><span class="orig">twinns </span><span class="reg">twins</span></span> in her <span class="choice"><span class="orig">armes </span><span class="reg">arms</span></span>, <span class="choice"><span class="orig">calld </span><span class="reg">called</span></span> her
                        <span class="choice"><span class="orig">adulteresse </span><span class="reg">adulteress</span></span>, as if it was impossible for more children to be <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> at one
                        conception by one man, but necessarily by <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span>: Whereupon an imprecation being made by the poor woman, who knew her <span class="choice"><span class="orig">selfe </span><span class="reg">self</span></span> clear 
                        of that accusation, the <span class="choice"><span class="orig">Countesse </span><span class="reg">Countess</span></span> conceived in her <span class="choice"><span class="orig">wombe </span><span class="reg">womb</span></span> at one time
                        and by one man <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many children, as there are <span class="choice"><span class="orig">dayes </span><span class="reg">days</span></span> in the year:
                        This is indeed a miracle, but a <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> <span class="choice"><span class="orig">worke </span><span class="reg">work</span></span>, which happened 
                        through the vengeance of God: But in the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> <span class="choice"><span class="orig">worke </span><span class="reg">work</span></span>
                        that, which is otherwise contrary to nature, is easily admitted under
                        the <span class="choice"><span class="orig">veyle </span><span class="reg">veil</span></span> of an allegory: For here one infant is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to have three fathers, or <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> two, as <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> mothers: Hereupon <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span> Raymund cited by the 
                        Rosary; Our infant <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> two fathers and two mothers, and because <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>
                        with his whole substance is tenderly nourished in fire, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> therefore 
                        never <span class="choice"><span class="orig">dyes </span><span class="reg">dies</span></span>: <span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> Dionysus or Bacchus is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to have two mothers, who 
                        was <span class="choice"><span class="orig">rip'd </span><span class="reg">ripped</span></span> out of his mothers belly (being burned) before the time of his
                        maturity, and matured in his fathers thigh, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> that the father became
                        a mother: But these things are better declared in the conception of 
                        Orion, who is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to be produced from the seed of Apollo, Vulcan, 
                        and Mercury <span class="choice"><span class="orig">mixd </span><span class="reg">mixed</span></span> together, and <span class="choice"><span class="orig">præservd </span><span class="reg">preserved</span></span> in the hide of an <span class="choice"><span class="orig">Oxe </span><span class="reg">Ox</span></span> for
                        the space of <span class="choice"><span class="orig">tenne </span><span class="reg">ten</span></span> <span class="choice"><span class="orig">moneths </span><span class="reg">months</span></span>: These things would be <span class="choice"><span class="orig">alltogether </span><span class="reg">altogether</span></span> mon<span class="note-mark">*</span><div class="margin-note"><span class="note-mark">*</span>NB<span class="unclear">ene</span></div>strous, not <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> fabulous, if a secret of nature were not comprehended under these shrouds, not obvious to all men. Lully in the
                        <span class="choice"><span class="orig">Theoricke </span><span class="reg">Theoric</span></span> of his Testament attributes to the same <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> 
                        infant <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many and <span class="choice"><span class="orig">allmost </span><span class="reg">almost</span></span> the same fathers, namely Sol, who
                        is Apollo, or the <span class="choice"><span class="orig">cælestiall </span><span class="reg">celestial</span></span> Sol is the first author of this generation, 
                        who by his ineffable virtue occult or <span class="choice"><span class="orig">astrall </span><span class="reg">astral</span></span> power operates upon a 
                        <span class="choice"><span class="orig">certaine </span><span class="reg">certain</span></span> matter <span class="choice"><span class="orig">knowne </span><span class="reg">known</span></span> to the Philosophers, as upon the matrix 
                        
                        
                        
                        <span class="pb">154</span>
                        of a woman, and therein <span class="choice"><span class="orig">produceth </span><span class="reg">produces</span></span> a <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> or infant like to <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span>,
                        to <span class="choice"><span class="orig">whome </span><span class="reg">whom</span></span> afterwards <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> will leave and <span class="choice"><span class="orig">resigne </span><span class="reg">resign</span></span> his <span class="choice"><span class="orig">armes </span><span class="reg">arms</span></span> and ensigns 
                        of virtues, by <span class="choice"><span class="orig">paternall </span><span class="reg">paternal</span></span> right, that is, the faculty of maturing things immature, and the energy of tinging and purging things not tinged nor
                        purged. For whatsoever Sol is able to perfect in a thousand years, that
                        will his <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> <span class="choice"><span class="orig">performe </span><span class="reg">perform</span></span> in <span class="choice"><span class="orig">halfe </span><span class="reg">half</span></span> an <span class="choice"><span class="orig">houre </span><span class="reg">hour</span></span>; That therefore virtue 
                        may be made a thousand times stronger in him, than in Sol, his father delivers him to Vulcan and the Artist together for education, that 
                        his generous disposition may be polished and <span class="choice"><span class="orig">multiplyd </span><span class="reg">multiplied</span></span> in virtues by
                        their means; for manifest it is that to practice from a child <span class="choice"><span class="orig">conduceth </span><span class="reg">conduces</span></span>
                        much: <span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> Achilles, Jason, Hercules were <span class="choice"><span class="orig">coḿitted </span><span class="reg">committed</span></span> to Chiron to be instructed for the same end. For Milo the Crotonian, who being a boy 
                        <span class="choice"><span class="orig">carryed </span><span class="reg">carried</span></span> a <span class="choice"><span class="orig">calfe </span><span class="reg">calf</span></span>, when a man <span class="choice"><span class="orig">carryed </span><span class="reg">carried</span></span> an <span class="choice"><span class="orig">Oxe </span><span class="reg">Ox</span></span> by <span class="choice"><span class="orig">custome </span><span class="reg">custom</span></span>. Besides Sol,
                        Vulcan and the artist are not <span class="choice"><span class="orig">erroniously </span><span class="reg">erroneously</span></span> reputed the fathers of this
                        child, because as <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was the first, they made him to be such and <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span>
                        great: <span class="choice"><span class="orig">Noe </span><span class="reg">No</span></span> <span class="choice"><span class="orig">æquivalent </span><span class="reg">equivalent</span></span> compensation can be made to Masters for institution, as neither reward to parents for generation. These compose
                        the body, those the mind. If the mind be better than the body, <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span>
                        <span class="choice"><span class="orig">lesse </span><span class="reg">less</span></span> <span class="choice"><span class="orig">recompence </span><span class="reg">recompense</span></span> is due to those, than to these. In the production of 
                        Orion Mercury contributed matter, Apollo <span class="choice"><span class="orig">forme </span><span class="reg">form</span></span>, and Vulcan heat, or
                        the <span class="choice"><span class="orig">externall </span><span class="reg">external</span></span> efficient cause: <span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> in the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> <span class="choice"><span class="orig">worke </span><span class="reg">work</span></span>
                        it is proper for three fathers to be seen to have conspired for the procreation of one infant, in <span class="choice"><span class="orig">whome </span><span class="reg">whom</span></span> the Philosophers take great delight.
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>