<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e36</h2>
      <span class="pb">113</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 36. Of the Secrets of Nature.
                        <br/>The Stone, that is, Mercury, is cast upon the earth, and exalted on
                        <br/>mountains, and resides in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and is nourished in water<span class="pc">.....</span>
      </h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 36.</h3>
      <div class="verse">
         <br/>The Stone, as refuse, is by some <span class="choice">
            <span class="orig">suppos'd</span>
            <span class="reg">supposed</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">Throwne</span>
            <span class="reg">Thrown</span>
         </span>
         <span class="choice">
            <span class="orig">upo'</span>
            <span class="reg">upon</span>
         </span>
         <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span> earth, to rich and <span class="choice">
            <span class="orig">poore</span>
            <span class="reg">poor</span>
         </span>
         <span class="choice">
            <span class="orig">disclosd</span>
            <span class="reg">disclosed</span>
         </span>:<br/>Some say <span class="choice">
            <span class="orig">'tis</span>
            <span class="reg">it is</span>
         </span> on the highest mountains <span class="choice">
            <span class="orig">plac'd</span>
            <span class="reg">placed</span>
         </span>
         <br/>Some say <span class="choice">
            <span class="orig">ĭth'</span>
            <span class="reg">in the</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, in water some at last;<br/>What they all say is true, but <span class="choice">
            <span class="orig">I'de</span>
            <span class="reg">I'd</span>
         </span> have you<br/>That noble prize in mountains to pursue.</div>
      <span class="pb">114</span>
      <h3 class="discourse">Discourse 36.</h3>
      <div class="ab">
         <br/>All men, that have but once heard the name and power of the Stone,<span class="milestone">e03-01</span>
         <br/>
         <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span>, they be such as are <span class="choice">
            <span class="orig">alltogther</span>
            <span class="reg">altogether</span>
         </span> incredulous, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">coḿonly</span>
            <span class="reg">commonly</span>
         </span>
         <span class="choice">
            <span class="orig">aske</span>
            <span class="reg">ask</span>
         </span>
         <span class="pc">-</span>
         <br/>where it is to be found, that they may <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> as it were by a straight line
                        <br/>to it? The Philosophers answer in two places: first, that Adam brought it
                        <br/>with him out of Paradise, that it is in you, in <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span>, and in every man, <span class="pc">-</span>
         <br/>that birds flying carry it with them out of <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span>
         <span class="choice">
            <span class="orig">countryes</span>
            <span class="reg">countries</span>
         </span>: Secondly
                        <br/>that it may be found in the earth, mountains, <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and water. Which
                        <br/>therefore must <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> adhere to, whether to this, or that? To both, in my <span class="pc">-</span>
         <br/>opinion, but in a peculiar respect, though the last is more plausible, and
                        <br/>seems to us more safe. It is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be throwne upon the earth, because
                        <br/>the Element of earth <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> first appear in a <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> and <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> body: Se
                        -<br/>condly, because it is a thing of <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> and small <span class="choice">
            <span class="orig">esteeme</span>
            <span class="reg">esteem</span>
         </span>, which is trodden
                        <br/>upon in the <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> of travellers, and in dung <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>; Whereupon <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>
         <br/>Rosarius, if I should name it, <span class="choice">
            <span class="orig">fooles</span>
            <span class="reg">fools</span>
         </span> would not <span class="choice">
            <span class="orig">beleive</span>
            <span class="reg">believe</span>
         </span> that to be it: And
                        <br/>Calis sifting Morienus, and trying to get much out of him, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> answers <span class="pc">-</span>
         <br/>him thus: This, as a wise man <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>, <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> both the rich and the <span class="choice">
            <span class="orig">poore</span>
            <span class="reg">poor</span>
         </span>, <span class="pc">-</span>
         <br/>both the <span class="choice">
            <span class="orig">liberall</span>
            <span class="reg">liberal</span>
         </span> and the covetous, going <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> and sitting. For it is <span class="choice">
            <span class="orig">throwne</span>
            <span class="reg">thrown</span>
         </span>
         <br/>in the <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span>, and trampled upon in dunghills, and many men have <span class="choice">
            <span class="orig">all
                        -<br/>ready</span>
            <span class="reg">already</span>
         </span>
         <span class="choice">
            <span class="orig">diggd</span>
            <span class="reg">digged</span>
         </span> in dunghills for it, and herein have been deceived. Mundus <span class="choice">
            <span class="orig">all
                        -<br/>so</span>
            <span class="reg">also</span>
         </span> in Turba <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>, if the Sellers knew it, they would not sell it at <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>mean a rate. And Arnold affirms, that the stone may be had gratis, <span class="pc">-</span>
         <br/>as much as a man will, and for that reason <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> man ought to be interro
                        -<br/>gated. All which things are true. For who, but an <span class="choice">
            <span class="orig">inhumane</span>
            <span class="reg">inhuman</span>
         </span> wretch, <span class="pc">-</span>
         <br/>will deny water and earth to him that desires it? The most ancient
                        <br/>Cimbri having desired and not able to <span class="choice">
            <span class="orig">obtaine</span>
            <span class="reg">obtain</span>
         </span> the same <span class="choice">
            <span class="orig">guifts</span>
            <span class="reg">gifts</span>
         </span> from <span class="pc">-</span>
         <br/>the Romans, <span class="choice">
            <span class="orig">entring</span>
            <span class="reg">entering</span>
         </span> Italy with a great army slew many thousands
                        <br/>of the Romans with their Consuls, as <span class="choice">
            <span class="orig">historyes</span>
            <span class="reg">histories</span>
         </span> declare. For earth, as
                        <br/>the mother of all things, is most <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span>, as the last matter of things
                        <br/>
         <span class="choice">
            <span class="orig">putrefyed</span>
            <span class="reg">putrified</span>
         </span>, most despicable; <span class="choice">
            <span class="orig">Noe</span>
            <span class="reg">No</span>
         </span> thing more vile than clay or dirt, <span class="pc">-</span>
         <br/>which notwithstanding is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but earth <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> with water. <span class="pc">-</span>
         <br/>What more <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> than a <span class="choice">
            <span class="orig">clodd</span>
            <span class="reg">clod</span>
         </span> of earth? Yet Euripylus the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>
         <br/>of Neptune <span class="choice">
            <span class="orig">offerd</span>
            <span class="reg">offered</span>
         </span> it as a present to the <span class="choice">
            <span class="orig">heroicke</span>
            <span class="reg">heroic</span>
         </span> Argonauts, by <span class="pc">-</span>
         <br/>which not refused, but thankfully accepted, afterwards being dis
                        -<br/>solved in water Medea divined many things. For earth must be
                        <br/>dissolvd in water, otherwise neither this, nor that <span class="choice">
            <span class="orig">avayles</span>
            <span class="reg">avails</span>
         </span> any thing:
                        <br/>After this manner is the Stone cast upon the earth, in which not
                        -<br/>withstanding it <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> not continue abject and contemptible, but is
                        <br/>exalted to the mountains, as the flammivomous Athos, Vesuvius, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Ætna</span>
            <span class="reg">Aetna</span>
         </span>, and the like, whereof many such are seen in <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span> parts <span class="pc">-</span>
         <br/>of the world: For a <span class="choice">
            <span class="orig">perpetuall</span>
            <span class="reg">perpetual</span>
         </span> fire <span class="choice">
            <span class="orig">burnes</span>
            <span class="reg">burns</span>
         </span> in them, which <span class="choice">
            <span class="orig">subli
                        -<br/>meth</span>
            <span class="reg">sublimes</span>
         </span> the Stone, and <span class="choice">
            <span class="orig">rayseth</span>
            <span class="reg">raises</span>
         </span> it to the highest dignity. As in
                        
                        
                        <span class="pb">115</span>
         <span class="fw">Discourse 36.</span>
         <br/>mountains it <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span> in a rude <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span> out of Sulphur and Argent vive, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>is it matured and perfected at the top of the mountains, where <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <br/>is an <span class="choice">
            <span class="orig">herbe</span>
            <span class="reg">herb</span>
         </span> produced, without which fire cannot be regulated, because
                        <br/>being cold and moist if it be cast into fire, the vehemency of it is re
                        -<br/>tunded by its contrary: From the mountains it <span class="choice">
            <span class="orig">passeth</span>
            <span class="reg">passes</span>
         </span> to the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, <span class="pc">-</span>
         <br/>where it finds habitation. For the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> becomes a house to it, wherein it
                        <br/>is enclosed, which is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but to be <span class="choice">
            <span class="orig">carryed</span>
            <span class="reg">carried</span>
         </span> in the belly of <span class="pc">-</span>
         <br/>wind, and <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, of which terms <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have spoken before.
                        <br/>At length it is nourished in rivers, that is, Mercury in waters: For that <span class="pc">-</span>
         <br/>reason the Athenians in <span class="choice">
            <span class="orig">honour</span>
            <span class="reg">honor</span>
         </span> thereof instituted their <span class="choice">
            <span class="orig">Hydrophoryes</span>
            <span class="reg">Hydrophories</span>
         </span>, be
                        -<br/>cause the matter of the Philosophers stone is water, as Rosarius <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>, and
                        <br/>is understood of the water of those three. For which reason Mercury was <span class="choice">
            <span class="orig">all
                        -<br/>so</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to have three heads, as being marine, <span class="choice">
            <span class="orig">cælestiall</span>
            <span class="reg">celestial</span>
         </span>, and <span class="choice">
            <span class="orig">terrestriall</span>
            <span class="reg">terrestrial</span>
         </span>, <span class="pc">-</span>
         <br/>because <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">recided</span>
            <span class="reg">resided</span>
         </span> in the water, earth, and <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>. <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> is reported to be
                        <br/>educated by Vulcan, notorious for <span class="choice">
            <span class="orig">theivery</span>
            <span class="reg">thievery</span>
         </span>, because Mercury is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be
                        <br/>
         <span class="choice">
            <span class="orig">enurd</span>
            <span class="reg">inured</span>
         </span> to fire, which is volatile, and <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span> away with it that wherewith
                        <br/>it is mixed: Mercury in the <span class="choice">
            <span class="orig">dayes</span>
            <span class="reg">days</span>
         </span> of old gave <span class="choice">
            <span class="orig">lawes</span>
            <span class="reg">laws</span>
         </span> and discipline to
                        <br/>the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>, yea religion <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> to the <span class="choice">
            <span class="orig">Thebane</span>
            <span class="reg">Theban</span>
         </span>
         <span class="choice">
            <span class="orig">Preists</span>
            <span class="reg">Priests</span>
         </span>, and to a <span class="pc">-</span>
         <br/>great part of the world, because the <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span> received polity, and <span class="pc">-</span>
         <br/>sacred things from <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span> institutions, from them the Greeks, from <span class="pc">-</span>
         <br/>them the Romans, from those many other nations, as <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> been <span class="choice">
            <span class="orig">elswher'</span>
            <span class="reg">elsewhere</span>
         </span>
         <br/>more at large demonstrated. Argus <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> slew with a stone, and conver
                        -<br/>ted Baltus into a Touch<span class="pc">-</span>stone called Index. What need many words? All <span class="pc">-</span>
         <br/>the volumes of the Chymists <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> inculcate nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span> but Mercury, and
                        <br/>sufficiently <span class="choice">
            <span class="orig">confirme</span>
            <span class="reg">confirm</span>
         </span> his power in this one versicle; What wise men <span class="choice">
            <span class="orig">seeke</span>
            <span class="reg">seek</span>
         </span>
         <br/>in Hermes is <span class="choice">
            <span class="orig">containd</span>
            <span class="reg">contained</span>
         </span>. <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> therefore must be sought, till <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be found, <span class="pc">-</span>
         <br/>whether his <span class="choice">
            <span class="orig">harbour</span>
            <span class="reg">harbor</span>
         </span> be in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, fire, water, or earth. For <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is in
                        <br/>
         <span class="choice">
            <span class="orig">perpetuall</span>
            <span class="reg">perpetual</span>
         </span> motion, running sometimes here sometimes there for the <span class="pc">-</span>
         <br/>service of the <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span> Gods, as their foot<span class="pc">-</span>man, which his office is de
                        -<br/>noted, some men ascribing to him a daughter named Angelia<span class="pc">. . .</span>
      </div>
   </body>
</html>
