<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e42</h2>
                <span class="pb">131</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 42. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        Nature, Reason, Experience, and reading must be the guide, <span class="choice"><span class="orig">staffe </span><span class="reg">staff</span></span>,
                        Spectacles, and Lamp to him that is <span class="choice"><span class="orig">employd </span><span class="reg">employed</span></span> in <span class="choice"><span class="orig">Chymicall </span><span class="reg">Chymical</span></span> affairs.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 42.</h3>
                    <div class="verse-epigram">
                        <br/>Pursuing art, let Nature be your guide,
                        <br/>Tracing her steps your feet will not back=slide:
                        <br/>Let reason be your <span class="choice"><span class="orig">staffe </span><span class="reg">staff</span></span>, experience add
                        <br/>Strength to your sight, discerning good from bad:
                        <br/>In <span class="choice"><span class="orig">darkenesse </span><span class="reg">darkness</span></span> reading will as light direct,
                        <br/>That <span class="choice"><span class="orig">ambiguityes </span><span class="reg">ambiguities</span></span> you may detect.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">132</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 42.</h3>
                    <div class="ab"> 
                        <span class="milestone">e42-01</span>The chances, which may happen to <span class="choice"><span class="orig">travellers </span><span class="reg">travelers</span></span>, are innumerable, especially if they take a journey on foot by night through slippery 
                        and dangerous places; to which four things are requisite as <span class="choice"><span class="orig">cheifely </span><span class="reg">chiefly</span></span> necessary, not to <span class="choice"><span class="orig">speake </span><span class="reg">speak</span></span> of the victuals provided, and a strong 
                        body: <span class="milestone">e42-02</span>In the first place, a companion or guide not ignorant of the
                        <span class="choice"><span class="orig">wayes </span><span class="reg">ways</span></span>, through which <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> must <span class="choice"><span class="orig">passe </span><span class="reg">pass</span></span>: For if one ignorant man 
                        guide another, the same thing happens to them as to blind men, if
                        they <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> not both fall headlong into a <span class="choice"><span class="orig">dittch </span><span class="reg">ditch</span></span>, yet into <span class="choice"><span class="orig">errours </span><span class="reg">errors</span></span> and 
                        mistakes: <span class="milestone">e42-03</span>Secondly, a <span class="choice"><span class="orig">Staffe </span><span class="reg">Staff</span></span>, by which the <span class="choice"><span class="orig">slipperinesse </span><span class="reg">slipperiness</span></span> and <span class="choice"><span class="orig">perill </span><span class="reg">peril</span></span>
                        of the way, lest it be <span class="choice"><span class="orig">detrimentall </span><span class="reg">detrimental</span></span> to a man, may be <span class="choice"><span class="orig">avoyded </span><span class="reg">avoided</span></span>: <span class="milestone">e42-04</span>Thirdly, sound eyes, for such journeys are most dangerous to the blind or
                        <span class="choice"><span class="orig">dimme </span><span class="reg">dim</span></span> sighted: <span class="milestone">e42-05</span>Fourthly, a lamp or lighted torch, that the <span class="choice"><span class="orig">diversitys </span><span class="reg">diversities</span></span>
                        and differences of the <span class="choice"><span class="orig">wayes </span><span class="reg">ways</span></span> may be discerned. <span class="milestone">e42-06</span>After the same 
                        manner if a man expose <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span> to a most difficult journey in
                        pursuit of the <span class="choice"><span class="orig">Philosophicke </span><span class="reg">Philosophic</span></span> medicine, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> will, besides charge 
                        and strength of body, desire four things exactly <span class="choice"><span class="orig">parallell </span><span class="reg">parallel</span></span> and correspondent to those <span class="choice"><span class="orig">aforesayd </span><span class="reg">aforesaid</span></span>, to <span class="choice"><span class="orig">witt </span><span class="reg">wit</span></span>, Nature, Reason, experience,
                        and reading: whereof if any one be wanting, the rest will <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> 
                        little or <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> good at all: <span class="milestone">e42-07</span>For by these, as by four <span class="choice"><span class="orig">wheeles </span><span class="reg">wheels</span></span>, the <span class="choice"><span class="orig">Philosophicke </span><span class="reg">Philosophic</span></span> chariot moves, to which one of the <span class="choice"><span class="orig">wheeles </span><span class="reg">wheels</span></span> cannot be 
                        wanting, if it be left, it <span class="choice"><span class="orig">avayls </span><span class="reg">avails</span></span> nothing. <span class="milestone">e42-08</span>Nature <span class="choice"><span class="orig">præsupposeth </span><span class="reg">presupposes</span></span> <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> <span class="choice"><span class="orig">bodyes </span><span class="reg">bodies</span></span> and Spirits, as subjects first <span class="choice"><span class="orig">ministred </span><span class="reg">ministered</span></span> by nature, upon
                        which art must afterwards act, <span class="choice"><span class="orig">præparing </span><span class="reg">preparing</span></span>, purifying, and fitting it,
                        that thereof may be made that, which art <span class="choice"><span class="orig">promiseth </span><span class="reg">promises</span></span> for the end:
                        <span class="milestone">e42-09</span><span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> a Potter takes water and earth, a Glassemaker ashes and 
                        Sand, a Smith iron, copper, <span class="choice"><span class="orig">tinne </span><span class="reg">tin</span></span>, lead, Silver or gold, a Tanner
                        raw hides, and <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> other men other things: Such respect <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> 
                        <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> the operator of Chymistry to his <span class="choice"><span class="orig">materialls </span><span class="reg">materials</span></span>: <span class="milestone">e42-10</span>Their <span class="choice"><span class="orig">materialls </span><span class="reg">materials</span></span> are to them very well <span class="choice"><span class="orig">knowne </span><span class="reg">known</span></span> even the first day, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>, when
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> begins, continues for the most part ignorant of his for many
                        years, I will not say, during his whole life. <span class="milestone">e42-11</span>Nature <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span> indeed 
                        point at the matters, but there are many things, which obscure the 
                        impression of nature, that it cannot be <span class="choice"><span class="orig">knowne </span><span class="reg">known</span></span>. <span class="milestone">e42-12</span>The first intention 
                        therefore is, seriously to contemplate how nature proceeds in her operations to the end that the <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span> subjects of Chymistry may 
                        without defect or superfluity be had: Wherefore Nature must be 
                        the guide and companion of <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> great a journey, whose footsteps 
                        must be traced. <span class="milestone">e42-13</span>Secondly, reason must be as a <span class="choice"><span class="orig">staffe </span><span class="reg">staff</span></span> to keep the 
                        steps and feet steady and <span class="choice"><span class="orig">firme </span><span class="reg">firm</span></span>, that they may not slip or waver,
                        For without the exercise of reason a man will be apt to fall 
                        
                        
                        
                        <span class="pb">133</span>
                        into <span class="choice"><span class="orig">errours </span><span class="reg">errors</span></span>, and therefore say the Philosophers; Whatsoever you hear,
                        consult with reason, whether it can be <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span>, or <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span>: <span class="milestone">e42-14</span>For <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> man is
                        forced to <span class="choice"><span class="orig">beleive </span><span class="reg">believe</span></span> or <span class="choice"><span class="orig">performe </span><span class="reg">perform</span></span> things impossible, except <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> be of 
                        <span class="choice"><span class="orig">weake </span><span class="reg">weak</span></span> memory, dull genius, and foolish imagination to impose upon
                        <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span> accepting things false for true, and rejecting true for false:
                        <span class="milestone">e42-15</span>They say <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> that they care not for words, whatsoever may be 
                        spoken, but <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> for things, what may be understood; And that
                        words are for things, and not things for words: <span class="milestone">e42-16</span>As for example, Suppose
                        a man say that <span class="choice"><span class="orig">glasse </span><span class="reg">glass</span></span> is made malleable by the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> 
                        tincture; Why Shall not I <span class="choice"><span class="orig">beleive </span><span class="reg">believe</span></span> it, if provided reason dictates it? 
                        <span class="milestone">e42-17</span>Thirdly, Experience will be as Spectacles, by which things may be 
                        seen at a distance; These are <span class="choice"><span class="orig">opticke </span><span class="reg">optic</span></span> instruments, invented and made
                        by art, to <span class="choice"><span class="orig">helpe </span><span class="reg">help</span></span> and amend the <span class="choice"><span class="orig">weaknesse </span><span class="reg">weakness</span></span> of mens eyes. <span class="milestone">e42-18</span>Much like to
                        these are experiments about the <span class="choice"><span class="orig">minerall </span><span class="reg">mineral</span></span> matter of every kind <span class="choice"><span class="orig">tryed </span><span class="reg">tried</span></span>,
                        seen or <span class="choice"><span class="orig">truely </span><span class="reg">truly</span></span> heard, which the more they are in memory, the more
                        will a man of reason draw from thence, and compare them among 
                        and with other things, that <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> may perceive, what is true, what not. 
                        <span class="milestone">e42-19</span>Fourthly, Reading <span class="choice"><span class="orig">dos </span><span class="reg">does</span></span> as it were kindle a clear lamp in the understanding, without which there will be every where <span class="choice"><span class="orig">darkenesse </span><span class="reg">darkness</span></span> and <span class="choice"><span class="orig">thicke </span><span class="reg">thick</span></span>
                        clouds. <span class="milestone">e42-20</span>But the reading of good authors ought to be often repeated, 
                        otherwise it will not be at all <span class="choice"><span class="orig">effectuall </span><span class="reg">effectual</span></span>. <span class="milestone">e42-21</span>Hereupon Bacasser in Turba
                        <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span>: <span class="choice"><span class="orig">Hee </span><span class="reg">He</span></span> therefore, that is of an even temper, and <span class="choice"><span class="orig">exerciseth </span><span class="reg">exercises</span></span> patience without <span class="choice"><span class="orig">regrett </span><span class="reg">regret</span></span>, will <span class="choice"><span class="orig">attaine </span><span class="reg">attain</span></span> to this art as by a direct line, but
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>, that thinks <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span> able sooner to reap benefit from our books,
                        is deceived, and it had been better not to have <span class="choice"><span class="orig">lookd </span><span class="reg">looked</span></span> therein, than 
                        ever to have <span class="choice"><span class="orig">touchd </span><span class="reg">touched</span></span> them: And <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> on <span class="pc">. . . . . .</span>
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>