<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e07</h2>
      <span class="pb">26</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 7. Of the Secrets of Nature.
                        <br/>A chicken is flying out of the nest, which falls <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> into the nest.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 7.</h3>
      <div class="verse">
         <br/>The bird of Jove had nested on a <span class="choice">
            <span class="orig">rocke</span>
            <span class="reg">rock</span>
         </span>,<br/>Whe<span class="subst">
            <span class="del">e</span>
            <span class="add">r</span>
         </span>e <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> brought forth, and fed her tender <span class="choice">
            <span class="orig">flocke</span>
            <span class="reg">flock</span>
         </span>:<br/>Out <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flys</span>
         </span> the eldest having wings and <span class="choice">
            <span class="orig">trayne</span>
            <span class="reg">train</span>
         </span>,<br/>
         <span class="choice">
            <span class="orig">Pulld</span>
            <span class="reg">Pulled</span>
         </span> by the naked nestling <span class="choice">
            <span class="orig">backe</span>
            <span class="reg">back</span>
         </span>
         <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>
         <br/>To the deserted nest: you <span class="choice">
            <span class="orig">hitt</span>
            <span class="reg">hit</span>
         </span> the <span class="choice">
            <span class="orig">nayle</span>
            <span class="reg">nail</span>
         </span>,<br/>If you know how to <span class="choice">
            <span class="orig">joyne</span>
            <span class="reg">join</span>
         </span> them head and <span class="choice">
            <span class="orig">tayle</span>
            <span class="reg">tail</span>
         </span>.</div>
      <span class="pb">27</span>
      <h3 class="discourse">Discourse 7.</h3>
      <div class="ab">
         <br/>
         <span class="milestone">e07-01</span>What Hippocrates, the defender and propugnator of <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>, affirms of hu -<br/>mors, that they are different and many in man, and not one <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>, otherwise
                        <br/>various diseases, could not arise, that <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> perceive to be true of the elements
                        <br/>of the world: <span class="milestone">e07-02</span>for if there was but one <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> element, there could be <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="pc">-</span>
         <br/>mutation of it into another, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> generation nor corruption, yea all things
                        <br/>would be one immutable thing, and <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> meteors, <span class="choice">
            <span class="orig">mineralls</span>
            <span class="reg">minerals</span>
         </span>, plants, and
                        <br/>
         <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> could be naturally from thence produced. <span class="milestone">e07-03</span>For this reason the su
                        -<br/>preme Creator composed the whole <span class="choice">
            <span class="orig">systeme</span>
            <span class="reg">system</span>
         </span> of this world of <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span> and <span class="pc">-</span>
         <br/>contrary natures, namely of light and heavy, <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> and cold, moist and dry <span class="pc">-</span>
         <br/>that one might by affinity <span class="choice">
            <span class="orig">passe</span>
            <span class="reg">pass</span>
         </span> into the other, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> a composition be
                        <br/>made of <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, which might be very different one from another in essence,
                        <br/>
         <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span>, virtues, and effects: <span class="milestone">e07-04</span>for in things perfectly mixed are the light Ele
                        -<br/>ments, as fire and <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the heavy, as earth and water, which are <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">æqually</span>
            <span class="reg">equally</span>
         </span> tempered together, that one recedes not from the other, but suffers <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>
         <br/>to be easily taken and held by the other as <span class="choice">
            <span class="orig">neighbour</span>
            <span class="reg">neighbor</span>
         </span> by <span class="choice">
            <span class="orig">neighbour</span>
            <span class="reg">neighbor</span>
         </span>: <span class="milestone">e07-05</span>Earth and <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>
         <br/>are contrary one to the other, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> fire and water, yet notwithstanding fire <span class="choice">
            <span class="orig">main
                        -<br/>taines</span>
            <span class="reg">maintains</span>
         </span>
         <span class="choice">
            <span class="orig">freindship</span>
            <span class="reg">friendship</span>
         </span> with <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> by heat <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> to both, with earth by siccity: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> with water, and water with earth: <span class="milestone">e07-06</span>by which means they are all <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span>
         <br/>by bonds of affinity or rather consanguinity, and <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">remayne</span>
            <span class="reg">remain</span>
         </span> together in
                        <br/>one composition, which, if it abound with the light Elements, elevates the <span class="pc">-</span>
         <br/>heavy with it, if with the heavy, weighs <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> the light with it: <span class="milestone">e07-07</span>This is decla
                        -<br/>red by the two Eagles, one with wings, the other without, of which that <span class="pc">-</span>
         <br/>which <span class="choice">
            <span class="orig">endeavoured</span>
            <span class="reg">endeavored</span>
         </span> to fly is restrained by the <span class="add">other</span>
         <span class="milestone">e07-08</span>an example hereof is evident
                        <br/>in the fight of the Falcon and Heron, for the Falcon soaring higher in <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> by his Speedy flying, takes and tears the Heron with his Talons, by
                        <br/>whose weight both fall to the ground: <span class="milestone">e07-09</span>The contrary appeared in the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">artificiall</span>
            <span class="reg">artificial</span>
         </span> dove or Automa of Archytas, where heavy things were lifted up
                        <br/>by light, that is, the wooden body of it <span class="choice">
            <span class="orig">caryed</span>
            <span class="reg">carried</span>
         </span> into the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> by the <span class="pc">-</span>
         <br/>Spirit included within: <span class="milestone">e07-10</span>In the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> subject the light things <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>first <span class="choice">
            <span class="orig">prædominate</span>
            <span class="reg">predominate</span>
         </span> the heavy, as to plenty, but they are overcome by vir
                        -<br/>tue of the heavy things, and in processe of time the Eagles wings are cut <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">of</span>
            <span class="reg">off</span>
         </span>, and one very great bird (namely an Ostrich) is made of two, which
                        <br/>can consume iron, and which being impeded by weight <span class="choice">
            <span class="orig">runns</span>
            <span class="reg">runs</span>
         </span> more upon
                        <br/>the earth, than <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flys</span>
         </span> in the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, though it <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> goodly wings: <span class="milestone">e07-11</span>Concerning
                        <br/>this or the like Hermes (as the Author of Aurora chapt. 5. affirms) writes thus:
                        <br/>I have considered a bird worthy to be had in estimation by the wise, which
                        <br/>
         <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flys</span>
         </span> when it is in Aries, Cancer, Libra, or <span class="choice">
            <span class="orig">Capricorne</span>
            <span class="reg">Capricorn</span>
         </span>, and you will never
                        <br/>
         <span class="choice">
            <span class="orig">fayle</span>
            <span class="reg">fail</span>
         </span> of it in pure <span class="choice">
            <span class="orig">mynes</span>
            <span class="reg">mines</span>
         </span>, and rocky mountains: <span class="milestone">e07-12</span>Concerning the same Se
                        -<br/>nior in Tabula, where two are seen, one volatile the other without wings,
                        <br/>whereof one holds the others <span class="choice">
            <span class="orig">tayle</span>
            <span class="reg">tail</span>
         </span> by its <span class="choice">
            <span class="orig">beake</span>
            <span class="reg">beak</span>
         </span>, that they cannot easily be
                        <br/>seperated: <span class="milestone">e07-13</span>For this is the device and machination of <span class="choice">
            <span class="orig">universall</span>
            <span class="reg">universal</span>
         </span> nature,
                        <br/>
         <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> to <span class="choice">
            <span class="orig">rayse</span>
            <span class="reg">raise</span>
         </span> heavy things by light, and likewise to <span class="choice">
            <span class="orig">depresse</span>
            <span class="reg">depress</span>
         </span> light
                        <br/>things by heavy, as the Author of the perfect Magistery <span class="choice">
            <span class="orig">declareth</span>
            <span class="reg">declares</span>
         </span>, who
                        <br/>constitutes seven <span class="choice">
            <span class="orig">minerall</span>
            <span class="reg">mineral</span>
         </span> spirits, as it were <span class="choice">
            <span class="orig">erraticke</span>
            <span class="reg">erratic</span>
         </span>
         <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>, and <span class="pc">-</span>
         <span class="pb">28</span>
         <span class="fw">Discourse 7.</span>
         <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> many <span class="choice">
            <span class="orig">metallicke</span>
            <span class="reg">metallic</span>
         </span>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, as fixed <span class="choice">
            <span class="orig">Starrs</span>
            <span class="reg">Stars</span>
         </span>, and <span class="choice">
            <span class="orig">enjoyns</span>
            <span class="reg">enjoins</span>
         </span> these to be
                        <br/>wedded to those: <span class="milestone">e07-14</span>from thence <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="underline">Aristotle</span> the <span class="underline">Chymist</span>, the Spirit, <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>,
                        <br/>having dissolved the body and <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to exist in their <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>, <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> not
                        <br/>
         <span class="choice">
            <span class="orig">remaine</span>
            <span class="reg">remain</span>
         </span> a fixed thing, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> you operate upon it: <span class="milestone">e07-15</span>now operation is to <span class="choice">
            <span class="orig">joyne</span>
            <span class="reg">join</span>
         </span>
         <span class="pc">-</span>
         <br/>it with the body, from which you <span class="choice">
            <span class="orig">præpared</span>
            <span class="reg">prepared</span>
         </span> it at first: because the Spirit is <span class="pc">-</span>
         <br/>thereby prevented from flight being mixed with the supersistences of the <span class="pc">-</span>
         <br/>body: the light Elements, namely <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> and fire, as a learned man declares,
                        <br/>
         <span class="milestone">e07-16</span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> in Camphore oversway the heavy; and therefore it is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span>
         <span class="choice">
            <span class="orig">wholy</span>
            <span class="reg">wholly</span>
         </span> to ex
                        -<br/>hale and evaporate into <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>. <span class="milestone">e07-17</span>In Argent vive, the flowers of Sulphur, Anti
                        -<br/>mony, the Salt of Harts blood, Sal Armoniacke, and such others, the earth <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flys</span>
         </span> with the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> into the <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>, and is not seperated from it. <span class="milestone">e07-18</span>In Gold,
                        <br/>
         <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>, Diamond, the Stone Smyris, Granats, and the like, the Elements <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> notwithstanding fire <span class="choice">
            <span class="orig">remayne</span>
            <span class="reg">remain</span>
         </span>
         <span class="choice">
            <span class="orig">along</span>
            <span class="reg">a long</span>
         </span> time <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span> without detriment, <span class="pc">-</span>
         <br/>and the earth <span class="choice">
            <span class="orig">retaines</span>
            <span class="reg">retains</span>
         </span> those things which are left in <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>. <span class="milestone">e07-19</span>In other com
                        -<br/>bustibles division and separation of one thing from another is effected, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>that the ashes are left in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>, the water, <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and fire fly up
                        -<br/>wards: <span class="milestone">e07-20</span>
         <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> must not therefore have respect to the <span class="choice">
            <span class="orig">unæquall</span>
            <span class="reg">unequal</span>
         </span> composition of
                        <br/>these last, being not <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> strongly <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span>, nor to the <span class="choice">
            <span class="orig">coḿixtion</span>
            <span class="reg">commixtion</span>
         </span> of the first,
                        <br/>though more durable, yet volatile, but to the solidity, constancy, and fixity
                        <br/>of the <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span>: for <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the bird without wings will <span class="choice">
            <span class="orig">detaine</span>
            <span class="reg">detain</span>
         </span> that which <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>, <span class="pc">-</span>
         <br/>and the fixed substance will fix the volatile, which must necessarily be
                        <br/>done<span class="pc">. . . . . . . . . .</span>
      </div>
   </body>
</html>
