<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e19</h2>
      <span class="pb">62</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 19. Of the Secrets of Nature.
                        <br/>If you kill one of the <span class="choice">
            <span class="orig">fower</span>
            <span class="reg">four</span>
         </span>, they will all suddenly <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 19.</h3>
      <div class="verse">
         <br/>Behold! <span class="choice">
            <span class="orig">foure</span>
            <span class="reg">four</span>
         </span> brethen here together stand,<br/>One having earth, water the next in hand,<br/>The third holds <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and fire the fourth alone:<br/>If you would all destroy, kill <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> one,<br/>And they will all forthwith <span class="choice">
            <span class="orig">resigne</span>
            <span class="reg">resign</span>
         </span> to death,<br/>Their lives depending <span class="choice">
            <span class="orig">joyntly</span>
            <span class="reg">jointly</span>
         </span> on one breath.</div>
      <span class="pb">63</span>
      <h3 class="discourse">Discourse 19.</h3>
      <div class="ab">
         <br/>The <span class="choice">
            <span class="orig">Poetts</span>
            <span class="reg">Poets</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">feigne</span>
            <span class="reg">feign</span>
         </span> Geryon King of <span class="choice">
            <span class="orig">Spayne</span>
            <span class="reg">Spain</span>
         </span> to have been <span class="choice">
            <span class="orig">tricorporeall</span>
            <span class="reg">tricorporeal</span>
         </span>, <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>who had oxen of a purple <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, which a <span class="choice">
            <span class="orig">dogge</span>
            <span class="reg">dog</span>
         </span> with two heads, and a Dragon
                        <br/>with seven were <span class="choice">
            <span class="orig">chargd</span>
            <span class="reg">charged</span>
         </span> with as warders: and the same Geryon is reported to be
                        <br/>the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Chrysaor sprung from the blood of Medusa, and that Dragon the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Typhon, and Echidna: which things <span class="choice">
            <span class="orig">agreing</span>
            <span class="reg">agreeing</span>
         </span> with <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="choice">
            <span class="orig">hystory</span>
            <span class="reg">history</span>
         </span>, or truth
                        <br/>of the matter, as it sounds, and making a <span class="choice">
            <span class="orig">noyse</span>
            <span class="reg">noise</span>
         </span> in all <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span>
         <span class="choice">
            <span class="orig">Allegoryes</span>
            <span class="reg">Allegories</span>
         </span>, <span class="pc">-</span>
         <br/>they are not without added hereto by us: But by the three <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> of Geryon <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> three faces beheld in one father, according to the sense of Hermes, or as <span class="pc">-</span>
         <br/>others would have it, <span class="choice">
            <span class="orig">foure</span>
            <span class="reg">four</span>
         </span>, having regard to <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> many Elements: For of a Qua
                        -<br/>drangle ought a triangle to be made, as that made of a circle, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> this to <span class="choice">
            <span class="orig">re
                        -<br/>turne</span>
            <span class="reg">return</span>
         </span> into a circle: And the consanguinity and <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> conjunction of the
                        <br/>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> of Geryon, or the Elements is <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great, that one being overcome or <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span>, the rest <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span> of themselves and putrefy, without the administration
                        <br/>of any <span class="choice">
            <span class="orig">manuall</span>
            <span class="reg">manual</span>
         </span> force: As to things with two <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> it is <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span>, that one being
                        <br/>dead, the other <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">wasts</span>
            <span class="reg">wastes</span>
         </span> and consumes: as in Italy <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have seen a boy <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">foure</span>
            <span class="reg">four</span>
         </span> years of age with two <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, who absconded the head of his brother cleaving
                        <br/>to him, within his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> body, the other parts hung <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> to the <span class="choice">
            <span class="orig">navill</span>
            <span class="reg">navel</span>
         </span>, where
                        <br/>they were bound or <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> together: But if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>, that hung <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span>, and being
                        <br/>much <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>, was <span class="choice">
            <span class="orig">carryed</span>
            <span class="reg">carried</span>
         </span> by the other, Should be <span class="choice">
            <span class="orig">touchd</span>
            <span class="reg">touched</span>
         </span> about the hands or <span class="pc">-</span>
         <br/>feet too hard, the bigger did hereby <span class="choice">
            <span class="orig">feele</span>
            <span class="reg">feel</span>
         </span>
         <span class="choice">
            <span class="orig">paine</span>
            <span class="reg">pain</span>
         </span>, yea <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> hunger, if the <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>
         <br/>wanted food: And this is the combination and sympathy of nature, whereby
                        <br/>the members and parts of one body, or <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> with another are mutually <span class="pc">-</span>
         <br/>moved and affected together; whereof if one sound and unhurt, yet <span class="pc">-</span>
         <br/>the other <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not thereby necessarily continue sound and unhurt, but if
                        <br/>
         <span class="choice">
            <span class="orig">greivously</span>
            <span class="reg">grievously</span>
         </span> hurt, the rest <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> sympathize, and perish by the same <span class="pc">-</span>
         <br/>malady: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> if a <span class="choice">
            <span class="orig">neighbour</span>
            <span class="reg">neighbor</span>
         </span> gains much, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> profit thereby <span class="choice">
            <span class="orig">accrews</span>
            <span class="reg">accrues</span>
         </span> to his <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">neighbour</span>
            <span class="reg">neighbor</span>
         </span>, but if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> Suffers <span class="choice">
            <span class="orig">losse</span>
            <span class="reg">loss</span>
         </span> by fire, his <span class="choice">
            <span class="orig">neighbour</span>
            <span class="reg">neighbor</span>
         </span> receives much <span class="pc">-</span>
         <br/>damage: for your <span class="choice">
            <span class="orig">affaires</span>
            <span class="reg">affairs</span>
         </span> are in danger when your <span class="choice">
            <span class="orig">neighbours</span>
            <span class="reg">neighbors</span>
         </span> house <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="pc">-</span>
         <br/>taken fire: It is not therefore a thing contradictory to truth, for the other
                        <br/>three to <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>, by the destruction of one of these <span class="choice">
            <span class="orig">foure</span>
            <span class="reg">four</span>
         </span> brethren, <span class="choice">
            <span class="orig">seing</span>
            <span class="reg">seeing</span>
         </span> that
                        <br/>it may happen <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span>
         <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span>, either by finding the same ends as <span class="choice">
            <span class="orig">beginings</span>
            <span class="reg">beginnings</span>
         </span>
         <br/>of life being <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span> at one birth both by father and mother, as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <span class="pc">-</span>
         <br/>have read has happened to some, perhaps by the inclination of the
                        <br/>
         <span class="choice">
            <span class="orig">starrs</span>
            <span class="reg">stars</span>
         </span>, or by being <span class="choice">
            <span class="orig">joyned</span>
            <span class="reg">joined</span>
         </span> together not <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> in <span class="choice">
            <span class="orig">soules</span>
            <span class="reg">souls</span>
         </span>, but <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> ligaments
                        <br/>of the body, or by consternation of mind, by strong imagination in time
                        <br/>of pestilence, or by the vow of a league: A <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> heathenish people
                        <br/>
         <span class="choice">
            <span class="orig">livd</span>
            <span class="reg">lived</span>
         </span> by the name of Pythagoreans in the <span class="choice">
            <span class="orig">Indyes</span>
            <span class="reg">Indies</span>
         </span> under the govern
                        -<br/>ment of the great <span class="choice">
            <span class="orig">Mogull</span>
            <span class="reg">Mogul</span>
         </span> (who now reigns there the nineth of the <span class="pc">-</span>
         <br/>Successors of Tamberlan) amongst <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> this ancient <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> is hither
                        -<br/>to observed, that if the husband <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>, his wife is <span class="choice">
            <span class="orig">burnd</span>
            <span class="reg">burned</span>
         </span> with fire, or as <span class="pc">-</span>
         <br/>now, lives perpetually in the highest infamy, deserted by all, and <span class="choice">
            <span class="orig">es
                        -<br/>teemd</span>
            <span class="reg">esteemed</span>
         </span> as a dead woman, which was therefore done, that the wives <span class="pc">-</span>
         <br/>might not kill themselves by <span class="choice">
            <span class="orig">poyson</span>
            <span class="reg">poison</span>
         </span> for their husbands, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <span class="pb">64</span>
         <span class="fw">Discourse 19.</span>
         <br/>they were willing to <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, one of the bre
                        -<br/>thren being dead, the other <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> perish by fire, not compulsively, but
                        <br/>voluntarily, that they may not survive in sorrow and infamy: or if one be
                        <br/>assaulted with a club, sword, or stone, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will commence <span class="choice">
            <span class="orig">civill</span>
            <span class="reg">civil</span>
         </span>
         <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span> with
                        <br/>his brethren, as appears in the <span class="choice">
            <span class="orig">Gyants</span>
            <span class="reg">Giants</span>
         </span> sprung from the teeth of a dragon <span class="pc">-</span>
         <br/>opposing Jason, and elswhere <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> Cadmus, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> they will all fall by <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">mutuall</span>
            <span class="reg">mutual</span>
         </span> destruction: For touch or hurt him that <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will
                        <br/>insurge against those two together which are nearest to him, namely him
                        <br/>that <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span> water, and him that <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span> fire, and these will on both sides <span class="pc">-</span>
         <br/>oppose themselves <span class="choice">
            <span class="orig">agaynst</span>
            <span class="reg">against</span>
         </span> him that <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span> earth, and him that first promo
                        -<br/>ted the <span class="choice">
            <span class="orig">quarrell</span>
            <span class="reg">quarrel</span>
         </span>, till they have given and received <span class="choice">
            <span class="orig">mutuall</span>
            <span class="reg">mutual</span>
         </span> wounds, of <span class="pc">-</span>
         <br/>which they <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>: For it is thus decreed amongst the brethren, that the more <span class="pc">-</span>
         <br/>earnestly and vehemently they love one another, if once they begin to hate, <span class="pc">-</span>
         <br/>they are not to be reconciled, but pursue one another to death, as the most <span class="pc">-</span>
         <br/>bitter choler is generated from the sweetest honey in a <span class="choice">
            <span class="orig">stomacke</span>
            <span class="reg">stomach</span>
         </span> too <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span>, or the
                        <br/>Liver being corrupted. Kill therefore him that is alive, but <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>, as being dead
                        <br/>to quicken him <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>, otherwise the death of him <span class="choice">
            <span class="orig">killd</span>
            <span class="reg">killed</span>
         </span>
         <span class="choice">
            <span class="orig">avayles</span>
            <span class="reg">avails</span>
         </span> you nothing; <span class="pc">-</span>
         <br/>for death will manifest him, that is to say, after resurrection, and death, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span>, and the sea will fly from him, as Hermes asserts, and the Dragon <span class="pc">-</span>
         <br/>which <span class="choice">
            <span class="orig">observd</span>
            <span class="reg">observed</span>
         </span> the holes will <span class="choice">
            <span class="orig">avoyd</span>
            <span class="reg">avoid</span>
         </span> the <span class="choice">
            <span class="orig">rayes</span>
            <span class="reg">rays</span>
         </span> of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, and our dead <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>
         <span class="choice">
            <span class="orig">liveth</span>
            <span class="reg">lives</span>
         </span>, and the King <span class="choice">
            <span class="orig">cometh</span>
            <span class="reg">comes</span>
         </span> by fire: Bellinus in his Metaphor in the<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>Chapt 3...</div>
         <br/>Rosary <span class="choice">
            <span class="orig">signifyes</span>
            <span class="reg">signifies</span>
         </span> the same thing, saying: And let this be done, when you <span class="pc">-</span>
         <br/>have <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span>
         <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> partly from my nature, and my wife partly from her <span class="pc">-</span>
         <br/>nature, you must then <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> kill the natures, and <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> are quickened by <span class="pc">-</span>
         <br/>a new and <span class="choice">
            <span class="orig">spirituall</span>
            <span class="reg">spiritual</span>
         </span> resurrection, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that afterwards <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> cannot <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>
         <span class="pc">. .</span>
      </div>
   </body>
</html>
