<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e23</h2>
      <span class="pb">74</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 23. Of the Secrets of Nature.
                        <br/>When Pallas was <span class="choice">
            <span class="orig">borne</span>
            <span class="reg">born</span>
         </span>, and Sol lay with Venus, it rained gold
                        <br/>at Rhodes.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 23.</h3>
      <div class="verse">
         <br/>This prodigy seems more than strange to us,<br/>Yet <span class="choice">
            <span class="orig">Græce</span>
            <span class="reg">Greece</span>
         </span> for truth <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> it affirmed thus:<br/>The clouds did twice at Rhodes their joy declare,<br/>
         <span class="choice">
            <span class="orig">Show'ring</span>
            <span class="reg">Showering</span>
         </span>
         <span class="choice">
            <span class="orig">downe</span>
            <span class="reg">down</span>
         </span> gold through the receding <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>;<br/>When Sol to Venus <span class="choice">
            <span class="orig">payd</span>
            <span class="reg">paid</span>
         </span> the dues of love,<br/>And Pallas Sprung out of the <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span> of Jove.<span class="note-mark">*</span>
         <div class="margin-note">
            <span class="note-mark">*</span>
            <span class="choice">
               <span class="orig">yeilding</span>
               <span class="reg">yielding</span>
            </span> air</div>
      </div>
      <span class="pb">75</span>
      <h3 class="discourse">Discourse 23.</h3>
      <div class="ab">
         <br/>It would be <span class="choice">
            <span class="orig">madnesse</span>
            <span class="reg">madness</span>
         </span> to <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span> that gold ever rained upon the earth, except<span class="milestone">e03-01</span>
         <br/>it was allegorically understood: for there are <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> golden rivers, or <span class="choice">
            <span class="orig">Mynes</span>
            <span class="reg">Mines</span>
         </span> of <span class="pc">-</span>
         <br/>gold veins in the clouds, that it could be <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be there generated, nor is gold of
                        <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> little weight, as to be thought to be attracted with <span class="choice">
            <span class="orig">vapours</span>
            <span class="reg">vapors</span>
         </span>: but a Trope <span class="choice">
            <span class="orig">ad
                        <br/>mitts</span>
            <span class="reg">admits</span>
         </span> and <span class="choice">
            <span class="orig">excuseth</span>
            <span class="reg">excuses</span>
         </span> all these things; for <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span> as Pallas actually sprung
                        <br/>from Jupiters <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span>, and Sol <span class="choice">
            <span class="orig">coḿitted</span>
            <span class="reg">committed</span>
         </span> adultery with Venus, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <br/>fell golden <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span>; not as if <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> doubt both those things to have happened, <span class="pc">-</span>
         <br/>but to take away the vulgar and <span class="choice">
            <span class="orig">literall</span>
            <span class="reg">literal</span>
         </span> sense from things allegorically
                        <br/>spoken: for if <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> follow the bare words of this <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span>, there is nothing
                        <br/>more absurd than them, if the meaning, nothing more true. Now Rhodes <span class="pc">-</span>
         <br/>is an Island, first called Ophiusa by reason of the multitude of Serpents, <span class="pc">-</span>
         <br/>after that Rhodes from the gardens of roses there flourishing, lastly <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="pc">-</span>
         <br/>Colossicula, from the Colosse of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, which being there was esteemd
                        <br/>among the seven miracles of the world: Hereupon the ancient Philoso
                        -<br/>phers, their crude <span class="choice">
            <span class="orig">Mercuriall</span>
            <span class="reg">Mercurial</span>
         </span> matter <span class="choice">
            <span class="orig">Shewing</span>
            <span class="reg">Showing</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> like a Serpent, but
                        <br/>after <span class="choice">
            <span class="orig">præparation</span>
            <span class="reg">preparation</span>
         </span> and coction assuming the purple <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> of a rose, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">tooke</span>
            <span class="reg">took</span>
         </span>
         <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> similitudes from the Island Rhodes: The same <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> was
                        <br/>the cause, why they <span class="choice">
            <span class="orig">ascribd</span>
            <span class="reg">ascribed</span>
         </span> a golden shower to it, Sol or Apollo having
                        <br/>coition with Venus: This thing first tropically spoken gave occasion to
                        <br/>the Rhodians (growing more proud, because <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great Gods had begotten
                        <br/>children among them) to erect as it were an <span class="choice">
            <span class="orig">idoll</span>
            <span class="reg">idol</span>
         </span> of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> of <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">stupendious</span>
            <span class="reg">stupendous</span>
         </span> magnitude and charge: for that <span class="choice">
            <span class="orig">Colosse</span>
            <span class="reg">Colossus</span>
         </span>, as <span class="choice">
            <span class="orig">hystoryes</span>
            <span class="reg">histories</span>
         </span> re
                        -<br/>late, was 70 cubits high, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> placed, that <span class="choice">
            <span class="orig">Shipps</span>
            <span class="reg">Ships</span>
         </span> might <span class="choice">
            <span class="orig">passe</span>
            <span class="reg">pass</span>
         </span> be
                        -<br/>tween the <span class="choice">
            <span class="orig">leggs</span>
            <span class="reg">legs</span>
         </span> of it with full <span class="choice">
            <span class="orig">Sayle</span>
            <span class="reg">Sail</span>
         </span>: the fingers were as <span class="choice">
            <span class="orig">bigge</span>
            <span class="reg">big</span>
         </span> as <span class="pc">-</span>
         <br/>ordinary statues, and few men could <span class="choice">
            <span class="orig">graspe</span>
            <span class="reg">grasp</span>
         </span> the thumb: the Artist
                        <br/>was Chares Lyndius the <span class="choice">
            <span class="orig">Schollar</span>
            <span class="reg">Scholar</span>
         </span> of Lysippus, by <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> it was <span class="pc">-</span>
         <br/>made in twelve years: after the fifty sixth year being overturned
                        <br/>by an earth<span class="pc">-</span>quake, it was <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a miracle lying: The <span class="choice">
            <span class="orig">Soldan</span>
            <span class="reg">Sultan</span>
         </span> of <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Ægypt</span>
            <span class="reg">Egypt</span>
         </span>, winning and possessing Rhodes, is reported to have laden <span class="pc">-</span>
         <br/>900 <span class="choice">
            <span class="orig">Camells</span>
            <span class="reg">Camels</span>
         </span> with the <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> of this statue: That which Sol is <span class="pc">-</span>
         <br/>among the Planets, <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> a Philosopher, that is gold amongst <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span>;
                        <br/>and this is <span class="choice">
            <span class="orig">cheifely</span>
            <span class="reg">chiefly</span>
         </span> appropriated to the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> in respect of heat, <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>,
                        <br/>virtue and essence: for this reason is a golden <span class="choice">
            <span class="orig">rayne</span>
            <span class="reg">rain</span>
         </span> ascribed to the <span class="pc">-</span>
         <br/>generation of Sol: when little <span class="choice">
            <span class="orig">Sunns</span>
            <span class="reg">Suns</span>
         </span> are <span class="choice">
            <span class="orig">conceivd</span>
            <span class="reg">conceived</span>
         </span> by Venus: For Ve
                        -<br/>nus <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> a rosy <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> in her face, and if infused into the seed of <span class="pc">-</span>
         <br/>Sol, the offspring from hence produced must really be a Rhodian: <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> is <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span>, like roses, the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of the Philosophers, who <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">drawes</span>
            <span class="reg">draws</span>
         </span> and allures the eyes and minds of all men to him, and de
                        -<br/>serves love, at whose birth it is <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> strange thing if miracles hap
                        -<br/>pen: for <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> in all his actions will be miraclous, and excite a <span class="pc">-</span>
         <br/>golden <span class="choice">
            <span class="orig">rayne</span>
            <span class="reg">rain</span>
         </span>: This is the brother of Augius the <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of Sol, <span class="pc">-</span>
         <span class="pb">76</span>
         <span class="fw">Discourse 23.</span>
         <br/>who had Oxen for a patrimony, the dung whereof Hercules purged away
                        <br/>in one day: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> is the brother of Æeta, who possessed the golden
                        <br/>fleece obtained by Jason. Of Pallas <span class="choice">
            <span class="orig">proceding</span>
            <span class="reg">proceeding</span>
         </span> from the <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span> of Jupiter,
                        <br/>without a mother, they report, that <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span> was brought forth at the river
                        <br/>Triton, and therefore <span class="choice">
            <span class="orig">calld</span>
            <span class="reg">called</span>
         </span> Tritonia: <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> is feigned to be the <span class="choice">
            <span class="orig">goddesse</span>
            <span class="reg">goddess</span>
         </span>
         <br/>of <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, who springing from the <span class="choice">
            <span class="orig">braine</span>
            <span class="reg">brain</span>
         </span>, the seat of <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, is not
                        <br/>without reason <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> called: a golden <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span> did <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">adorne</span>
            <span class="reg">adorn</span>
         </span> her nativity at
                        <br/>Rhodes, that after birth <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span> might <span class="choice">
            <span class="orig">remaine</span>
            <span class="reg">remain</span>
         </span> in the memory of men. In
                        <br/>
         <span class="choice">
            <span class="orig">publicke</span>
            <span class="reg">public</span>
         </span> or <span class="choice">
            <span class="orig">solemne</span>
            <span class="reg">solemn</span>
         </span> joy, as at the coronation of a King, or <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the birth
                        <br/>of the Kings <span class="choice">
            <span class="orig">heire</span>
            <span class="reg">heir</span>
         </span>
         <span class="choice">
            <span class="orig">peices</span>
            <span class="reg">pieces</span>
         </span> of gold are sometimes <span class="choice">
            <span class="orig">throwne</span>
            <span class="reg">thrown</span>
         </span> amongst the <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> people, as golden <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span>: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> did the same happen at the birth of
                        <br/>Pallas: For Pallas is <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, who <span class="choice">
            <span class="orig">carryes</span>
            <span class="reg">carries</span>
         </span> health in her right hand, and
                        <br/>riches in the left, and provides for mens health and <span class="choice">
            <span class="orig">wellfare</span>
            <span class="reg">welfare</span>
         </span>: To her <span class="choice">
            <span class="orig">Per
                        -<br/>sens</span>
            <span class="reg">Persons</span>
         </span> brought the saxifying head of Medusa, terrible with serpentine and vi
                        -<br/>perous <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span>, which <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span> used in a <span class="choice">
            <span class="orig">sheild</span>
            <span class="reg">shield</span>
         </span> against her <span class="choice">
            <span class="orig">enemyes</span>
            <span class="reg">enemies</span>
         </span>, a rude and bar
                        -<br/>barous people, transmuting them into stones. And indeed <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span>
         <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>
         <span class="pc">-</span>
         <br/>or Philosophy makes those incredulous and envious despisers stupid and
                        <br/>
         <span class="choice">
            <span class="orig">voyd</span>
            <span class="reg">void</span>
         </span> of sense and understanding by that very thing, (from which Chrysaor
                        <br/>was produced, who was the father of the <span class="choice">
            <span class="orig">tricorporeall</span>
            <span class="reg">tricorporeal</span>
         </span> Geryon <span class="choice">
            <span class="orig">aforesayd</span>
            <span class="reg">aforesaid</span>
         </span>), <span class="pc">-</span>
         <br/>that is, the petrifying Gorgonian blood, which is nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but the <span class="pc">-</span>
         <br/>tincture of the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> stone<span class="pc">. . . . . . . . .</span>
      </div>
   </body>
</html>
