<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e28</h2>
                <span class="pb">89</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 28. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        The King sitting in a vaporous bath is bathed, and freed from
                        melancholy by Pharut.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 28.</h3>
                    <div class="verse-epigram">
                        <br/>Prince Duenech, armed with the <span class="choice"><span class="orig">Lyons </span><span class="reg">Lions</span></span> strength,
                        <br/>Grew <span class="choice"><span class="orig">melancholicke </span><span class="reg">melancholic</span></span> and morose at length:
                        <br/>Pharut is sent for to contrive a cure,
                        <br/>Who by a vaporous bath <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span> health assure;
                        <br/>Which means by frequent use wrought good effect,
                        <br/>And his distempers <span class="choice"><span class="orig">wholy </span><span class="reg">wholly</span></span> did correct.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">90</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 3.</h3>
                    <div class="ab"> 
                        As there are three concoctions in man, the first in the <span class="choice"><span class="orig">Stomacke </span><span class="reg">Stomach</span></span>, the second<span class="milestone">e03-01</span> 
                        in the Liver, the third in the veins, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many are the <span class="choice"><span class="orig">universall </span><span class="reg">universal</span></span> 
                        evacuations of the excrements, which are correspondent to them, and daily
                        carry <span class="choice"><span class="orig">of </span><span class="reg">off</span></span> their <span class="choice"><span class="orig">superfluityes </span><span class="reg">superfluities</span></span>, namely the first by <span class="choice"><span class="orig">Stoole </span><span class="reg">Stool</span></span>, which is proper to
                        the first concoction, the second by urine, which <span class="choice"><span class="orig">appertaines </span><span class="reg">appertains</span></span> to the second,
                        the third by expiration through the pores of the whole body, or by 
                        sweat, which is peculiar to the third: In the first the Chyle, in the next the 
                        Chyme, in the last a dew or dewy substance is elaborated, and <span class="choice"><span class="orig">applyed </span><span class="reg">applied</span></span> to 
                        every part of the body: The recrements or <span class="choice"><span class="orig">fæces </span><span class="reg">feces</span></span> of the first are <span class="choice"><span class="orig">thicke </span><span class="reg">thick</span></span>,
                        bilious, and <span class="choice"><span class="orig">fatt </span><span class="reg">fat</span></span>, which are <span class="choice"><span class="orig">carryed </span><span class="reg">carried</span></span> through the <span class="choice"><span class="orig">bowells </span><span class="reg">bowels</span></span> to the <span class="choice"><span class="orig">backe </span><span class="reg">back</span></span> <span class="choice"><span class="orig">doore </span><span class="reg">door</span></span>,
                        and if they be at any time obstructed, they are moderately or strongly
                        expelled by gentle purgatives; the excrements of the second are liquid, 
                        more <span class="choice"><span class="orig">thinne </span><span class="reg">thin</span></span>, bilious and saltish, which are brought out of the veins by
                        the <span class="choice"><span class="orig">kidnyes </span><span class="reg">kidneys</span></span> and bladder, as conduits, and the sediment of these is the <span class="choice"><span class="orig">signe </span><span class="reg">sign</span></span>
                        or touchstone of urine: The <span class="choice"><span class="orig">superfluityes </span><span class="reg">superfluities</span></span> of the third are yet more 
                        <span class="choice"><span class="orig">thinne </span><span class="reg">thin</span></span>, and therefore <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> for the most part expire of themselves 
                        through the smallest pores, or are <span class="choice"><span class="orig">carryed </span><span class="reg">carried</span></span> out together with the serum of
                        the humors, as sweat: These are <span class="choice"><span class="orig">helpd </span><span class="reg">helped</span></span> by <span class="choice"><span class="orig">sudorificks </span><span class="reg">sudorifics</span></span>, as <span class="add">the</span> antecedent by 
                        <span class="choice"><span class="orig">diureticks </span><span class="reg">diuretics</span></span>: To evacuate these last <span class="choice"><span class="orig">fæces </span><span class="reg">feces</span></span> the ancient Greeks and Romans 
                        were very solicitous: For to this end were <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many sports and exercises used
                        by them, as chafing of all the parts in the morning, <span class="choice"><span class="orig">anoynting </span><span class="reg">anointing</span></span> with <span class="choice"><span class="orig">oyle </span><span class="reg">oil</span></span>, 
                        and <span class="choice"><span class="orig">wrastling </span><span class="reg">wrestling</span></span>, fencing, the exercise of running, of handball, <span class="choice"><span class="orig">tennice </span><span class="reg">tennis</span></span>, daily washing and bathing in rivers or <span class="choice"><span class="orig">artificiall </span><span class="reg">artificial</span></span> baths, for the conveniency
                        of which were <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> many magnificent structures built at Rome, that <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span>
                        can rather admire than imitate them: As for example the baths of Dioclesian, which for the most part are yet remaining, and (if I be not 
                        mistaken) <span class="choice"><span class="orig">pourtrayed </span><span class="reg">portrayed</span></span> with <span class="choice"><span class="orig">Archangells </span><span class="reg">Archangels</span></span>, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> high, sumptuous, and splendid
                        were the <span class="choice"><span class="orig">workes </span><span class="reg">works</span></span>: The sorts of concoctions in the elaboration of <span class="choice"><span class="orig">metalls </span><span class="reg">metals</span></span> are 
                        <span class="choice"><span class="orig">allmost </span><span class="reg">almost</span></span> the saine, as those <span class="choice"><span class="orig">aforesayd </span><span class="reg">aforesaid</span></span>: for the first is in its way effected 
                        in annus magnus, that is, the revolution of the highest Sphere, the second in the revolution of the lowest, the third in the revolution of the<span class="choice"><span class="orig">midle </span><span class="reg">middle</span></span> Sphere: But the Philosophers to draw forth this <span class="choice"><span class="orig">masse </span><span class="reg">mass</span></span> of excrementitious
                        <span class="choice"><span class="orig">superfluityes </span><span class="reg">superfluities</span></span> more <span class="choice"><span class="orig">coḿodiously </span><span class="reg">commodiously</span></span> by the ministery of art, <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> invent <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> 
                        <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span> <span class="choice"><span class="orig">wayes </span><span class="reg">ways</span></span>, as ablutions, purgations, balneations and <span class="choice"><span class="orig">laconicks </span><span class="reg">laconica</span></span>, by which
                        they have <span class="choice"><span class="orig">performd </span><span class="reg">performed</span></span> that in the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> <span class="choice"><span class="orig">worke </span><span class="reg">work</span></span>, which <span class="choice"><span class="orig">Physitians </span><span class="reg">Physicians</span></span>
                        have in mans body: Duenech therefore is introduced into the bath by 
                        Pharut, there to sweat, and evacuate the <span class="choice"><span class="orig">fæces </span><span class="reg">feces</span></span> of the third concoction 
                        through the pores: Now this Kings distemper is <span class="choice"><span class="orig">melancholicke </span><span class="reg">melancholic</span></span> or atrabilary, 
                        whereby <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is of <span class="choice"><span class="orig">lesse </span><span class="reg">less</span></span> authority and <span class="choice"><span class="orig">esteeme </span><span class="reg">esteem</span></span> than all other princes, being
                        taxed with the morosity of <span class="choice"><span class="orig">Saturne </span><span class="reg">Saturn</span></span>, and the choler or passion of Mars: 
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> therefore a desire either to <span class="choice"><span class="orig">dye </span><span class="reg">die</span></span> or be cured, if it be possible: 
                        Amongst many <span class="choice"><span class="orig">Physitians </span><span class="reg">Physicians</span></span> one being found, who <span class="choice"><span class="orig">undertooke </span><span class="reg">undertook</span></span> this charge
                        
                        
                        
                        <span class="pb">9i</span>
                        upon <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span>, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was brought with <span class="choice"><span class="orig">entreatyes </span><span class="reg">entreaties</span></span> and rewards: And this Allegory
                        is very frequent in the writings of the Philosophers, as of Bernard, Alanus, in the
                        treatise of Duenech, and innumerable others; <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> therefore add <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> other circumstances which might be derived from them: it is sufficient here to have observed, the excrement of which coction may be evacuated by balneation: for
                        herein consists the substance of the whole matter: Heat included in the body
                        is <span class="choice"><span class="orig">coḿonly </span><span class="reg">commonly</span></span> reduced to the superficies of the <span class="choice"><span class="orig">skinne </span><span class="reg">skin</span></span> together with the blood in
                        <span class="choice"><span class="orig">hott </span><span class="reg">hot</span></span> stoves or baths, whereby a <span class="choice"><span class="orig">beautifull </span><span class="reg">beautiful</span></span> complexion is acquired to the face 
                        and whole body; which if it appear, will be a <span class="choice"><span class="orig">signe </span><span class="reg">sign</span></span>, that the <span class="choice"><span class="orig">melancholicke </span><span class="reg">melancholic</span></span>
                        <span class="choice"><span class="orig">blacknesse </span><span class="reg">blackness</span></span>, which infects the <span class="choice"><span class="orig">skinne </span><span class="reg">skin</span></span>, may by degrees be evacuated, and all
                        the humors corrected, that pure and rosy blood may afterwards be generated: The whole temperament of his body must necessarily be amended, 
                        because it resists good blood, and is cold and dry, that on the contrary being
                        <span class="choice"><span class="orig">hott </span><span class="reg">hot</span></span> and moist, which whether it can be done or <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span>, it is convenient for
                        a <span class="choice"><span class="orig">Physitian </span><span class="reg">Physician</span></span> to foreknow and foretell by <span class="choice"><span class="orig">prognosticks </span><span class="reg">prognostics</span></span>: Some men are found
                        who have taken Cerdon for the great Prince or Kings <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span>, but they have 
                        at length by <span class="choice"><span class="orig">certaine </span><span class="reg">certain</span></span> signs perceived what <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was in descent and education: lest this should happen, the artist must be <span class="choice"><span class="orig">carefull </span><span class="reg">careful</span></span> in the first place
                        to choose the true offspring of the King, which though <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> be not in splendid and golden attire, but in despicable and <span class="choice"><span class="orig">meane </span><span class="reg">mean</span></span> <span class="choice"><span class="orig">cloathing </span><span class="reg">clothing</span></span>, as <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> of a 
                        livid and <span class="choice"><span class="orig">melancholicke </span><span class="reg">melancholic</span></span> complexion, let him not therefore reject him, or 
                        take another in his <span class="choice"><span class="orig">roome </span><span class="reg">room</span></span>; for if <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> be very well <span class="choice"><span class="orig">washd </span><span class="reg">washed</span></span>, his <span class="choice"><span class="orig">royall </span><span class="reg">royal</span></span> genius will <span class="choice"><span class="orig">soone </span><span class="reg">soon</span></span> appear, as in Cyrus, Paris, Romulus, who were educated 
                        amongst <span class="choice"><span class="orig">rusticks </span><span class="reg">rustics</span></span>: But by way of observation the bath must be a <span class="choice"><span class="orig">Laconicke </span><span class="reg">Laconicum</span></span>, 
                        that is, vaporous and <span class="choice"><span class="orig">sudorificke </span><span class="reg">sudorific</span></span>, that the water may not <span class="choice"><span class="orig">burne </span><span class="reg">burn</span></span> his tender flesh, or
                        obstruct the pores, whereby more damage than utility would ensue, and his malady
                        not be cured: As for the Kings garments to be put on after bathing let <span class="choice"><span class="orig">noe </span><span class="reg">no</span></span> man
                        be solicitous; for as the daughter of King Alcinous did in times past contribute 
                        <span class="choice"><span class="orig">cloaths </span><span class="reg">clothes</span></span> to Ulysses being <span class="choice"><span class="orig">shipwreckd </span><span class="reg">shipwrecked</span></span> and naked, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> will there be one that will 
                        send him most <span class="choice"><span class="orig">pretious </span><span class="reg">precious</span></span> robes, that <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> may deservedly be acknowledged the 
                        <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> of Sol <span class="pc">. . . . . . . . . . . . .</span>
                        
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>