<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e30</h2>
      <span class="pb">95</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 30. Of the Secrets of Nature.
                        <br/>Luna is as requisite to Sol as a <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span> to a <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span>.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 30.</h3>
      <div class="verse">
         <br/>What can you <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> dear Sol! alone, if I<br/>
         <span class="choice">
            <span class="orig">Joyne</span>
            <span class="reg">Join</span>
         </span> not as <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span> with <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span> to multiply?<br/>Or can I Luna Natures <span class="choice">
            <span class="orig">guifts</span>
            <span class="reg">gifts</span>
         </span>
         <span class="choice">
            <span class="orig">expresse</span>
            <span class="reg">express</span>
         </span>
         <br/>Without your <span class="choice">
            <span class="orig">ayde</span>
            <span class="reg">aid</span>
         </span>? <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>, grant <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> some <span class="choice">
            <span class="orig">redresse</span>
            <span class="reg">redress</span>
         </span>.<br/>
         <span class="choice">
            <span class="orig">Hee's</span>
            <span class="reg">He's</span>
         </span> but a <span class="choice">
            <span class="orig">foole</span>
            <span class="reg">fool</span>
         </span> those to confine apart<br/>
         <span class="choice">
            <span class="orig">Whome</span>
            <span class="reg">Whom</span>
         </span> Nature would have <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> in mind and heart.</div>
      <span class="pb">96</span>
      <h3 class="discourse">Discourse 30.</h3>
      <div class="ab">
         <br/>Avicenne in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of the <span class="choice">
            <span class="orig">Soule</span>
            <span class="reg">Soul</span>
         </span>
         <span class="choice">
            <span class="orig">divers</span>
            <span class="reg">diverse</span>
         </span> times <span class="choice">
            <span class="orig">admonisheth</span>
            <span class="reg">admonishes</span>
         </span>, that <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span>
         <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>eggs are to be taken for art, but <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> of those <span class="choice">
            <span class="orig">henns</span>
            <span class="reg">hens</span>
         </span>, which had a cock:
                        <br/>that is, the <span class="choice">
            <span class="orig">fæminine</span>
            <span class="reg">feminine</span>
         </span> subject <span class="choice">
            <span class="orig">avayles</span>
            <span class="reg">avails</span>
         </span> nothing without the masculine <span class="pc">-</span>
         <br/>virtue, and on the contrary, nor a <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span> profitable without a <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>:
                        <br/>for both these sexes must be <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span> together in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">coupe</span>
            <span class="reg">coop</span>
         </span>,
                        <br/>that multiplication may be made: The Philosophers <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> indeed use
                        <br/>the similitude taken from a <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span>, because in the first place <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is <span class="pc">-</span>
         <br/>more correspondent to the power of Sulphur, than any other male of
                        <br/>birds, one being able to serve many <span class="choice">
            <span class="orig">henns</span>
            <span class="reg">hens</span>
         </span>, and not easily suffering a
                        <br/>
         <span class="choice">
            <span class="orig">rivall</span>
            <span class="reg">rival</span>
         </span> in the same dunghill, thinking <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> convenient and suffi
                        -<br/>cient for everyone. <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> is the bird of Mars, <span class="choice">
            <span class="orig">transformd</span>
            <span class="reg">transformed</span>
         </span>, as the Poets
                        <br/>fable, from the youth Gallus, who was entrusted to observe Sol, that <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> might not discover the adultery of Mars with Venus, and very
                        <br/>
         <span class="choice">
            <span class="orig">Martiall</span>
            <span class="reg">Martial</span>
         </span> in fight, contending with his adversary even to death: In <span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">repræsents</span>
            <span class="reg">represents</span>
         </span> Sol, as the <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> Luna:
                        <br/>there is therefore the same necessity of <span class="choice">
            <span class="orig">joyning</span>
            <span class="reg">joining</span>
         </span> Sol with Luna, as a <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span> with a <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>: The <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span> is <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> consecrated to Sol, at whose <span class="pc">-</span>
         <br/>approach <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">riseth</span>
            <span class="reg">rises</span>
         </span>, and goes to sleep with him: <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> often looks up to <span class="pc">-</span>
         <br/>heaven, and erects his hooked <span class="choice">
            <span class="orig">tayle</span>
            <span class="reg">tail</span>
         </span> upright: <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> fights against Serpents in
                        <br/>
         <span class="choice">
            <span class="orig">defence</span>
            <span class="reg">defense</span>
         </span> of his <span class="choice">
            <span class="orig">henns</span>
            <span class="reg">hens</span>
         </span>: <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is an acceptable messenger of light and Latona <span class="pc">-</span>
         <br/>being <span class="choice">
            <span class="orig">præsent</span>
            <span class="reg">present</span>
         </span> at her <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span>: Latona indeed brought forth Sol and Luna,
                        <br/>and therefore <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> is appropriated to the mother and <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span>: But Sol, <span class="pc">-</span>
         <br/>Luna, and Latona <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> in <span class="choice">
            <span class="orig">Chymicall</span>
            <span class="reg">Chymical</span>
         </span> subjects agree, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span>
         <br/>and <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>: but these <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">proceded</span>
            <span class="reg">proceeded</span>
         </span> from an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>, and <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="pc">-</span>
         <br/>lay eggs for the production of young chickens; <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> the Philoso
                        -<br/>phers eggs <span class="choice">
            <span class="orig">turne</span>
            <span class="reg">turn</span>
         </span> into birds of the same kind, provided they be kept <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">warme</span>
            <span class="reg">warm</span>
         </span> with temperate heat, as is the heat of a brooding <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>, which
                        <br/>endures continually: For whereas amongst other birds the male <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">sitts</span>
            <span class="reg">sits</span>
         </span> upon the eggs, the <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span> alone <span class="choice">
            <span class="orig">shews</span>
            <span class="reg">shows</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> free from this
                        <br/>office or <span class="choice">
            <span class="orig">burthen</span>
            <span class="reg">burden</span>
         </span>; and therefore all the care and pains of hatching the
                        <br/>eggs, and producing chickens <span class="choice">
            <span class="orig">lyes</span>
            <span class="reg">lies</span>
         </span> upon the <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>; where her sedulity
                        <br/>and diligence may be observed, how hastily <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> eats and drinks, and
                        <br/>unloads her belly, and presently <span class="choice">
            <span class="orig">runns</span>
            <span class="reg">runs</span>
         </span>
         <span class="choice">
            <span class="orig">backe</span>
            <span class="reg">back</span>
         </span> to her eggs, before they be <span class="pc">-</span>
         <br/>cold: Then with what force and violence <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> defends her chickens,
                        <br/>with what <span class="choice">
            <span class="orig">tendernesse</span>
            <span class="reg">tenderness</span>
         </span>
         <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> receives and covers them being naked under
                        <br/>her wings, with what a <span class="choice">
            <span class="orig">voyce</span>
            <span class="reg">voice</span>
         </span>, as with a bell, <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> calls and keeps them <span class="pc">-</span>
         <br/>together, with what study <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> breaks the harder <span class="choice">
            <span class="orig">crums</span>
            <span class="reg">crumbs</span>
         </span> or seeds for <span class="pc">-</span>
         <br/>them, and <span class="choice">
            <span class="orig">præsents</span>
            <span class="reg">presents</span>
         </span> them with her <span class="choice">
            <span class="orig">beake</span>
            <span class="reg">beak</span>
         </span>, as on a knife, this <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> of <span class="pc">-</span>
         <br/>nature is worthy of admiration. And all these things are, that man
                        <br/>may neither want eggs nor chickens for aliment: After the same man
                        -<br/>ner the Philosopher or artist <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> most diligently and providently <span class="pc">-</span>
         <span class="pb">97</span>
         <span class="fw">Discourse 30.</span>
         <br/>proceed in all his operations; For <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> picks up eggs there where a <span class="choice">
            <span class="orig">cocke</span>
            <span class="reg">cock</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> been, trying them whether they be adle, after that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">cleanseth</span>
            <span class="reg">cleanses</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">præpares</span>
            <span class="reg">prepares</span>
         </span>, and <span class="choice">
            <span class="orig">disposeth</span>
            <span class="reg">disposses</span>
         </span> them in his <span class="choice">
            <span class="orig">vessells</span>
            <span class="reg">vessels</span>
         </span>, as nests, and administers due
                        <br/>heat, whereby the subjects <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> together daily act and suffer one by <span class="pc">-</span>
         <br/>another, till after a long time passing through various <span class="choice">
            <span class="orig">colours</span>
            <span class="reg">colors</span>
         </span> they come
                        <br/>to one <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> and <span class="choice">
            <span class="orig">essence</span>
            <span class="reg">essense</span>
         </span>: In which operation Solution, coagulation,
                        <br/>Sublimation, ascension, descension, distillation, calcination and fixion
                        <br/>as intermediate are perfected: for a hard and compact thing cannot <span class="pc">-</span>
         <br/>be altered, therefore Solution is <span class="choice">
            <span class="orig">præmised</span>
            <span class="reg">premised</span>
         </span>, that is may be made liquid
                        <br/>and soft: and where a thing is dissolved, it is convenient <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> to be <span class="pc">-</span>
         <br/>coagulated, not to its former <span class="choice">
            <span class="orig">hardnesse</span>
            <span class="reg">hardness</span>
         </span> but a <span class="choice">
            <span class="orig">honyish</span>
            <span class="reg">honeyish</span>
         </span> tractability; <span class="pc">-</span>
         <br/>Sublimation separates the pure from the impure, and makes a thing
                        <br/>vile more worthy, the <span class="choice">
            <span class="orig">inferiour</span>
            <span class="reg">inferior</span>
         </span>
         <span class="choice">
            <span class="orig">superiour</span>
            <span class="reg">superior</span>
         </span>; and therefore this nei
                        -<br/>ther ought to be wanting, for it is as the <span class="choice">
            <span class="orig">mistresse</span>
            <span class="reg">mistress</span>
         </span> and <span class="choice">
            <span class="orig">directresse</span>
            <span class="reg">directness</span>
         </span>
         <span class="pc">-</span>
         <br/>of all: when sublimation is made, some parts ascend higher, which
                        <br/>is ascension, and others <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> descend, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> descension is made:
                        <br/>Distillation <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">clarifyes</span>
            <span class="reg">clarifies</span>
         </span> the whole being often interposed, and that
                        <br/>which <span class="choice">
            <span class="orig">remaynes</span>
            <span class="reg">remains</span>
         </span> in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> is calcined: then both are fixed, and
                        <br/>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span> is completed. But if a man gather all these parti
                        -<br/>cular operations under a <span class="choice">
            <span class="orig">generall</span>
            <span class="reg">general</span>
         </span>, which is Coction, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will not <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">erre</span>
            <span class="reg">err</span>
         </span> much from the purpose: for as <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> many chickens as there are,
                        <br/>which <span class="choice">
            <span class="orig">runne</span>
            <span class="reg">run</span>
         </span> here and there dispersedly, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> resort to one mother or
                        <br/>
         <span class="choice">
            <span class="orig">nurce</span>
            <span class="reg">nurse</span>
         </span> the <span class="choice">
            <span class="orig">henne</span>
            <span class="reg">hen</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> many <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span>
         <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> of operating <span class="choice">
            <span class="orig">con
                        -<br/>curre</span>
            <span class="reg">concur</span>
         </span> to the womans <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>, that is, coction alone: It is Luna, which <span class="pc">-</span>
         <br/>comes to be exalted to the sublimity of Sol, for whose sake all these
                        <br/>things are done, that is, durable matrimony is intended between Sol <span class="pc">-</span>
         <br/>and Luna, which if effected, all legations, desponsations, copulations,
                        <br/>dubitatious, etc. will cease, and the bed and flesh of both will be one,
                        <br/>
         <span class="choice">
            <span class="orig">mutuall</span>
            <span class="reg">mutual</span>
         </span> and constant love, <span class="choice">
            <span class="orig">æternall</span>
            <span class="reg">eternal</span>
         </span> peace, and an indissoluble alli
                        -<br/>ance: Sol without Luna is of <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> great <span class="choice">
            <span class="orig">esteeme</span>
            <span class="reg">esteem</span>
         </span>, and Luna without
                        <br/>Sol of <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> and sordid condition: But <span class="choice">
            <span class="orig">Shee</span>
            <span class="reg">She</span>
         </span> receives <span class="choice">
            <span class="orig">splendour</span>
            <span class="reg">splendor</span>
         </span>, and
                        <br/>dignity, with strength or constancy of mind and body from Sol her <span class="pc">-</span>
         <br/>husband, and Sol from Luna multiplication of offspring, and pro
                        -<br/>pagation of kind: hereupon <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> the Rosary: If <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> one of them <span class="pc">-</span>
         <br/>Should be in our stone, the medicine would never flow easily, nor, <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> the tincture, and if it should <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span>, it would not tinge, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span>
         <br/>for <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much as <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the remainder would be, and the Mercury would
                        <br/>evaporate in fume, because the receptacle of the tincture would not
                        <br/>be in it: And Geber in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of examinations proves, that if Sol <span class="pc">-</span>
         <br/>and Luna be incorporated together with art, they are not easily <span class="pc">-</span>
         <br/>separated<span class="pc">. . . . . . . . . . . .</span>
      </div>
   </body>
</html>
