<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e18</h2>
      <span class="pb">59</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 18. Of the Secrets of Nature.
                        <br/>Fire loves to <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span>, not to aurify, but gold.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 18.</h3>
      <div class="verse">
         <br/>All Natures agents <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> their seed diffuse,<br/>That thus they may their species produce:<br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> fire makes all things fire, nor ever was<br/>A true effect without its proper cause:<br/>Gold generates <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> fire, fire <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> gold indeed;<br/>All things are propagated by their seed.</div>
      <span class="pb">60</span>
      <h3 class="discourse">Discourse 18.</h3>
      <div class="ab">
         <br/>Natures way of operating in all <span class="choice">
            <span class="orig">individualls</span>
            <span class="reg">individuals</span>
         </span> of the universe is to use one<span class="milestone">e03-01</span>
         <br/>single <span class="choice">
            <span class="orig">processe</span>
            <span class="reg">process</span>
         </span> to complete and perfect one single motion, as appears in the
                        <br/>Anatomy of mans body, in which one muscle serves <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> for one motion, <span class="pc">-</span>
         <br/>that is, the attractive, but for the expansive another opposite to the first, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>that if any part or member be to be brought into a circular <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>, it must
                        <br/>be effected by various muscles placed circle<span class="pc">-</span>wise: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> the operation of fire <span class="pc">-</span>
         <br/>is one and single, that is to say, to heat and fire, yea assimilate to <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, and
                        <br/>
         <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> all things, to which it is <span class="choice">
            <span class="orig">applyed</span>
            <span class="reg">applied</span>
         </span>, if they be combustible: Hereupon <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> Avicenne in his <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of the congelation of stones: That which falls into <span class="choice">
            <span class="orig">Salt
                        -<br/>pitts</span>
            <span class="reg">Saltpits</span>
         </span>, becomes Salt, and that which into fire, becomes fire, but somethings sooner, <span class="pc">-</span>
         <br/>some Slower, according to the power of <span class="choice">
            <span class="orig">atives</span>
            <span class="reg">actives</span>
         </span>, and the <span class="choice">
            <span class="orig">resistence</span>
            <span class="reg">resistance</span>
         </span> of passives: And <span class="pc">-</span>
         <br/>there is a place in Arabia, which <span class="choice">
            <span class="orig">coloureth</span>
            <span class="reg">colors</span>
         </span> all <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> in it of its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span>
         <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span>
         <br/>every <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> thing <span class="choice">
            <span class="orig">possesseth</span>
            <span class="reg">possesses</span>
         </span> the virtue <span class="choice">
            <span class="orig">infusd</span>
            <span class="reg">infused</span>
         </span> into it by nature, by which
                        <br/>it acts upon things <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span> or <span class="choice">
            <span class="orig">applyed</span>
            <span class="reg">applied</span>
         </span> to it, assimilating and altering their nature
                        <br/>and <span class="choice">
            <span class="orig">forme</span>
            <span class="reg">form</span>
         </span>: That which is generation in vegetables and <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> by the pro
                        -<br/>pagation of seeds, is the infusion of virtue and assimilation in single <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>
         <span class="pc">-</span>
         <br/>or singly <span class="choice">
            <span class="orig">mixd</span>
            <span class="reg">mixed</span>
         </span>: the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>, the light of heaven, projects its <span class="choice">
            <span class="orig">rayes</span>
            <span class="reg">rays</span>
         </span> upon the
                        <br/>earth, which, being gathered together in concavous or burning glasses, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> demon
                        -<br/>strate themselves to be produced from such a cause, as to appear to be the <span class="pc">-</span>
         <br/>projectible <span class="choice">
            <span class="orig">formes</span>
            <span class="reg">forms</span>
         </span> of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span>: Whereby it is manifest that the <span class="choice">
            <span class="orig">rayes</span>
            <span class="reg">rays</span>
         </span> of the
                        <br/>
         <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> are nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>, but a fiery flame extended and dispersed into an ample
                        <br/>latitude, which being dilated and <span class="choice">
            <span class="orig">againe</span>
            <span class="reg">again</span>
         </span> contracted by concavous, diaphanous <span class="pc">-</span>
         <br/>and circular or repercussive instruments, <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> in concavous and <span class="choice">
            <span class="orig">steele</span>
            <span class="reg">steel</span>
         </span> mirrors
                        <br/>Shine as a flame, and <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> things obvious to it: after the same manner, a <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> virtue is as a <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> dispersed in a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> elemented body, which,
                        <br/>if it be gathered together, and attracted into one, <span class="choice">
            <span class="orig">turnes</span>
            <span class="reg">turns</span>
         </span> into water, and that
                        <br/>water into earth: For this reason <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Avicenne in the <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> before <span class="choice">
            <span class="orig">alleadged</span>
            <span class="reg">alleged</span>
         </span>,
                        <br/>Earth is made of water, when the <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span> of earth overcome it, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> on
                        <br/>the contrary: But there is a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> thing, which some ingenious men <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <br/>use when they have a mind to coagulate a dry substance, which is com
                        -<br/>pounded of two waters, and is called Lac virginis, which is the most <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span>
         <span class="pc">-</span>
         <br/>effect of it: thus <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>: Some <span class="del">
            <span class="unclear">are</span>
         </span> there are that assure themselves <span class="pc">-</span>
         <br/>able to increase or multiply virtues in the Load<span class="pc">-</span>stone, as the like <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have
                        <br/>seen <span class="choice">
            <span class="orig">sett</span>
            <span class="reg">set</span>
         </span> in Silver, which being scarce one pound weight attracted and held up an
                        <br/>iron anchor of 28 pounds, which would have been impossible, if the virtue <span class="pc">-</span>
         <br/>had not been <span class="choice">
            <span class="orig">increasd</span>
            <span class="reg">increased</span>
         </span> and made stronger in it, which without doubt was <span class="pc">-</span>
         <br/>done by revocation of the dispersed virtues as it were into one point or pole, <span class="pc">-</span>
         <br/>or by the attraction of the same out of a great body into a <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>: Others are
                        <br/>found, who say that a plumbifying Stone may be made by the Sulphurous
                        <br/>breath of <span class="choice">
            <span class="orig">Saturne</span>
            <span class="reg">Saturn</span>
         </span>, infused and retained, till it be thereby converted into
                        <br/>
         <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> Mercury, which continually converts <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> Mercury into lead. <span class="pc">-</span>
         <br/>Some boast that they can by Antimony, or the stellated Regulus there
                        -<br/>of make Copper from the fume of Copper, in that time wherein a <span class="pc">-</span>
         <br/>man may eat an <span class="choice">
            <span class="orig">egge</span>
            <span class="reg">egg</span>
         </span>, yea that they have made all <span class="choice">
            <span class="orig">metalls</span>
            <span class="reg">metals</span>
         </span>: but
                        <br/>I will not detract from their reputation, though to <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> it seems not
                        
                        
                        
                        <span class="pb">61</span>
         <span class="fw">Discourse 18.</span>
         <br/>likely to be true: I know not whether they are more confident or <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">successefull</span>
            <span class="reg">successful</span>
         </span>, who <span class="choice">
            <span class="orig">endeavour</span>
            <span class="reg">endeavor</span>
         </span> to deduce gold from gold, according to the
                        <br/>saying of the golden <span class="choice">
            <span class="orig">Poett</span>
            <span class="reg">Poet</span>
         </span>: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> that desires barley <span class="choice">
            <span class="orig">sowes</span>
            <span class="reg">sows</span>
         </span>
         <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> barley,
                        <br/>in gold is the seed of gold: Every <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> thing <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> indeed a <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span>
         <br/>virtue of multiplying <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span>, but these things are brought into action
                        <br/>in Vegetables and <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>
         <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>, not at all in <span class="choice">
            <span class="orig">Metalls</span>
            <span class="reg">Metals</span>
         </span>, <span class="choice">
            <span class="orig">Mineralls</span>
            <span class="reg">Minerals</span>
         </span>, things
                        <br/>
         <span class="choice">
            <span class="orig">dugge</span>
            <span class="reg">dug</span>
         </span> out of the earth, or Meteors: Some plants sprung from a small
                        <br/>
         <span class="choice">
            <span class="orig">graine</span>
            <span class="reg">grain</span>
         </span> of seed <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> oftentimes <span class="choice">
            <span class="orig">yeild</span>
            <span class="reg">yield</span>
         </span> a thousand or more grains of seed,
                        <br/>and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> multiply and propagate themselves, and that yearly; <span class="choice">
            <span class="orig">Ani
                        -<br/>malls</span>
            <span class="reg">Animals</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> have their Products of greater or <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> number, according <span class="pc">-</span>
         <br/>to the nature of every one: But gold, Silver, lead, <span class="choice">
            <span class="orig">tinne</span>
            <span class="reg">tin</span>
         </span>, iron, copper, or
                        <br/>Argent vive are never found to have <span class="choice">
            <span class="orig">multiplyd</span>
            <span class="reg">multiplied</span>
         </span> themselves or their species <span class="pc">-</span>
         <br/>after that manner, though one may be very often found commuted and
                        <br/>nobilitated into another: <span class="choice">
            <span class="orig">Neverthelesse</span>
            <span class="reg">Nevertheless</span>
         </span> the Philosophers <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span> that the
                        <br/>principle of ignifying is in fire, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> of aurifying in gold: but where is
                        <br/>the tincture, by which gold must be made? This must be sought in <span class="pc">-</span>
         <br/>its owne principles and generations, not in things of another nature: For
                        <br/>if fire <span class="choice">
            <span class="orig">produceth</span>
            <span class="reg">produces</span>
         </span> fire, a Pear a Pear, a horse a horse, then lead must
                        <br/>generate lead and not Silver, gold gold and not the tincture: Moreover
                        <br/>the Philosophers have a peculiar gold, which they <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> not <span class="pc">-</span>
         <br/>deny that it ought (but <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span> it necessarily requisite) to be <span class="pc">-</span>
         <br/>added to the <span class="choice">
            <span class="orig">aurificke</span>
            <span class="reg">aurific</span>
         </span> Stone as a ferment as the end of the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>. The
                        <br/>ferment, converting the thing fermented into its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> nature, without
                        <br/>which the whole composition would never come to perfection<span class="pc">. . . .</span>
      </div>
   </body>
</html>
