<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e29</h2>
      <span class="pb">92</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> the 29. Of the Secrets of Nature.
                        <br/>As the Salamander lives in fire <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> the Stone.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 29.</h3>
      <div class="verse">
         <br/>The Salamander sports in scorching heats,<br/>And, Vulcan! bids <span class="choice">
            <span class="orig">defyance</span>
            <span class="reg">defiance</span>
         </span> to your threats;<br/>The Stone <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> being thereto <span class="choice">
            <span class="orig">invr'd</span>
            <span class="reg">inured</span>
         </span>,<br/>Withstands the strongest flames were <span class="choice">
            <span class="orig">e're</span>
            <span class="reg">ever</span>
         </span> endured:<br/>That <span class="choice">
            <span class="orig">vermine</span>
            <span class="reg">vermin</span>
         </span> cold and moist <span class="choice">
            <span class="orig">congeales</span>
            <span class="reg">congeals</span>
         </span> the fire,<br/>This stone with heat <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> as its like conspire.</div>
      <span class="pb">93</span>
      <h3 class="discourse">Discourse 29.</h3>
      <div class="ab">
         <br/>Two Elements there are, in which <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> live, water and <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span>, and as ma<span class="milestone">e03-01</span>-<br/>ny in which <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> animated thing can live, earth and fire: For as those are
                        <br/>of a <span class="choice">
            <span class="orig">midle</span>
            <span class="reg">middle</span>
         </span> and temperate complexion in the first and second <span class="choice">
            <span class="orig">qualityes</span>
            <span class="reg">qualities</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <br/>these are extreme; <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> either too <span class="choice">
            <span class="orig">thicke</span>
            <span class="reg">thick</span>
         </span> or too <span class="choice">
            <span class="orig">subtill</span>
            <span class="reg">subtle</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">thicke</span>
            <span class="reg">thick</span>
         </span> as not
                        <br/>to <span class="choice">
            <span class="orig">admitt</span>
            <span class="reg">admit</span>
         </span> other <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="choice">
            <span class="orig">subtill</span>
            <span class="reg">subtle</span>
         </span> as indeed to admit, but to penetrate and <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span>
         <br/>them: But the reason why men <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> live in vaults and subterranean <span class="choice">
            <span class="orig">Mynes</span>
            <span class="reg">Mines</span>
         </span> is
                        <br/>because of the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> descending thitherto, and supplying the vacuity of those
                        <br/>places: But here <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span>
         <span class="choice">
            <span class="orig">speake</span>
            <span class="reg">speak</span>
         </span> of every Element apart: In water fish <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> live
                        <br/>in incredible number, variety, and fertility, yea the greatest of all <span class="choice">
            <span class="orig">ani
                        -<br/>malls</span>
            <span class="reg">animals</span>
         </span>; In the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> men, four<span class="pc">-</span>footed beasts, birds, <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span>, and insects: Whatso
                        -<br/>ever is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> of Spirits <span class="choice">
            <span class="orig">wandring</span>
            <span class="reg">wandering</span>
         </span> in the secret parts of the earth, is ano
                        -<br/>ther thing, for neither are they <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>: But they say the Salamander
                        <br/>alone lives in fire: Now the Salamander is a creeping <span class="choice">
            <span class="orig">vermine</span>
            <span class="reg">vermin</span>
         </span>, not much <span class="pc">-</span>
         <br/>unlike to a Lizard, but of Slower pace, bigger head, and different <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, such
                        <br/>as I remember I have seen in the Alps, or <span class="choice">
            <span class="orig">necke</span>
            <span class="reg">neck</span>
         </span> of Spluga, coming out of
                        <br/>the caverns of rocks after thunder and <span class="choice">
            <span class="orig">raine</span>
            <span class="reg">rain</span>
         </span>, and staying in the way, a <span class="pc">-</span>
         <br/>countryman of that place advertising that it was, called ein Molch: And it
                        <br/>had about a clammy and viscous <span class="choice">
            <span class="orig">moistnesse</span>
            <span class="reg">moistness</span>
         </span>, by the virtue of which it
                        <br/>
         <span class="choice">
            <span class="orig">passeth</span>
            <span class="reg">passes</span>
         </span> freely through fire without <span class="choice">
            <span class="orig">harme</span>
            <span class="reg">harm</span>
         </span>: But the Philosophers Sala
                        -<br/>mander is much different, though it be assimilated to this: For that is <span class="pc">-</span>
         <br/>bred in fire, this not; but if it falls into fire it is not presently burned <span class="pc">-</span>
         <br/>by reason of its <span class="choice">
            <span class="orig">exceding</span>
            <span class="reg">exceeding</span>
         </span>
         <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and <span class="choice">
            <span class="orig">moistnesse</span>
            <span class="reg">moistness</span>
         </span>, but can freely <span class="choice">
            <span class="orig">passe</span>
            <span class="reg">pass</span>
         </span>
         <br/>through the flame: That is <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> and dry this cold and moist: For every
                        <br/>thing participates of the nature of the mothers <span class="choice">
            <span class="orig">wombe</span>
            <span class="reg">womb</span>
         </span>, or resembles <span class="pc">-</span>
         <br/>the place and <span class="choice">
            <span class="orig">countrey</span>
            <span class="reg">country</span>
         </span>: Fire <span class="choice">
            <span class="orig">produceth</span>
            <span class="reg">produces</span>
         </span> nothing but that which is <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span>
         <span class="pc">-</span>
         <br/>and dry, as its like, and on the contrary the moist and cold caverns
                        <br/>of rocks, being full of water, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> bring forth this cold and moist <span class="choice">
            <span class="orig">ver
                        -<br/>myne</span>
            <span class="reg">vermin</span>
         </span>. That <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> by the similitude of nature <span class="choice">
            <span class="orig">rejoyce</span>
            <span class="reg">rejoice</span>
         </span> in fire, this by
                        <br/>contrariety <span class="choice">
            <span class="orig">extinguisheth</span>
            <span class="reg">extinguishes</span>
         </span> it, or repells its force for some time from it.
                        <br/>They say that the <span class="choice">
            <span class="orig">flye</span>
            <span class="reg">fly</span>
         </span> called Pyrausta is generated in fire, and <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flies</span>
         </span> out
                        <br/>of the <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> furnaces of Cyprus: but <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> man <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">beleivd</span>
            <span class="reg">believed</span>
         </span> this true, except
                        <br/>by an allegory: For fire, if it be continued, <span class="choice">
            <span class="orig">destroyes</span>
            <span class="reg">destroys</span>
         </span> and corrupts the
                        <br/>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> of all <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span> whatsoever, it <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> burning the earth into <span class="choice">
            <span class="orig">glasse</span>
            <span class="reg">glass</span>
         </span>,
                        <br/>and the most solid timber into ashes, and all other compounded things,
                        <br/>a few excepted, as <span class="choice">
            <span class="orig">Mercuriall</span>
            <span class="reg">Mercurial</span>
         </span>, which <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> either <span class="choice">
            <span class="orig">wholy</span>
            <span class="reg">wholly</span>
         </span>
         <span class="choice">
            <span class="orig">remayne</span>
            <span class="reg">remain</span>
         </span>, or <span class="choice">
            <span class="orig">allto
                        -<br/>gether</span>
            <span class="reg">altogether</span>
         </span>
         <span class="choice">
            <span class="orig">flye</span>
            <span class="reg">fly</span>
         </span> from fire, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> separation of the parts being made in them:
                        <br/>Vulcan is a most <span class="choice">
            <span class="orig">cruell</span>
            <span class="reg">cruel</span>
         </span>
         <span class="choice">
            <span class="orig">murtherer</span>
            <span class="reg">murderer</span>
         </span>, who calls all things mixed with the
                        <br/>Elements to his examination, some being excepted from his judgement
                        <br/>seat as the <span class="choice">
            <span class="orig">priviledges</span>
            <span class="reg">privileges</span>
         </span>, and prerogatives of the <span class="choice">
            <span class="orig">Emperesse</span>
            <span class="reg">Emperess</span>
         </span> Nature: Upon
                        <br/>these <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">obtaines</span>
            <span class="reg">obtains</span>
         </span>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> right alone, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">joyne</span>
            <span class="reg">join</span>
         </span> to <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> other <span class="pc">-</span>
         <span class="pb">94</span>
         <span class="fw">Discourse 29.</span>
         <br/>judges, and Salamanders are above his violence, which they <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> not fear: <span class="pc">-</span>
         <br/>Avicenne in Porta reckons up the various temperaments of <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, which are
                        <br/>all <span class="choice">
            <span class="orig">unæquall</span>
            <span class="reg">unequal</span>
         </span>, and therefore corruptible by fire and other <span class="choice">
            <span class="orig">injuryes</span>
            <span class="reg">injuries</span>
         </span>: but one
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> affirms to be exactly <span class="choice">
            <span class="orig">æquall</span>
            <span class="reg">equal</span>
         </span>, which <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much heat, as cold, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span>
         <span class="pc">-</span>
         <br/>much siccity, as moisture, not as to weight, but justice, as the <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">terme</span>
            <span class="reg">term</span>
         </span> it, and this is that which is more patient, than agent; in which if
                        <br/>fire <span class="choice">
            <span class="orig">endeavours</span>
            <span class="reg">endeavors</span>
         </span> to dissolve water its contrary into <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> its familiar, the
                        <br/>earth <span class="choice">
            <span class="orig">admitts</span>
            <span class="reg">admits</span>
         </span> not this resolution, because it is incorporated with water: <span class="pc">-</span>
         <br/>and the <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> fire of the compound <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> by consent approve this
                        <br/>sentiment of the earth, because it is an intimate <span class="choice">
            <span class="orig">freind</span>
            <span class="reg">friend</span>
         </span> to the earth. <span class="pc">-</span>
         <br/>The <span class="choice">
            <span class="orig">judgement</span>
            <span class="reg">judgment</span>
         </span> therefore of Vulcan <span class="choice">
            <span class="orig">ceaseth</span>
            <span class="reg">ceases</span>
         </span>, who <span class="choice">
            <span class="orig">useth</span>
            <span class="reg">uses</span>
         </span> yet another <span class="choice">
            <span class="orig">en
                        -<br/>trigue</span>
            <span class="reg">intrigue</span>
         </span>, striving to <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> the earth into ashes, as his <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> is, but the wa
                        -<br/>ter <span class="choice">
            <span class="orig">adhæring</span>
            <span class="reg">adhering</span>
         </span> to it <span class="choice">
            <span class="orig">prævayles</span>
            <span class="reg">prevails</span>
         </span> against exceptions, which <span class="choice">
            <span class="orig">Shews</span>
            <span class="reg">Shows</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> uni
                        -<br/>ted to the earth, and the <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> to it, and fire to the earth on the other <span class="pc">-</span>
         <br/>side; <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> therefore that would incinerate the earth, must <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> incine
                        -<br/>rate the other Elements: And <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> Vulcan being <span class="choice">
            <span class="orig">disapointed</span>
            <span class="reg">disappointed</span>
         </span> suspends <span class="pc">-</span>
         <br/>his <span class="choice">
            <span class="orig">judgement</span>
            <span class="reg">judgment</span>
         </span>, lest <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> Should be derided by all men. This body is like
                        <br/>the <span class="choice">
            <span class="orig">reall</span>
            <span class="reg">real</span>
         </span> Salamander, in which the Elements are exactly <span class="choice">
            <span class="orig">æquallized</span>
            <span class="reg">equalized</span>
         </span> in vir
                        -<br/>tue: Of it <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> the Rosary out of Geber; That Philosopher would have <span class="pc">-</span>
         <br/>the substance of Mercury <span class="choice">
            <span class="orig">mortifyed</span>
            <span class="reg">mortified</span>
         </span>, but naturally his Mercury is in that
                        <br/>venerable Stone, as is manifest to all men: therefore etc. <span class="choice">
            <span class="orig">Allso</span>
            <span class="reg">Also</span>
         </span> that Phi
                        -<br/>losopher would have the substance of Mercury fixed, as is evident, be
                        -<br/>cause <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">teacheth</span>
            <span class="reg">teaches</span>
         </span> the <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> of fixing with many cautions and devices,
                        <br/>but who doubts the substance of that <span class="choice">
            <span class="orig">pretious</span>
            <span class="reg">precious</span>
         </span> stone to be fixed? cer
                        -<br/>tainly <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> man that <span class="choice">
            <span class="orig">knowes</span>
            <span class="reg">knows</span>
         </span> it. By which it is demonstrated, that the
                        <br/>Stone must be reduced to the nature of the Salamander by fixa
                        -<br/>tion; that is, to absolute fixity, which declines not, or <span class="choice">
            <span class="orig">refuseth</span>
            <span class="reg">refuses</span>
         </span> fire. <span class="pc">-</span>
         <br/>For neither can it be the Salamander, before it <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> learned to en
                        -<br/>dure fire most patiently, which must of necessity be effected in long
                        <br/>
         <span class="choice">
            <span class="orig">processe</span>
            <span class="reg">process</span>
         </span> of time. Hereafter in the 35 <span class="choice">
            <span class="orig">emblematicall</span>
            <span class="reg">emblematical</span>
         </span> discourse <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> will <span class="pc">-</span>
         <br/>treat of Achilles and Triptolemus, placed in the night time under embers
                        <br/>of fire, till they could endure most vehement heat, who <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> attained to a
                        <br/>Salamandrine property by <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> and habit: for <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> is a second <span class="pc">-</span>
         <br/>nature, which notwithstanding must <span class="choice">
            <span class="orig">coḿunicate</span>
            <span class="reg">communicate</span>
         </span> power, and as a <span class="choice">
            <span class="orig">Mis
                        -<br/>tresse</span>
            <span class="reg">Mistress</span>
         </span> begin alteration, otherwise <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> will be able to effect little or
                        <br/>nothing; that is the reason why it is impossible to fix ice at fire, but
                        <br/>
         <span class="choice">
            <span class="orig">Cristall</span>
            <span class="reg">Cristal</span>
         </span> possible, because nature <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> begun this: The same must be
                        <br/>supposed of <span class="choice">
            <span class="orig">watry</span>
            <span class="reg">watery</span>
         </span> and volatile Mercury, which in its <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> nature
                        <br/>cannot be fixed, except by <span class="choice">
            <span class="orig">mariage</span>
            <span class="reg">marriage</span>
         </span> and coition with Sulphur, <span class="pc">-</span>
         <br/>which is the Philosophers tincture, and <span class="choice">
            <span class="orig">fixeth</span>
            <span class="reg">fixes</span>
         </span> all volatile Spi
                        <br/>rits<span class="pc">. . . . . . . . . . . . . . . .</span>
      </div>
   </body>
</html>
