<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e27</h2>
      <span class="pb">86</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 27. Of the Secrets of Nature.
                        <br/>
         <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> that <span class="choice">
            <span class="orig">endeavours</span>
            <span class="reg">endeavors</span>
         </span> to enter into the Philosophers Rosary without
                        <br/>a key, is like him that would <span class="choice">
            <span class="orig">walke</span>
            <span class="reg">walk</span>
         </span> without feet.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 27.</h3>
      <div class="verse">
         <br/>Roses in <span class="choice">
            <span class="orig">wisedom's</span>
            <span class="reg">wisdom's</span>
         </span> garden <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> abound,<br/>But <span class="choice">
            <span class="orig">allwayes</span>
            <span class="reg">always</span>
         </span> under locks and bolts is found:<br/>One <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> key it <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>, of <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span>
         <span class="choice">
            <span class="orig">esteeme</span>
            <span class="reg">esteem</span>
         </span>,<br/>Yet without that you swim against the <span class="choice">
            <span class="orig">streame</span>
            <span class="reg">stream</span>
         </span>.<br/>He, that can scarce upon a <span class="choice">
            <span class="orig">levell</span>
            <span class="reg">level</span>
         </span> stand,<br/>In <span class="choice">
            <span class="orig">vaine</span>
            <span class="reg">vain</span>
         </span> attempts Parnassus to ascend.</div>
      <span class="pb">87</span>
      <h3 class="discourse">Discourse 27.</h3>
      <div class="ab">
         <br/>Concerning Erichthonius they write, that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> sprung from the seed of Vulcan <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>cast upon the earth striving with Pallas the <span class="choice">
            <span class="orig">Goddesse</span>
            <span class="reg">Goddess</span>
         </span> of <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span>, with ser
                        -<br/>pentine and without <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span> feet. Very like him are those, who, depending upon
                        <br/>the means of Vulcan alone, without the <span class="choice">
            <span class="orig">wisedome</span>
            <span class="reg">wisdom</span>
         </span> of Pallas, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">begett</span>
            <span class="reg">beget</span>
         </span> monstrous
                        <br/>children, namely, without feet and abortive, which can neither <span class="choice">
            <span class="orig">sustaine</span>
            <span class="reg">sustain</span>
         </span>
         <span class="pc">-</span>
         <br/>themselves, nor profit others: It is a miserable thing for a man to <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span> on all
                        <br/>
         <span class="choice">
            <span class="orig">foure</span>
            <span class="reg">four</span>
         </span>, that is, hands and feet together, but much more miserable to be <span class="choice">
            <span class="orig">all
                        -<br/>together</span>
            <span class="reg">altogether</span>
         </span> destitute of feet, and to use <span class="choice">
            <span class="orig">armes</span>
            <span class="reg">arms</span>
         </span> instead thereof: for they seem to
                        <br/>have degenerated to the nature of <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span>, who <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span> after the manner of <span class="choice">
            <span class="orig">crea
                        -<br/>ping</span>
            <span class="reg">creeping</span>
         </span>
         <span class="choice">
            <span class="orig">wormes</span>
            <span class="reg">worms</span>
         </span>: But the two <span class="choice">
            <span class="orig">leggs</span>
            <span class="reg">legs</span>
         </span> are the <span class="choice">
            <span class="orig">organicke</span>
            <span class="reg">organic</span>
         </span> parts in man, without which
                        <br/>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> cannot <span class="choice">
            <span class="orig">truely</span>
            <span class="reg">truly</span>
         </span>
         <span class="choice">
            <span class="orig">walke</span>
            <span class="reg">walk</span>
         </span>, as neither see without eyes, or touch things tangible
                        <br/>without hands: <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> likewise Medicine and every operative art is <span class="choice">
            <span class="orig">supposd</span>
            <span class="reg">supposed</span>
         </span> to
                        <br/>have two <span class="choice">
            <span class="orig">leggs</span>
            <span class="reg">legs</span>
         </span>, whereon to stand, namely experience and reason, without <span class="pc">-</span>
         <br/>either of which that art is lame, and imperfect in its traditions and <span class="choice">
            <span class="orig">præ
                        -<br/>cepts</span>
            <span class="reg">precepts</span>
         </span>, nor correspondent to the proposed end: Chymistry indeed <span class="choice">
            <span class="orig">cheifely</span>
            <span class="reg">chiefly</span>
         </span> de
                        -<br/>lights in two subjects (as <span class="choice">
            <span class="orig">leggs</span>
            <span class="reg">legs</span>
         </span>) whereof one is the key, the other the string of
                        <br/>the <span class="choice">
            <span class="orig">barre</span>
            <span class="reg">bar</span>
         </span>; by these the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> Rosary <span class="choice">
            <span class="orig">lockd</span>
            <span class="reg">locked</span>
         </span> on all sides is opened, <span class="pc">-</span>
         <br/>and passage admitted into it to those that have right to enter: But if one
                        <br/>be wanting to him that is about to enter herein it will be the same thing, as
                        <br/>for a man whose feet are bound to <span class="choice">
            <span class="orig">endeavour</span>
            <span class="reg">endeavor</span>
         </span> to <span class="choice">
            <span class="orig">outrunne</span>
            <span class="reg">outrun</span>
         </span> a hare: <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that
                        <br/>enters into the garden, which is every way enclosed or fenced, without a Key,
                        <br/>imitates a <span class="choice">
            <span class="orig">theife</span>
            <span class="reg">thief</span>
         </span>, who coming in a <span class="choice">
            <span class="orig">darke</span>
            <span class="reg">dark</span>
         </span> night can <span class="choice">
            <span class="orig">discerne</span>
            <span class="reg">discern</span>
         </span> nothing that <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span> in the garden, nor enjoy the things stolen away: But the key is a thing
                        <br/>of very little <span class="choice">
            <span class="orig">esteeme</span>
            <span class="reg">esteem</span>
         </span> or value, which is properly called a stone <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> in the
                        <br/>chapters, and is the root of Rhodes, without which a twig is not put forth, nor <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">doth</span>
            <span class="reg">does</span>
         </span> the bud swell, nor the Rose become green, or discover multitude of <span class="pc">-</span>
         <br/>leaves: But a <span class="choice">
            <span class="orig">quæstion</span>
            <span class="reg">question</span>
         </span> might be <span class="choice">
            <span class="orig">askd</span>
            <span class="reg">asked</span>
         </span>, where must this key be sought for?
                        <br/>I anwser with the oracle, that is must be there investigated, where the <span class="pc">-</span>
         <br/>bones of Orestes are <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be found, namely, where winds, the Striker, that
                        <br/>which is beaten <span class="choice">
            <span class="orig">backe</span>
            <span class="reg">back</span>
         </span>, and the destruction of men are found together, that is,
                        <br/>as Lychas <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> interpreted it, in the Brasiers Shop or <span class="choice">
            <span class="orig">workehouse</span>
            <span class="reg">workhouse</span>
         </span>: For the oracle
                        <br/>would have <span class="choice">
            <span class="orig">bellowes</span>
            <span class="reg">bellows</span>
         </span> understood by winds; a hammer by the striker an <span class="choice">
            <span class="orig">anvile</span>
            <span class="reg">anvil</span>
         </span>
         <br/>by that which is beaten <span class="choice">
            <span class="orig">backe</span>
            <span class="reg">back</span>
         </span>; by the destruction of men iron: if a man <span class="choice">
            <span class="orig">knowes</span>
            <span class="reg">knows</span>
         </span>
         <br/>how to number well and distinguish the signs, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will certainly find this key
                        <br/>in the <span class="choice">
            <span class="orig">northerne</span>
            <span class="reg">northern</span>
         </span> hemisphere of the <span class="choice">
            <span class="orig">Zodiacke</span>
            <span class="reg">Zodiac</span>
         </span>, and the string of the <span class="choice">
            <span class="orig">barre</span>
            <span class="reg">bar</span>
         </span> in
                        <br/>the <span class="choice">
            <span class="orig">Southerne</span>
            <span class="reg">Southern</span>
         </span>: Which having <span class="choice">
            <span class="orig">obtaind</span>
            <span class="reg">obtained</span>
         </span>, it will be easy to open the <span class="choice">
            <span class="orig">doore</span>
            <span class="reg">door</span>
         </span> and enter:
                        <br/>and in the very entrance <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will see Venus with her Paramour Adonis: for <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> tinged the white roses of a purple <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> with her blood: In the same place
                        <br/>
         <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> a dragon is observed, as in the Hesperian gardens, which <span class="choice">
            <span class="orig">watcheth</span>
            <span class="reg">watches</span>
         </span> to <span class="choice">
            <span class="orig">præ
                        -<br/>serve</span>
            <span class="reg">preserve</span>
         </span> the roses: The scent of the roses is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> to be increased by <span class="choice">
            <span class="orig">garlicke</span>
            <span class="reg">garlic</span>
         </span>
         <span class="pc">-</span>
         <br/>planted near, and that by reason of an <span class="choice">
            <span class="orig">exceding</span>
            <span class="reg">exceeding</span>
         </span> degree of heat, which appears
                        <br/>in <span class="choice">
            <span class="orig">garlicke</span>
            <span class="reg">garlic</span>
         </span>, in which respect it is a remedy against cold <span class="choice">
            <span class="orig">poysons</span>
            <span class="reg">poisons</span>
         </span>: for Roses <span class="pc">-</span>
         <span class="pb">88</span>
         <span class="fw">Discourse 27.</span>
         <br/>require the heat of the <span class="choice">
            <span class="orig">Sunne</span>
            <span class="reg">Sun</span>
         </span> and earth, before they can <span class="choice">
            <span class="orig">attaine</span>
            <span class="reg">attain</span>
         </span> to <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span> and
                        <br/>scent most <span class="choice">
            <span class="orig">gratefull</span>
            <span class="reg">grateful</span>
         </span> to the eyes and nose: Moreover the fume of <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span> Sulphur
                        <br/>makes red roses white, where it <span class="choice">
            <span class="orig">toucheth</span>
            <span class="reg">touches</span>
         </span>, on the contrary the spirit of <span class="choice">
            <span class="orig">Vitrioll</span>
            <span class="reg">Vitriol</span>
         </span>
         <br/>or Aqua fortis restores them to a deep red <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>, which <span class="choice">
            <span class="orig">endureth</span>
            <span class="reg">endures</span>
         </span>: For <span class="choice">
            <span class="orig">coḿon</span>
            <span class="reg">common</span>
         </span>
         <span class="pc">-</span>
         <br/>Sulphur is an enemy to the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span> Sulphur, though it cannot destroy it,
                        <br/>but the Solutive water is <span class="choice">
            <span class="orig">freindly</span>
            <span class="reg">friendly</span>
         </span>, and <span class="choice">
            <span class="orig">præserves</span>
            <span class="reg">preserves</span>
         </span> its <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>: The rose is conse
                        -<br/>crated to Venus in regard of beauty, in which it <span class="choice">
            <span class="orig">surpasseth</span>
            <span class="reg">surpasses</span>
         </span> all other flowers: <span class="pc">-</span>
         <br/>for it is a Virgin, which nature <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> armed, that it might not be violated with
                        -<br/>out revenge and <span class="choice">
            <span class="orig">punnishment</span>
            <span class="reg">punishment</span>
         </span>: Violets are <span class="choice">
            <span class="orig">voyd</span>
            <span class="reg">void</span>
         </span> of weapons, and trodden under
                        <br/>foot; Roses being comprised within prickles have yellow <span class="choice">
            <span class="orig">haire</span>
            <span class="reg">hair</span>
         </span> inwardly; and
                        <br/>outwardly a green garment: <span class="choice">
            <span class="orig">Noe</span>
            <span class="reg">No</span>
         </span> man can <span class="choice">
            <span class="orig">plucke</span>
            <span class="reg">pluck</span>
         </span>, and separate them from <span class="pc">-</span>
         <br/>the prickles but <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that is wife, if otherwise, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will <span class="choice">
            <span class="orig">feele</span>
            <span class="reg">feel</span>
         </span> a sting in his <span class="pc">-</span>
         <br/>fingers: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> none but a most wary Philosopher will <span class="choice">
            <span class="orig">plucke</span>
            <span class="reg">pluck</span>
         </span> the flowers, ex
                        -<br/>cept <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> would find bees and stings in the hives, and gull with honey. Many <span class="pc">-</span>
         <br/>men have secretly and feloniously <span class="choice">
            <span class="orig">entred</span>
            <span class="reg">entered</span>
         </span> into the Rosary, but reaped nothing <span class="pc">-</span>
         <br/>from thence but misery; that is, lost their <span class="choice">
            <span class="orig">labour</span>
            <span class="reg">labor</span>
         </span>. Hereupon <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span> Bacusser in <span class="pc">-</span>
         <br/>Turba; Our <span class="choice">
            <span class="orig">bookes</span>
            <span class="reg">books</span>
         </span>
         <span class="choice">
            <span class="orig">seeme</span>
            <span class="reg">seem</span>
         </span> to be very injurious to those, who read our writings
                        <br/>
         <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> once, twice, or thrice, whereas being frustrated in their understanding and <span class="pc">-</span>
         <br/>whose study, they <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> (which is worst) <span class="choice">
            <span class="orig">loose</span>
            <span class="reg">lose</span>
         </span> their <span class="choice">
            <span class="orig">mony</span>
            <span class="reg">money</span>
         </span>, <span class="choice">
            <span class="orig">paines</span>
            <span class="reg">pains</span>
         </span>, and time, if
                        <br/>they have spent any in this art. And a little after, For when a man thinks <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> done, <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> the world, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will find nothing his hands<span class="pc">. . . . .</span>
      </div>
   </body>
</html>
