<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e35</h2>
                <span class="pb">110</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 35. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        As Ceres accustomed Triptolemus, and Thetis Achilles to abide in
                        fire, <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span> an artist the stone.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 35.</h3>
                    <div class="verse-epigram">
                        <br/>Achilles and Triptolemus <span class="choice"><span class="orig">enur'd </span><span class="reg">inured</span></span>,
                        <br/>By documents, the hottest flames <span class="choice"><span class="orig">endur'd </span><span class="reg">endured</span></span>:
                        <br/>Thetis and Ceres thus did them <span class="choice"><span class="orig">sustaine </span><span class="reg">sustain</span></span>,
                        <br/>By night with fire, <span class="choice"><span class="orig">ith' </span><span class="reg">in the</span></span> day with <span class="choice"><span class="orig">milke </span><span class="reg">milk</span></span> amaine.
                        <br/>As to a babe the breast is <span class="choice"><span class="orig">naturall </span><span class="reg">natural</span></span>,
                        <br/><span class="choice"><span class="orig">Soe </span><span class="reg">So</span></span> fire to <span class="choice"><span class="orig">th' </span><span class="reg">the</span></span> <span class="choice"><span class="orig">med'cine </span><span class="reg">medicine</span></span> <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span>.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">111</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 35.</h3>
                    <div class="ab"> 
                        Lycurgus that Lawmaker of the Spartans <span class="choice"><span class="orig">Shewed </span><span class="reg">Showed</span></span> to the people in <span class="milestone">e03-01</span> 
                        an assembly in the Theater by an ocular example, how <span class="choice"><span class="orig">farre </span><span class="reg">far</span></span> <span class="choice"><span class="orig">custome </span><span class="reg">custom</span></span>
                        and use whether good or <span class="choice"><span class="orig">evill </span><span class="reg">evil</span></span> may <span class="choice"><span class="orig">prævayle </span><span class="reg">prevail</span></span>, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> bringing in two whelps
                        produced at one litter, and between both setting a <span class="choice"><span class="orig">pott </span><span class="reg">pot</span></span> full of meat, 
                        and a hare, one of which whelps seeing the food and the hare, left
                        the food and <span class="choice"><span class="orig">pursud </span><span class="reg">pursued</span></span> the hare, because <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> accustomed, but
                        the other not regarding the hare, <span class="choice"><span class="orig">emptyed </span><span class="reg">emptied</span></span> the <span class="choice"><span class="orig">pott </span><span class="reg">pot</span></span>, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> being <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> 
                        <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> accustomed: which being done, behold, <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span> <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>, here you see by
                        little ones, how <span class="choice"><span class="orig">farre </span><span class="reg">far</span></span> education and <span class="choice"><span class="orig">custome </span><span class="reg">custom</span></span> may <span class="choice"><span class="orig">prævayle </span><span class="reg">prevail</span></span>, even in those,
                        which nature <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> produced exactly alike, and of the same litter: After
                        this manner therefore is it convenient to rectify or direct nature to better things, which is as wax, easily flexible to vice or virtue. That 
                        which <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> demonstrated to be true in <span class="choice"><span class="orig">politicks </span><span class="reg">politics</span></span>, the Philosophers
                        <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> agree to be <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> in <span class="choice"><span class="orig">Physicks </span><span class="reg">Physics</span></span>. How <span class="choice"><span class="orig">effectuall </span><span class="reg">effectual</span></span> <span class="choice"><span class="orig">custome </span><span class="reg">custom</span></span> is in 
                        men and brutes daily examples are seen throughout the whole world,
                        in vegetables <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> are many obvious, but in <span class="choice"><span class="orig">minerall </span><span class="reg">mineral</span></span> and <span class="choice"><span class="orig">metallicke </span><span class="reg">metallic</span></span> 
                        <span class="choice"><span class="orig">bodyes </span><span class="reg">bodies</span></span> <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> have not <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> much experience: yet <span class="choice"><span class="orig">neverthelesse </span><span class="reg">nevertheless</span></span> they fix
                        their stone by <span class="choice"><span class="orig">custome </span><span class="reg">custom</span></span> in fire <span class="choice"><span class="orig">agreable </span><span class="reg">agreeable</span></span> to it, as they in innumerable 
                        places <span class="choice"><span class="orig">doe </span><span class="reg">do</span></span> signify: For it must be nourished by fire, as a child by <span class="choice"><span class="orig">milke </span><span class="reg">milk</span></span>
                        upon its mothers breasts: whereupon <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span> Emiganus; behold the babe 
                        sucking, and hinder him not: And Bodillus, The infant <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> is nourished by <span class="choice"><span class="orig">milke </span><span class="reg">milk</span></span> and fire alone, and by little and little whilst <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>
                        is very young, and the more <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is burned, his bones being comforted,
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is brought to youth, to which attaining, <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> is able to provide for 
                        <span class="choice"><span class="orig">himselfe </span><span class="reg">himself</span></span>: And Arnold in the Rosary booke 2. Chapt 7. Yet the Medicine
                        must be a long time roasted by fire, and nourished as a child 
                        with the breasts. These same things have the most ancient Philosophers been pleased to demonstrate by the <span class="choice"><span class="orig">allegoryes </span><span class="reg">allegories</span></span> of Triptolemus and Achilles accustomed to <span class="choice"><span class="orig">lye </span><span class="reg">lie</span></span> and being hardened in fire, they
                        both denoting nothing <span class="choice"><span class="orig">els </span><span class="reg">else</span></span> but the <span class="choice"><span class="orig">Chymicall </span><span class="reg">Chymical</span></span> subject, besides which
                        the fable would be insignificant and absurd, unworthy either to be
                        appropriated to other <span class="choice"><span class="orig">morall </span><span class="reg">moral</span></span> things, or inculcated to the ears of the 
                        learned: Ceres did as a <span class="choice"><span class="orig">Nurce </span><span class="reg">Nurse</span></span> feed Triptolemus in the day time 
                        with <span class="choice"><span class="orig">milke </span><span class="reg">milk</span></span>, and in the night <span class="choice"><span class="orig">layd </span><span class="reg">laid</span></span> him in fire, whereupon the 
                        youth being very well nourished, his father Eleusius at length 
                        <span class="choice"><span class="orig">tooke </span><span class="reg">took</span></span> notice of it: hereupon Ceres <span class="choice"><span class="orig">killd </span><span class="reg">killed</span></span> Eleusius, and gave the 
                        youth Triptolemus a <span class="choice"><span class="orig">chariott </span><span class="reg">chariot</span></span> <span class="choice"><span class="orig">drawne </span><span class="reg">drawn</span></span> with winged Dragons, 
                        whereby <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">passd </span><span class="reg">passed</span></span> through the <span class="choice"><span class="orig">aire </span><span class="reg">air</span></span> into all parts of the world, 
                        and taught men how to sow <span class="choice"><span class="orig">corne </span><span class="reg">corn</span></span>: But this Triptolemus is the 
                        tincture nourished by fire after a <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> manner, which
                        being <span class="choice"><span class="orig">drawne </span><span class="reg">drawn</span></span> by Serpents, that is, Mercury, taught men how the
                        
                        
                        
                        <span class="pb">112</span>
                        Philosophers seeds are to be cast into their earth. These same things
                        are ascribed to Osiris, who to that end <span class="choice"><span class="orig">tooke </span><span class="reg">took</span></span> a view of the whole world,
                        as <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> have <span class="choice"><span class="orig">elswhere </span><span class="reg">elsewhere</span></span> demonstrated, and to Dionysius, who travelled 
                        throughout the world teaching men the use of wine: Now these three
                        Triptolemus, Osiris, and Dionysius are of one intention and office, 
                        yea one thing; as <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> Achilles, who being most valiant was to be 
                        sent to the <span class="choice"><span class="orig">Trojane </span><span class="reg">Trojan</span></span> <span class="choice"><span class="orig">warre </span><span class="reg">war</span></span>; his father was Peleus, that is, earth, or the
                        <span class="choice"><span class="orig">mountaine </span><span class="reg">mountain</span></span> Peleus, his mother Thetis <span class="choice"><span class="orig">goddesse </span><span class="reg">goddess</span></span> of the Sea or waters; from
                        these Achilles descended: But at their <span class="choice"><span class="orig">nuptialls </span><span class="reg">nuptials</span></span> the golden apple of Eris
                        was produced, the first cause of the <span class="choice"><span class="orig">Trojane </span><span class="reg">Trojan</span></span> <span class="choice"><span class="orig">warre </span><span class="reg">war</span></span>, wherefore <span class="choice"><span class="orig">proceding </span><span class="reg">proceeding</span></span> from those <span class="choice"><span class="orig">nuptialls </span><span class="reg">nuptials</span></span> reason there was that <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> should determine
                        it: Achilles is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to be hardened by his mother after the same manner 
                        as the <span class="choice"><span class="orig">aforesayd </span><span class="reg">aforesaid</span></span> Triptolemus by Ceres, concerning <span class="choice"><span class="orig">whome </span><span class="reg">whom</span></span> <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> have
                        <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> enough in the 6th <span class="choice"><span class="orig">booke </span><span class="reg">book</span></span> of <span class="choice"><span class="orig">Hieroglyphicks </span><span class="reg">Hieroglyphics</span></span>, which here to repeat 
                        <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> <span class="choice"><span class="orig">thinke </span><span class="reg">think</span></span> superfluous. The nutriment therefore of the Stone is fire,
                        but it is not thereby (as some may falsely imagine) extended into longitude, latitude, and profundity, nor <span class="choice"><span class="orig">doth </span><span class="reg">does</span></span> it receive increment in 
                        weight; because it acquires <span class="choice"><span class="orig">onely </span><span class="reg">only</span></span> virtue, maturation, and <span class="choice"><span class="orig">colour </span><span class="reg">color</span></span> from
                        fire, carrying all the rest with it as <span class="choice"><span class="orig">viaticke </span><span class="reg">viatics</span></span> provisions: For when its 
                        parts are from <span class="choice"><span class="orig">severall </span><span class="reg">several</span></span> places congested, purged, and <span class="choice"><span class="orig">conjoyned </span><span class="reg">conjoined</span></span>, it <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> in
                        it all things requisite for it: Whereupon <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span> a Philosopher in the Rosary. Omnia fert Secum quibus indiget hæc aqua fœtum.
                        Nor indeed is any strange thing added to it from the beginning to the
                        end, except it be homogeneous, nor separated, if not heterogeneous: 
                        But every man ought to consider, before <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> begin any thing, how <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span>
                        may come to the knowledge of those Dragons that are to be <span class="choice"><span class="orig">joyned </span><span class="reg">joined</span></span> to
                        the chariot of Triptolemus, which are winged and volatile, which
                        if you desire to know, you will find them in the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> dung: 
                        for they are dung, and are generated from dung, and are that <span class="choice"><span class="orig">vessell </span><span class="reg">vessel</span></span>,
                        which Mary <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span>, is not <span class="choice"><span class="orig">negromanticall </span><span class="reg">negromantical</span></span>, but the regiment of your
                        fire, without which you will effect nothing: I have revealed to you 
                        the truth, which by incredible pains I acquired from the monuments
                        of the Ancients, not without the expense of many years <span class="pc">. . . .</span>
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>