<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e13</h2>
      <span class="pb">44</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 13. Of the Secrets of Nature.
                        <br/>The Philosophers <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> is <span class="choice">
            <span class="orig">hydropicall</span>
            <span class="reg">hydropical</span>
         </span>, and desires to be seven
                        <br/>times <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span> in a river, as Naaman the leper in <span class="choice">
            <span class="orig">jordan</span>
            <span class="reg">Jordan</span>
         </span>.
                    </h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 13.</h3>
      <div class="verse">
         <br/>Humors <span class="choice">
            <span class="orig">Hydropicall</span>
            <span class="reg">Hydropical</span>
         </span> the Sophian <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>
         <br/>Infesting, has <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> cure but one alas:<br/>Naaman the leper did <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> restore,<br/>Bathing his limbs in Jordan <span class="choice">
            <span class="orig">o're</span>
            <span class="reg">over</span>
         </span> and <span class="choice">
            <span class="orig">o're</span>
            <span class="reg">over</span>
         </span>;<br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> if your <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> be <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span> in water pure,<br/>Its <span class="choice">
            <span class="orig">præsent</span>
            <span class="reg">present</span>
         </span>, Hydropsy will not endure.</div>
      <span class="pb">45</span>
      <h3 class="discourse">Discourse 13.</h3>
      <div class="ab">
         <br/>That Naaman the Syrian <span class="choice">
            <span class="orig">betooke</span>
            <span class="reg">betook</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> to <span class="choice">
            <span class="orig">Judæa</span>
            <span class="reg">Judea</span>
         </span> as the <span class="choice">
            <span class="orig">perswasion</span>
            <span class="reg">persuasion</span>
         </span> of the<span class="milestone">e03-01</span>
         <br/>Prophet, and <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> seven times in the river Jordan, is to be <span class="choice">
            <span class="orig">ascribd</span>
            <span class="reg">ascribed</span>
         </span>
         <br/>to his confidence in the Prophets words, but that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was freed from the Le
                        -<br/>prosy by that washing, is a miracle of divine omnipotence: For the Leprosy,
                        <br/>which being seated in the blood, and <span class="choice">
            <span class="orig">radicall</span>
            <span class="reg">radical</span>
         </span> parts of mans body, is as it were
                        <br/>an <span class="choice">
            <span class="orig">universall</span>
            <span class="reg">universal</span>
         </span> Canker, cannot be cured or taken away by any <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>
         <span class="pc">-</span>
         <br/>washings, much <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span> of cold water, such as was of Jordan. After the same<span class="pc">-</span>
         <br/>manner that the Philosophers <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> diseased with an Hydropsy, Should be
                        <br/>freed from it by the washings of water, yea that being imperfect it Should be
                        <br/>reduced to perfection, and being <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span> to health, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> as to be able to <span class="choice">
            <span class="orig">coḿunicate</span>
            <span class="reg">communicate</span>
         </span>
         <br/>the same to other <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, is next to a miracle: For such an example is
                        <br/>not <span class="choice">
            <span class="orig">elswhere</span>
            <span class="reg">elsewhere</span>
         </span> extant in nature, nor is it the ordinary way of nature to pro
                        -<br/>duce the Philosophers most absolute tincture, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> it be governed by art,<span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">fitt</span>
            <span class="reg">fit</span>
         </span> subjects <span class="choice">
            <span class="orig">administred</span>
            <span class="reg">administered</span>
         </span> to it with the <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> efficient. <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> the resti
                        -<br/>tution of luxations or dislocations is not peculiar to nature, but art: <span class="choice">
            <span class="orig">Neverthe
                        -<br/>lesse</span>
            <span class="reg">Nevertheless</span>
         </span> the Os Sacrum opens <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> miraculously in the birth of a child, that<span class="pc">-</span>
         <br/>the infant may thereby have <span class="choice">
            <span class="orig">egresse</span>
            <span class="reg">egress</span>
         </span>, as by a door, and herein the most great
                        <br/>and <span class="choice">
            <span class="orig">mercifull</span>
            <span class="reg">merciful</span>
         </span> God operates by nature above nature: <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> that the Stone<span class="pc">-</span>
         <br/>should be perfected, may <span class="choice">
            <span class="orig">seeme</span>
            <span class="reg">seem</span>
         </span> to be a thing <span class="choice">
            <span class="orig">supernaturall</span>
            <span class="reg">supernatural</span>
         </span>, though really
                        <br/>it is <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span>: Wherefore <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> a Philosopher in the Rosary, You must know<span class="pc">-</span>
         <br/>that our stone is airy and volatile, externally cold and moist, internally<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> and dry: and that <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and moisture which is <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>, is a <span class="choice">
            <span class="orig">watry</span>
            <span class="reg">watery</span>
         </span>
         <br/>fume, corrupting, blacking, and destroying <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> and all things, and <span class="choice">
            <span class="orig">flyes</span>
            <span class="reg">flies</span>
         </span>
         <br/>from fire: and that heat and siccity which is <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span>, is gold <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> and dry,
                        <br/>and is a most pure <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span>, penetrating <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span>, and is not fugitive, because the
                        <br/>heat and siccity of <span class="choice">
            <span class="orig">Alchymy</span>
            <span class="reg">Alchemy</span>
         </span>
         <span class="choice">
            <span class="orig">tingeth</span>
            <span class="reg">tinges</span>
         </span>, and nothing <span class="choice">
            <span class="orig">els</span>
            <span class="reg">else</span>
         </span>: Cause therefore the
                        <br/>
         <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>, <span class="choice">
            <span class="orig">coldnesse</span>
            <span class="reg">coldness</span>
         </span> and <span class="choice">
            <span class="orig">watry</span>
            <span class="reg">watery</span>
         </span> moisture, to be like to the <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span> heat and
                        <br/>siccity, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> that they may agree and be united together, and all at once be
                        -<br/>made one penetrating, tinging, and fixing body: but these moistures must be
                        <br/>
         <span class="choice">
            <span class="orig">destroyd</span>
            <span class="reg">destroyed</span>
         </span> by fire, and degrees of fire with soft temperament, and a congruous
                        <br/>and moderate digestion: These there: But if true, how can it be freed from<span class="pc">-</span>
         <br/>water by water? but it may be answered, that some <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> waters are<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> and dry in quality, such as are many baths, in which it must be Phi
                        -<br/>losophically washed: For this is that which they say, wash with fire, and<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">burne</span>
            <span class="reg">burn</span>
         </span> with water; for that fire, which <span class="choice">
            <span class="orig">washeth</span>
            <span class="reg">washes</span>
         </span>, and that water, which <span class="choice">
            <span class="orig">bur
                        -<br/>neth</span>
            <span class="reg">burns</span>
         </span>, differ one from the other in name <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span>, but agree in effect and ope
                        -<br/>ration: That <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> therefore must be <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span>, that is, <span class="choice">
            <span class="orig">dryed</span>
            <span class="reg">dried</span>
         </span> from its super
                        -<br/>fluous moistures by this water, or this fire: <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span> have <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> experiments<span class="pc">-</span>
         <br/>of <span class="choice">
            <span class="orig">Hydropicall</span>
            <span class="reg">Hydropical</span>
         </span>
         <span class="choice">
            <span class="orig">bodyes</span>
            <span class="reg">bodies</span>
         </span> cured by six <span class="choice">
            <span class="orig">moneths</span>
            <span class="reg">months</span>
         </span> abstinence from any <span class="choice">
            <span class="orig">drinke</span>
            <span class="reg">drink</span>
         </span>,<span class="pc">-</span>
         <br/>by being <span class="choice">
            <span class="orig">buryed</span>
            <span class="reg">buried</span>
         </span> in <span class="underline">
            <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span> sand</span>, or <span class="choice">
            <span class="orig">Cowes</span>
            <span class="reg">Cows</span>
         </span> dung, by being put in a <span class="underline">
            <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span> fur
                        -<br/>nace, and sweating, and innumerable</span> other helps, yea <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span>
         <span class="underline">by drying<span class="pc">-</span>
            <br/>baths, such as are at Carolina and Wisbadenses not <span class="choice">
               <span class="orig">farre</span>
               <span class="reg">far</span>
            </span>
         </span> from Mentz:
                        <br/>By the same <span class="choice">
            <span class="orig">wayes</span>
            <span class="reg">ways</span>
         </span> must this Patient be cured, sometimes by waters,<span class="pc">-</span>
         <span class="pb">46</span>
         <span class="fw">Discourse 13.</span>
         <br/>sometimes by the <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span>
         <span class="choice">
            <span class="orig">aire</span>
            <span class="reg">air</span>
         </span> of furnaces, sometimes by dung, sometimes Sand,
                        <br/>and by abstaining from <span class="choice">
            <span class="orig">drinke</span>
            <span class="reg">drink</span>
         </span>: for these are most <span class="choice">
            <span class="orig">effectuall</span>
            <span class="reg">effectual</span>
         </span>
         <span class="choice">
            <span class="orig">remedyes</span>
            <span class="reg">remedies</span>
         </span> in both
                        <br/>cases, here and there to be used: but in all these things heat is the operator,<span class="pc">-</span>
         <br/>which <span class="choice">
            <span class="orig">drawes</span>
            <span class="reg">draws</span>
         </span> forth and consumes the superfluous water by the <span class="choice">
            <span class="orig">Emunctoryes</span>
            <span class="reg">Emunctories</span>
         </span>
         <br/>or <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> pores of the body: For <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> heat quickens the <span class="choice">
            <span class="orig">internall</span>
            <span class="reg">internal</span>
         </span>, that is,
                        <br/>the <span class="choice">
            <span class="orig">vitall</span>
            <span class="reg">vital</span>
         </span> Spirits, to <span class="choice">
            <span class="orig">expell</span>
            <span class="reg">expel</span>
         </span> that moisture which is noxious to it, as an unpro
                        -<br/>fitable excrement, by which the <span class="choice">
            <span class="orig">naturall</span>
            <span class="reg">natural</span>
         </span> heat was before <span class="choice">
            <span class="orig">suppressd</span>
            <span class="reg">suppressed</span>
         </span> as by<span class="pc">-</span>
         <br/>an enemy: In this cure there is need of great diligence and <span class="choice">
            <span class="orig">præcaution</span>
            <span class="reg">precaution</span>
         </span>,<span class="pc">-</span>
         <br/>lest whilst one <span class="choice">
            <span class="orig">bowell</span>
            <span class="reg">bowel</span>
         </span> is <span class="choice">
            <span class="orig">helpd</span>
            <span class="reg">helped</span>
         </span>, another be hurt: In a Quartan (the <span class="choice">
            <span class="orig">Plato
                        -<br/>nicke</span>
            <span class="reg">Platonic</span>
         </span> probation of a <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>) <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> find, that <span class="choice">
            <span class="orig">thicke</span>
            <span class="reg">thick</span>
         </span> and viscous humors,
                        <br/>like the <span class="choice">
            <span class="orig">gumme</span>
            <span class="reg">gum</span>
         </span> or <span class="choice">
            <span class="orig">glew</span>
            <span class="reg">glue</span>
         </span> of trees, being gathered together from all the veins<span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">masse</span>
            <span class="reg">mass</span>
         </span> of blood, <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> descend through the hollow or great veins even to the
                        <br/>
         <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> of the <span class="choice">
            <span class="orig">backe</span>
            <span class="reg">back</span>
         </span>, where obstructing the emulgent veins, which draw
                        <br/>the serous humor out of the blood, or the passages of them, they are <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>
         <span class="pc">-</span>
         <br/>able to operate, and more serous liquor <span class="choice">
            <span class="orig">remaines</span>
            <span class="reg">remains</span>
         </span> in the body, and <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> in
                        <br/>a short time, if care be not taken, a Dropsy may happen, the other <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span>
         <br/>being <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> untainted at first: <span class="choice">
            <span class="orig">Diureticks</span>
            <span class="reg">Diuretics</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> here little or <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> good, purgatives
                        <br/>yet <span class="choice">
            <span class="orig">lesse</span>
            <span class="reg">less</span>
         </span>, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> diminution and eduction be made in some <span class="choice">
            <span class="orig">certaine</span>
            <span class="reg">certain</span>
         </span> series of<span class="pc">-</span>
         <br/>time: <span class="choice">
            <span class="orig">Sudorificks</span>
            <span class="reg">Sudorifics</span>
         </span> are <span class="choice">
            <span class="orig">allso</span>
            <span class="reg">also</span>
         </span> manifestly <span class="choice">
            <span class="orig">hurtfull</span>
            <span class="reg">hurtful</span>
         </span>, because they draw out the more<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">subtill</span>
            <span class="reg">subtle</span>
         </span> parts, leaving the thicker, and being continued debilitate the body: for<span class="pc">-</span>
         <br/>the <span class="choice">
            <span class="orig">custome</span>
            <span class="reg">custom</span>
         </span> of nature is to find that way to evacuate <span class="choice">
            <span class="orig">serosityes</span>
            <span class="reg">serosities</span>
         </span> through the pores
                        <br/>when <span class="choice">
            <span class="orig">shee</span>
            <span class="reg">she</span>
         </span> is obstructed about the bladder: This therefore is Scylla, the other<span class="pc">-</span>
         <br/>Charybdis, both which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that has a mind to <span class="choice">
            <span class="orig">præserve</span>
            <span class="reg">preserve</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> ought to<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">avoyd</span>
            <span class="reg">avoid</span>
         </span>: But that Dropsy which proceeds from an impaired Liver or Spleen,<span class="pc">-</span>
         <br/>if it be confirmed, is of most difficult cure: Now in the <span class="choice">
            <span class="orig">Philosophicall</span>
            <span class="reg">Philosophical</span>
         </span>
         <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> the cure is not impossible, the distemper being rather by accident,<span class="pc">-</span>
         <br/>and <span class="choice">
            <span class="orig">secundary</span>
            <span class="reg">secondary</span>
         </span>, than <span class="choice">
            <span class="orig">essentiall</span>
            <span class="reg">essential</span>
         </span> or primary, provided it be cautiously be
                        -<br/>gun, as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> concerning the plenty of serum in a Quartan, to<span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>, that it may not by overmuch <span class="choice">
            <span class="orig">exiccation</span>
            <span class="reg">exsiccation</span>
         </span> fall into a consumption, or
                        <br/>by humectation into a Dropsy difficult to be cured<span class="pc">. . . . . .</span>
      </div>
   </body>
</html>
