<?xml version="1.0" encoding="UTF-8"?><html xmlns:af="http://www.tei-c.org/ns/1.0"><head><title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem
                        </title><link rel="stylesheet" type="text/css" href="atalantaProof-color-reading.css"/></head><body>
    
    
    
        
            <h2 class="pageTitle">Atalanta Fugiens: Emblem e46</h2>
                <span class="pb">143</span>
                
                
             <div id="mottoPartial--e">
                 <div class="title">
                     <h3 class="title">
                        <span class="my-motto">
                           <span class="emblem-heading">
                        <span class="italics"><span class="choice"><span class="orig">Embleme </span><span class="reg">Emblem</span></span> 46. Of the Secrets of Nature.</span>
                            </span>
                            <br/>
                        Two Eagles come together, one from the East, the other from the West.</span>
                        </span>
                     </h3>
                 </div>
             </div>
                
                
            <div id="epigramPartial--e">
                <div class="epigram">
                    <h3 class="epigram"><span class="choice"><span class="orig">Epigramme </span><span class="reg">Epigram</span></span> 46.</h3>
                    <div class="verse-epigram">
                        <br/>Great Jove two Eagles out of Delphi sent
                        <br/>To <span class="choice"><span class="orig">th' </span><span class="reg">the</span></span> East and Western parts, for this intent,
                        <br/>That <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> the <span class="choice"><span class="orig">midle </span><span class="reg">middle</span></span> of the earth might find;
                        <br/>Which, there returning, well <span class="choice"><span class="orig">resolv'd </span><span class="reg">resolved</span></span> his mind.
                        <br/>But those two Eagles are two stones, which <span class="choice"><span class="orig">hast </span><span class="reg">have</span></span>
                        <br/>One from the East, the other from the West.
                    </div>
                </div>
            </div>
                

                <div id="discoursePartial--e">
                    <span class="pb">144</span> 
                <div class="discourse">
                    <h3 class="discourse">Discourse 46.</h3>
                    <div class="ab"> 
                        Cicero in his <span class="choice"><span class="orig">booke </span><span class="reg">book</span></span> of the nature of the Gods declares the most ancient <span class="milestone">e03-01</span> 
                        Apollo to be the <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> of Vulcan, and keeper of Athens: Which opinion,
                        if it be, as it ought, <span class="choice"><span class="orig">transferrd </span><span class="reg">transferred</span></span> to an Allegory, is indeed most true; because
                        Vulcan <span class="choice"><span class="orig">produceth </span><span class="reg">produces</span></span> the <span class="choice"><span class="orig">Philosophicall </span><span class="reg">Philosophical</span></span> Sol, which is Apollo. But it <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> 
                        <span class="choice"><span class="orig">prævayld </span><span class="reg">prevailed</span></span>, that <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> was <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> of Jupiter; and that Latona having two
                        children in her <span class="choice"><span class="orig">wombe </span><span class="reg">womb</span></span>, Apollo and Diana, which <span class="choice"><span class="orig">shee </span><span class="reg">she</span></span> <span class="choice"><span class="orig">conceivd </span><span class="reg">conceived</span></span> of Jupiter, Juno being jealous sent Python a Serpent of prodigious magnitude and malice, to persecute and perplex her being great with child. 
                        The miserable woman after tedious <span class="choice"><span class="orig">wandrings </span><span class="reg">wanderings</span></span> was at length brought
                        by a <span class="choice"><span class="orig">Shipp </span><span class="reg">Ship</span></span> to the Island Ortygia, to her sister Asteries, who therein
                        reigned: And that Island, being <span class="choice"><span class="orig">allmost </span><span class="reg">almost</span></span> all overflowed with the Sea,
                        gave place to Latona being in <span class="choice"><span class="orig">travell </span><span class="reg">travail</span></span>, whereupon it was called Delos, 
                        which before was Ἂδηλος: There therefore being in <span class="choice"><span class="orig">labour </span><span class="reg">labor</span></span>, first came forth
                        Diana, and <span class="choice"><span class="orig">shee </span><span class="reg">she</span></span> did the office of a midwife to her mother <span class="choice"><span class="orig">labouring </span><span class="reg">laboring</span></span> 
                        to bring forth her brother Apollo; From whence it came to <span class="choice"><span class="orig">passe </span><span class="reg">pass</span></span> 
                        that women going with Child did in the time of their <span class="choice"><span class="orig">labour </span><span class="reg">labor</span></span>
                        invoke her deity, and <span class="choice"><span class="orig">calld </span><span class="reg">called</span></span> her either Lucina or Ilithya, because <span class="choice"><span class="orig">shee </span><span class="reg">she</span></span> <span class="choice"><span class="orig">shewd </span><span class="reg">showed</span></span> light to infants <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> their eyes being opened:
                        Apollo therefore being <span class="choice"><span class="orig">borne </span><span class="reg">born</span></span> and <span class="choice"><span class="orig">growne </span><span class="reg">grown</span></span> up slew Python the tormenter of his mother with arrows, and <span class="choice"><span class="orig">killd </span><span class="reg">killed</span></span> the Cyclopes because 
                        they made <span class="choice"><span class="orig">lightening </span><span class="reg">lightning</span></span> for Jupiter to destroy his <span class="choice"><span class="orig">Sonne </span><span class="reg">Son</span></span> <span class="choice"><span class="orig">Æsculapius </span><span class="reg">Aesculapius</span></span>,
                        <span class="choice"><span class="orig">whome </span><span class="reg">whom</span></span> Jupiter condemned to hell blasted with <span class="choice"><span class="orig">lightening </span><span class="reg">lightning</span></span>, because
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> had <span class="choice"><span class="orig">restord </span><span class="reg">restored</span></span> Hippolytus to life being <span class="choice"><span class="orig">torne </span><span class="reg">torn</span></span> in <span class="choice"><span class="orig">peices </span><span class="reg">pieces</span></span> by horses.
                        <span class="choice"><span class="orig">Wee </span><span class="reg">We</span></span> have in many places demonstrated these things to be merely
                        <span class="choice"><span class="orig">Chymicall </span><span class="reg">Chymical</span></span>: For Latona, Cynthia, Apollo, and Python are requisites of
                        the art, which have such a relation one to the other, as <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> been
                        declared; but these things being divulged in the writings of the most
                        ancient <span class="choice"><span class="orig">Poetts </span><span class="reg">Poets</span></span>, as Orpheus, Linus, <span class="choice"><span class="orig">Musæus </span><span class="reg">Musaeus</span></span>, Homer, etc. have given the
                        ignorant occasion to ascribe religion and veneration to Apollo: Hereupon Apollo is in many places of Europe and Asia worshipped, 
                        and innumerable temples erected to him; And especially at Delphos
                        <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> had a temple to be worshipped by ancient religion, wherein a great
                        number of statues made of solid gold and silver or great weight 
                        and artifice was reposited by Kings and Princes, with other most
                        <span class="choice"><span class="orig">pretious </span><span class="reg">precious</span></span> gifts, which were hidden in sacred places for religion sake
                        by men of all degrees. Pausanias reports that a brazen Skeleton of
                        admirable artifice was hung at the top of the temple by Hippocrates.
                        That famous Tripos was <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span> consecrated to Apollo by Pelops, at the
                        time when <span class="choice"><span class="orig">hee </span><span class="reg">he</span></span> <span class="choice"><span class="orig">marryed </span><span class="reg">married</span></span> Hippodamia the daughter <span class="choice"><span class="orig">Œnomaus </span><span class="reg">Oenomaus</span></span> King
                        of Elis, which Tripos Mulciber made, and gave to Pelops: It was
                        erected in the <span class="choice"><span class="orig">midle </span><span class="reg">middle</span></span> of the temple, in which Pythia sitting
                        
                        
                        
                        <span class="pb">145</span>
                        <span class="choice"><span class="orig">receiv'd </span><span class="reg">received</span></span> the inspiration of the <span class="choice"><span class="orig">Devill </span><span class="reg">Devil</span></span> gaping with a wide mouth, and then 
                        <span class="choice"><span class="orig">prophesyd </span><span class="reg">prophesied</span></span>, and gave responses to those that <span class="choice"><span class="orig">desird </span><span class="reg">desired</span></span> to know the events of things
                        to come: Delphos was indeed in <span class="choice"><span class="orig">Bœotica </span><span class="reg">Boeotica</span></span> seated about the foot of Parnassus. 
                        Near to the temple was the divining <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span>, named Cassiotis, which, if burning torches was brought to it, did extinguish them: if they were removed
                        <span class="choice"><span class="orig">farre </span><span class="reg">far</span></span> <span class="choice"><span class="orig">of </span><span class="reg">off</span></span>, they were suddenly kindled, and <span class="choice"><span class="orig">tooke </span><span class="reg">took</span></span> fire; and the water of 
                        that <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span> being <span class="choice"><span class="orig">dranke </span><span class="reg">drank</span></span> <span class="choice"><span class="orig">yeilded </span><span class="reg">yielded</span></span> the virtue of divining, but notwithstanding the drinkers of that water were made of shorter life. Concourse therefore being made from all parts of Europe and Asia to the 
                        <span class="choice"><span class="orig">Delphicke </span><span class="reg">Delphic</span></span> Oracle, the Poets <span class="choice"><span class="orig">feigne </span><span class="reg">feign</span></span> that place, namely Parnassus to be 
                        in the <span class="choice"><span class="orig">midle </span><span class="reg">middle</span></span> of the earth, and that they proved by an example of Jupiter, who had experimented it by sending forth two Eagles: But this thing
                        not being supported by the reputation of history, it is not derogatory from the
                        truth, to ascribe it to <span class="choice"><span class="orig">Chymicall </span><span class="reg">Chymical</span></span> matters, especially Apollo being, as <span class="choice"><span class="orig">hath </span><span class="reg">has</span></span> been 
                        declared, <span class="choice"><span class="orig">alltogether </span><span class="reg">altogether</span></span> <span class="choice"><span class="orig">Chymicall </span><span class="reg">Chymical</span></span> by <span class="choice"><span class="orig">originall </span><span class="reg">original</span></span>, though the <span class="choice"><span class="orig">Devill </span><span class="reg">Devil</span></span> afterwards 
                        confirmed the superstition of men, and gave <span class="choice"><span class="orig">prophesyes </span><span class="reg">prophesies</span></span> under that name.
                        The two Eagles are two stones, whereof one comes from the East, the 
                        other from the West, which the Philosophers have many <span class="choice"><span class="orig">wayes </span><span class="reg">ways</span></span> demonstrated. Jupiter sends them forth, as his <span class="choice"><span class="orig">Ensigne=bearers </span><span class="reg">Ensign=bearers</span></span>. The Eagle seems indeed a <span class="choice"><span class="orig">freind </span><span class="reg">friend</span></span> to Apollo or the <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>, in proving her chickens at the <span class="choice"><span class="orig">Sunne </span><span class="reg">Sun</span></span>, 
                        which if they cannot endure, <span class="choice"><span class="orig">Shee </span><span class="reg">She</span></span> <span class="choice"><span class="orig">disownes </span><span class="reg">disowns</span></span> them as illegitimate. Its feathers
                        being <span class="choice"><span class="orig">joyned </span><span class="reg">joined</span></span> with other things are <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> not to putrefy, and to <span class="choice"><span class="orig">devoure </span><span class="reg">devour</span></span>
                        the feathers of other birds, easily admitting gilding <span class="choice"><span class="orig">allso </span><span class="reg">also</span></span>: By old age, or
                        <span class="choice"><span class="orig">sicknesse </span><span class="reg">sickness</span></span> it <span class="choice"><span class="orig">dyes </span><span class="reg">dies</span></span> not, but by famine; For the upper <span class="choice"><span class="orig">beake </span><span class="reg">beak</span></span> <span class="choice"><span class="orig">growes </span><span class="reg">grows</span></span> <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span>
                        crooked that it cannot receive food: Which having cast off it <span class="choice"><span class="orig">plungeth </span><span class="reg">plunges</span></span> <span class="choice"><span class="orig">itselfe </span><span class="reg">itself</span></span> three times in a <span class="choice"><span class="orig">fountaine </span><span class="reg">fountain</span></span>, and <span class="choice"><span class="orig">soe </span><span class="reg">so</span></span> is <span class="choice"><span class="orig">sayd </span><span class="reg">said</span></span> to <span class="choice"><span class="orig">returne </span><span class="reg">return</span></span> to youth. 
                        Hereupon <span class="choice"><span class="orig">sayth </span><span class="reg">says</span></span> the Psalmist: Your youth shall be renewed as the 
                        youth of an Eagle: This of all birds is never affected with <span class="choice"><span class="orig">Lightening </span><span class="reg">Lightning</span></span>:
                        It <span class="choice"><span class="orig">warrs </span><span class="reg">wars</span></span> with the dragon, which hunts after its eggs for the sake of 
                        them: All the endowments of whose nature have <span class="choice"><span class="orig">affoarded </span><span class="reg">afforded</span></span> the Philosophers reason to <span class="choice"><span class="orig">prædicate </span><span class="reg">predicate</span></span> the Eagle in their art, and assimilate the
                        stone to it, whereof innumerable examples being obvious in their 
                        books, <span class="choice"><span class="orig">wee </span><span class="reg">we</span></span> will not here <span class="choice"><span class="orig">alleadge </span><span class="reg">alleged</span></span> more <span class="pc">. . . . . . . . . .</span>
                        </div>   
                    </div>
                </div>
                
            
        
    
</body></html>