<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e31</h2>
      <span class="pb">98</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 31. Of the Secrets of Nature.
                        <br/>The King swimming in the Sea <span class="choice">
            <span class="orig">cryes</span>
            <span class="reg">cries</span>
         </span> out with a loud <span class="choice">
            <span class="orig">voyce</span>
            <span class="reg">voice</span>
         </span>, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that
                        <br/>will deliver <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> shall have great reward.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 31.</h3>
      <div class="verse">
         <br/>The King oppressed with a weighty <span class="choice">
            <span class="orig">Crowne</span>
            <span class="reg">Crown</span>
         </span>,<br/>
         <span class="choice">
            <span class="orig">Floting</span>
            <span class="reg">Floating</span>
         </span>
         <span class="choice">
            <span class="orig">i'th</span>
            <span class="reg">in the</span>
         </span> Sea, and being like to <span class="choice">
            <span class="orig">drowne</span>
            <span class="reg">drown</span>
         </span>,<br/>
         <span class="choice">
            <span class="orig">Cryes</span>
            <span class="reg">Cries</span>
         </span> out for <span class="choice">
            <span class="orig">helpe</span>
            <span class="reg">help</span>
         </span>, O <span class="choice">
            <span class="orig">helpe</span>
            <span class="reg">help</span>
         </span> without delay,<br/>And I with thanks your service will repay:<br/>Be wise, and to my kingdoms <span class="choice">
            <span class="orig">mee</span>
            <span class="reg">me</span>
         </span> restore,<br/>That I may <span class="choice">
            <span class="orig">favour</span>
            <span class="reg">favor</span>
         </span>
         <span class="choice">
            <span class="orig">shew</span>
            <span class="reg">show</span>
         </span> to rich and <span class="choice">
            <span class="orig">poore</span>
            <span class="reg">poor</span>
         </span>.</div>
      <span class="pb">99</span>
      <h3 class="discourse">Discourse 31.</h3>
      <div class="ab">
         <br/>The first rudiments of all discipline were anciently the knowledge of <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>swimming, and instruction in learning: hereupon because the proverb of an
                        <br/>ignorant and <span class="choice">
            <span class="orig">unpolishd</span>
            <span class="reg">unpolished</span>
         </span> man, that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> could neither <span class="choice">
            <span class="orig">swimme</span>
            <span class="reg">swim</span>
         </span> nor read:
                        <br/>For the Ancients <span class="choice">
            <span class="orig">considerd</span>
            <span class="reg">considered</span>
         </span> swimming as a means often times to save and <span class="pc">-</span>
         <br/>deliver the body from the dangers of water, and the knowledge of learning
                        <br/>the mind from the waves of fortune: Moreover swimming is very ser
                        -<br/>viceable in time of <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span>, the knowledge of learning in time of peace at <span class="pc">-</span>
         <br/>home: And as <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> observe that brutes have their weapons in <span class="choice">
            <span class="orig">readinesse</span>
            <span class="reg">readiness</span>
         </span>, pro
                        -<br/>vided by nature, man hands and <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>
         <span class="choice">
            <span class="orig">administred</span>
            <span class="reg">administered</span>
         </span> instead thereof against <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span> violence, <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span> to contrive and invent weapons, hands to make and
                        <br/>use them, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> is the faculty of swimming naturally invested in the same
                        <br/>beasts, but not in man: they even young <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> often escape out of waters by <span class="pc">-</span>
         <br/>swimming, in which a man though old or never <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> strong is suffocated; <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">Needfull</span>
            <span class="reg">Needful</span>
         </span> therefore it was to <span class="choice">
            <span class="orig">enjoyne</span>
            <span class="reg">enjoin</span>
         </span> the exercise of swimming to children, be
                        -<br/>ing often times most conducible to <span class="choice">
            <span class="orig">præserve</span>
            <span class="reg">preserve</span>
         </span> a mans life, that that which was
                        <br/>wanting by nature, might be <span class="choice">
            <span class="orig">supplyed</span>
            <span class="reg">supplied</span>
         </span> by the use of art: The same exercise
                        <br/>have Noble<span class="pc">-</span>men, Princes, and Kings used for the safeguard of their body, for <span class="pc">-</span>
         <br/>those descended from noble blood are not <span class="choice">
            <span class="orig">wholy</span>
            <span class="reg">wholly</span>
         </span> exempt from the chances of
                        <br/>fortune, but exposed to them as well as other men: If Dionysius had <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> nei
                        -<br/>ther swimming nor learning, when <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> was driven out of the <span class="choice">
            <span class="orig">kingdome</span>
            <span class="reg">kingdom</span>
         </span> of Si
                        -<br/>cily as a tyrant, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> had perished by the waves of the Sea being <span class="choice">
            <span class="orig">Shipwreckt</span>
            <span class="reg">Shipwrecked</span>
         </span> in
                        <br/>the Corinthian <span class="choice">
            <span class="orig">gulph</span>
            <span class="reg">gulf</span>
         </span>, but escaping the dangers by swimming, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> went to <span class="pc">-</span>
         <br/>Corinthus, where <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">sett</span>
            <span class="reg">set</span>
         </span> up a <span class="choice">
            <span class="orig">schoole</span>
            <span class="reg">school</span>
         </span> to teach <span class="choice">
            <span class="orig">boyes</span>
            <span class="reg">boys</span>
         </span>, and <span class="choice">
            <span class="orig">professd</span>
            <span class="reg">professed</span>
         </span>
         <span class="choice">
            <span class="orig">humane</span>
            <span class="reg">human</span>
         </span>
         <span class="pc">-</span>
         <br/>learning, of a King being made a <span class="choice">
            <span class="orig">Schoolemaster</span>
            <span class="reg">Schoolmaster</span>
         </span>, and holding a rod in stead
                        <br/>of a Scepter, from whence that jeering Proverb, Dionysius of <span class="choice">
            <span class="orig">Corynth</span>
            <span class="reg">Corinth</span>
         </span>: In <span class="pc">-</span>
         <br/>like manner if the <span class="choice">
            <span class="orig">royall</span>
            <span class="reg">royal</span>
         </span>
         <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> of the Philosophers had not been able
                        <br/>to <span class="choice">
            <span class="orig">swimme</span>
            <span class="reg">swim</span>
         </span>, <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> man would have heard his <span class="choice">
            <span class="orig">voyce</span>
            <span class="reg">voice</span>
         </span>, nor <span class="choice">
            <span class="orig">releivd</span>
            <span class="reg">relieved</span>
         </span> him, being <span class="pc">-</span>
         <br/>long since drowned in the waters: swimming therefore is necessary and <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">coḿodious</span>
            <span class="reg">commodious</span>
         </span> to all degrees of men: for though it cannot deliver a man presently
                        <br/>from the surges of the vast ocean, yet it gives time of life, whereby <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>may be saved by others: But the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> King <span class="choice">
            <span class="orig">sustaines</span>
            <span class="reg">sustains</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> a long <span class="pc">-</span>
         <br/>time, and <span class="choice">
            <span class="orig">cryes</span>
            <span class="reg">cries</span>
         </span> out hitherto, though <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> be heard or seen by very few by <span class="pc">-</span>
         <br/>reason of the <span class="choice">
            <span class="orig">largenesse</span>
            <span class="reg">largeness</span>
         </span> of the Sea, and <span class="choice">
            <span class="orig">remotenesse</span>
            <span class="reg">remoteness</span>
         </span> of it: for by chance <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>
         <span class="choice">
            <span class="orig">touchd</span>
            <span class="reg">touched</span>
         </span> upon a <span class="choice">
            <span class="orig">rocke</span>
            <span class="reg">rock</span>
         </span> or great stone in swimming, by which to be <span class="choice">
            <span class="orig">præ
                        -<br/>served</span>
            <span class="reg">preserved</span>
         </span>, if the waves <span class="choice">
            <span class="orig">prævayle</span>
            <span class="reg">prevail</span>
         </span>. But the <span class="choice">
            <span class="orig">quæstion</span>
            <span class="reg">question</span>
         </span> is what is the Sea? I an
                        -<br/>swer, the <span class="choice">
            <span class="orig">Erythræan</span>
            <span class="reg">Erythaean</span>
         </span> or red sea, subject to the <span class="choice">
            <span class="orig">Tropicke</span>
            <span class="reg">Tropic</span>
         </span> of Cancer, in <span class="pc">-</span>
         <br/>which, there being great store of <span class="choice">
            <span class="orig">Magnetts</span>
            <span class="reg">Magnets</span>
         </span> in the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span>, it is not safe for
                        <br/>
         <span class="choice">
            <span class="orig">Shipps</span>
            <span class="reg">Ships</span>
         </span> compacted or laden with iron to <span class="choice">
            <span class="orig">sayle</span>
            <span class="reg">sail</span>
         </span>: for they might easily be <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">drawne</span>
            <span class="reg">drawn</span>
         </span> to the <span class="choice">
            <span class="orig">bottome</span>
            <span class="reg">bottom</span>
         </span> by the virtue of the <span class="choice">
            <span class="orig">Magnett</span>
            <span class="reg">Magnet</span>
         </span>: which the <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> King
                        <br/>being ignorant of, and the rest perishing the Ship being <span class="choice">
            <span class="orig">sunke</span>
            <span class="reg">sunk</span>
         </span>, <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> alone
                        <br/>escaped by swimming. His <span class="choice">
            <span class="orig">Crowne</span>
            <span class="reg">Crown</span>
         </span> shining with orient <span class="choice">
            <span class="orig">Rubyes</span>
            <span class="reg">Rubies</span>
         </span> continued
                        <br/>with him, by which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> might easily be <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span>, and restored to his <span class="pc">-</span>
         <span class="pb">100</span>
         <span class="fw">Discourse 31.</span>
         <br/>
         <span class="choice">
            <span class="orig">kingdome</span>
            <span class="reg">kingdom</span>
         </span>: But what are those good things, which this <span class="choice">
            <span class="orig">royall</span>
            <span class="reg">royal</span>
         </span>
         <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> is able or
                        <br/>willing to <span class="choice">
            <span class="orig">conferre</span>
            <span class="reg">confer</span>
         </span> on him, by <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> Should be restored to his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span>
         <span class="choice">
            <span class="orig">king
                        -<br/>dome</span>
            <span class="reg">kingdom</span>
         </span>? certainly not such, as <span class="choice">
            <span class="orig">Ptolomy</span>
            <span class="reg">Ptolemy</span>
         </span> the last King of <span class="choice">
            <span class="orig">Ægypt</span>
            <span class="reg">Egypt</span>
         </span>
         <span class="choice">
            <span class="orig">bestowd</span>
            <span class="reg">bestowed</span>
         </span> on
                        <br/>Pompey, by <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> his father was restored to the <span class="choice">
            <span class="orig">kingdome</span>
            <span class="reg">kingdom</span>
         </span> of <span class="choice">
            <span class="orig">Ægypt</span>
            <span class="reg">Egypt</span>
         </span>, to <span class="choice">
            <span class="orig">witt</span>
            <span class="reg">wit</span>
         </span>,
                        <br/>
         <span class="choice">
            <span class="orig">perfidiousnesse</span>
            <span class="reg">perfidiousness</span>
         </span> and death, but health, the <span class="choice">
            <span class="orig">removall</span>
            <span class="reg">removal</span>
         </span> of diseases, the <span class="choice">
            <span class="orig">præser
                        -<br/>vation</span>
            <span class="reg">preservation</span>
         </span> of life from them, the use of things necessary, and the <span class="choice">
            <span class="orig">horne</span>
            <span class="reg">horn</span>
         </span> of <span class="pc">-</span>
         <br/>plenty, <span class="choice">
            <span class="orig">honour</span>
            <span class="reg">honor</span>
         </span> and love; which not being vulgar or <span class="choice">
            <span class="orig">meane</span>
            <span class="reg">mean</span>
         </span> things, but
                        <br/>the <span class="choice">
            <span class="orig">cheife</span>
            <span class="reg">chief</span>
         </span>
         <span class="choice">
            <span class="orig">viaticks</span>
            <span class="reg">viatics</span>
         </span> and ornaments of this life, who, but a man of lead, <span class="pc">-</span>
         <br/>would not desire them? who would not stretch forth his hand, and draw
                        <br/>him into the boat? but <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must see that in helping him his <span class="choice">
            <span class="orig">Diademe</span>
            <span class="reg">Diadem</span>
         </span> fall
                        <br/>not into the sea: for then <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> could scarce be <span class="choice">
            <span class="orig">knowne</span>
            <span class="reg">known</span>
         </span> for the King, nor <span class="pc">-</span>
         <br/>received by his subjects, because the venerable Pyropus would perish, be
                        -<br/>cause the Bezoar Stone, assuring health to all men, would be lost: The Ro
                        -<br/>sary alluding hereto cites Aristotle in these words: Chose you a Stone, by
                        <br/>which Kings are revered in their Diadems, and by which <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span> can
                        <br/>cure their patients, because it is near to fire: for without a <span class="choice">
            <span class="orig">medicinall</span>
            <span class="reg">medicinal</span>
         </span>
         <span class="pc">-</span>
         <br/>virtue a <span class="choice">
            <span class="orig">Crowne</span>
            <span class="reg">Crown</span>
         </span> would be of <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> value. But what must be done to
                        <br/>the King now delivered? <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must be freed from the water which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <br/>received in by <span class="choice">
            <span class="orig">Sudorificks</span>
            <span class="reg">Sudorifics</span>
         </span>, from cold by the heat of fire, from <span class="choice">
            <span class="orig">num
                        -<br/>nesse</span>
            <span class="reg">numbness</span>
         </span> and stupefaction of the parts by baths moderately <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span>, from <span class="pc">-</span>
         <br/>hunger and want of food by the administration of convenient <span class="choice">
            <span class="orig">dyet</span>
            <span class="reg">diet</span>
         </span>, and
                        <br/>from other <span class="choice">
            <span class="orig">externall</span>
            <span class="reg">external</span>
         </span>
         <span class="choice">
            <span class="orig">maladyes</span>
            <span class="reg">maladies</span>
         </span> by their <span class="choice">
            <span class="orig">contraryes</span>
            <span class="reg">contraries</span>
         </span> even wholesome <span class="choice">
            <span class="orig">reme
                        -<br/>dyes</span>
            <span class="reg">remedies</span>
         </span>: Then <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> must be provided of <span class="choice">
            <span class="orig">royall</span>
            <span class="reg">royal</span>
         </span> matrimony, and in due <span class="pc">-</span>
         <br/>time a most <span class="choice">
            <span class="orig">hopefull</span>
            <span class="reg">hopeful</span>
         </span> heir will be generated by him, most acceptable to
                        <br/>all men, most <span class="choice">
            <span class="orig">beautifull</span>
            <span class="reg">beautiful</span>
         </span> and most <span class="choice">
            <span class="orig">fruitfull</span>
            <span class="reg">fruitful</span>
         </span>, who will <span class="choice">
            <span class="orig">excell</span>
            <span class="reg">excel</span>
         </span> all his An
                        -<br/>cestors in power, kingdoms, dominions, people, wealth and riches, and will
                        <br/>subject his <span class="choice">
            <span class="orig">enemyes</span>
            <span class="reg">enemies</span>
         </span> to <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span>, not by <span class="choice">
            <span class="orig">warre</span>
            <span class="reg">war</span>
         </span>, but humanity, not by
                        <br/>tyranny, but clemency, which is genuine and peculiar to him<span class="pc">. . .</span>
      </div>
   </body>
</html>
