<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
<!--       <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/> -->
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e04</h2>
      <div id="mottoPartial--e">
         <span class="pb">17</span>
         <h3 class="title">
            <br/>
            <span class="choice">
               <span class="orig">Embleme</span>
               <span class="reg">Emblem</span>
            </span> 4. Of the Secrets of Nature.
                     <br/>
                     <span id="motto-e"><span class="choice">
               <span class="orig">Joyne</span>
               <span class="reg">Join</span>
            </span> the Brother with the Sister and give them a cup of love.</span></h3>
      </div>
      <div id="epigramPartial--e">
         <h3 class="epigram">
            <span class="choice">
               <span class="orig">Epigramme</span>
               <span class="reg">Epigram</span>
            </span> 4.</h3>
         <div class="verse">
            <br/>To multiply the world with <span class="choice">
               <span class="orig">humane</span>
               <span class="reg">human</span>
            </span> race,<br/>The brother <span class="subst">
               <span class="del">must</span>
               <span class="add">did</span>
            </span> his sister close embrace:<br/>Let therefore one the other <span class="choice">
               <span class="orig">freindly</span>
               <span class="reg">friendly</span>
            </span> wed,<br/>That they may act as man and wife in bed:<br/>First to incite, <span class="choice">
               <span class="orig">præpare</span>
               <span class="reg">prepare</span>
            </span> a cup <span class="choice">
               <span class="orig">o'th</span>
               <span class="reg">of the</span>
            </span> best,<br/>And then they both will freely <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> the rest.</div>
      </div>
      <div id="discoursePartial--e">
         <span class="pb">18</span>
         <h3 class="discourse">Discourse 4.</h3>
         <div class="ab">
            <br/>
            <span class="milestone">e04-01</span>The divine and <span class="choice">
               <span class="orig">politicall</span>
               <span class="reg">political</span>
            </span>
            <span class="choice">
               <span class="orig">lawes</span>
               <span class="reg">laws</span>
            </span>
            <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> both forbid those people to marry, who are by <br/>nature <span class="choice">
               <span class="orig">joyned</span>
               <span class="reg">joined</span>
            </span> in too near a degree of consanguinity, such namely as <span class="add">directly</span>ascend and des
                     -<br/>cend in a <span class="choice">
               <span class="orig">genealogicall</span>
               <span class="reg">genealogical</span>
            </span> line, and that for very good considerations; <span class="milestone">e04-02</span>but when the <span class="pc">-</span>
            <br/>Philosophers <span class="choice">
               <span class="orig">speake</span>
               <span class="reg">speak</span>
            </span> of the mother to be <span class="choice">
               <span class="orig">joynd</span>
               <span class="reg">joined</span>
            </span> with the <span class="choice">
               <span class="orig">Sonne</span>
               <span class="reg">Son</span>
            </span>, or father with the
                     <br/>daughter, or of the brother with the Sister, they neither say or <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> anything contrary
                     <br/>to the <span class="choice">
               <span class="orig">sayd</span>
               <span class="reg">said</span>
            </span> laws: because subjects distinguish attributes and causes effects; <span class="milestone">e04-03</span>for the
                     <br/>persons of Philosophers are <span class="add">as</span> free from those differences as <span class="del">well as</span> the <span class="choice">
               <span class="orig">Sonns</span>
               <span class="reg">Sons</span>
            </span> and daugh
                     -<br/>ters of Adam, who <span class="choice">
               <span class="orig">marryed</span>
               <span class="reg">married</span>
            </span> one with another without the imputation of any <span class="pc">-</span>
            <br/>crime: <span class="milestone">e04-04</span>but the <span class="choice">
               <span class="orig">principall</span>
               <span class="reg">principal</span>
            </span> reason seems to be, that man=kind might be more <span class="pc">-</span>
            <br/>firmly united and linked in affinity and <span class="choice">
               <span class="orig">freindship</span>
               <span class="reg">friendship</span>
            </span>, and not <span class="del">be</span> divided into <span class="pc">-</span>
            <br/>
            <span class="choice">
               <span class="orig">inimicall</span>
               <span class="reg">inimical</span>
            </span> and <span class="choice">
               <span class="orig">hæreditary</span>
               <span class="reg">hereditary</span>
            </span> factions of <span class="choice">
               <span class="orig">familyes</span>
               <span class="reg">families</span>
            </span>: <span class="milestone">e04-05</span>the same reason remaining <span class="pc">-</span>
            <br/>
            <span class="choice">
               <span class="orig">firme</span>
               <span class="reg">firm</span>
            </span> and entire in the first <span class="choice">
               <span class="orig">Sonns</span>
               <span class="reg">Sons</span>
            </span> and daughters of Adam, did not as all <span class="choice">
               <span class="orig">de
                     -<br/>barre</span>
               <span class="reg">debar</span>
            </span> them from the <span class="subst">
               <span class="del">rights</span>
               <span class="add">rites</span>
            </span> of matrimony: <span class="milestone">e04-06</span>for man=kind did then exist in<span class="note-mark">*</span>
            <div class="margin-note">
               <span class="note-mark">*</span>rites</div>
            <br/>them alone, and <span class="choice">
               <span class="orig">noe</span>
               <span class="reg">no</span>
            </span> others were living besides them, and their parents, and <span class="pc">-</span>
            <br/>therefore as <span class="choice">
               <span class="orig">ally'd</span>
               <span class="reg">allied</span>
            </span> in blood, <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> necessarily were they <span class="choice">
               <span class="orig">joyned</span>
               <span class="reg">joined</span>
            </span> in affinity: but
                     <br/>a multitude of men increasing, and being distributed into innumerable <span class="choice">
               <span class="orig">fa
                     -<br/>milyes</span>
               <span class="reg">families</span>
            </span>, this was found a true and just cause why brothers Should not marry
                     <br/>Sisters: <span class="milestone">e04-07</span>The Philosophers have another reason, why Sisters may marry
                     <br/>brothers, namely the similitude of substance, that it may be <span class="choice">
               <span class="orig">joyned</span>
               <span class="reg">joined</span>
            </span> to <span class="pc">-</span>
            <br/>the like: <span class="milestone">e04-08</span>but in this kind there are onely two like one another as to species,
                     <br/>different as to sex, whereof one is saluted by the name of brother, the <span class="pc">-</span>
            <br/>other of sister: they therefore may be the same both liberty and condi
                     -<br/>tion, yea and inevitable necessity, as the first consanguine men, be lawfully
                     <br/>
            <span class="choice">
               <span class="orig">coḿitted</span>
               <span class="reg">committed</span>
            </span> to one matrimony: <span class="milestone">e04-09</span>the brother is <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span> and dry, and therefore ve
                     -<br/>ry <span class="choice">
               <span class="orig">cholericke</span>
               <span class="reg">choleric</span>
            </span>; the Sister is cold and moist, having much <span class="choice">
               <span class="orig">phlegmaticke</span>
               <span class="reg">phlegmatic</span>
            </span>
            <span class="pc">-</span>
            <br/>matter in her: which natures <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> differing in temper <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span>
            <span class="choice">
               <span class="orig">coḿonly</span>
               <span class="reg">commonly</span>
            </span> best <span class="pc">-</span>
            <br/>agree in love and <span class="choice">
               <span class="orig">fruitfullnesse</span>
               <span class="reg">fruitfulness</span>
            </span>, and the propagation of Children: <span class="milestone">e04-10</span>for as
                     <br/>fire, which may be propagated, is not easily <span class="choice">
               <span class="orig">strucke</span>
               <span class="reg">struck</span>
            </span> out of the most hard
                     <br/>body Steel and Steel, nor out of the brittle flint and flint, but out of hard
                     <br/>and brittle, that is, steel and flint, <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> a lively offspring is not produ
                     -<br/>ced from a <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span> man and fiery woman, as neither from both cold (for the
                     <br/>
            <span class="choice">
               <span class="orig">coldnesse</span>
               <span class="reg">coldness</span>
            </span> of the man is <span class="choice">
               <span class="orig">barrenesse</span>
               <span class="reg">barrenness</span>
            </span>) but from him <span class="choice">
               <span class="orig">hott</span>
               <span class="reg">hot</span>
            </span>, her more cold, <span class="pc">-</span>
            <br/>
            <span class="milestone">e04-11</span>for, in the latitude of <span class="choice">
               <span class="orig">humane</span>
               <span class="reg">human</span>
            </span> temperament, the hottest woman is con
                     -<br/>cluded colder than the coldest man of his sex, if sound, as Lev. Lemnius
                     <br/>in lib. de occ. nat. mirac. proves: the Sister therefore and brother are
                     <br/>rightly <span class="choice">
               <span class="orig">joyned</span>
               <span class="reg">joined</span>
            </span> together by the Philosophers: <span class="milestone">e04-12</span>If a man defines offspring
                     <br/>from a <span class="choice">
               <span class="orig">henne</span>
               <span class="reg">hen</span>
            </span>, bitch, <span class="choice">
               <span class="orig">Shee</span>
               <span class="reg">She</span>
            </span> goat, Ewe, or other brutes, <span class="choice">
               <span class="orig">hee</span>
               <span class="reg">he</span>
            </span>
            <span class="choice">
               <span class="orig">joynes</span>
               <span class="reg">joins</span>
            </span> a <span class="del">
               <span class="choice">
                  <span class="orig">dogge</span>
                  <span class="reg">dog</span>
               </span>
            </span>
            <br/>
            <span class="choice">
               <span class="orig">cocke</span>
               <span class="reg">cock</span>
            </span>, <span class="choice">
               <span class="orig">dogge</span>
               <span class="reg">dog</span>
            </span>, <span class="choice">
               <span class="orig">hee</span>
               <span class="reg">he</span>
            </span> goat, <span class="choice">
               <span class="orig">ramme</span>
               <span class="reg">ram</span>
            </span>, every <span class="choice">
               <span class="orig">animall</span>
               <span class="reg">animal</span>
            </span>
            <span class="underline">to its Speci</span>es, to w<span class="underline">hich it is</span>
            <br/>m<span class="underline">ost li</span>ke, and <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> is not frustrated of his desire; nor indeed <span class="choice">
               <span class="orig">doth</span>
               <span class="reg">does</span>
            </span>
            <span class="choice">
               <span class="orig">hee</span>
               <span class="reg">he</span>
            </span>
            <span class="pc">-</span>
            <br/>respect the consanguinity of brutes, but <span class="choice">
               <span class="orig">onely</span>
               <span class="reg">only</span>
            </span> the generosity of every
                     <br/>one, and the congruity of nature: <span class="choice">
               <span class="orig">Soe</span>
               <span class="reg">So</span>
            </span> may it be <span class="choice">
               <span class="orig">sayd</span>
               <span class="reg">said</span>
            </span> of the body of a tree,
                     <br/>and the <span class="choice">
               <span class="orig">slippe</span>
               <span class="reg">slip</span>
            </span> to be therein grafted, <span class="milestone">e04-13</span>yea of the metallicke <span class="pc">-</span>
            <span class="pb">19</span>
            <span class="fw">Discourse 4.</span>
            <br/>nature, which notwithstanding as it <span class="choice">
               <span class="orig">hath</span>
               <span class="reg">has</span>
            </span> of all things the greatest <span class="pc">-</span>
            <br/>similitude and homogeneity of substance, <span class="choice">
               <span class="orig">doth</span>
               <span class="reg">does</span>
            </span>
            <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> require, where it
                     <br/>desires a thing to be <span class="choice">
               <span class="orig">joyned</span>
               <span class="reg">joined</span>
            </span> with it: <span class="milestone">e04-14</span>But brother and Sister being <span class="choice">
               <span class="orig">joynd</span>
               <span class="reg">joined</span>
            </span>
            <br/>together, <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> not become <span class="choice">
               <span class="orig">fruitfull</span>
               <span class="reg">fruitful</span>
            </span>, nor persist long in love, except a Philo
                     -<br/>thesium, or cup of <span class="choice">
               <span class="orig">loue</span>
               <span class="reg">love</span>
            </span> be <span class="choice">
               <span class="orig">administred</span>
               <span class="reg">administered</span>
            </span> to them like an amorous potion: <span class="pc">-</span>
            <br/>for their minds are hereby <span class="choice">
               <span class="orig">soe</span>
               <span class="reg">so</span>
            </span> quieted and united, that (laying aside mo
                     -<br/>desty) they <span class="choice">
               <span class="orig">doe</span>
               <span class="reg">do</span>
            </span> as it were <span class="choice">
               <span class="orig">drunke</span>
               <span class="reg">drunk</span>
            </span> (like Lot) <span class="choice">
               <span class="orig">goe</span>
               <span class="reg">go</span>
            </span> together, and procreate <span class="pc">-</span>
            <br/>an offspring (not spurious but) legitimate: <span class="milestone">e04-15</span>For who <span class="choice">
               <span class="orig">knowes</span>
               <span class="reg">knows</span>
            </span> not that man
                     -<br/>kind is very much obliged to medicine, because many thousands of men <span class="pc">-</span>
            <br/>are now in the world, which would not have been, if their fathers or fore
                     -<br/>fathers had not by the means and benefit thereof been freed and delivered
                     <br/>from the defect of sterility, or their mothers <span class="add">
               <span class="choice">
                  <span class="orig">præserved</span>
                  <span class="reg">preserved</span>
               </span>
            </span>from abortion, by removing <span class="pc">-</span>
            <br/>and taking away the cause, or the nearest, and remote impediment? <span class="milestone">e04-16</span>This
                     <br/>cup of love is therfore given to this new <span class="choice">
               <span class="orig">marryd</span>
               <span class="reg">married</span>
            </span> couple for the same reasons,
                     <br/>which any man may hereby plainly understand are three, that is to say, <span class="pc">-</span>
            <br/>constancy of love, remotion of sterility, and <span class="choice">
               <span class="orig">prævention</span>
               <span class="reg">prevention</span>
            </span> of abortion <span class="pc">. .</span>
         </div>
      </div>
   </body>
</html>
