<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e37</h2>
      <span class="pb">116</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 37. Of the Secrets of Nature.
                        <br/>Three things are sufficient for the Magistery, the white fume, that
                        <br/>is, water, the green <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>, that is, the <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> of Hermes, and aqua
                        <br/>fœtida.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 37.</h3>
      <div class="verse">
         <br/>The <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> green, white fume, and stinking juice,<br/>Are all that to our <span class="choice">
            <span class="orig">Processe</span>
            <span class="reg">Process</span>
         </span>
         <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span> conduce:<br/>Water the mother is <span class="choice">
            <span class="orig">oth'</span>
            <span class="reg">of the</span>
         </span> Elements,<br/>And the sole matter of the <span class="choice">
            <span class="orig">Sophicke</span>
            <span class="reg">Sophic</span>
         </span> Ens.<br/>This <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> is <span class="choice">
            <span class="orig">th'</span>
            <span class="reg">the</span>
         </span>
         <span class="choice">
            <span class="orig">Hermeticke</span>
            <span class="reg">Hermetic</span>
         </span> Stone and <span class="choice">
            <span class="orig">Brasse</span>
            <span class="reg">Brass</span>
         </span>,<br/>And the white fume a <span class="choice">
            <span class="orig">watry</span>
            <span class="reg">watery</span>
         </span> nature has.</div>
      <span class="pb">117</span>
      <h3 class="discourse">Discourse 37.</h3>
      <div class="ab">
         <br/>As three <span class="choice">
            <span class="orig">essentiall</span>
            <span class="reg">essential</span>
         </span> things, which are the foundation, walls, and <span class="choice">
            <span class="orig">roofe</span>
            <span class="reg">roof</span>
         </span>, are<span class="milestone">e03-01</span>
         <br/>required to the building of every <span class="choice">
            <span class="orig">ædifice</span>
            <span class="reg">edifice</span>
         </span>, whereof one being absent, there
                        <br/>can be <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> perfection of it, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> are <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> many desired in order to <span class="pc">-</span>
         <br/>complete the Philosophers compound, which are here named by their
                        <br/>proper names: The author of Aurora, chapt. 20. speaking of the Se
                        -<br/>paration of the Elements, <span class="choice">
            <span class="orig">Sayth</span>
            <span class="reg">Says</span>
         </span>, Earth is left in the same place, that
                        <br/>the other three Elements may be radicated in it; if it were not for
                        <br/>that, the Elements could have <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> foundation to build upon it a new
                        <br/>
         <span class="choice">
            <span class="orig">jewell</span>
            <span class="reg">jewel</span>
         </span> house: This foundation is here called Aqua fœtida, which is
                        <br/>the mother of all the Elements, <span class="choice">
            <span class="orig">wittnesse</span>
            <span class="reg">witness</span>
         </span> Rosarius, from which, and
                        <br/>by which, and with which the Philosophers <span class="choice">
            <span class="orig">doe</span>
            <span class="reg">do</span>
         </span>
         <span class="choice">
            <span class="orig">præpare</span>
            <span class="reg">prepare</span>
         </span> it, that is,
                        <br/>the Elixir in the <span class="choice">
            <span class="orig">begining</span>
            <span class="reg">beginning</span>
         </span>, and the end: It is called Aqua fœtida,
                        <br/>because it sends forth a Sulphureous <span class="choice">
            <span class="orig">stinke</span>
            <span class="reg">stink</span>
         </span>, and the smell of Sepulchers: <span class="pc">-</span>
         <br/>This is that water, which Pegasus <span class="choice">
            <span class="orig">strucke</span>
            <span class="reg">struck</span>
         </span> out of Parnassus with his <span class="choice">
            <span class="orig">hoofe</span>
            <span class="reg">hoof</span>
         </span>, <span class="pc">-</span>
         <br/>which Nonacris a <span class="choice">
            <span class="orig">mountaine</span>
            <span class="reg">mountain</span>
         </span> of Arcadia <span class="choice">
            <span class="orig">produceth</span>
            <span class="reg">produces</span>
         </span> springing out of a <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">rocke</span>
            <span class="reg">rock</span>
         </span> at the top, which can <span class="choice">
            <span class="orig">onely</span>
            <span class="reg">only</span>
         </span> be contained in the <span class="choice">
            <span class="orig">hoofe</span>
            <span class="reg">hoof</span>
         </span> of a horse by
                        <br/>reason of its most excessive strength: This is that Dragons water, as Rosa
                        -<br/>rius calls it, which ought to be made by an <span class="choice">
            <span class="orig">Alembicke</span>
            <span class="reg">Alembic</span>
         </span>, without adding <span class="pc">-</span>
         <br/>any other thing, in the making of which there is an extraordinary <span class="choice">
            <span class="orig">stinke</span>
            <span class="reg">stink</span>
         </span>:
                        <br/>Which words some having heard <span class="choice">
            <span class="orig">betooke</span>
            <span class="reg">betook</span>
         </span> themselves to distill the dung of
                        <br/>men or other <span class="choice">
            <span class="orig">animalls</span>
            <span class="reg">animals</span>
         </span>, in which operation they did indeed <span class="choice">
            <span class="orig">feele</span>
            <span class="reg">feel</span>
         </span> a most <span class="pc">-</span>
         <br/>vehement <span class="choice">
            <span class="orig">stinke</span>
            <span class="reg">stink</span>
         </span>, but found dung in the dung: But <span class="choice">
            <span class="orig">thinke</span>
            <span class="reg">think</span>
         </span> not the Phi
                        -<br/>losophers to be Beetles, which operate in dung, you must know that the <span class="choice">
            <span class="orig">stinke</span>
            <span class="reg">stink</span>
         </span>,
                        <br/>if there be any, is presently changed into great fragrancy, as Lully asserts
                        <br/>of his Quintessence, to which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> ascribes such a <span class="choice">
            <span class="orig">sweetnesse</span>
            <span class="reg">sweetness</span>
         </span> of <span class="choice">
            <span class="orig">savour</span>
            <span class="reg">savor</span>
         </span>, if
                        <br/>it be rightly made, that being placed at the top of a house, it allures <span class="pc">-</span>
         <br/>birds flying to it, and <span class="choice">
            <span class="orig">causeth</span>
            <span class="reg">causes</span>
         </span> them to stand: But <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> puts his Quintessence
                        <br/>in dung, by the most temperate heat of which that fragrancy <span class="choice">
            <span class="orig">followes</span>
            <span class="reg">follows</span>
         </span>, <span class="pc">-</span>
         <br/>which some men having <span class="choice">
            <span class="orig">tryed</span>
            <span class="reg">tried</span>
         </span> with strong wine, but in <span class="choice">
            <span class="orig">vaine</span>
            <span class="reg">vain</span>
         </span>, did there
                        -<br/>fore accuse Lully of vanity, whereas themselves ought rather to be <span class="pc">-</span>
         <br/>reproved of folly, who never tasted <span class="choice">
            <span class="orig">Lullye's</span>
            <span class="reg">Lully's</span>
         </span> wine; but that golden Po
                        -<br/>et better understood Lully, who in his first <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> of Aurifaction thus sings:
                        <div class="verse">
            <br/>At non ille quidem sensit, quæ dicere prima<br/>Est facie visus, neq tum stillantia vina<br/>Miscebat, etc.</div>
         <div class="verse">
            <br/>
            <span class="choice">
               <span class="orig">Hee</span>
               <span class="reg">He</span>
            </span> thought not what at first <span class="choice">
               <span class="orig">hee</span>
               <span class="reg">he</span>
            </span>
            <span class="choice">
               <span class="orig">seemd</span>
               <span class="reg">seemed</span>
            </span> to say,<br/>Nor then <span class="choice">
               <span class="orig">mixd</span>
               <span class="reg">mixed</span>
            </span> stilling wines, etc.</div>
         <br/>After Aqua fœtida comes the green <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span>: concerning which <span class="choice">
            <span class="orig">sayth</span>
            <span class="reg">says</span>
         </span> Ro
                        -<br/>sarius; you have sought for <span class="choice">
            <span class="orig">greennesse</span>
            <span class="reg">greenness</span>
         </span>, supposing, that <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span> was a <span class="pc">-</span>
         <br/>leprous body, because of that <span class="choice">
            <span class="orig">greenesse</span>
            <span class="reg">greenness</span>
         </span> which it <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span>: and therefore <span class="pc">-</span>
         <br/>I declare to you, that whatsoever is perfect in <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>, is that <span class="choice">
            <span class="orig">greenesse</span>
            <span class="reg">greenness</span>
         </span>
         <span class="pb">118</span>
         <span class="fw">Discourse 37.</span>
         <br/>alone, which is in it: because that <span class="choice">
            <span class="orig">greenesse</span>
            <span class="reg">greenness</span>
         </span> is by our Magistery suddenly
                        <br/>turned into our most true gold, and this <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have had experience of:
                        <br/>yet you can <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> way <span class="choice">
            <span class="orig">præpare</span>
            <span class="reg">prepare</span>
         </span> the Stone without Duenech green and
                        <br/>liquid, which is seen to spring in our <span class="choice">
            <span class="orig">Mynes</span>
            <span class="reg">Mines</span>
         </span>: O blessed <span class="choice">
            <span class="orig">greenesse</span>
            <span class="reg">greenness</span>
         </span>, <span class="pc">-</span>
         <br/>which <span class="choice">
            <span class="orig">dost</span>
            <span class="reg">does</span>
         </span> generate all things: From whence you must know, that <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> vegetable, and <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> fruit appears to germinate without a green <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">colour</span>
            <span class="reg">color</span>
         </span>: in like manner you must know, that the generation of this thing is
                        <br/>green, wherefore the Philosophers call it the bud. These are the words of
                        <br/>Rosarius: This is the Philosophers gold, and <span class="choice">
            <span class="orig">brasse</span>
            <span class="reg">brass</span>
         </span>, and Stone noted in <span class="pc">-</span>
         <br/>the Chapters, a fume, <span class="choice">
            <span class="orig">vapour</span>
            <span class="reg">vapor</span>
         </span> and water, the Spittle of Luna, which is <span class="choice">
            <span class="orig">joynd</span>
            <span class="reg">joined</span>
         </span>
         <br/>to the light of Sol; This green <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> fights with the Dragon, but is by him
                        <br/>overcome, and in length of time devoured; and the <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> being <span class="choice">
            <span class="orig">putrefyed</span>
            <span class="reg">putrefied</span>
         </span>
         <br/>
         <span class="choice">
            <span class="orig">sweetnesse</span>
            <span class="reg">sweetness</span>
         </span> is expected to proceed from his mouth, as being <span class="choice">
            <span class="orig">Slayne</span>
            <span class="reg">Slain</span>
         </span> by Sampson:
                        <br/>The Dragon getting the upper hand <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> fills <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span> with the <span class="choice">
            <span class="orig">Lyons</span>
            <span class="reg">Lions</span>
         </span>
         <span class="pc">-</span>
         <br/>flesh, as to burst a little and <span class="choice">
            <span class="orig">dye</span>
            <span class="reg">die</span>
         </span>: Of which, the <span class="choice">
            <span class="orig">fatt</span>
            <span class="reg">fat</span>
         </span> alone of a <span class="choice">
            <span class="orig">Lyon</span>
            <span class="reg">Lion</span>
         </span> curing
                        <br/>quotidian <span class="choice">
            <span class="orig">Feavers</span>
            <span class="reg">Fevers</span>
         </span>, and grace and <span class="choice">
            <span class="orig">favour</span>
            <span class="reg">favor</span>
         </span> being obtained between Kings <span class="pc">-</span>
         <br/>and people <span class="choice">
            <span class="orig">anoynted</span>
            <span class="reg">anointed</span>
         </span> therewith, a most excellent medicine may be made,
                        <br/>very <span class="choice">
            <span class="orig">coḿodious</span>
            <span class="reg">commodious</span>
         </span> for many <span class="choice">
            <span class="orig">maladyes</span>
            <span class="reg">maladies</span>
         </span>. In the third place <span class="choice">
            <span class="orig">followes</span>
            <span class="reg">follows</span>
         </span>
         <span class="pc">-</span>
         <br/>the white fume, which, if it be coagulated, becomes water,
                        <br/>and performs the office of water in washing, dissolving, and
                        <br/>taking away spots like Soap: This is that fire against na
                        -<br/>ture, which see that you find, <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> called, because it is <span class="pc">-</span>
         <br/>contrary to nature undoing and destroying that, which She
                        <br/>with diligent care compounded: This fire is not kindled as
                        <br/>the Spirit of wind or <span class="choice">
            <span class="orig">oyle</span>
            <span class="reg">oil</span>
         </span>, but as an incombustible matter, of <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">æquall</span>
            <span class="reg">equal</span>
         </span> duration and heat, and is a fire without light and combusti
                        -<br/>on of great virtue and efficacy, which to find in <span class="choice">
            <span class="orig">darkenesse</span>
            <span class="reg">darkness</span>
         </span> is a
                        <br/>thing of <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> little difficulty, because it shines not, but of much
                        <br/>greater to apply rightly to the <span class="choice">
            <span class="orig">worke</span>
            <span class="reg">work</span>
         </span>; the circumstances and <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">propertyes</span>
            <span class="reg">properties</span>
         </span> of which <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> have sufficiently in <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> places de
                        -<br/>scribed<span class="pc">. . . . . . . . . . . . . .</span>
      </div>
   </body>
</html>
