<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <h2 class="pageTitle">Atalanta Fugiens: Emblem e48</h2>
      <span class="pb">149</span>
      <h3 class="title">
         <br/>
         <span class="choice">
            <span class="orig">Embleme</span>
            <span class="reg">Emblem</span>
         </span> 48. Of the Secrets of Nature.
                        <br/>The King falls <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span> by drinking water, and is restored to health
                        <br/>by <span class="choice">
            <span class="orig">Physitians</span>
            <span class="reg">Physicians</span>
         </span>.</h3>
      <h3 class="epigram">
         <span class="choice">
            <span class="orig">Epigramme</span>
            <span class="reg">Epigram</span>
         </span> 48.</h3>
      <div class="verse">
         <br/>In wealth nor people <span class="choice">
            <span class="orig">dos</span>
            <span class="reg">does</span>
         </span> the King delight,<br/>
         <span class="choice">
            <span class="orig">Soe</span>
            <span class="reg">So</span>
         </span> much as to have water brought in sight.<br/>Cup after cup <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> drinks, <span class="choice">
            <span class="orig">growes</span>
            <span class="reg">grows</span>
         </span>
         <span class="choice">
            <span class="orig">swelld</span>
            <span class="reg">swelled</span>
         </span> and <span class="choice">
            <span class="orig">wanne</span>
            <span class="reg">wan</span>
         </span>
         <br/>Urging <span class="choice">
            <span class="orig">releife</span>
            <span class="reg">relief</span>
         </span> from his <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>,<br/>Where finding art by various means <span class="choice">
            <span class="orig">essayd</span>
            <span class="reg">essayed</span>
         </span>,<br/>His health <span class="choice">
            <span class="orig">restord</span>
            <span class="reg">restored</span>
         </span> and tumor was <span class="choice">
            <span class="orig">allayd</span>
            <span class="reg">allayed</span>
         </span>.</div>
      <span class="pb">150</span>
      <h3 class="discourse">Discourse 48.</h3>
      <div class="ab">
         <br/>Xerxes that most potent King of Persia leading his army through dry <span class="pc">-</span>
         <span class="milestone">e03-01</span>
         <br/>and rugged places in <span class="choice">
            <span class="orig">hott</span>
            <span class="reg">hot</span>
         </span> weather, being thirsty, refused not a draught <span class="pc">-</span>
         <br/>of muddy water offered by a <span class="choice">
            <span class="orig">souldier</span>
            <span class="reg">soldier</span>
         </span>, but <span class="choice">
            <span class="orig">dranke</span>
            <span class="reg">drank</span>
         </span> most freely, and rewarded
                        <br/>him that brought it very amply. And indeed if a man at this very time
                        <br/>(as some of the latest historians <span class="choice">
            <span class="orig">affirme</span>
            <span class="reg">affirm</span>
         </span>) <span class="choice">
            <span class="orig">travell</span>
            <span class="reg">travel</span>
         </span> through the borders of
                        <br/>Persia, it is <span class="choice">
            <span class="orig">sayd</span>
            <span class="reg">said</span>
         </span> that fountains of sweet water are very rarely found,
                        <br/>standing waters being brackish, and the <span class="choice">
            <span class="orig">Soyle</span>
            <span class="reg">Soil</span>
         </span>
         <span class="choice">
            <span class="orig">itselfe</span>
            <span class="reg">itself</span>
         </span> in the surface <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">yeilding</span>
            <span class="reg">yielding</span>
         </span> much <span class="choice">
            <span class="orig">saltnesse</span>
            <span class="reg">saltness</span>
         </span>: After the same manner the King, which the
                        <br/>Philosophers have made mention of being perplexed with thirst, com
                        -<br/>manded plenty of sweet water to be brought him, of which <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">dranke</span>
            <span class="reg">drank</span>
         </span>
         <br/>his fill; as if manifest to any man by the Allegory of Merlinus. The
                        <br/>cure of the <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span> and <span class="choice">
            <span class="orig">discoloured</span>
            <span class="reg">discolored</span>
         </span> King is undertaken by <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span>
         <span class="choice">
            <span class="orig">Physi
                        -<br/>tians</span>
            <span class="reg">Physicians</span>
         </span>: The <span class="choice">
            <span class="orig">Ægyptians</span>
            <span class="reg">Egyptians</span>
         </span>
         <span class="choice">
            <span class="orig">administring</span>
            <span class="reg">administering</span>
         </span> their medicines stirred the humors
                        <br/>being yet crude, which Hippocrates affirms ought to be purged being <span class="pc">-</span>
         <br/>first concocted, <span class="choice">
            <span class="orig">unlesse</span>
            <span class="reg">unless</span>
         </span> they be fluxible and <span class="choice">
            <span class="orig">uncertaine</span>
            <span class="reg">uncertain</span>
         </span>: For then they
                        <br/>must be forthwith expelled, that they may not peradventure make an
                        <br/>assault upon the more noble parts or <span class="choice">
            <span class="orig">bowells</span>
            <span class="reg">bowels</span>
         </span>. Hereupon dangerous Symp
                        -<br/>toms, such as Hipothymy and Syncope happened to the King, but the <span class="choice">
            <span class="orig">Phy
                        -<br/>sitians</span>
            <span class="reg">Physicians</span>
         </span> of Alexandria coming last of all, and esteemed more <span class="choice">
            <span class="orig">successfull</span>
            <span class="reg">successful</span>
         </span>
         <br/>in a <span class="choice">
            <span class="orig">chronicke</span>
            <span class="reg">chronic</span>
         </span> disease, restored the King to his former health. It is well <span class="pc">-</span>
         <br/>worth while to cure <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> great a King, who being made sound extends a
                        <br/>
         <span class="choice">
            <span class="orig">liberall</span>
            <span class="reg">liberal</span>
         </span> hand and a serene aspect to his <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span>. <span class="choice">
            <span class="orig">Wee</span>
            <span class="reg">We</span>
         </span> have read that <span class="pc">-</span>
         <br/>many mens cures have been very nobly rewarded by <span class="choice">
            <span class="orig">severall</span>
            <span class="reg">several</span>
         </span> Kings, as <span class="pc">-</span>
         <br/>that of Democides by Polycrates a tyrant of Samos with two talents, of
                        <br/>Erasistratus (who, as Pliny writes, was <span class="choice">
            <span class="orig">Schollar</span>
            <span class="reg">Scholar</span>
         </span> of Chrysippus, begotten <span class="pc">-</span>
         <br/>upon the daughter of Aristotle) for curing King Antiochus being <span class="choice">
            <span class="orig">sicke</span>
            <span class="reg">sick</span>
         </span>
         <br/>for the love of his Stepmother Stratonice, with a hundred talents by his
                        <br/>
         <span class="choice">
            <span class="orig">Sonne</span>
            <span class="reg">Son</span>
         </span> Ptolemy, of Jacob Cocterius, <span class="choice">
            <span class="orig">Physitian</span>
            <span class="reg">Physician</span>
         </span> of <span class="choice">
            <span class="orig">Lewis the 2d</span>
            <span class="reg">Louis II</span>
         </span> King of <span class="pc">-</span>
         <br/>France, from <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">receivd</span>
            <span class="reg">received</span>
         </span> four thousand Crowns every <span class="choice">
            <span class="orig">moneth</span>
            <span class="reg">month</span>
         </span> as
                        <br/>a stipend, and other later <span class="choice">
            <span class="orig">wee</span>
            <span class="reg">we</span>
         </span> make <span class="choice">
            <span class="orig">noe</span>
            <span class="reg">no</span>
         </span> mention of; but the cure of
                        <br/>this King is recompensed with yet a <span class="choice">
            <span class="orig">farre</span>
            <span class="reg">far</span>
         </span> greater gratuity or reward. For
                        <br/>thus say Hermes and Geber in the Rosary: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> that <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> once com
                        -<br/>pleted this art, if <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> should live ten hundred thousand years, and <span class="pc">-</span>
         <br/>every day feed four thousand men, would not want. This Senior con
                        -<br/>firms, saying: <span class="choice">
            <span class="orig">Hee</span>
            <span class="reg">He</span>
         </span> that <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> that stone, whereof the Elixir is made
                        <br/>is <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> rich, as <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> that <span class="choice">
            <span class="orig">hath</span>
            <span class="reg">has</span>
         </span> fire, can give fire, to <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span>
         <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will, and <span class="pc">-</span>
         <br/>when <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will, and as much as <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> will without his <span class="choice">
            <span class="orig">owne</span>
            <span class="reg">own</span>
         </span> detriment or want.
                        <br/>The father of Democritus was <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> rich, that <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> gave a feast to the <span class="pc">-</span>
         <br/>army of Xerxes, and Pythius a man <span class="choice">
            <span class="orig">exceding</span>
            <span class="reg">exceeding</span>
         </span> wealthy offered to the <span class="pc">-</span>
         <br/>same pay for his whole army, and <span class="choice">
            <span class="orig">victuall</span>
            <span class="reg">victual</span>
         </span> for five <span class="choice">
            <span class="orig">moneths</span>
            <span class="reg">months</span>
         </span>, provided <span class="pc">-</span>
         <br/>that the youngest of his five <span class="choice">
            <span class="orig">sonns</span>
            <span class="reg">sons</span>
         </span>, which was the comfort of his old <span class="pc">-</span>
         <br/>age, might be permitted to stay at home, and not be <span class="choice">
            <span class="orig">constraind</span>
            <span class="reg">constrained</span>
         </span> to <span class="choice">
            <span class="orig">goe</span>
            <span class="reg">go</span>
         </span>
         <span class="pc">-</span>
         <span class="pb">151</span>
         <span class="fw">Discourse 48.</span>
         <br/>into the Kings army, but the barbarous King taking the petition of Pythius
                        <br/>most unworthily, <span class="choice">
            <span class="orig">comanded</span>
            <span class="reg">commanded</span>
         </span> his younger <span class="choice">
            <span class="orig">sonne</span>
            <span class="reg">son</span>
         </span> to be <span class="choice">
            <span class="orig">cutt</span>
            <span class="reg">cut</span>
         </span> in two <span class="choice">
            <span class="orig">peices</span>
            <span class="reg">pieces</span>
         </span>, <span class="pc">-</span>
         <br/>and fastened to stakes on both sides the high way, by which his whole ar
                        -<br/>my was to <span class="choice">
            <span class="orig">passe</span>
            <span class="reg">pass</span>
         </span>, as Sabellicus observes in <span class="choice">
            <span class="orig">booke</span>
            <span class="reg">book</span>
         </span> 2. Ennead 3. but the riches
                        <br/>of these men are nothing to the riches of our King, which are without <span class="pc">-</span>
         <br/>dimension and number. Being cured and freed from the waters all the
                        <br/>Kings, and potentates of other regions did <span class="choice">
            <span class="orig">honour</span>
            <span class="reg">honor</span>
         </span> and fear him: And when
                        <br/>they were willing to see any of his <span class="choice">
            <span class="orig">wonderfull</span>
            <span class="reg">wonderful</span>
         </span> works, they <span class="choice">
            <span class="orig">putt</span>
            <span class="reg">put</span>
         </span> one <span class="pc">-</span>
         <br/>ounce of Mercury well <span class="choice">
            <span class="orig">washd</span>
            <span class="reg">washed</span>
         </span> in a crucible, and cast thereupon (as it were
                        <br/>one <span class="choice">
            <span class="orig">graine</span>
            <span class="reg">grain</span>
         </span> of Millet seed) of his <span class="choice">
            <span class="orig">nayls</span>
            <span class="reg">nails</span>
         </span>, or of his <span class="choice">
            <span class="orig">harre</span>
            <span class="reg">hair</span>
         </span> or blood, and <span class="pc">-</span>
         <br/>
         <span class="choice">
            <span class="orig">blowd</span>
            <span class="reg">blowed</span>
         </span> gently with <span class="choice">
            <span class="orig">coales</span>
            <span class="reg">coals</span>
         </span>, they let it <span class="choice">
            <span class="orig">coole</span>
            <span class="reg">cool</span>
         </span> with them, and found such a
                        <br/>stone as I know. This is <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>, <span class="choice">
            <span class="orig">whome</span>
            <span class="reg">whom</span>
         </span> Count Bernhard <span class="choice">
            <span class="orig">mentioneth</span>
            <span class="reg">mentions</span>
         </span>, that <span class="pc">-</span>
         <br/>gives to his six courtiers <span class="choice">
            <span class="orig">soe</span>
            <span class="reg">so</span>
         </span> much of his <span class="choice">
            <span class="orig">kingdome</span>
            <span class="reg">kingdom</span>
         </span>, as <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">himselfe</span>
            <span class="reg">himself</span>
         </span>
         <span class="choice">
            <span class="orig">possesseth</span>
            <span class="reg">possesses</span>
         </span>,
                        <br/>provided they <span class="choice">
            <span class="orig">waite</span>
            <span class="reg">wait</span>
         </span>, till <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span> recover youth in the bath, and be adorned <span class="pc">-</span>
         <br/>with various garments, namely, a <span class="choice">
            <span class="orig">blacke</span>
            <span class="reg">black</span>
         </span> breast<span class="pc">-</span>plate, a white shirt, and
                        <br/>purple blood; for then <span class="choice">
            <span class="orig">hee</span>
            <span class="reg">he</span>
         </span>
         <span class="choice">
            <span class="orig">promiseth</span>
            <span class="reg">promises</span>
         </span> to give some of his blood to every
                        <br/>one, and make them partakers of his riches<span class="pc">. . . . . . . .</span>
      </div>
   </body>
</html>
