<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:af="http://www.tei-c.org/ns/1.0">
   <head>
      <title>Atalanta Fugiens (Beinecke Ms. transcription) Facsimile Copy. Emblem </title>
      <link rel="stylesheet" type="text/css" href="atalantaProof-color.css"/>
   </head>
   <body>
      <span class="pb">158</span>
      <span class="fw">An index of the Emblems contained in this Volume.</span>
      <br/>The Authors <span class="choice">
         <span class="orig">epigramme</span>
         <span class="reg">epigram</span>
      </span>
      <span class="pc">.</span>Page. 2<br/>The Authors epistle<span class="pc">. . . . . . . .</span>3<br/>The Authors <span class="choice">
         <span class="orig">Præface</span>
         <span class="reg">Preface</span>
      </span> to the Reader<span class="pc">. . . . . .</span>4<br/>Embleme 1.Wind <span class="choice">
         <span class="orig">carryd</span>
         <span class="reg">carried</span>
      </span> him to his belly<span class="pc">. . . . . . . .</span>8<br/>2The earth is his <span class="choice">
         <span class="orig">Nource</span>
         <span class="reg">Nurse</span>
      </span>
      <span class="pc">. . . . . . . .</span>11<br/>3<span class="choice">
         <span class="orig">Goe</span>
         <span class="reg">Go</span>
      </span> to the woman washing <span class="choice">
         <span class="orig">cloaths</span>
         <span class="reg">clothes</span>
      </span>, and <span class="choice">
         <span class="orig">doe</span>
         <span class="reg">do</span>
      </span> you after the same manner.14<br/>4<span class="choice">
         <span class="orig">Joyne</span>
         <span class="reg">Join</span>
      </span> the brother with the sister and give them a cup of <span class="choice">
         <span class="orig">loue</span>
         <span class="reg">love</span>
      </span>
      <span class="pc">. .</span>17<br/>5Put a toad upon the womans breasts, that <span class="choice">
         <span class="orig">shee</span>
         <span class="reg">she</span>
      </span> may give it <span class="choice">
         <span class="orig">sucke</span>
         <span class="reg">suck</span>
      </span>,
                        <br/>and the woman <span class="choice">
         <span class="orig">dye</span>
         <span class="reg">die</span>
      </span>, and the toad be <span class="choice">
         <span class="orig">grosse</span>
         <span class="reg">gross</span>
      </span> with <span class="choice">
         <span class="orig">milke</span>
         <span class="reg">milk</span>
      </span>
      <span class="pc">. . . .</span>20<br/>6Sow your gold in the white foliated earth<span class="pc">. . . . .</span>23<br/>7A chicken is flying out of the nest, which falls <span class="choice">
         <span class="orig">againe</span>
         <span class="reg">again</span>
      </span> into the nest.26<br/>8Take an <span class="choice">
         <span class="orig">egge</span>
         <span class="reg">egg</span>
      </span> and smite it with a fiery sword<span class="pc">. . . .</span>29<br/>9<span class="choice">
         <span class="orig">Shutt</span>
         <span class="reg">Shut</span>
      </span> up the tree with the old man in the house of dew, and<span class="pc">-</span>
      <br/>eating of the fruit thereof <span class="choice">
         <span class="orig">hee</span>
         <span class="reg">he</span>
      </span> will become young<span class="pc">. . .</span>32<br/>10Give fire to fire, Mercury to Mercury, and you have enough<span class="pc">. .</span>35<br/>11Whiten Latona, and tear your books<span class="pc">. . . . .</span>38<br/>12The stone, which <span class="choice">
         <span class="orig">Saturne</span>
         <span class="reg">Saturn</span>
      </span> vomited up, being devoured instead
                        <br/>of his <span class="choice">
         <span class="orig">Sonne</span>
         <span class="reg">Son</span>
      </span> Jupiter, is placed in Helicon as a monument to men.41<br/>13The Philosophers <span class="choice">
         <span class="orig">brasse</span>
         <span class="reg">brass</span>
      </span> is <span class="choice">
         <span class="orig">hydropicall</span>
         <span class="reg">hydropical</span>
      </span>, and desires to be seven
                        <br/>times <span class="choice">
         <span class="orig">washd</span>
         <span class="reg">washed</span>
      </span> in a river, as Naaman the leper in Jordan<span class="pc">. . .</span>44<br/>14This is the Dragon which <span class="choice">
         <span class="orig">devoures</span>
         <span class="reg">devours</span>
      </span> his <span class="choice">
         <span class="orig">tayle</span>
         <span class="reg">tail</span>
      </span>
      <span class="pc">. . . . .</span>47<br/>15Let the <span class="choice">
         <span class="orig">worke</span>
         <span class="reg">work</span>
      </span> of the Potter, consisting in siccity and moisture
                        <br/>instruct you<span class="pc">. . . . . . . .</span>50<br/>16One <span class="choice">
         <span class="orig">Lyon</span>
         <span class="reg">Lion</span>
      </span>
      <span class="choice">
         <span class="orig">hath</span>
         <span class="reg">has</span>
      </span> wings, the other none<span class="pc">. . . . . .</span>53<br/>17<span class="choice">
         <span class="orig">Foure</span>
         <span class="reg">Four</span>
      </span>
      <span class="choice">
         <span class="orig">orbes</span>
         <span class="reg">orbs</span>
      </span>
      <span class="choice">
         <span class="orig">governe</span>
         <span class="reg">govern</span>
      </span> this <span class="choice">
         <span class="orig">worke</span>
         <span class="reg">work</span>
      </span> of fire<span class="pc">. . . . .</span>56<br/>18Fire loves to <span class="choice">
         <span class="orig">burne</span>
         <span class="reg">burn</span>
      </span>, not to aurify, but gold<span class="pc">. . .</span>59<br/>19If you kill one of the four they will all suddenly <span class="choice">
         <span class="orig">dye</span>
         <span class="reg">die</span>
      </span>
      <span class="pc">. . .</span>62<br/>20Nature <span class="choice">
         <span class="orig">teacheth</span>
         <span class="reg">teaches</span>
      </span> nature how to subdue fire<span class="pc">. . . .</span>65<br/>21Make of the man and the woman a circle, of that a quadrangle,
                        <br/>of this a triangle, of the same a circle, and you will have the Phil. Stone68<br/>22Having acquired white lead <span class="choice">
         <span class="orig">doe</span>
         <span class="reg">do</span>
      </span> the <span class="choice">
         <span class="orig">worke</span>
         <span class="reg">work</span>
      </span> of women, that is, <span class="choice">
         <span class="orig">boyle</span>
         <span class="reg">boil</span>
      </span>
      <span class="pc">. .</span>71<br/>23When Pallas was <span class="choice">
         <span class="orig">borne</span>
         <span class="reg">born</span>
      </span>, and Sol lay with Venue, it rained<span class="pc">--</span>
      <br/>gold at Rhodes74<br/>24A <span class="choice">
         <span class="orig">wolfe</span>
         <span class="reg">wolf</span>
      </span> devoured the King, and being burned restored him
                        <br/>to life <span class="choice">
         <span class="orig">againe</span>
         <span class="reg">again</span>
      </span>.<span class="pc">. . . . . . .</span>77<br/>25The dragon <span class="choice">
         <span class="orig">dyes</span>
         <span class="reg">dies</span>
      </span> not except <span class="choice">
         <span class="orig">hee</span>
         <span class="reg">he</span>
      </span> be <span class="choice">
         <span class="orig">killd</span>
         <span class="reg">killed</span>
      </span> by his brother and
                        <br/>Sister, which are Sol and Luna<span class="pc">. . . . . .</span>80<span class="pb">159</span>
      <span class="fw">An index of the Emblems contained in this Volume.</span>
      <br/>26The tree of life is the fruit of <span class="choice">
         <span class="orig">humane</span>
         <span class="reg">human</span>
      </span>
      <span class="choice">
         <span class="orig">wisedome</span>
         <span class="reg">wisdom</span>
      </span>
      <span class="pc">.</span>Page. 83<br/>27<span class="choice">
         <span class="orig">Hee</span>
         <span class="reg">He</span>
      </span> that <span class="choice">
         <span class="orig">endeavours</span>
         <span class="reg">endeavors</span>
      </span> to enter into the Philosophers rosary<span class="pc">-</span>
      <br/>without a key, is like him that would <span class="choice">
         <span class="orig">walke</span>
         <span class="reg">walk</span>
      </span> without feet<span class="pc">.</span>86<br/>28The King sitting in a bath is bathed, and freed from melan
                        -<br/>choly by Pharut<span class="pc">. . . . . . . .</span>89<br/>29As the Salamander lives in fire, <span class="choice">
         <span class="orig">soe</span>
         <span class="reg">so</span>
      </span>
      <span class="choice">
         <span class="orig">allso</span>
         <span class="reg">also</span>
      </span> the stone<span class="pc">. . . .</span>92<br/>30Luna is as requisite to Sol as a <span class="choice">
         <span class="orig">henne</span>
         <span class="reg">hen</span>
      </span> to a <span class="choice">
         <span class="orig">cocke</span>
         <span class="reg">cock</span>
      </span>
      <span class="pc">. . . . .</span>95<br/>31The King swimming in the Sea <span class="choice">
         <span class="orig">cryes</span>
         <span class="reg">cries</span>
      </span> out with a loud <span class="choice">
         <span class="orig">voyce</span>
         <span class="reg">voice</span>
      </span>, <span class="choice">
         <span class="orig">hee</span>
         <span class="reg">he</span>
      </span>
      <br/>that will deliver <span class="choice">
         <span class="orig">mee</span>
         <span class="reg">me</span>
      </span> shall have great reward<span class="pc">. . . .</span>98<br/>32As <span class="choice">
         <span class="orig">Corall</span>
         <span class="reg">Coral</span>
      </span>
      <span class="choice">
         <span class="orig">growes</span>
         <span class="reg">grows</span>
      </span> under water, and is hardened by the <span class="choice">
         <span class="orig">aire</span>
         <span class="reg">air</span>
      </span>, <span class="choice">
         <span class="orig">soe</span>
         <span class="reg">so</span>
      </span>
      <span class="choice">
         <span class="orig">allso</span>
         <span class="reg">also</span>
      </span>
      <br/>is the Stone<span class="pc">. . . . . . . . . . .</span>101<br/>33The Hermaphrodite lying like a dead man in <span class="choice">
         <span class="orig">darknesse</span>
         <span class="reg">darkness</span>
      </span>, wants fire<span class="pc">. . .</span>104<br/>34<span class="choice">
         <span class="orig">Hee</span>
         <span class="reg">He</span>
      </span> is conceived in baths, and <span class="choice">
         <span class="orig">borne</span>
         <span class="reg">born</span>
      </span> in the <span class="choice">
         <span class="orig">aire</span>
         <span class="reg">air</span>
      </span>, and being made
                        <br/>red walks upon the waters<span class="pc">. . . . . . .</span>107<br/>35As Ceres accustomed Triptolemus, and Thetis Achilles to abide in
                        <br/>fire, <span class="choice">
         <span class="orig">soe</span>
         <span class="reg">so</span>
      </span>
      <span class="choice">
         <span class="orig">allso</span>
         <span class="reg">also</span>
      </span>
      <span class="choice">
         <span class="orig">doth</span>
         <span class="reg">does</span>
      </span> an Artist the stone<span class="pc">. . . . . .</span>110<br/>36The stone, that is, Mercury is cast upon the earth, and exacted on moun
                        -<br/>tains, and resides in the <span class="choice">
         <span class="orig">aire</span>
         <span class="reg">air</span>
      </span>, and is nourished in water<span class="pc">. . . .</span>113<br/>37Three things are sufficient for the Magistery, the white fume, that is, water,
                            <br/>the green <span class="choice">
         <span class="orig">Lyon</span>
         <span class="reg">Lion</span>
      </span>, that is, the <span class="choice">
         <span class="orig">brasse</span>
         <span class="reg">brass</span>
      </span> of Hermes, and Aqua <span class="choice">
         <span class="orig">fœtida</span>
         <span class="reg">fetida</span>
      </span>
      <span class="pc">. . .</span>116<br/>38Rebis is, as Hermaphroditus, produced from the two mountains of
                        <br/>Mercury and Venus<span class="pc">. . . . . . . .</span>119<br/>39<span class="choice">
         <span class="orig">Œdipus</span>
         <span class="reg">Oedipus</span>
      </span> having overcome <span class="choice">
         <span class="orig">Sphynx</span>
         <span class="reg">Sphinx</span>
      </span> and <span class="choice">
         <span class="orig">killd</span>
         <span class="reg">killed</span>
      </span> his father Laius, <span class="choice">
         <span class="orig">marryed</span>
         <span class="reg">married</span>
      </span>
      <br/>his mother Jocasta<span class="pc">. . . . . . . .</span>122<br/>40Of two waters make one, and that will be the water of sanctity<span class="pc">. .</span>125<br/>41Adonis is <span class="choice">
         <span class="orig">killd</span>
         <span class="reg">killed</span>
      </span> by a boar, to whom Venus hasting, tinged the roses with her blood.128<br/>42Nature, Reason, Experience, and Reading, must be the guide, <span class="choice">
         <span class="orig">staffe</span>
         <span class="reg">staff</span>
      </span>,
                        <br/>Spectacles, and <span class="choice">
         <span class="orig">lampe</span>
         <span class="reg">lamp</span>
      </span> to him that is <span class="choice">
         <span class="orig">employd</span>
         <span class="reg">employed</span>
      </span> in <span class="choice">
         <span class="orig">Chymicall</span>
         <span class="reg">Chymical</span>
      </span> affairs<span class="pc">. .</span>131<br/>43Give ear to the <span class="choice">
         <span class="orig">Vulturs</span>
         <span class="reg">Vultures</span>
      </span> words which are no=wise false<span class="pc">. . .</span>134<br/>44Typhon kills <span class="choice">
         <span class="orig">Osyris</span>
         <span class="reg">Osiris</span>
      </span> by <span class="choice">
         <span class="orig">deceipt</span>
         <span class="reg">deceit</span>
      </span>, and <span class="choice">
         <span class="orig">disperseth</span>
         <span class="reg">disperses</span>
      </span> the parts of his body on
                        <br/>all sides, but the famous Isis gathered them together<span class="pc">. . . .</span>137<br/>45The <span class="choice">
         <span class="orig">worke</span>
         <span class="reg">work</span>
      </span> is perfected by Sol and his shade<span class="pc">. . . .</span>140<br/>46Two Eagles, come together, one from the East, the other from the West<span class="pc">. .</span>143<br/>47A <span class="choice">
         <span class="orig">wolfe</span>
         <span class="reg">wolf</span>
      </span>coming from the East, and a <span class="choice">
         <span class="orig">dogge</span>
         <span class="reg">dog</span>
      </span>from the West <span class="choice">
         <span class="orig">werry'd</span>
         <span class="reg">werried</span>
      </span> one another<span class="pc">. .</span>146<br/>48The King falls <span class="choice">
         <span class="orig">sicke</span>
         <span class="reg">sick</span>
      </span> by drinking water, and is <span class="choice">
         <span class="orig">restord</span>
         <span class="reg">restored</span>
      </span> to<span class="pc">-</span>
      <br/>health by <span class="choice">
         <span class="orig">Physitians</span>
         <span class="reg">Physicians</span>
      </span>
      <span class="pc">. . . . . . . .</span>149<br/>49The <span class="choice">
         <span class="orig">Philosophicall</span>
         <span class="reg">Philosophical</span>
      </span> infant is, as Orion, the <span class="choice">
         <span class="orig">Sonne</span>
         <span class="reg">Son</span>
      </span> of three fathers<span class="pc">.</span>152<br/>50The Dragon kills the woman, and <span class="choice">
         <span class="orig">shee</span>
         <span class="reg">she</span>
      </span> him, and are both<span class="pc">.</span>
      <br/>bloody all over<span class="pc">. . . . . . . . .</span>155<br/>Finis<span class="pc">. . .</span>
   </body>
</html>
